@charset "utf-8";

html,body,img,span,div{
    margin:0;
    padding:0;
}
html, body ,.wrapper{
    height: 100%;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}

/*  加班太苦  Start  */



/*  加班太苦  End  */





