@charset "utf-8";

* { margin: 0;
	padding: 0;
}
* { 
	tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-ms-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
* {
	text-shadow: none;
}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}

body {
	line-height:1;
	position: relative;
	word-break: break-word;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif!important;
	-webkit-font-smoothing: antialiased;
}

div[data-role="page"] {
	background-color: #f0f0f0!important;
}

table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
fieldset,img{border:none;}
input,img{vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
[hidden],template {display: none;}
mark {background: #f0f0f0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: normal;font-weight: normal;}
a {background: transparent;}
a:focus {outline: 0;}
a:active,a:hover {outline: 0;}
a:link,a:visited,ins {text-decoration: none;}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
button,input,select,textarea {font-family: inherit;font-size: 100%;}
button,input{-webkit-appearance: none; border-radius: 0;}
button[disabled],html input[disabled] {cursor: default;}

/*common css*/
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}
.hidden{display:none;}
.invisible{visibility: hidden;}
.outer-container{overflow: hidden;}
.flex-center{display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers. */  display: -ms-flexbox;  /* 混合版本语法: IE 10 */ display: -webkit-flex;  /* 新版本语法： Chrome 21+ */ display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */ -webkit-box-align: center;  /*老版本语法*/ -ms-flex-align: center;  /*混合版本语法*/ -webkit-align-items: center;  /*新版本语法*/ align-items: center; -webkit-box-pack: center;   /*老版本语法*/ -ms-flex-pack: center;  /*混合版本语法*/ -webkit-justify-content: center;    /*新版本语法*/ justify-content: center;}
.flex-vertical{flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical;}
.fl { float: left; }
.fr { float: right; }

/*  自定义 checkbox radio 样式  */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.cus_checkbox,
.cus_radio,
.order-checkbox{
	background: url(../images/input-radio-normal.png) no-repeat;
	width: 0.8rem;
	height: 0.8rem;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
}
input[type="radio"]:checked + .cus_radio,
input[type="checkbox"]:checked + .cus_checkbox,
.order-checkbox-checked{
	background: url(../images/input-radio-active.png) no-repeat;
	width: 0.8rem;
	height: 0.8rem;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
}

/* header头部 */
.headerBar {
	height: 2.25rem;
}
.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 2.25rem;
	line-height:2.25rem;	
	text-align: center;
	border-bottom:1px solid #3fc0ae;
	background: #fff;
}
.header .back{
	width: 1.625rem;
	display: inline-block;
	float: left;
}
.header .back:active {
	background-color: #f0f0f0;
	height: 99.9%;
}
.header .back-arrow {
	width:0.375rem;
	height:0.625rem;
	background:url(../images/arrowL.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.25rem;
}
.header .back-border {
	display: inline-block;
	height: 0.875rem;
	border-right:1px solid #3fc0ae;
	float: right;
	margin-top: 0.675rem;
}
.header .title {
	display: inline-block;
	position: absolute;
	left: 2rem;
	right: 2rem;
	color:#3fc0ae;
	font-size:0.75rem;
}
.header .til{
	display: inline-block;
	position: absolute;
	left:2rem;
	right:2rem;
	color:#3fc0ae;
	font-size: 0.6rem;
}
.footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.04rem;
	line-height: 2.04rem;
	color:#fff;
	background: #ffa200;
	padding: 0;
	text-shadow: none;
	text-align: center;
	font-size:0.625rem;
}
.wrapper {
	z-index: 1;
	width: 100%;
	background: #f0f0f0;
	overflow: scroll;
	margin-bottom: 1rem;
}
.logo{
	width:3.025rem;
	height:1.1rem;
	background:url(../images/logo.png) no-repeat;
	background-size:cover;
	float:left;
	margin:0.6rem 0 0 0.4rem;
}
.modleList{
	width:3.375rem;
	height:1.125rem;
	margin-top:0.6rem;
	margin-right:0.55rem;
	float:right;
}
.headerAvator{
	width:1.125rem;
	height:1.125rem;
	float:left;
	background:url(../images/header-avater.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.headerListbtn{
	width:1.15rem;
	height:0.85rem;
	margin-top:0.15rem;
	float:right;
	background:url(../images/header-listmodel.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.navlist{
	width:5rem;
	background:#eee;
	text-align:left;
	display:none;
	position:absolute;
	top:2.25rem;
	right:0;
}
.navlist li{
	height:1.5rem;
	line-height:1.5rem;
	font-size:0.6rem;
	padding-left:0.5rem;
}
.navlist li a{
	color:#3fc0ae;
}

/*  列表弹窗样式  */

.ui-popup-container.slideup {
	position: fixed!important;
	bottom: 0!important;
	top: initial!important;
	width: 100%;
	max-width: none!important;
}

.list-pop-container {
	box-shadow: none;
    border: none;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}

.pop-select-title {
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: #1cb0ad;
	color: #fff;
	width: 100%;
	font-size: 0.75rem;
	position: absolute;
	top: 0;
	z-index: 2001;
}

.list-scroll-wrapper {
	position: absolute;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.list-pop-container #scroller {
	position: absolute;
	z-index: 2000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.list-pop-container #scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.list-pop-container #scroller li {
	padding: 0 0.625rem;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 0.7rem;
	color: #666;
	position: relative;
}

.list-pop-container #scroller li.current {
	color: #1cb0ad;
}

.list-pop-container #scroller li.current:after {
	content: '';
	display: inline-block;
	background: url(../images/item-check-mark.png) no-repeat center center;
	width: 0.725rem;
	height: 0.525rem;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	right: 0.625rem;
	top: 0.7rem;
}

/*  滚动日历样式  */
.datepicker-scroll {
	position: absolute;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    top: 1.5rem;
    background-color: #f5f5f5;
}
.datepicker-scroll li {
	height: 1.75rem;
	line-height: 1.75rem;
	color: #999;
	font-size: 0.65rem;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.datepicker-scroll li.current {
	-webkit-transform: scale(1.2, 1.2);
	   -moz-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	     -o-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2);
	color: #1cb0ad;
}
.selected-date-bar {
	position: absolute;
	top: 3.5rem;
	background-color: #fff;
	width: 100%;
	height: 1.75rem;
}
.date-wrapper {
	display: inline-block;
	text-align: center;
	width: 33%;
	height: 8.75rem;
	overflow: hidden;
}

.datepicker-top-block {
	position: relative;
	height: 1.5rem;
    line-height: 1.5rem;
    background-color: #1cb0ad;
    color: #fff;
    font-size: 0.75rem;
}

.datepicker-top-block .dp-cancel-btn {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.datepicker-top-block .dp-sure-btn {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.datepicker-top-block .title {
	display: inline-block;
	position: static;
	width: 33%;
	text-align: center;
}

.ui-popup {
	border: none;
	box-shadow: none;
}

/*  城市选择插件样式  */
.address-wrapper {
	display: inline-block;
	text-align: center;
	width: 33%;
	height: 8.75rem;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 33%;
}

.address-wrapper:nth-child(2) {
	left: 0;
}

.address-wrapper:last-child {
	left: 66%;
}

.selected-address-bar {
	position: absolute;
	top: 3.5rem;
	background-color: #fff;
	width: 100%;
	height: 1.75rem;
}
.addresspicker-scroll {
	position: absolute;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    top: 1.5rem;
    background-color: #f5f5f5;
}
.addresspicker-scroll li {
	height: 1.75rem;
	line-height: 1.75rem;
	color: #999;
	font-size: 0.65rem;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.addresspicker-scroll li.current {
	-webkit-transform: scale(1.2, 1.2);
	   -moz-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	     -o-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2);
	color: #1cb0ad;
}

.addresspicker-top-block {
	position: relative;
	height: 1.5rem;
    line-height: 1.5rem;
    background-color: #1cb0ad;
    color: #fff;
    font-size: 0.75rem;
}

.addresspicker-top-block .dp-cancel-btn {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.addresspicker-top-block .dp-sure-btn {
	display: inline-block;
	width: 32%;
	text-align: center;
}

.addresspicker-top-block .title {
	display: inline-block;
	position: static;
	width: 33%;
	text-align: center;
}