html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.static {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url("../images/activity/flowerpot.png") center bottom no-repeat;
  background-size: 9.275rem 6.425rem;
  position: relative; }

.tree {
  /* width: 157px;
   height:181px;*/
  /*width: 3.925rem;
  height:4.525rem;*/
  width: 6.7875rem;
  height: 6.4rem;
  display: inline-block;
  background: url(../images/activity/tree.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 5.55rem;
  left: 50%;
  margin-left: -3.4rem;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear; }

.leaf {
  /*  width:184px;
    height:182px;*/
  width: 4.6rem;
  height: 4.55rem;
  display: inline-block; }

@-webkit-keyframes bodyShake {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 100%; }
  25% {
    -webkit-transform: translate3d(-10px, -5px, -10px);
    -webkit-transform-origin: 50% 100%; }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    -webkit-transform-origin: 50% 100%; }
  75% {
    -webkit-transform: translate3d(10px, 5px, 10px);
    -webkit-transform-origin: 50% 100%; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 100%; } }
@keyframes bodyShake {
  0% {
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 100%; }
  25% {
    transform: translate3d(-10px, -5px, -10px);
    transform-origin: 50% 100%; }
  50% {
    transform: translate3d(0, 10px, 0);
    transform-origin: 50% 100%; }
  75% {
    transform: translate3d(10px, 5px, 10px);
    transform-origin: 50% 100%; }
  100% {
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 100%; } }
body.shake {
  animation: bodyShake 0.1s 3;
  -webkit-animation: bodyShake 0.1s 3; }

.big1 {
  -webkit-transform: scale(1.14, 1.33);
  -ms-transform: scale(1.14, 1.33);
  -o-transform: scale(1.14, 1.33);
  transform: scale(1.14, 1.33); }

.big2 {
  -webkit-transform: scale(1.28, 1.66);
  -ms-transform: scale(1.28, 1.66);
  -o-transform: scale(1.28, 1.66);
  transform: scale(1.28, 1.66); }

.big3 {
  -webkit-transform: scale(1.42, 1.99);
  -ms-transform: scale(1.42, 1.99);
  -o-transform: scale(1.42, 1.99);
  transform: scale(1.42, 1.99); }

.big4 {
  -webkit-transform: scale(1.56, 2.32);
  -ms-transform: scale(1.56, 2.32);
  -o-transform: scale(1.56, 2.32);
  transform: scale(1.56, 2.32); }

.big5 {
  -webkit-transform: scale(1.7, 2.65);
  -ms-transform: scale(1.7, 2.65);
  -o-transform: scale(1.7, 2.65);
  transform: scale(1.7, 2.65); }

.big6 {
  -webkit-transform: scale(1.84, 2.98);
  -ms-transform: scale(1.84, 2.98);
  -o-transform: scale(1.84, 2.98);
  transform: scale(1.84, 2.98); }

.big7 {
  -webkit-transform: scale(1.98, 3.31);
  -ms-transform: scale(1.98, 3.31);
  -o-transform: scale(1.98, 3.31);
  transform: scale(1.98, 3.31); }

.big8 {
  -webkit-transform: scale(2.12, 3.64);
  -ms-transform: scale(2.12, 3.64);
  -o-transform: scale(2.12, 3.64);
  transform: scale(2.12, 3.64); }

.big9 {
  -webkit-transform: scale(2.26, 3.97);
  -ms-transform: scale(2.26, 3.97);
  -o-transform: scale(2.26, 3.97);
  transform: scale(2.26, 3.97); }

.big10 {
  -webkit-transform: scale(2.4, 4.3);
  -ms-transform: scale(2.4, 4.3);
  -o-transform: scale(2.4, 4.3);
  transform: scale(2.4, 4.3); }

.big11 {
  -webkit-transform: scale(2.54, 4.63);
  -ms-transform: scale(2.54, 4.63);
  -o-transform: scale(2.54, 4.63);
  transform: scale(2.54, 4.63); }

.leaf1 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 7.35979rem;
  left: 0.16229rem;
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  top: 13.5rem;
  left: -0.5rem; }

.leaf2 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 12.21251rem;
  left: 17.60195rem;
  top: 4.2rem;
  left: 14.9rem;
  /*background:url(../images/new/leaf1.png) no-repeat;
  background-size:cover;*/ }

.leaf3 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 18.50392rem;
  left: 9.22817rem;
  top: -0.5rem;
  left: 6.75rem;
  /* background:url(../images/new/leaf2.png) no-repeat;
   background-size:cover;*/ }

.leaf4 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 1.89922rem;
  left: 0.35304rem;
  top: 4.2rem;
  left: 8.9rem;
  /*background:url(../images/new/leaf1.png) no-repeat;
  background-size:cover;*/ }

.leaf5 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 2.65618rem;
  left: 0.61838rem;
  top: 17.5rem;
  left: 1.3rem;
  /*background:url(../images/new/leaf2.png) no-repeat;
  background-size:cover;*/ }

.leaf6 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 12.00436rem;
  left: 0.43889rem;
  top: -0.8rem;
  left: 0.8rem;
  /*background:url(../images/new/leaf1.png) no-repeat;
  background-size:cover;*/ }

.leaf7 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 19.44069rem;
  left: 4.77239rem;
  top: 11.925rem;
  left: 8.75rem;
  /*background:url(../images/new/leaf2.png) no-repeat;
  background-size:cover;*/ }

.leaf8 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 17.63769rem;
  left: 9.50451rem;
  top: 9.5rem;
  left: 2.5rem;
  /*background:url(../images/new/leaf1.png) no-repeat;
  background-size:cover;*/ }

.leaf9 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 7.39444rem;
  left: 3.50685rem;
  top: 8.7rem;
  left: 14.4rem;
  /*background:url(../images/new/leaf2.png) no-repeat;
  background-size:cover;*/ }

.leaf10 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0.625rem;
  left: 12.81304rem;
  top: 2.5rem;
  left: 0.25rem;
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover; }

.leaf11 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 17.73068rem;
  left: 10.82912rem;
  top: 4.2rem;
  left: 3.95rem;
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover; }

.leaf12 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 1.70273rem;
  left: 5.13427rem;
  top: 2.875rem;
  left: 11.2rem;
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover; }

.leaf13 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 19.72971rem;
  left: 16.53064rem;
  top: 6.25rem;
  left: 6.2rem;
  /*background:url(../images/new/leaf2.png) no-repeat;
  background-size:cover;*/ }

.leaf14 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 13.44717rem;
  left: 5.55411rem;
  top: 11.85rem;
  left: 12.5rem;
  /*background:url(../images/new/leaf1.png) no-repeat;
  background-size:cover;*/ }

.leaf15 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 11.80159rem;
  left: 6.56863rem; }

.leaf16 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 3.29013rem;
  left: 5.94695rem; }

.leaf17 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 15.03405rem;
  left: 4.24645rem; }

.leaf18 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 4.01212rem;
  left: 1.38935rem; }

.leaf19 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 6.58614rem;
  left: 6.3686rem; }

.leaf20 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 2.05381rem;
  left: 5.75179rem; }

.leaf21 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 18.13711rem;
  left: 6.02262rem; }

.leaf22 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 18.60001rem;
  left: 17.62639rem; }

.leaf23 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 6.9051rem;
  left: 0.02527rem; }

.leaf24 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 13.08056rem;
  left: 11.50253rem; }

.leaf25 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 13.00637rem;
  left: 16.72869rem; }

.leaf26 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 7.93357rem;
  left: 12.58148rem; }

.leaf27 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 2.91472rem;
  left: 4.49039rem; }

.leaf28 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 13.71331rem;
  left: 6.71047rem; }

.leaf29 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 11.23223rem;
  left: 7.43343rem; }

.leaf30 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 17.38883rem;
  left: 6.13399rem; }

.leaf31 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 1.72682rem;
  left: 5.8451rem; }

.leaf32 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0.40007rem;
  left: 2.81465rem; }

.leaf33 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 8.68293rem;
  left: 4.9448rem; }

.leaf34 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 1.95046rem;
  left: 12.89487rem; }

.leaf35 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 12.69284rem;
  left: 12.38459rem; }

.leaf36 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 8.15033rem;
  left: 7.84625rem; }

.leaf37 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 2.24286rem;
  left: 2.81513rem; }

.leaf38 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 4.35305rem;
  left: 14.58644rem; }

.leaf39 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 10.04114rem;
  left: 6.20118rem; }

.leaf40 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0.18417rem;
  left: 1.48187rem; }

.leaf41 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 4.11988rem;
  left: 9.45089rem; }

.leaf42 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 8.86686rem;
  left: 2.75582rem; }

.leaf43 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 7.59216rem;
  left: 6.00946rem; }

.leaf44 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 16.8254rem;
  left: 14.69597rem; }

.leaf45 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 12.66335rem;
  left: 6.02942rem; }

.leaf46 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 15.39068rem;
  left: 5.34257rem; }

.leaf47 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 18.3497rem;
  left: 6.65705rem; }

.leaf48 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 17.49471rem;
  left: 4.77394rem; }

.leaf49 {
  background: url(../images/activity/leaf2.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 8.85891rem;
  left: 1.00729rem; }

.leaf50 {
  background: url(../images/activity/leaf1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 15.55016rem;
  left: 10.25643rem; }

.redbg {
  width: 100%;
  height: 100%;
  background: #af3e2f;
  text-align: center;
  position: relative; }

.prize_bag {
  width: 16.375rem;
  height: 17.8265rem;
  display: inline-block;
  margin-top: 1.75rem; }

.prize_calendar {
  width: 17.875rem;
  height: 17.7rem;
  display: inline-block;
  margin-top: 1.75rem; }

.getprizeBtn {
  width: 100%;
  position: absolute;
  bottom: 1.25rem;
  text-align: center; }

.getprize_btn, .other_getprize_btn {
  width: 15.825rem;
  height: 2.925rem;
  display: inline-block;
  border-radius: 0.25rem; }

.getprize_btn {
  background: #e6d6bd url(../images/activity/getprize_text.png) no-repeat center center;
  background-size: 5.625rem 1.125rem; }

.other_getprize_btn {
  background: #ff8417 url(../images/activity/other_getprize_text.png) no-repeat center center;
  background-size: 11.85rem 1.125rem;
  margin-top: 0.625rem; }

.getprize_btn:active, .other_getprize_btn:active {
  opacity: 0.9; }

#getpricePopWindow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.getpricecontent {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  right: 1.2rem;
  bottom: 1.2rem; }

#blackcover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0; }

.greybg {
  width: 100%;
  height: 100%;
  background: #ebebeb url(../images/activity/prize_window.png) center top no-repeat;
  background-size: 100%;
  position: relative; }

.getprize_qr {
  width: 100%; }

.message {
  width: 14.7rem;
  height: 10.5rem;
  /*margin:0 auto;*/
  position: absolute;
  bottom: 0.925rem;
  left: 50%;
  margin-left: -7.35rem; }

.message_form {
  width: 14.7rem;
  height: 7.1rem;
  border-radius: 0.25rem;
  padding: 1rem 0 0 4.2rem;
  background: #ff8417 url(../images/activity/message.png) no-repeat;
  background-size: 14.7rem 7.1rem;
  text-align: left;
  box-sizing: border-box; }

.submitebtn {
  width: 14.7rem;
  height: 2.925rem;
  display: inline-block;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  background: #ff8417 url(../images/activity/submitebtn.png) center center no-repeat;
  background-size: 2.175rem 1.025rem; }

.submitebtn:active {
  opacity: 0.9; }

.message_form input {
  width: 9.675rem;
  height: 1.4rem;
  border: 0;
  margin-bottom: 0.5rem;
  outline: none;
  background: #ebebeb;
  padding: 0 0.25rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.4rem; }

.avater {
  width: 3.35rem;
  height: 3.35rem;
  display: inline-block;
  margin: 1rem auto;
  background: #e6d6bd;
  border-radius: 0.25rem; }

.game_describe {
  width: 100%;
  height: 25.7rem;
  background: url("../images/activity/game_describe.png") center center no-repeat;
  background-size: 15.825rem 25.7rem; }

.getprize_list_contain {
  margin-bottom: 3.5rem; }

.getprize_list {
  height: 26rem;
  overflow: hidden;
  margin-top: 0.625rem; }

.getprize_list li {
  padding: 0 2rem 0.875rem 2.4rem;
  text-align: left;
  color: #e6d6bd;
  overflow: hidden;
  font-size: 0.8rem; }

.user_getprize {
  float: left; }

.avater_user_getprize {
  width: 2.825rem;
  height: 2.825rem;
  display: inline-block;
  border-radius: 0.25rem;
  background: #e6d6bd; }

.name_user_getprize {
  width: 5rem;
  height: 1rem;
  display: inline-block;
  margin-top: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.prize_kinds_calender {
  width: 5.3rem;
  height: 0.85rem;
  background: url("../images/activity/getcalender.png") no-repeat;
  background-size: 5.3rem 0.825rem;
  margin-top: 1.1rem;
  float: right; }

.prize_kinds_bag {
  width: 5.3rem;
  height: 0.85rem;
  background: url("../images/activity/getbag.png") no-repeat;
  background-size: 5.3rem 0.825rem;
  margin-top: 1.1rem;
  float: right; }

.prize_kinds_voucher {
  width: 6.2rem;
  height: 0.9rem;
  background: url("../images/activity/getvoucher.png") no-repeat;
  background-size: 6.2rem 0.875rem;
  margin-top: 1.1rem;
  float: right; }

.playgame {
  width: 100%;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: -0.1rem;
  left: 0; }

/*.playgamebtnbg{

}*/
.playgamebtn {
  width: 15.825rem;
  height: 2.225rem;
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 0.625rem;
  background: #e6d6bd url(../images/activity/playgame.png) center center no-repeat;
  background-size: 5.7rem 1.05rem; }

.closebtn, .closebtn:link, .closebtn:visited {
  width: 2.25rem;
  height: 2.25rem;
  background: url(../images/activity/closebtn.png) right center no-repeat;
  background-size: 2.25rem 2.25rem;
  display: inline-block;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0; }

.closebtn:active {
  opacity: 0.5; }

/*# sourceMappingURL=demotree.css.map */
