@charset "utf-8";

/** 产品详情 -start **/
.viewport{
    background-color:#f0f0f0;
}
.header .acut-menu{
    margin-right:0.5rem;
    display: inline-block;
    float: right;
}
.acut-box{
    margin-right:1rem;
}
.detail-content{
    background-color:#fff;
    color:#666;
    font-size: 0.75rem;
    line-height:1.1rem;
}
.detail-banner{
    width:16rem;
    height:8.5rem;
    margin:0 auto;
    display: block;
}
.prd-til{
    padding:0.5rem;
    color:#333;
    border-bottom: 1px #dcdcdc solid;
}
.prd-sum{
    padding:0.5rem;
}
.prd-grid{
    margin-top:0.5rem;
}
.prd-block{
    padding-top:0.3rem;
}
.prd-price{
    color:#fe460e;
    font-size: 1.2rem;
    line-height:1.335rem;
    margin-right:0.3rem;
    vertical-align: bottom;
    font-family: Arial;
}
.icon-qus{
    width:0.6rem;
    height:0.625rem;
    margin-right:0.125rem !important;
    vertical-align: middle;
    background: url("../../mstatic/images/icon-qus.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.prd-mart{
    color:#999;
}
.prd-space{
    height:0.5rem;
    background-color:#f0f0f0;
    border-top:1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.prd-sum .ui-grid-a .ui-block-a{
    font-size: 0.7rem;
    width:25%;
}
.prd-sum .ui-grid-a .ui-block-b{
    font-size: 0.9rem;
    line-height:1.2rem;
    width:75%;
}
.prd-sum .ui-grid-b .ui-block-a{
    font-size: 0.7rem;
    width:25%;
}
.prd-sum .ui-grid-b .ui-block-b{
    width:50%;
    color:#333;
}
.prd-sum .ui-grid-b .ui-block-c{
    color:#999;
    font-size: 0.6rem;
    text-align: right;
    width:25%;
}
.inst-dialog{
    font-size: 0.65rem;
    color:#666;
    line-height:1rem;
}
.inst-dialog-content{
    padding:1rem 0.5rem;
    overflow: scroll;
}
.inst-dialog-foot{
    text-align: center;
    padding:0.5rem 1.5rem;
}
.btn-com{
    width:4.5rem;
    height:1.5rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.5rem;
    color:#fff !important;
    display: inline-block;
    font-weight: normal !important;
    text-decoration: none;
    -webkit-border-radius: 0.0125rem;
    -moz-border-radius: 0.0125rem;
    border-radius: 0.125rem;
}
.btn-close{
    background-color:#11b9b7;
}

.navWrap-val{
    padding:0 0.5rem;
    font-size: 0.7rem;
    line-height:1.3rem;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 0.5rem;
}
.hotel-til{
    font-size: 0.75rem;
    color:#333;
    padding:0.6rem 0.5rem;
    border-bottom: 1px #dcdcdc solid;
}
.pack-up{
    font-size: 0.75rem;
    color:#333;
    text-align: center;
    vertical-align: middle;
    padding:0.6rem 0.5rem;
    border-top: 1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.p-bg{
    background-color:#fafafa;
    border-bottom: 1px #dcdcdc solid;
}
.hotel-occu{
    padding:0.5rem;
}
.hotel-occu span{
    color:#11b9b7;
    padding:0 0.2rem;
}
.moon{
    width:0.8rem;
    height:0.8rem;
    vertical-align: middle;
    margin-right:0.3rem !important;
    background: url("../../mstatic/images/moon.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.hotel-model{
    padding-bottom: 0.5rem;
    padding-left:0.5rem;
    font-size: 0.7rem;
    color:#999;
    vertical-align: middle;
}
.swiper-container{
    width: 16rem;
    height: 8rem;
    margin: 0 auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-img{
    width: 16rem;
    height:8rem;
    display: block;
}
.swiper-container .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active{
    background: #3fc0ae;
}
.hotel-box{
    padding:0.5rem;
}
.hotel-box ul{
    margin-left:0.75rem;
    margin-bottom: 0.5rem;
}
.hotel-box ul li{
    position: relative;
}
.hotel-disc{
    display: inline-block;
    position: absolute;
    top: 0.1rem;
    left:-0.8rem;
    color:#3fc0ae;
}
.hotel-txt{
    font-size: 0.75rem;
    color:#333;
    line-height:1.2rem;
    word-wrap: break-word;
    word-break: break-all;
}
.hotel-room{
    padding:0.2rem;
    border-top:1px #dcdcdc solid;
}
.hotel-room ul{
    margin-left:3rem;
}
.hotel-room ul li{
    position: relative;
    font-size: 0.6rem;
    margin:0.6rem 0;
}
.hotel-room ul li p{
    min-height:1rem;
}
.room-type{
    display: inline-block;
    position: absolute;
    top:0;
    left:-3rem;
    color:#999;
}
.arr-upside{
    width:0.625rem;
    height:0.4rem;
    margin:0.3rem;
    vertical-align: middle;
    display: inline-block;
    background: #fff url("../../mstatic/images/arr-upside.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.arr-downside{
    width:0.625rem;
    height:0.4rem;
    margin:0.3rem;
    vertical-align: middle;
    display: inline-block;
    background: #fff url("../../mstatic/images/arr-bottom.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.hotel-info{
    padding:0.5rem;
    background-color:#fafafa;
    font-size: 0.65rem;
    line-height:1.2rem;
}
.hotel-info h3{
    color:#11b9b7;
    font-size: 0.75rem;
    padding:0.6rem 0;
}
.inst-til{
    margin-top:0.8rem;
    border-top:1px #dcdcdc solid;
}
.inst-til h3{
    padding:0.8rem 0;
    font-size: 0.75rem;
    color:#3fbfae;
}
.inst-til p{
    font-size: 0.65rem;
    word-wrap: break-word;
    word-break: break-all;
}

.tkt-til{
    background-color:#3fc0ae;
    padding:0.5rem 0.4rem;
    font-size: 0.8rem;
    color:#fff;
}
.tkt-cnt{
    padding:0 0.5rem;
}
.tkt-agenda{
    padding:0.5rem 0;
    font-size: 0.75rem;
    color:#11b9b7;
    vertical-align: middle;
    border-bottom: 1px #d5efee solid;
}
.common-agenda{
    font-size:0.5rem;
    line-height:0.5rem;
    color:#fff;
    padding:0.1rem 0.4rem;
    margin-left:0.4rem;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.agenda-flag1{
    background-color:#0fd730;
}
.agenda-flag2{
    background-color:#11b9b7;
}
.tkt-flight{
    padding:0.45rem 0;
}
.tkt-flight .ui-grid-b .ui-block-a, .tkt-trip .ui-grid-b .ui-block-a{
    text-align: right;
}
.tkt-flight .ui-grid-b .ui-block-b, .tkt-trip .ui-grid-b .ui-block-b{
    text-align: center;
}
.flt-start{
    font-size: 0.75rem;
    color:#11b9b7;
}
.flt-icon{
    width:0.725rem;
    height:0.725rem;
    display: inline-block;
    vertical-align: middle;
    background: url("../../mstatic/images/plane.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.plane-start, .plane-stop{
    font-size: 1.2rem;
    line-height:1.8rem;
    color:#484848;
    font-weight: bold;
    position: relative;
    font-family: Arial;
}
.plane-stop em {
    position: absolute;
    top: -0.5rem;
    right: 0.3rem;
    color: #FE7800;
    font-size: 0.6rem;
}
.plane-add{
    font-size: 0.6rem;
    color:#666;
}
.plane-num{
    font-size: 0.5rem;
    line-height:1rem;
    color:#999;
}
.plane-time{
    font-size: 0.5rem;
    line-height:1.15rem;
    color:#11b9b7;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
    vertical-align: middle;
}
.tkt-trip{
    padding:0.5rem 0;
    font-size: 0.6rem;
    line-height:1rem;
    border-top: 1px #d5efee dashed;
}
.tkt-trip-til{
    color:#11b9b7;
}
.tkt-trip-txt{
    color:#999;
}
.trip-space{
    height:0.55rem;
    background-color:#f0f0f0;
}
.cost-til{
    padding:0.5rem;
    color:#3fc0ae;
}

.path-til{
    padding:0.5rem;
    font-size: 0.8rem;
    color:#333;
    border-bottom: 1px #dcdcdc solid;
}
.path-box .ui-grid-a{
    padding:0.5rem 0;
}
.path-box .ui-grid-a > div{
    padding:0 1rem;
}
.path-img{
    text-align: center;
}
.path-icon{
    width:0.975rem;
    height:0.975rem;
    vertical-align: middle;
}
.path-img-til{
    color:#3fc0ae;
    padding:0.4rem 0;
    text-align: center;
}
.path-txt{
    font-size: 0.6rem;
    line-height:0.85rem;
    word-wrap: break-word;
    word-break: break-all;
}
.present-list{
    padding:0.5rem;
}
.present-list ul li{
    line-height:1.4rem;
}
.disc{
    color:#3fc0ae;
    padding-left:0.25rem;
    padding-right:0.4rem;
}
.nav-fixed-placeholder {
    height: 2.5rem;
    width: 100%;
}
.navbar{
    padding:0.6rem 0.4rem;
    border-bottom: 1px #dcdcdc solid;
    -webkit-box-shadow: 0 2px 2px #ebebeb;
    -moz-box-shadow: 0 2px 2px #ebebeb;
    box-shadow: 0 2px 2px #ebebeb;
    position: relative;
}
.navbarFix{
    position: fixed;
    background-color:#fff;
    top: 2.25rem;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar ul li{
    margin-right:0.5rem;
    display: inline-block;
    color:#333;
    line-height:1.2rem;
    border-bottom: 2px #fff solid;
}
.navbar ul li:last-child{
    margin-right:0;
}
.link-active{
    color:#3fc0ae !important;
    border-bottom: 2px #3fc0ae solid !important;
}
.nav-content{
    background-color:#fff;
}
.nav-content .navWrap-path{
    padding:0 0.5rem;
    margin-top:0.5rem;
    margin-left:1.35rem;
}
.navWrap-path > ul > li{
    position: relative;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
}
.navWrap-til{
    padding:0.5rem 0;
    color:#3fc0ae;
    vertical-align: middle;
}
.wuge-img{
    width:13.55rem;
    height:7.6rem;
    display: block;
}
.icon-dest{
    width:0.75rem;
    height:0.85rem;
    position: absolute;
    display: inline-block;
    top:0.65rem;
    left: -1.3rem;
    vertical-align: middle;
    background: url("../../mstatic/images/icon-dest.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.common-icon{
    width:0.8rem;
    height:0.8rem;
    position: absolute;
    display: inline-block;
    top:0.65rem;
    left: -1.35rem;
    background-color:#3fc0ae;
    font-size: 0.55rem;
    line-height:0.8rem;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}
.icon-disc{
    width:0.6rem;
    height:0.6rem;
    top:0.75rem;
    left: -1.2rem;
}
.box-border{
    height:100%;
    display: inline-block;
    border-left: 1px #8cd9ce solid;
    position: absolute;
    top:1.8rem;
    left:-1rem;
    z-index: 1;
}
.wuge-txt{
    line-height:1.2rem;
    margin-top:0.5rem;
}
.tips-top{
    width:13.475rem;
    height:0.075rem;
    position: absolute;
    top:2rem;
    left:0;
    display: inline-block;
    background: url("../../mstatic/images/tips-top.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-wrap{
    list-style: none;
    position: absolute;
    top:0.4rem;
    left:4rem;
}
.tips-wrap > li{
    margin-right:1rem;
    display: inline-block;
    float: left;
}
.tips-wrap > li:last-child{
    margin-right: 0;
}
.common-tips{
    width:1rem;
    height:1rem;
    display: inline-block;
    vertical-align: middle;
}
.tips-sun{
    background: url("../../mstatic/images/tips-sun.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-sun-press{
    background: url("../../mstatic/images/tips-sun-press.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-bag{
    background: url("../../mstatic/images/tips-bag.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-bag-press{
    background: url("../../mstatic/images/tips-bag-press.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-tower{
    background: url("../../mstatic/images/tips-tower.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-tower-press{
    background: url("../../mstatic/images/tips-tower-press.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-loca{
    background: url("../../mstatic/images/tips-loca.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-loca-press{
    background: url("../../mstatic/images/tips-loca-press.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-list{
    background: url("../../mstatic/images/tips-list.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tips-list-press{
    background: url("../../mstatic/images/tips-list-press.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.tips-content{
    width: 13.45rem;
    min-height:5rem;
    position: relative;
    padding:0.5rem 0.35rem;
    border: 1px solid #3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    word-wrap: break-word;
    word-break: break-all;
}

.com-bot0{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #3fc0ae ;
    left: 4.1rem;
    top: -0.6rem;
}
.com-bot1{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #3fc0ae ;
    left: 6.1rem;
    top: -0.6rem;
}
.com-bot2{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #3fc0ae ;
    left: 8.1rem;
    top: -0.6rem;
}
.com-bot3{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #3fc0ae ;
    left: 10.1rem;
    top: -0.6rem;
}
.com-bot4{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #3fc0ae ;
    left: 12.1rem;
    top: -0.6rem;
}
.com-top0 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #ffffff;
    left: 4.1rem;
    top: -0.52rem;
}
.com-top1 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #ffffff;
    left: 6.1rem;
    top: -0.52rem;
}
.com-top2 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #ffffff;
    left: 8.1rem;
    top: -0.52rem;
}
.com-top3 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #ffffff;
    left: 10.1rem;
    top: -0.52rem;
}
.com-top4 {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    border-width: 0.3rem;
    border-style: dashed dashed solid ;
    border-color: transparent transparent #ffffff;
    left: 12.1rem;
    top: -0.52rem;
}
.common-travel, .inst-icon{
    width:0.975rem;
    height:1.05rem;
    margin-right:0.5rem !important;
    display: inline-block;
    vertical-align: middle;
}
.travel-hotel{
    background: url("../../mstatic/images/travel-hotel.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.travel-food{
    background: url("../../mstatic/images/travel-food.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.travel-cloth{
    background: url("../../mstatic/images/travel-cloth.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.inst01{
    background: url("../../mstatic/images/inst-01.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.inst02{
    background: url("../../mstatic/images/inst-02.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.inst03{
    background: url("../../mstatic/images/inst-03.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.inst04{
    background: url("../../mstatic/images/inst-04.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.yellow-star{
    width:0.775rem;
    height:0.775rem;
    display: inline-block;
    vertical-align: middle;
    margin-right:0.3rem;
    background: url("../../mstatic/images/yellow-star.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.half-yellow-star{
    width:0.775rem;
    height:0.775rem;
    display: inline-block;
    vertical-align: middle;
    margin-right:0.3rem;
    background: url("../../mstatic/images/half-yellow-star.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.travel-one > div{
    margin-top:0.5rem;
}
.travel-one .ui-grid-a .ui-block-a{
    width:15%;
}
.travel-one .ui-grid-a .ui-block-b{
    width:85%;
}
.travel-spot{
    width:13.575rem;
    height:7.575rem;
    margin-bottom: 0.25rem;
    position: relative;
}
.spot1{
    background-image: url("../../mstatic/images/spot01.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.spot2{
    background-image: url("../../mstatic/images/spot02.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.spot3{
    background-image: url("../../mstatic/images/spot03.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.spot4{
    background-image: url("../../mstatic/images/spot04.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.spot5{
    background-image: url("../../mstatic/images/spot05.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.icon-video{
    width:3.275rem;
    height:3.275rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-1.6375rem;
    margin-left:-1.6375rem;
    background-image: url("../../mstatic/images/icon-video.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.icon-audio{
    width:3.275rem;
    height:3.275rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-1.6375rem;
    margin-left:-1.6375rem;
    background-image: url("../../mstatic/images/icon-audio.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.judge-num{
    font-size: 0.7rem;
    padding:0 0.25rem;
    color:#3fc0ae;
}
.judge-cnt{
    padding:0.75rem 0.75rem 0 0.75rem;
    font-size:0.6rem;
    line-height:1rem;
    color:#616161;
    word-wrap: break-word;
    word-break: break-all;
}
.pop-img{
    width:2rem;
    height:2rem;
    background:#f0f0f0 url("../../mstatic/images/acut-img.png") no-repeat center;
    font-size: 0.6rem;
    line-height:2rem;
    color:#999;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: inline-block;
    vertical-align: middle;
}
.pop-name{
    font-size: 0.75rem;
    color:#333;
    margin-left:0.9rem;
}
.judge-date{
    line-height:2rem;
    font-size: 0.6rem;
    color:#9f9f9f;
}
.judge-stars{
    margin:0.75rem 0;
}
.judge-txt{
    padding-bottom:0.75rem;
    border-bottom: 1px #dcf5f4 solid;
}
.judge-more{
    margin:2rem 0.5rem;
    text-align: center;
}
.judge-more:active{
    background-color:#fafafa;
}
.judge-link{
    padding:0.6rem 0;
    display: block;
    color:#3fc0ae !important;
    font-size: 0.8rem;
    border: 1px #3fc0ae solid;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.prd-footer{
    padding:0.25rem 0;
    margin-bottom: 2rem;
    background-color:#1dafae;
    text-align: center;
    color:#8efff5;
    font-size: 0.5rem;
    line-height:1.2rem;
}
.prd-footer p:first-child {
    position: relative;
    bottom: -0.2rem;
}
.prd-footer p:last-child {
    position: relative;
    bottom: -0.2rem;
}
.bottom-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.prd-order{
    height:2.2rem;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#fff;
}
.prd-order .ui-grid-b .ui-block-a, .menu-order .ui-grid-b .ui-block-a{
    width:50%;
    padding-top:0.3rem;
    padding-left:0.5rem;
    font-size: 0.55rem;
    color:#999;
    line-height:0.8rem;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arr-up{
    width:0.75rem;
    height:0.75rem;
    vertical-align: middle;
    display: inline-block;
    background: #fff url("../../mstatic/images/arr-up.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.arr-down{
    width:0.75rem;
    height:0.75rem;
    vertical-align: middle;
    display: inline-block;
    background: #fff url("../../mstatic/images/arr-down.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.prd-order .ui-grid-b .ui-block-b, .menu-order .ui-grid-b .ui-block-b{
    width:15%;
}
.prd-order .ui-grid-b .ui-block-c, .menu-order .ui-grid-b .ui-block-c{
    width:35%;
    text-align: center;
}
.prd-order-span{
    color:#666;
}
.order-btn-link{
    width:100%;
    height:2.2rem;
    text-align: center;
    vertical-align: middle;
    padding:0.5rem 0;
    display: inline-block;
    background-color:#fff;
}
.order-btn-link:active{
    background-color: #f7f7f7;
}
.order-link{
    width:100%;
    height:2.2rem;
    display: inline-block;
    background-color: #ffa200;
    padding:0.7rem 0;
    color:#fff !important;
    font-size: 0.7rem;
    font-weight: normal !important;
}
.order-link:active{
    background-color: #dc8e06;
}
.order-detail{
    width:100%;
    height:5rem;
    position: absolute;
    bottom: 1rem;
    left:0;
    background-color: #fff;
    z-index: 2;
}
.menu-dlg{
    background-color:#f0f0f0;
    font-size: 0.75rem;
    color:#666;
}
.menu-list{
    padding:0.4rem 0.5rem 0.2rem;
}
.menu-list ul{
    width:15rem;
}
.menu-list ul li{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    float: left;
    display: inline-block;
    cursor: pointer;
    background-color:#fff;
}
.menu-list ul li:active{
    background-color:#f7f7f7;
}
.menu-list ul li:first-child{
    width:33%;
    border: 1px #3fc0ae solid;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.menu-list ul li:nth-child(2){
    width:34%;
    border-top:1px #3fc0ae solid;
    border-bottom:1px #3fc0ae solid;
}
.menu-list ul li:last-child{
    width:33%;
    border: 1px #3fc0ae solid;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.menu-list ul .list-cut{
    background-color:#3fc0ae;
    color:#fff;
}
.menu-list ul .list-cut:active{
    background-color:#1a9d9c;
}
.sold-out{
    color:#999 !important;
}
.menu-row{
    width:100%;
    height:10rem;
    overflow: scroll;
}
.menu-row .ui-grid-c{
    margin:0.25rem 0;
    padding:0 0.5rem;
    background-color: #fff;
    border:3px transparent solid;
}
.menu-row-focus{
    border:3px #3fc0ae solid !important;
}
.menu-row .ui-grid-c .ui-block-a{
    width:25%;
    text-align: center;
    padding:0.5rem 0;
}
.menu-row .ui-grid-c .ui-block-b{
    width:15%;
    font-size: 0.6rem;
    text-align: center;
    padding:0.5rem 0;
}
.menu-row .ui-grid-c .ui-block-c{
    width:25%;
    text-align: right;
    color:#ffa200;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-right:0.5rem;
    border-right:1px #f0f0f0 dashed;
}
.menu-row .ui-grid-c .ui-block-d{
    width:35%;
    text-align: right;
    color:#ffa200;
    font-size: 1rem;
    line-height:1.8rem;
    vertical-align: middle;
}
.menu-row .ui-grid-c .ui-block-d p{
    font-size: 0.8rem;
    line-height:0.9rem;
}
.menu-row-til{
    font-size: 0.6rem;
    color:#999;
}
.nenu-row-num{
    color:#999;
}
.left-semicircle{
    position: absolute;
    top:-0.25rem;
    left:0;
    width:0.2rem;
    height: 0.4rem;
    border-radius:0 0.2rem 0.2rem 0;
    background: #3fc0ae;
}
.right-semicircle{
    position: absolute;
    top:-0.25rem;
    right:0;
    width:0.2rem;
    height: 0.4rem;
    border-radius:0.2rem 0 0 0.2rem;
    background: #3fc0ae;
}
.menu-order{
    height:2.2rem;
    background-color:#fff;
}
.menu-sum-box{
    position: relative;
    margin-top:0.5rem;
    padding-top:0.2rem;
    border-top: 1px #3fc0ae dashed;
}
.menu-sum{
    background-color:#fff;
    padding:0 0.5rem;
    line-height: 2rem;
    margin:0.25rem 0;
}
.count-tips{
    display: none;
    font-size: 0.6rem;
    color:#666;
}
.popNum{
    padding:0 0.1rem;
    color:red;
}
.counter{
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.counter-item{
    width:2.5rem;
    display: inline-block;
    line-height: 2.25rem;
    text-align: center;
    vertical-align: middle;
}
.counter-minus, .counter-add{
    background-color:#a4ebe1;
    color:#fff;
    font-size: 1.5rem;
}
.counter-minus:active, .counter-add:active{
    background-color:#89d3c9;
}
.counter-disable, .counter-disable:active{
    background-color:#e7e7e7;
    color:#fff;
    font-size: 1.5rem;
}
.counter-num{
    background-color:#fff;
    color:#ffa200;
    font-size: 0.75rem;
}
/** end **/

/** 产品列表 start **/
.prdlist-header{
    height: 2.25rem;
    margin-bottom:0.375rem;
}
.prdlist-header-cnt{
    background-color:#fff;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding:0.5rem;
    border-bottom: 1px #dcdcdc solid;
    -webkit-box-shadow: 0 2px 2px #ebebeb;
    -moz-box-shadow: 0 2px 2px #ebebeb;
    box-shadow: 0 2px 2px #ebebeb;
}
.prdlist-header .head-logo{    
    display: inline-block;
}
.prdlist-header .head-menu{
    display: inline-block;
    float: right;
}
.head-img{
    width:3rem;
    height:1.2rem;
    vertical-align: middle;
}
.prdlist-address{
    margin-top:0.4rem;
    position: relative;
}
.prdlist-address .ui-grid-a{
    height:2rem;
    text-align: center;
    font-size: 0.75rem;
    line-height:2rem;
    background-color:#fff;
    border-bottom: 1px #dcdcdc solid;
}
.prdlist-address .ui-grid-a .ui-block-a{
    border-right:1px #e6e5e3 solid;
}
.prdlist-address .ui-grid-a div a{
    display: inline-block;
    color:#333 !important;
}
.prdlist-address .ui-grid-a div .add-current, .add-current{
    color:#1cafad !important;
}
.address-origin, .address-destination{
    display: none;
    width:100%;
    position: absolute;
    top:2rem;
    left:0;
    z-index:5;
    background-color:#fff;
    font-size: 0.75rem;
    color:#666;
}
.address-origin ul li{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left:3rem;
    border-bottom: 1px #dcdcdc solid;
}
.address-destination > ul{
    position: relative;
}
.address-destination > ul > li{
    width:6.5rem;
    padding:0.5rem 0;
    text-align: center;
    border-right: 1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.without-border-right{
    border-right: 0 !important;
}
.add-second-menu{
    display: none;
    width:9rem;
    position: absolute;
    z-index:5;
    top:0;
    left:6.5rem;
}
.add-second-menu li{
    text-align: center;
    padding:0.5rem;
    color:#666;
}
.list-down{
    width:0.5rem;
    height:0.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-left:0.5rem;
}
.down01{
    background: #fff url("../../mstatic/images/list-down01.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.down02{
    background: #fff url("../../mstatic/images/list-down02.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.prdlist-box{
    width:100%;
    z-index: auto;
}
.prdlist-link{
    font-size: 0.75rem;
    line-height:1.1rem;
    color:#fff !important;
}
.prdlist-box ul li{
    display: block;
    position: relative;
    margin-bottom: 0.1rem;
}
.prdlist-img{
    width:100%;
    height:8.5rem;
}
.prdlist-tips{
    position: absolute;
    bottom: 0;
    left:0;
    padding:0.3rem;
    font-size: 0.85rem;
}
/** end **/

/** 用户评论 -start **/
.judge-content{
    background-color:#fff;
    padding-bottom: 5rem;
}
/** end **/

/** 推荐路线 -start **/
.recom-path{
    display: none;
    width:100%;
}
.recom-content{
    padding-top:0.8rem;
    height:4.5rem;
    position: relative;
    text-align: center;
    border-top:1px #3fc0ae solid;
    border-bottom:1px #3fc0ae solid;
    background-color:#d0eff4;
}
.recom-content p{
    font-size: 0.7rem;
    color:#666;
    line-height:1.2rem;
}
.path-img01{
    width:3.125rem;
    height:2.025rem;
    position: absolute;
    bottom: 0;
    left:1rem;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    background: url("../../mstatic/images/path-img01.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.path-img02{
    width:0.525rem;
    height:0.4rem;
    display: inline-block;
    vertical-align: middle;
    background: url("../../mstatic/images/path-img02.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.path-space{
    height:0.7rem;
    background-color:#f0f0f0;
    border-bottom: 1px #dcdcdc solid;
}
.path-til{
    background-color:#fff;
    padding:0.5rem;
    font-size: 0.8rem;
    color:#333;
    line-height:1.2rem;
}
/** end **/