@charset "utf-8";
.voucherCon{
	padding-top:0.5rem;
	padding-bottom: 1rem;
	background-color:#fff;
}
.voucherContainer{
	width:100%;
	padding:0 0.5rem;
}
.voucher-switch{
	width: 100%;
	text-align: center;
}
.voucher-switch .nopadding{
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
}
.voucher-switch .single-border{
	border-right: 1px solid #ececec;
}
.voucher-switch li {
	display: inline-block;
	font-size:0.65rem;
	color: #7f7f7f;
	padding:0 0.3rem;
}
.voucher-switch li em{
	font-size:0.6rem;
	font-family: Arial !important;
}
.voucher-switch li:first-child{
	padding-left:0;
}
.voucher-switch li:last-child{
	padding-right:0;
}
.voucher-switch li:hover, .voucher-switch li.current {
	color: #11b9b7;
}
.voucherItem {
	width:100%;
	height:7.45rem;
	margin:0 auto;
	border-top-left-radius:0.075rem;
	border-bottom-left-radius:0.075rem;
	margin-bottom:0.5rem;
	display: inline-block;
	color: #fff;
	font-size:0.55rem;
	position: relative;
}
.voucherItem .top {
	padding-left:0.5rem;
	padding-right:0.5rem;
    position: relative;
}
.voucherItem .top .title {
	width: 100%;
	line-height:1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.voucherItem .star-icon {
    background: url(../images/voucher-star-icon.png) no-repeat;
    background-size: 100% 100%;
    width: 0.75rem;
    height: 0.7rem;
    display: inline-block;
    position: absolute;
    right:0.5rem;
    top:0.38rem;
}
.horizontal-white-split-line {
	background: url(../images/white-line-piece.png)  0 0;
	height:0.05rem;
	width: 100%;
}
.voucherItem .middle {
	position: relative;
	padding: 0.4rem 0.5rem;
}
.voucherItem .privilege {
	width:4.375rem;
	height:1.2rem;
	line-height:1.2rem;
	background-color: #fff;
	text-align: center;
	border-radius:0.075rem;
	margin-bottom:0.4rem;
}
.voucherItem .validity {
	margin-bottom:0.4rem;
}
.voucherItem .applicability {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.voucherItem .price {
	width:8rem;
	height:2.65rem;
	position: absolute;
	right:0.4rem;
	top:0.25rem;
	text-align: right;
	font-size:1.2rem;
	display: inline-block;
}
.price em{
	font-size: 1rem;
}
.voucherItem .price-number {
	font-size:2.5rem;
	text-align: right;
	line-height:2.65rem;
	font-family: "Arial";
}
.voucherItem .bottom {
    position: relative;
}
.voucherItem .refund_link {
    float: left;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 0.125rem;
    width: 2.8rem;
    height: 1.4rem;
    line-height: 1.3rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
}
.voucherItem .refund_link:hover,
.voucherItem .refund_link:visited {
    color: #fff;
}
.voucherItem .share_link {
	width:4.95rem;
	height:1.4rem;
	line-height:1.4rem;
	font-size:0.7rem;
	text-align: right;
	padding-right:0.3rem;
	margin-top:0.3rem;
	margin-right:0.5rem;
	background:url(../images/sharebtnbg.png) 0.3rem center no-repeat;
	background-size:0.45rem 0.6rem;
	border:1px solid #fff;
	border-radius:0.125rem;
	float:right;
}
.voucherItem .share_link a, .voucherItem .refund_link a {
	color: #fff;
}
.voucherItem.voucher-bg-0 .privilege {
	color: #1ddd89;
}
.voucherItem.voucher-bg-0 {
	background-color: #1ddd89;
}
.com-voucher{
	width:0.075rem;
	height:100%;
	display: inline-block;
	position: absolute;
	right:-0.075rem;
}
.rightBorder-green{
	background: url(../../mstatic/images/voucher-green.png) repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.rightBorder-blue{
	background: url(../../mstatic/images/voucher-blue.png) repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.rightBorder-pink{
	background: url(../../mstatic/images/voucher-pink.png) repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.rightBorder-yellow{
	background: url(../../mstatic/images/voucher-yellow.png) repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.rightBorder-grey{
	background: url(../../mstatic/images/voucher-grey.png) repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.voucherItem.voucher-bg-1 {
	background-color: #2dd3e7;
}
.voucherItem.voucher-bg-1 .privilege {
	color: #2dd3e7;
}

.voucherItem.voucher-bg-2 {
	background-color: #f683ac;
}
.voucherItem.voucher-bg-2 .privilege {
	color: #f683ac;
}

.voucherItem.voucher-bg-3 {
	background-color: #f5b75e;
}
.voucherItem.voucher-bg-3 .privilege {
	color: #f5b75e;
}

.voucherList.used{
	/*display:none;*/
}
.voucherList.expired{
	/*display:none;*/
}
.voucherList.used .voucherItem div,
.voucherList.used .voucherItem span,
.voucherList.used .voucherItem em,
.voucherList.used .voucherItem a,
.voucherList.donate .voucherItem div,
.voucherList.donate .voucherItem span,
.voucherList.donate .voucherItem em,
.voucherList.donate .voucherItem a,
.voucherList .refund .voucherItem div,
.voucherList .refund .voucherItem span,
.voucherList .refund .voucherItem em,
.voucherList .refund .voucherItem a,
.voucherList .refunding .voucherItem div,
.voucherList .refunding .voucherItem span,
.voucherList .refunding .voucherItem em,
.voucherList .refunding .voucherItem a{
	opacity: 0.7;
}
.voucherList.used .flag{
	position: absolute;
	right: 0;
	top: 0;
	width: 6.75rem;
	height: 5.5rem;
	opacity: 1!important;
	background: url("../../mstatic/images/expireCover01.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.voucherList .expired .flag {
	position: absolute;
	right: 0;
	top: 0;
	width: 6.75rem;
	height: 5.5rem;
	opacity: 1!important;
	background: url("../../mstatic/images/expireCover.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.voucherList .refund .flag {
    position: absolute;
    right: 0;
    top: 0;
    width: 6.75rem;
    height: 5.5rem;
    opacity: 1!important;
    background: url(../../mstatic/images/voucher-refund.png) no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.voucherList .refunding .flag {
    position: absolute;
    right: 0;
    top: 0;
    width: 6.75rem;
    height: 5.5rem;
    opacity: 1!important;
    background: url(../../mstatic/images/voucher-refunding.png) no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.voucherList.donate .flag {
	position: absolute;
	right: 0;
	top: 0;
	width: 6.75rem;
	height: 5.5rem;
	opacity: 1!important;
	background: url("../../mstatic/images/expireCover02.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.voucherList .expired .voucherItem {
	background-color: #ccc;
}
.voucherList .expired .voucherItem .privilege {
	color: #ccc;
}
.voucherList .expired .voucherItem .rightBorder {
	display: inline-block;
	position: absolute;
	right:-0.05rem;
	background: url(../../images/client/voucher-short-border.png) repeat-y -16px 0;
	width:0.05rem;
	height:100%;
}
.voucherList .expired .voucherItem div, .voucherList .expired .voucherItem span, .voucherList .expired .voucherItem em, .voucherList .expired .voucherItem a {
	opacity: 0.7;
}


/* 分享代金券 */
#alert-dialog, #alert-dialog-refund, #alert-dialog-exchange {
	width:15.1rem;
	height:9.5rem;
	padding:0.875rem;
	border:0;
	margin-left:-0.15rem;
	border-radius:0;
	text-shadow:none;
	box-shadow:none;
	font-size:0.8rem;
	background-color: #fff;
}
.dlg-title{
	color:#666;
}
.dlg-cont{
	width:13.25rem;
	height:3.2rem;
	line-height:2rem;
	margin-top:0.8rem;
	margin-bottom: 0.5rem;
}
.dlg-cont input{
	font-size:0.75rem;
	width:100%;
	height:2rem;
	padding:0.5rem 0.45rem;
	border:1px solid #dcdcdc!important;
}
.dlg-cont input:focus{
	outline:none;
	border:1px solid #3fc0ae!important;
}
.dlg-cont ::-webkit-input-placeholder { /* WebKit browsers */
    color:#cccccc;
}
.dlg-cont :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#cccccc;
}
.dlg-cont ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#cccccc;
}
.dlg-cont :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#cccccc;
}
.dlg-cont .dlg-notice{
	color:#3fc0ae;
	font-size: 0.6rem;
	line-height:1.2rem;
	text-align: center;
	margin-top:0.3rem;
}
.dlg-foot a{
	width:5rem;
	height:1.8rem;
	display:inline-block;
	line-height:1.8rem;
	text-align:center;
	-webkit-border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	border-radius: 0.125rem;
}
.dlg-foot .btn-share,.dlg-foot .btn-share:link,.dlg-foot .btn-share:visited{
	background:#3fc0ae;
	color:#fff;
}
.dlg-foot .btn-share:active{
	background-color: #1a9d9c;
}
.dlg-foot .btn-cancel,.dlg-foot .btn-cancel:link,.dlg-foot .btn-cancel:visited{
	background:#e3e0e0;
	color:#999999;
}
.dlg-foot .btn-cancel:active{
	background-color:#cdcdcd;
}
.dlg-foot .btn-notice{
	background-color:#d2d2d2;
	color:#666 !important;
	border:1px #ccc solid;
}
.dlg-foot .btn-notice:active{
	background-color:#cdcdcd;
}

/* 代金券确认订单 S */
.couponOrderCon {
    padding:0.5rem 0 0 0;
    background-color:#fff;
}
.couponOrderCon .orderView {
    padding: 0 0.5rem;
}
.orderView .voucherItem {
    height: 6rem;
}
.totalPriceBlock {
    border-top:1px solid #dcdcdc;
    font-size: 0.6rem;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0.7rem;
}
.totalPriceBlock .priceDiv {
    float: left;
    display: inline-block;
    color: #333;
}
.totalPriceBlock .priceDiv i {
    font-size: 0.6rem;
}
.totalPriceBlock .priceDiv span {
    font-size: 0.9rem;
    color: #ff4359;
    font-weight: bold;
    margin-left: 0.375rem;
}
.totalPriceBlock .amountDiv {
    float: right;
    color: #999;
    margin-top: 0.3rem;
}
.paymentCon {
    margin-top: 0.6rem;
    background-color:#fff;
}
.paymentTitle {
    font-size: 0.75rem;
    color: #333;
    border-bottom: 1px solid #dcdcdc;
    padding:0.7rem 0 0.7rem 0.5rem;
}
.prg_payType{
    padding:0 0.5rem;
}
.prg-payOp{
    padding:0.6rem 0.3rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-payOp:last-child{
    border-bottom: none;
}
.prg-payOp > label{
    margin-top:0.325rem;
    float: right;
    display: inline-block;
}
.prg-payImg{
    width:1.75rem;
    height:1.75rem;
    vertical-align: middle;
}
.prg-payName{
    padding-left:1rem;
    font-size: 0.75rem;
}

/* 代金券确认订单 E */

/* 支付成功 S */
.successPayment {
    font-size: 0.8rem;
    color: #22ac38;
    background: #fff;
    padding:0.7rem 0.5rem;
    margin-bottom: 0.6rem;
}
.successPayment .payImg {
    width:1.15rem;
    height: 1.15rem;
    margin-right: 0.45rem;
    vertical-align: sub;
}
.couponOrderTitle {
    padding:0.3rem 0.5rem 0.8rem 0.5rem;
    margin-bottom: 0.6rem;
    border-bottom: 1px #dcdcdc solid;
}
.couponOrderTitle.hideBorder {
    border-bottom: none;
}
.couponOrderTitle h2 {
    font-size: 0.7rem;
    color: #333;
    display: inline-block;
    float: left;
}
.couponOrderTitle span {
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    float: right;
    margin-top: 0.1rem;
}
.couponOrderTitle .arrowDown {
    background: url("../images/payment_arrDown.png") no-repeat;
    width:0.5rem;
    height: 0.325rem;
    background-size: 100%;
    display: inline-block;
    margin-left: 0.2rem;
}
.detailBox {
    height: 6.3rem;
    overflow: hidden;
    -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
       -ms-transition: all .35s ease;
        -o-transition: all .35s ease;
           transition: all .35s ease; 
}
.detailBox.hide {
    height: 0;
    overflow: hidden;
    -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
       -ms-transition: all .35s ease;
        -o-transition: all .35s ease;
           transition: all .35s ease;
}
.viewMyWalletBlock {
    background: #fff;
    padding:0.7rem 0.5rem;
}
.viewMyWalletBlock h4 {
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    float: left;
}
.viewMyWalletBlock span {
    background: url("../images/u_lr.png") no-repeat;
    background-size: 100%;
    width:0.4rem;
    height: 0.625rem;
    vertical-align: middle;
    float: right;
}
.operBlock {
    padding: 0 0.5rem;
    margin-top: 0.8rem;
}
.payoffLink {
    font-weight: normal !important;
    text-align: center;
    font-size: 0.8rem;
    color: #fff !important;
    background-color: #3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    padding: 0.575rem 0;
}
.payoffLink01 {
    font-weight: normal !important;
    text-align: center;
    font-size: 0.8rem;
    color: #3fc0ae !important;
    border: 1px #3fc0ae solid;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    padding: 0.575rem 0;
    margin: 0.6rem 0 0 0;
}

/* 支付成功 E */

/* 活动购买页 S */
.warn-info{
    height:1.75rem;
    margin-bottom: 0.5rem;
    background-color:#c2ecf3;
    padding:0.5rem;
    text-align: center;
}
.warn-info a{
    font-size: 0.6rem;
    line-height:0.75rem;
    color:#3fc0ae !important;
    vertical-align: top;
}
.btn-close{
    width:0.75rem;
    height:0.75rem;
    display: inline-block;
    vertical-align: middle;
    float: right;
    background:url("../../mstatic/images/btn-close.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.couponBuyCon {
    background-color:#fff;
    margin-top: 0.5rem;
}
.forWardSaleImgBlock {
    background: #fff;
}
.forWardSaleImgBlock img {
    width:16rem;
    height: 10.675rem;
}
.productsDesc {
    color: #333;
    background: #fff;
    padding-bottom: 0.5rem;
}
.productsDesc h3 {
    font-size: 0.75rem;
    padding:0.75rem 0.5rem 0.6rem 0.5rem;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 0.5rem;
}
.productsDesc p {
    font-size: 0.6rem;
    line-height: 1rem;
    padding:0 0.5rem;
}
.productsPicBlock {
    text-align: center;
    margin: 0 auto 1rem auto;
}
.voucherImg {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 0.4rem;
    width:4.65rem;
    height:1.65rem;
}
.voucherImg-1-300 {
    background: url("../../mstatic/images/voucherImg-1-300.png") no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
}
.voucherImg-500-1000 {
    background: url("../../mstatic/images/voucherImg-500-1000.png") no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
}
.operProductsBlock {
    border-bottom: 1px solid #f0f0f0;
    padding:0.5rem;
    margin:0.1rem 0;
    color:#333;
    font-size: 0.7rem;
}
.operProductsBlock:last-child {
    border-bottom: none;
}
.operProductsBlock .counter {
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 7rem;
    text-align: center;
}
.operProductsBlock .counter-item{
    width:1.45rem;
    height:1.45rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.operProductsBlock .counter-minus{
    background:url(../../mstatic/images/minusIcon.png) no-repeat center center;
    background-size:100%;
}
.operProductsBlock .counter-add{
    background:url(../../mstatic/images/addIcon.png) no-repeat center center;
    background-size:100%;
}
.counter-disable, .counter-disable:active{
    background-color:none;
    color:#fff;
    font-size: 1.5rem;
}
.operProductsBlock .counter-num{
    width:3rem;
    border-radius:0.2rem;
    border:2px solid #3fc0ae;
    background-color:#fff;
    color:#333;
    font-size: 0.75rem;
    margin:0 0.2rem;
    line-height: 1.45rem;
}
.limitedOne {
    margin-top: 0.5rem;
    display: inline-block;
}
.orange_buy, .orange_soonSale {
    display: inline-block;
    float: right;
    vertical-align: middle;
    background-color:#f9993c;
    font-size: 0.75rem;
    color:#fff !important;
    padding:0.45rem 0.2rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    width: 2.75rem;
    text-align: center;
}
.orange_buy:active, .orange_soonSale:active {
    background-color:#dc8e06;
}
.orange_soonSale {
    font-size: 0.6rem;
    padding:0.45rem 0;
}
.orange_soonSale.disabled {
    background-color: #fccc9e;
}
.submit-dlg{
    width:12.5rem;
    padding:0.5rem;
    line-height:1.2rem;
    background-color: #fff;
}
.submit-dlg .input-box{
    position: relative;
}
.submit-dlg .ui-grid-a{
    padding:0.4rem 0;
    border-bottom: 1px #ccc solid;
}
.submit-dlg .ui-grid-a:last-child{
    border-bottom: 0;
}
.submit-dlg .ui-grid-a .ui-block-a{
    width:15%;
    text-align: center;
}
.submit-dlg .ui-grid-a .ui-block-b{
    width:85%;
}
.verify-block{
    padding-top:0.3rem;
    padding-bottom: 0.3rem;
    padding-left:0.5rem;
    border-bottom: 1px #ccc solid;
}
.input-txt{
    width:4.5rem;
    margin-right:0.2rem;
    padding-top:0.2rem;
    font-size: 0.7rem;
    color:#333;
    vertical-align: middle;
}
.btn-vld{
    display: inline-block;
    background-color:#fff;
    float: right;
    color:#11b9b7 !important;
    font-weight: normal !important;
    padding:0.2rem 0.3rem;
    font-size: 0.7rem;
    border:1px #11b9b7 solid;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
}
.btn-vld:active{
    background-color:#f7f7f7;
}
.person-icon {
    display: inline-block;
    width: 0.85rem;
    height: 0.975rem;
    background: url(../images/telicon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.lock-icon {
    display: inline-block;
    width: 0.85rem;
    height: 0.95rem;
    background: url(../images/passwordicon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.dlg-foot{
    margin-top: 0.8rem;
    text-align: center;
}
.submit-dlg-confirm{
    width:8rem;
    height:1.8rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.8rem;
    color:#fff !important;
    display: inline-block;
    font-weight: normal !important;
    text-decoration: none;
    -webkit-border-radius: 0.0125rem;
    -moz-border-radius: 0.0125rem;
    border-radius: 0.125rem;
    background-color:#ffa200;
}
.submit-dlg-confirm:active{
    background-color:#dc8e06;
}
.traveler-val, .submit-dlg-val{
    width: 100%;
    height:1.3rem;
    line-height:1.3rem;
    font-size: 0.7rem;
    color:#333;
    display: inline-block;
    overflow: hidden;
}
.safe-icon {
    display: inline-block;
    width: 0.875rem;
    height: 1.1rem;
    background: url(../images/checkicon.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
    margin: 0.3rem 0.4rem 0 0;
}
.buyerReading {
    padding:0.75rem 0.5rem;
    color: #666;
    font-size: 0.6rem;
}
.buyerReading h4 {
    color: #333;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
}
.buyerReading div {
    margin-bottom: 0.75rem;
}
.buyerReading p {
    margin-bottom: 0.4rem;
    line-height: 0.7rem;
}
.buyerReading p a {
    color: #5ad1c0!important;
}
.buyerReading p a:hover,
.buyerReading p a:visited {
    color: #5ad1c0!important;
}
.buyerReading .smallDot {
    width:0.25rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    background-color: #5ad1c0;
    display: inline-block;
    vertical-align: middle;
    margin:-0.1rem 0.3rem 0 0.2rem;
}
.forWardSaleBottom {
    background-color: #1cafad;
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
    padding:0.8rem 0 0.5rem 0;
}
.forWardSaleBottom p {
    padding:0 0 0.5rem 0;
}
.check-error-tip {
    color: red;
    font-size: 0.6rem;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
       -moz-transition: opacity .5s ease;
        -ms-transition: opacity .5s ease;
         -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
}
.check-error-tip.show {
    opacity: 1;
    -webkit-transition: opacity .5s ease;
       -moz-transition: opacity .5s ease;
        -ms-transition: opacity .5s ease;
         -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
}

/* 活动购买页 E */
.tip-foot .btn {
    width: 4.5rem;
    height: 1.8rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.8rem;
    color: #fff !important;
    display: inline-block;
    font-weight: normal !important;
    text-decoration: none;
    border-radius: 0.125rem;
    margin-bottom: 0.5rem;
}

.tip-foot .btn.btn-cancel {
    background-color: #d4d4d4;
}

.tip-foot .btn.btn-confirm {
    background-color: #11b9b7;
}

.tip-win-cnt {
    text-align: left;
}

.tip-win-cnt p {
    margin: 0 auto;
    width: 85%;
}