@charset "utf-8";
.orderNumber{
	height:2.2rem;
	line-height:2.2rem;
	padding-left:0.45rem;
	margin-bottom:0.45rem;
	border-bottom:1px solid #dcdcdc;
	background:#fff;
	font-size:0.75rem;
}
.orderSum{
	color:#333;
}
.orderNumberDetail{
	color:#999;
}
.orderNumberDetail em{
	color:#ffa200;
}
.orderinfo{
	width:16rem;
	height:5.75rem;
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	background:#fff;
	margin-bottom:0.45rem;
}
.orderHeader{
	height:1.65rem;
	line-height:1.65rem;
	border-bottom:1px solid #dcdcdc;
}
.orderNum{
	float:left;
	color:#1cafad;
	font-size:0.6rem;
	margin-left:0.45rem;
}
.orderNum em{
	font-size:0.64rem;
}
.orderDate{
	float:right;
	font-size:0.65rem;
	color:#999999;
	margin-right:0.45rem;
}

.orderDetail{
	height:4.1rem;
	padding:0.75rem 0.45rem 0 0.45rem;
}
.travelInfo{
	width:10rem;
	float:left;
	/*margin:0.75rem 0 0 0.45rem;*/
}
.travelTitle{
	display:block;
	font-size:0.75rem;
	color:#333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.travelDate{
	display:block;
	font-size:0.65rem;
	color: #999;
	margin-top:0.95rem;
}
.payInfo{
    width:4.8rem;
	float: right;
	/*margin:0.75rem 0 0 0.45rem;*/
}
.travelPrice{
	display:block;
	font-size:0.5rem;
	color:#fe0e2a;
	text-align: right;
}
.travelPrice em{
	font-size: 0.9rem;
    font-family: Arial;
}
.pay,.evaluate,.completed{
	width:3.5rem;
	height:1.5rem;
    display: inline-block;
	line-height:1.5rem;
	border-radius:0.075rem;
	font-size:0.75rem;
	color:#fff!important;
	text-align:center;
	float:right;
	margin-top:0.45rem;
}
.pay{
    background-color:#ffa200;
}
.pay:active{
    background-color:#dc8e06;
}
.evaluate{
	background:#1cafad;
}
.evaluate:active{
    background-color:#1a9d9c;
}
.completed{
	background:#fff;
	border:1px solid #1cafad;
	color:#1cafad!important;
}
.completed:active{
    background-color:#f7f7f7;
}

#wrapper{
    position: absolute;
    z-index:1;
    top:4.9rem;
    bottom:0;
    left:0;
    width: 100%;
    overflow: hidden;
}
#scroller{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#scroller ul{
    list-style: none;
    padding: 0;
    margin:0;
    width: 100%;
    font-size:0.6rem;
    color:#1cafad;
}
#pullDown,#pullUp {
    height:1.65rem;
    line-height: 1.65rem;
    font-size:0.6rem;
    color: #1cafad;
    overflow:hidden;
    text-align:center;
}

/* #pullDown .pullDownIcon,#pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    background: green;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
} */

/* #pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
 */
#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from { 
        -webkit-transform:rotate(0deg)translateZ(0);
    }

    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

/** 订单详情 -start **/
.viewport{
    background-color:#f0f0f0;
}
.header .acut-menu{
    margin-right:0.5rem;
    display: inline-block;
    float: right;
}

.acut-box{
    margin-right:1rem;
}
.menu-img{
    width:1.1rem;
    height:0.825rem;
}
.order-prg{
    background-color:#fff;
    padding:0.5rem 0;
    margin-bottom: 0.4rem;
}
.prg-bar{
    height:1.3rem;
    margin:0 auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.prg-bar-left{
    display: inline-block;
    position: absolute;
    top: 0;
    left:0.4rem;
}
.prg-bar-center{
    display: inline-block;
    position: absolute;
    top: 0;
    left:7.2rem;
}
.prg-bar-right{
    display: inline-block;
    position: absolute;
    top: 0;
    left:8.8rem;
}
.prg-bar-content{
    height:2rem;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.prg-txt{
    display: inline-block;
    vertical-align: middle;
    line-height:1rem;
}
.prg-txt01{
    width:4rem;
    height:2rem;
    position: absolute;
    top:0;
    left:1.6rem;
    font-size: 0.5rem;
    color:#3fc0ae;
}
.prg-txt02{
    width:5rem;
    height:2rem;
    position: absolute;
    top:0;
    left:5.5rem;
    font-size: 0.6rem;
    color:#3fc0ae;
}
.prg-txt03{
    width:4rem;
    height:2rem;
    position: absolute;
    top:0;
    left:10.2rem;
    font-size: 0.5rem;
    color:#999;
}
.prg-dialog{
    width:10.1rem;
    height:14rem;
    overflow: scroll;
    margin-left:-5rem;
    border: 15px transparent solid;
    background-color:#fff;
    position: absolute;
    top:6rem;
    left:50%;
    z-index: 60;
    -webkit-border-image: url(../../mstatic/images/prg-border.png) 25 25 round;
    -moz-border-image: url(../../mstatic/images/prg-border.png) 25 25 round;
    -o-border-image: url(../../mstatic/images/prg-border.png) 25 25 round;
    border-image: url(../../mstatic/images/prg-border.png) 25 25 round;
}
.dialog-box{
    position: relative;
    z-index: 60;
}
.prg-dlg-bar{
    position: absolute;
    top: 0;
    left:0;
    z-index: 61;
    width:1.6rem;
    padding-left:0.5rem;
    display: inline-block;
}
.column-line01{
    width: 1px;
    height:1.8rem;
    background: url("../images/column-line01.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
    margin-left:0.45rem;
    vertical-align: middle;
}
.column-line02{
    width: 1px;
    height:1.8rem;
    background: url("../images/column-line02.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
    margin-left:0.45rem;
    vertical-align: middle;
}
.prg-dlg-box{
    position: absolute;
    top: 0.3rem;
    left:2.3rem;
    width:5rem;
    background-color:#fff;
    z-index: 62;
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    line-height:1rem;
}
.prg-dlg-txt{
    height:2rem;
    color:#3fc0ae;
    margin-bottom: 0.85rem;
}
.prg-dlg-txt:last-child{
    margin-bottom: 0;
}
.prg-dlg-txt01{
    height:2rem;
    color:#999;
    margin-bottom: 0.7rem;
}
.prg-dlg-txt01:last-child{
    margin-bottom: 0;
}
.prgline01{
    width:3rem;
    height:0.05rem;
    background: url("../images/prg-line01.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prgline02{
    width:3rem;
    height:0.05rem;
    background: url("../images/prg-line02.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prg-current{
    width: 0.75rem;
    height:0.75rem;
    margin:0 0.1rem;
    display: inline-block;
    vertical-align: middle;
}
.icon-disc{
    background: url("../images/icon-disc.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.prg-future{
    background: url("../images/prg-future.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.prg-current01{
    width: 1.05rem;
    height:1.05rem;
    vertical-align: middle;
}
.prg-now{
    width:0.95rem;
    height:0.95rem;
    margin:0 0.4rem;
    vertical-align: middle;
    display: inline-block;
    background: url("../images/prg-now.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.order-sum{
    background-color:#fff;
}
.order-til{
    padding:0.5rem;
    border-top:1px #dcdcdc solid;
    border-bottom:1px #dcdcdc solid;
}
.order-num{
    display: inline-block;
    font-size: 0.8rem;
    line-height:1rem;
    color:#333;
}
.order-date{
    display: inline-block;
    float: right;
    font-size: 0.6rem;
    line-height:1.2rem;
    color:#999;
}
.order-row{
    padding:0.5rem;
}
.order-name{
    display: inline-block;
    font-size: 0.75rem;
    line-height:1rem;
    color:#333;
}
.order-price{
    display: inline-block;
    float: right;
    font-size: 0.9rem;
    color:#fe0e2a;
}
.order-price .rmb{
    font-size: 0.5rem;
}
.order-start{
    display: inline-block;
    font-size: 0.65rem;
    color:#666;
}
.order-pay{
    display: inline-block;
    float: right;
    vertical-align: middle;
    background-color:#ffa200;
    font-size: 0.75rem;
    color:#fff !important;
    padding:0.45rem 0.4rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.order-pay:active{
    background-color:#dc8e06;
}
.order-judge{
    display: inline-block;
    float: right;
    vertical-align: middle;
    background-color:#1cafad;
    font-size: 0.75rem;
    color:#fff !important;
    padding:0.45rem 0.4rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.order-judge:active{
    background-color:#1a9d9c;
}
.divide-space{
    height:0.7rem;
    background-color:#f0f0f0;
    border-top:1px #dcdcdc solid;
    border-bottom:1px #dcdcdc solid;
}
.order-pop, .order-traveler{
    width:100%;
    z-index: 10;
    position: relative;
}
.black_overlay, .black_overlay-sec{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 11;
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity=60);
}
.order-pop-edt, .order-traveler-edt{
    display: none;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 21;
    background-color:#fff;
}
.row-edt-til{
    padding:0.5rem;
    background-color:#fff;
    font-size: 0.8rem;
    color:#333;
    border-bottom:1px #ebebeb solid;
}
.row-edt-til > span{
    line-height:1.5rem;
    vertical-align: middle;
}
.pop-edt-btn, .travel-edt-btn{
    float: right;
    display: inline-block;
}
.edt-cancel{
    display: inline-block;
    font-size: 0.6rem;
    color:#666;
    padding:0.4rem 1rem;
}
.edt-save{
    display: inline-block;
    font-size: 0.6rem;
    color:#fff;
    padding:0.4rem 1rem;
    background-color:#3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.edt-save:active{
    background-color:#1a9d9c;
}
.order-edt-box, .traveler-edt-box{
    padding:0 0.5rem;
    font-size: 0.7rem;
    color:#666;
}
.order-edt-box .ui-grid-a{
    border-bottom:1px #ebebeb solid;
    line-height:1.2rem;
    padding:0.5rem 0;
}
.order-edt-box .ui-grid-a .ui-block-a{
    width:35%;
}
.order-edt-box .ui-grid-a .ui-block-b{
    width:65%;
}
.block-val{
    padding:0.5rem 0;
}
.travel-arrow{
    width:0.4rem;
    height:0.625rem;
    margin-right:0.5rem !important;
    display: inline-block;
    background:url("../../mstatic/images/u_lr.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.traveler-edt-box .ui-grid-b{
    border-bottom:1px #ebebeb solid;
    line-height:1.2rem;
}
.traveler-edt-box .ui-grid-b .ui-block-a{
    width:35%;
    padding:0.5rem 0;
    font-size: 0.7rem;
    color:#666;
}
.traveler-edt-box .ui-grid-b .ui-block-b{
    width:45%;
    padding:0.5rem 0;
}
.traveler-edt-box .ui-grid-b .ui-block-c{
    padding:0.4rem 0;
    text-align: right;
    width:20%;
}
.traveler-edt-box .ui-grid-a .ui-block-a{
    width:35%;
}
.traveler-edt-box .ui-grid-a .ui-block-b{
    width:65%;
    padding:0.5rem 0;
    border-bottom:1px #ebebeb solid;
}
.travel-lab{
    font-size: 0.75rem;
    padding:0.2rem 0.3rem;
    color:#fff !important;
    background-color:#3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.travel-lab:active{
    background-color: #1a9d9c;
}
.traveler-val{
    width:100%;
    display: inline-block;
    font-size: 0.75rem;
    color:#333;
}
.traveler-val01{
    width: 8.5rem;
    display: inline-block;
    font-size: 0.75rem;
    color:#333;
}
.block-val > label{
    vertical-align: bottom;
    margin-left:0;
    margin-right:0.4rem;
}
.block-val > label:last-child{
    margin-left:1.2rem;
}
.row-til{
    padding:0.5rem;
    background-color:#fff;
    font-size: 0.7rem;
    color:#333;
    border-bottom:1px #dcdcdc solid;
}
.row-edt-pop, .row-edt-traveler{
    font-size: 0.5rem;
    color:#1dafae;
    float: right;
    display: inline-block;
}
.edt-icon{
    width:0.8rem;
    height:0.8rem;
    margin-left:0.3rem;
    background: url("../images/pencil.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.row-content, .order-ticket{
    padding:0.3rem 0.5rem;
    background-color:#fff;
    line-height:1.3rem;
}
.row-content .ui-grid-a{
    padding-top:0.3rem;
    padding-bottom: 0.3rem;
    border-bottom:1px #dcdcdc solid;
}
.row-content .ui-grid-a:last-child{
    border-bottom:0;
}
.row-txt{
    display: inline-block;
    margin-right:0.3rem;
    font-size: 0.6rem;
    color:#666;
}
.row-span{
    display: inline-block;
    font-size: 0.6rem;
    color:#666;
}
.row-val{
    display: inline-block;
    font-size: 0.65rem;
    color:#333;
}
.tkt-agenda{
    padding:0.5rem 0;
    font-size: 0.75rem;
    color:#11b9b7;
    vertical-align: middle;
    border-bottom: 1px #d5efee dashed;
}
.tkt-date{
    display: inline-block;
    float: right;
    font-size:0.6rem;
    color:#11b9b7;
}
.common-agenda{
    font-size:0.5rem;
    line-height:0.5rem;
    color:#fff;
    padding:0.1rem 0.4rem;
    margin-left:0.4rem;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.agenda-flag1{
    background-color:#0fd730;
}
.agenda-flag2{
    background-color:#11b9b7;
}
.tkt-flight{
    padding:0.45rem 0;
}
.tkt-flight .ui-grid-b .ui-block-a, .tkt-trip .ui-grid-b .ui-block-a{
    text-align: right;
}
.tkt-flight .ui-grid-b .ui-block-b, .tkt-trip .ui-grid-b .ui-block-b{
    text-align: center;
}
.tkt-trip{
    padding:0.5rem 0;
    font-size: 0.6rem;
    line-height:1rem;
    border-top: 1px #d5efee dashed;
}
.tkt-trip-til{
    color:#11b9b7;
}
.tkt-trip-txt{
    color:#999;
}
.flt-start{
    font-size: 0.75rem;
    color:#11b9b7;
}
.flt-icon{
    width:0.725rem;
    height:0.725rem;
    display: inline-block;
    vertical-align: middle;
    background: url("../../mstatic/images/plane.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.plane-start, .plane-stop{
    font-size: 1.2rem;
    line-height:1.8rem;
    color:#484848;
    font-weight: bold;
    position: relative;
    font-family: Arial;
}
.plane-stop em {
    position: absolute;
    top: -0.5rem;
    right: 0.3rem;
    color: #FE7800;
    font-size: 0.6rem;
}
.plane-add{
    font-size: 0.6rem;
    color:#666;
}
.plane-num{
    font-size: 0.5rem;
    line-height:1rem;
    color:#999;
}
.plane-time{
    font-size: 0.5rem;
    line-height:1.15rem;
    color:#11b9b7;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
    vertical-align: middle;
}
.trip-start{
    padding-top:1.2rem;
}
.trip-time{
    font-size: 0.9rem;
    font-weight: bold;
    color:#484848;
}
.order-hotel-box{
    padding:0 0.5rem;
    background-color:#fff;
}
.order-hotel-til{
    font-size: 0.7rem;
    color:#666;
    padding:0.6rem 0;
    border-bottom:1px #d5efee dashed;
}
.order-hotel-box .ui-grid-b{
    padding:0.5rem 0;
    border-bottom: 1px #ebebeb solid;
}
.order-hotel-box .ui-grid-b .order-hotel-left{
    width:30%;
}
.order-hotel-box .ui-grid-b .order-hotel-center{
    width:40%;
}
.order-hotel-box .ui-grid-b .order-hotel-right{
    width:30%;
    padding-top:0.4rem;
    padding-bottom: 0.4rem;
    padding-right:1rem;
    font-size: 0.6rem;
    text-align: center;
}
.order-lab03{
    background-color:#3fc0ae;
    margin-bottom: 0.6rem;
    padding:0.25rem 0.5rem;
    font-size: 0.6rem;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.order-lab04{
    background-color:#ff9805;
    margin-bottom: 0.7rem;
    padding:0.25rem 0.5rem;
    font-size: 0.6rem;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.class-hotel-time{
    font-size: 0.6rem;
    color:#666;
    vertical-align: middle;
    padding-top:0.3rem;
    padding-bottom: 0.25rem;
}
.class-hotel-time01{
    font-size: 0.6rem;
    color:#666;
    vertical-align: middle;
    padding-top:0.75rem;
}
.order-hotel-txt{
    color:#333;
    line-height:1.2rem;
}
.hotel-num{
    color:#3fc0ae;
}
.hotel-bed{
    height:2rem;
    line-height: 2rem;
    background-color:#fff;
    font-size: 0.7rem;
    color:#333;
    vertical-align: middle;
}
.hotel-bed-type{
    height:2rem;
    padding-left:1rem;
}
.hotel-bed-op{
    display: none;
}
.hotel-bed-op > .ui-grid-b{
    height:2rem;
    padding:0;
    font-size: 0.6rem;
    color:#666;
    border-bottom: 0;
}
.hotel-bed-op > .ui-grid-b > .ui-block-a{
    width:38%;
}
.hotel-bed-op > .ui-grid-b > .ui-block-b{
    width:38%;
}
.hotel-bed-op > .ui-grid-b > .ui-block-c{
    width:24%;
    line-height:1.3rem;
}
.span-confirm{
    padding:0 0.2rem;
    color:#3fc0ae;
    margin-right:0.3rem;
    vertical-align: middle;
}
.span-cancel{
    padding:0 0.2rem;
    vertical-align: middle;
}
.span-confirm:active, .span-cancel:active{
    background-color:#f7f7f7;
}
.row-box{
    padding:0.5rem;
    font-size: 0.65rem;
    background-color:#fff;
    color:#999;
    line-height:1.3rem;
}
.row-box-til{
    font-size: 0.7rem;
    color:#666;
}
.row-box-til ol li span {
    font-size: 0.75rem!important;
    color: #666!important;
    font-family: initial!important;
}
.order-price-detail{
    background-color:#fff;
    padding:0.5rem;
    font-size: 0.65rem;
    color:#666;
    line-height:1.3rem;
}
.order-price-box{
    padding:0.5rem 0;
    border-bottom: 1px #dcdcdc solid;
}
.order-price-box:last-child{
    border-bottom:0;
}
.order-price-detail .ui-grid-b:last-child{
    border-bottom: 0;
}
.order-price-detail .ui-grid-b .ui-block-b{
    text-align: center;
}
.order-price-detail .ui-grid-b .ui-block-c{
    text-align: right;
    color:#fd1934;
}
.order-price-type{
    font-size: 0.7rem;
    color:#333;
    line-height:1.5rem;
}
.order-foot{
    margin-top:2rem;
    background-color:#fff;
}
.order-foot .ui-grid-a .ui-block-a{
    width:60%;
    height:2.45rem;
    padding:0.2rem 0.5rem;
    font-size: 0.65rem;
    color:#333;
}
.order-foot .ui-grid-a .ui-block-b{
    width:40%;
    height:2.45rem;
    text-align: center;
}
.order-link{
    width:100%;
    text-align: center;
    display: inline-block;
    background-color: #ffa200;
    padding:0.85rem 0;
    color:#fff !important;
    font-size: 0.85rem;
}
.order-link:active{
    background-color: #dc8e06;
}
.foot-rmb{
    color:#fb1933;
    font-size: 0.7rem;
}
.rmb-num{
    width:7.5rem;
    padding-top:0.1rem;
    display: inline-block;
    vertical-align: text-bottom;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3rem;
    color:#fb1933;
}
/** end **/

/** 无订单 start **/
.without-order{
    background-color:#fff;
}
.without-order-box{
    height:2.25rem;
    background-color:#fff;
}
.without-order-header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding:0.5rem;
    background-color:#fff;
    border-bottom: 1px #dcdcdc solid;
    -webkit-box-shadow: 0 2px 2px #ebebeb;
    -moz-box-shadow: 0 2px 2px #ebebeb;
    box-shadow: 0 2px 2px #ebebeb;
}
.without-order-header .head-logo{
    width: 1.625rem;
    display: inline-block;
}
.without-order-header .head-menu{
    display: inline-block;
    float: right;
}
.head-img{
    width:3rem;
    height:1.2rem;
    vertical-align: middle;
}
.without-order-cnt{
    width:100%;
    min-height:21rem;
    text-align: center;
    background-color:#fff;
}
.without-img{
    width:3.05rem;
    height:4rem;
    display: inline-block;
    vertical-align: middle;
    margin-top:30%;
}
.without-txt{
    font-size: 0.7rem;
    color:#666;
    line-height:1.1rem;
    margin-top:2rem;
}
/** end **/