@charset "utf-8";

/** 在线支付 -start **/
.viewport{
    /*max-width: 16rem;*/
    background-color:#f0f0f0;
}
.progressBar{
    background-color:#fff;
    padding:0.6rem 0;
    margin:0 auto;
    font-size: 0.6rem;
    color:#999;
    border-top:1px #dcdcdc solid;
    border-bottom:1px #dcdcdc solid;
}
.prgbar-img{
    text-align: center;
}
.prgbar-txt{
    text-align: center;
    margin-top:0.6rem;
}
.prgtxt-box{
    padding-left:1.25rem;
    color:#3fc0ae;
    display: inline-block;
}
.prgtxt-box:first-child{
    padding-left:0;
}
.prgtxt-box01{
    padding-left:1.25rem;
    color:#999;
    display: inline-block;
}
.prgbar{
    width:1.25rem;
    height:1.25rem;
    vertical-align: middle;
}
.prgline01{
    width:2.6rem;
    height:0.05rem;
    background: url("../images/prgline-after.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prgline02{
    width:2.55rem;
    height:0.05rem;
    background: url("../images/prgline-before.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prgtips{
    background-color:#fafafa;
    padding:0.4rem 0;
    border-bottom:1px #dcdcdc solid;
}
.prg-price{
    font-size: 0.95rem;
    color:#ffa200;
    text-align: center;
}
.prg-val{
    color:#999;
    font-size: 0.6rem;
    text-align: center;
    margin-top:0.2rem;
}
.prg-space, .prg-space01{
    height:0.45rem;
    background-color:#e6e5e3;
    border-bottom: 1px #dcdcdc solid;
}
.prg-space01{
    height:0.7rem;
}
.prg-order{
    padding:0.75rem 0.5rem;
    font-size: 0.6rem;
    color:#666;
    background-color:#fff;
    border-bottom: 1px #dcdcdc solid;
}
.prg-left{
    float: left;
    display: inline-block;
}
.prg-right{
    float:right;
    display : inline-block;
}
.prg-til{
    font-size: 0.75rem;
    line-height:1.2rem;
    color:#333;
    background-color:#fff;
    padding:0.6rem 0.5rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-grid{
    background-color:#fff;
    font-size: 0.6rem;
    padding:0 0.5rem;
    text-align: center;
    border-bottom: 1px #dcdcdc solid;
}
.prgblock-a{
    padding:0.65rem 0;
    color:#999;
    border-right:1px #dcdcdc solid;
}
.prgblock-b{
    padding:0.45rem 0;
}
.rmb{
    font-size: 0.5rem;
    padding-left:0.375rem;
    color:#ff4359;
}
.prg-cash{
    color:#ff4359;
    font-size: 0.9rem;
}
.prg-pay{
    background-color:#fff;
}
.prg-paytil{
    font-size: 0.75rem;
    padding:0.65rem 0.5rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-payType{
    padding:0 0.5rem;
}
.prg-payOp{
    padding:0.5rem 0.3rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-payOp:last-child{
    border-bottom: none;
}
.prg-payOp > label{
    margin-top:0.325rem;
    float: right;
    display: inline-block;
}
.prg-payImg{
    width:1.75rem;
    height:1.75rem;
    vertical-align: middle;
}
.prg-payName{
    padding-left:1rem;
    font-size: 0.75rem;
}
.pay-check{
    width:1.1rem;
    height:1.1rem;
    background:url("../images/circle.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
input[type="radio"]:checked + .pay-check{
    width:1.1rem;
    height:1.1rem;
    background:url("../images/circled.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.goPay{
    text-align: center;
}
.pay-link{
    width:100%;
    height: 2.45rem;
    line-height: 2.45rem;
    background-color: #ffa200;
    display: inline-block;
    text-align: center;
    color:#fff !important;
    font-size: 0.85rem;
}
.pay-link:active{
    background-color:#dc8e06;
}
/** end **/

/** 扫码支付 -start **/
.QRCode{
    margin-top:1.35rem;
    text-align: center;
}
.QRCode-img{
    width:8.525rem;
    height:8.525rem;
}
.QRCode-box{
    margin-top:0.5rem;
    margin-bottom: 2.75rem;
    text-align: center;
}
.QRCode-block{
    display: inline-block;
    text-align: left;
}
.QRCode-tip{
    font-size: 0.6rem;
    color:#ffa200;
}
.QRCode-guide{
    margin-top:1.35rem;
    margin-bottom: 0.7rem;
    font-size: 0.8rem;
    color:#3fc0ae;
}
.QRCode-txt{
    font-size: 0.65rem;
    line-height:0.85rem;
    color:#666;
}
.QR-href{
    padding:0 0.5rem;
}
.QR-link{
    font-weight: normal !important;
    text-align: center;
    font-size: 0.85rem;
    color:#fff !important;
    background-color:#3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    padding:0.575rem 0;
}
.QR-link:active{
    background-color: #1a9d9c;
}
/** end **/

/** 支付成功 -start **/
.payoff-content{
    padding:0 0.5rem;
    background-color:#fafafa;
}
.payoff-detail{
    margin-top:2rem;
    margin-bottom: 1.3rem;
    text-align: center;
}
.payoff-img{
    width:4rem;
    height:4rem;
}
.payoff-tip{
    margin-top:0.75rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color:#333;
}
.payoff-pri{
    font-size: 1.3rem;
    color:#ff6d1d;
}
.payoff-tab{
    border-top:1px #d1ebea dashed;
    font-size: 0.75rem;
    margin-bottom: 3.8rem;
}
.payoff-row{
    padding-top:0.45rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
}
.payoff-left{
    float: left;
    color:#999;
}
.payoff-right{
    float: right;
    color:#333;
}
.payoff-link{
    font-weight: normal !important;
    text-align: center;
    font-size: 0.8rem;
    color:#fff !important;
    background-color:#3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    padding:0.575rem 0;
}
.payoff-link01{
    font-weight: normal !important;
    text-align: center;
    font-size: 0.8rem;
    color:#3fc0ae !important;
    border:1px #3fc0ae solid;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    padding:0.575rem 0;
    margin:0.8rem 0;
}
.payoff-link:active{
    background-color:#1a9d9c;
}
.payoff-link01:active{
    background-color:#f7f7f7;
}
/** end **/

/** 支付失败 -start **/
.payFail-detail{
    margin-top:3.4rem;
    margin-bottom: 3.85rem;
    text-align: center;
}
.payFail-img{
    width:3.55rem;
    height:3.7rem;
    margin-bottom: 0.45rem;
}
.payFail-txt{
    font-size: 0.9rem;
    color:#333;
    margin-bottom: 2.3rem;
}
.payFail-tip{
    font-size: 0.75rem;
    color:#666;
    margin-bottom: 0.85rem;
}
.tip-num{
    color:#3fc0ae;
    padding-left:0.4rem;
}
/** end **/

/** 预订订单 **/
.head-img{
    width:3rem;
    height:1.2rem;
    vertical-align: baseline;
    margin-top:0.5rem;
}
.order-til{
    font-size: 0.75rem;
    line-height:1.2rem;
    color:#333;
    background-color:#fff;
    padding:0.6rem 0.5rem;
    margin:0.45rem 0;
    border-top:1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.warn-info{
    height:1.75rem;
    margin-bottom: 0.5rem;
    background-color:#c2ecf3;
    padding:0.5rem;
    text-align: center;
}
.warn-info a{
    font-size: 0.6rem;
    line-height:0.75rem;
    color:#3fc0ae !important;
    vertical-align: top;
}
.btn-close{
    width:0.75rem;
    height:0.75rem;
    display: inline-block;
    vertical-align: middle;
    float: right;
    background:url("../../mstatic/images/btn-close.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.tkt-trip{
    padding:0.5rem 0;
    font-size: 0.6rem;
    line-height:1rem;
    border-top: 1px #d5efee dashed;
}
.tkt-trip-til{
    color:#11b9b7;
}
.tkt-trip-txt{
    color:#999;
}
.order-row{
    font-size:14px;
    color:#333;
    background-color:#fff;
    padding:0 0.75rem;
    border-top: 1px #dcdcdc solid;
    /*border-bottom: 1px #dcdcdc solid;*/
}
.order-list{
    padding:0 0.5rem;
    margin-bottom: 0.45rem;
    background-color:#fff;
    border-bottom: 1px #dcdcdc solid;
}
.order-list-til{
    font-size: 0.75rem;
    line-height:1.6rem;
    color:#11b9b7;
    background-color:#fff;
    padding:0.4rem 0;
    border-bottom: 1px #d5efee dashed;
}
.order-list-left{
    float: left;
}
.order-list-right{
    float: right;
}
.order-lab01{
    background-color:#0fd730;
    margin-left:0.4rem;
    padding:0.1rem 0.4rem;
    font-size: 0.5rem;
    color:#fff;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
.order-lab02{
    background-color:#11b9b7;
    margin-left:0.4rem;
    padding:0.1rem 0.4rem;
    font-size: 0.5rem;
    color:#fff;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
/*.order-lab03{
    background-color:#3fc0ae;
    margin-bottom: 0.6rem;
    padding:0.25rem 0.5rem;
    font-size: 0.6rem;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}*/
/*.order-lab04{
    background-color:#ff9805;
    margin-bottom: 0.7rem;
    padding:0.25rem 0.5rem;
    font-size: 0.6rem;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}*/
.order-list-box{
    border-bottom: 1px #d5efee solid;
}
.order-list-box:last-child{
    border-bottom: 0;
}
.order-list-box .ui-grid-b{
    padding:0.5rem 0;
}
.order-box-left{
    text-align: right;
    font-size: 0.75rem;
    color:#11b9b7;
}
.plane-start, .plane-stop{
    width:100%;
    font-size: 1.2rem;
    line-height:1.8rem;
    color:#484848;
    font-weight: bold;
    position: relative;
    font-family: Arial;
}
.plane-stop em{
    position: absolute;
    top:-0.5rem;
    right:0.3rem;
    color: #FE7800;
    font-size: 0.6rem;
}
.plane-add{
    font-size: 0.6rem;
    color:#666;
}
.plane-num{
    font-size: 0.5rem;
    line-height:1rem;
    color:#999;
}
.order-box-center{
    text-align: center;
}
.plane-time{
    font-size: 0.5rem;
    line-height:1.15rem;
    color:#11b9b7;
    vertical-align: middle;
}
.plane{
    width:0.725rem;
    height:0.725rem;
    margin-bottom: 0.5rem;
}
.order-box-right{
    font-size: 0.75rem;
    color:#11b9b7;
}
.order-hotel-box{
    padding:0 0.75rem;
    background-color:#fff;
    border-bottom:1px solid #dcdcdc;
}

.order-hotel-til{
    font-size:12px;
    color:#666;
    padding:0.6rem 0;
}
.order-hotel-grid{
    border-bottom: 1px #ebebeb solid;
}
.noborder{
    border-bottom:0;
    border-top:0;
}
.order-hotel-box .ui-grid-b .order-hotel-left{
    width:8%;
}
.order-hotel-box .ui-grid-b .order-hotel-center{
    width:62%;
}
.order-hotel-box .ui-grid-b .order-hotel-right{
    width:30%;
    padding-top:0.2rem;
    padding-bottom: 0.4rem;
    padding-right:1rem;
    font-size:12px;
    text-align: right;
}
.class-hotel-time{
    font-size:12px;
    color:#666;
    vertical-align: middle;
    padding-top:0.4rem;
    padding-bottom: 0.25rem;
}
.class-hotel-time01{
    font-size:12px;
    color:#666;
    vertical-align: middle;
    padding-top:0.25rem;
}
.order-hotel-txt{
    color:#333;
    line-height:1rem;
}
.hotel-num{
    color:#3fc0ae;
}
.order-hotel-bed{
    background-color:#fff;
    /*padding:0.2rem 0.5rem;*/
    color:#666;
    /*margin-bottom: 0.45rem;*/
    /*border-bottom: 1px #dcdcdc solid;*/
    padding: 0.5rem 0;
}
.order-hotel-bedTil{
    width:30%;
    font-size:14px;
    line-height:1rem;
    display:inline-block;
    vertical-align: top;
    padding-top: 0.2rem;
}
.order-hotel-op{
    font-size:12px;
    /*padding-left:0.5rem;*/
    /*padding-bottom: 0.6rem;*/
    display: inline-block;
    vertical-align: middle;
}
.order-hotel-op .hotel-tip {
    line-height: 16px;
    max-width: 9.5rem;
    color: #3fc0ae;
}
.order-hotel-name{
    line-height:1rem;
}
.order-hotel-op > label{
    vertical-align: middle;
    margin-left:0;
    margin-right:0.4rem;
}
.order-hotel-op > label:last-child{
    margin-left:1rem;
}
.order-traveler-til{
    font-size:14px;
    background-color:#fff;
    color:#333;
    padding:0 0.75rem;
    border-top: 1px #dcdcdc solid;
    /*border-bottom: 1px #dcdcdc solid;*/
    margin-top:0.45rem;
}
.order-traveler-right{
    font-size:12px;
    line-height:0.8rem;
    color:#11b9b7;
    margin-top: -1px;
}
.notice{
    width:0.75rem;
    height:0.75rem;
    background:url("../../mstatic/images/notice.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: top;
    margin-right:0.25rem !important;
}
.order-traveler-box{
    padding:0 0.75rem;
    margin-bottom: 0.45rem;
    background-color:#fff;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px #dcdcdc solid;
}
.order-traveler-box > .ui-grid-b{
    padding:0.5rem 0;
    border-bottom: 1px #dcdcdc solid;
    font-size:14px;
}
.order-traveler-box > .ui-grid-b > .ui-block-a{
    width:30%;
}
.order-traveler-box > .ui-grid-b > .ui-block-c{
width:20%;
text-align: right;
margin-top:0.25rem;
}
.order-traveler-box > .ui-grid-a > .ui-block-a{
width:30%;
}
.order-traveler-box > .ui-grid-a > .ui-block-b{
width:70%;
padding-right:1rem;
}
.order-traveler-box > .ui-grid-b > .ui-block-b{
    width:45%;
}
label span{
    font-size:14px!important;
}
label input[type="radio"]{
    width:0.6rem;
    height:0.6rem;
}
label input[type="radio"]:checked{
    width:0.6rem;
    height:0.6rem;
}
.traveler-row{
    padding:0.5rem 0;
    border-bottom: 1px #dcdcdc solid;
    font-size:14px;
}
.traveler-row01{
    padding:0.5rem 0;
    border-bottom: 1px #dcdcdc solid;
    font-size:14px;
}
.traveler-shortrow{
    border-bottom: 1px #dcdcdc solid;
}
.traveler-row:last-child{
    border-bottom: none;
}
.traveler-til{
    display: inline-block;
    color:#666;
    line-height:1.3rem;
}
.traveler-val, .submit-dlg-val{
    width: 100%;
    height:1.3rem;
    line-height:1.3rem;
    font-size:14px;
    color:#333;
    display: inline-block;
    overflow: hidden;
}
.traveler-val > label{
    vertical-align: bottom;
    margin-left:0;
    margin-right:0.4rem;
}
.traveler-val > label:last-child{
    margin-left:1.9rem;
}
.traveler-icon{
    text-align: right;
    /*padding-right:0.5rem;*/
}
.travel-lab,
.contactor-lab{
    font-size:14px;
    text-align: center;
    padding:0.2rem 0.2rem;
    color:#3fc0ae !important;
    border:1px solid #3fc0ae;
    vertical-align: middle;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    margin-right:1px;
    display:inline-block;
}
.travel-lab:active,
.contactor-lab:active{
    background-color:#38aa9a;
    color:#fff!important;
}
.travel-arrow{
    width:0.4rem;
    height:0.625rem;
    background:url("../../mstatic/images/u_lr.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.order-mark-til{
    font-size: 14px;
    color:#333;
    padding:0.6rem 0;
    border-bottom: 1px #dcdcdc solid;
}
.order-mark{
    padding:0 0.75rem;
    margin-bottom: 0.45rem;
    background-color:#fff;
    border-top: 1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.mark-textEara{
    width:100%;
    font-size:14px;
    padding:0.4rem;
    margin-bottom: 0.65rem;
    min-height:4.9rem;
    border:1px #dcdcdc solid;
    -webkit-border-radius: 0.0125rem;
    -moz-border-radius: 0.0125rem;
    border-radius: 0.125rem;
    resize: none;
    -webkit-appearance: none;
}
.order-coupon{
    font-size:14px;
    background-color:#fff;
    padding:0.6rem 0.75rem;
    border-top: 1px #dcdcdc solid;
    border-bottom: 1px #dcdcdc solid;
}
.order-coupon-left{
    color:#666;
}
.order-coupon-right{
    text-align: right;
    color:#e46c14;
}
.arr-btm{
    width:0.625rem;
    height:0.4rem;
    background:url("../../mstatic/images/arr-bottom.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-left:0.35rem !important;
    vertical-align: middle;
}
.arr-up{
    width:0.75rem;
    height:0.75rem;
    background:url("../../mstatic/images/arr-up.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-left:0.35rem !important;
    vertical-align: middle;
}
.arr-down{
    width:0.75rem;
    height:0.75rem;
    vertical-align: middle;
    display: inline-block;
    margin-left:0.35rem !important;
    background: #fff url("../../mstatic/images/arr-down.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.agreement{
    padding:0.8rem 0.75rem;
    font-size:12px;
    color:#666;
    margin-bottom: 2.2rem;
    vertical-align: middle;
}
.agr-dialog{
    font-size:13px;
    color:#666;
    line-height:0.8rem;
}
.agr-dialog-content{
    padding:0.5rem;
    height:8rem;
    overflow: scroll;
}
.agr-dialog-foot{
    text-align: center;
    padding:0.5rem 1.5rem;
}
.agr-dialog-foot .btn-com{
    width:4.5rem;
    height:1.5rem;
    text-align: center;
    font-size:14px;
    line-height: 1.5rem;
    color:#fff !important;
    display: inline-block;
    font-weight: normal !important;
    text-decoration: none;
    -webkit-border-radius: 0.0125rem;
    -moz-border-radius: 0.0125rem;
    border-radius: 0.125rem;
}
.agr-dialog-foot .btn-confirm{
    background-color:#11b9b7;
    margin-right:0.5rem;
}
.agr-dialog-foot .btn-confirm:active{
    background-color: #1a9d9c;
}
.btn-cancel{
    background-color:#d4d4d4;
}
.agreement > label{
    vertical-align: middle;
    margin-left:0;
    margin-right:0.2rem;
}
.agr-txt{
    color:#3fc0ae !important;
    line-height:1.3rem;
    vertical-align: middle;
}
.agr-txt:active{
    background-color: #e1e1e1;
}
.order-sub{
    position: fixed;
    z-index: 5;
    bottom: -0.2rem;
    left: 0;
    right: 0;
    font-size:12px;
    background-color:#fff;
}
.order-sub .ui-grid-b .ui-block-a{
    width:42%;
    color:#999;
    padding-left:0.5rem;
    overflow: hidden;
    line-height:2.2rem;
}
.order-sub .ui-grid-b .ui-block-a p{
    white-space: nowrap;
}
.order-sub .ui-grid-b .ui-block-b{
    width:28%;
    color:#666;
    line-height: 2.2rem;
    text-align: center;
}
.order-sub .ui-grid-b .ui-block-c{
    width:30%;
}
.sub-link{
    width:100%;
    display: inline-block;
    background-color: #3fc0ae;
    color:#fff !important;
    font-size:14px;
    line-height:2.2rem;
    text-align: center;
    font-weight: normal !important;
}
.sub-link:active{
    background-color: #dc8e06;
}
.sub-disable{
    width:100%;
    display: inline-block;
    background-color: #e7e7e7;
    color:#666 !important;
    font-size: 14px;
    line-height:2.2rem;
    text-align: center;
    font-weight: normal !important;
}
.price-icon{
    font-size:12px;
    color:#e46c14;
    display:inline-block;
    vertical-align: middle;
}
.price-num{
    font-size: 18px;
}
.order-detail{
    line-height:1.2rem;
    background-color: #fff;
}
.order-detail-til{
    font-size:14px;
    color:#333;
}
.order-detail-cnt{
    padding:0.5rem;
    font-size:12px;
    color:#666;
    border-bottom: 1px #ccc solid;
}
.order-detail-cnt .ui-grid-b .ui-block-a{
    width:30%;
}
.order-detail-cnt .ui-grid-b .ui-block-b{
    width:40%;
    text-align: center;
}
.order-detail-cnt .ui-grid-b .ui-block-c{
    width:30%;
    text-align: right;
    color:#e46c14;
}
.rmb-size{
    font-size: 10px;
}
.order-foot{
    font-size:12px;
    background-color:#fff;
}
.order-foot .ui-grid-b .ui-block-a{
    width:40%;
    color:#999;
    padding-left:0.5rem;
    overflow: hidden;
}
.order-foot .ui-grid-b .ui-block-a p{
    line-height:1.1rem;
    white-space: nowrap;
}
.order-foot .ui-grid-b .ui-block-b{
    width:30%;
    color:#666;
    line-height: 2.5rem;
    text-align: center;
}
.order-foot .ui-grid-b .ui-block-c{
    width:30%;
}
.block-link{
    width:100%;
    display: inline-block;
    color:#666 !important;
    font-weight: normal !important;
}
.block-link:active{
    background-color:#f7f7f7;
}
// .submit-dlg{
//     width:12.5rem;
//     padding:0.5rem;
//     line-height:1.2rem;
//     background-color: #fff;
// }
// .submit-dlg .input-box{
//     position: relative;
// }
// .submit-dlg .ui-grid-a{
//     padding:0.4rem 0;
//     border-bottom: 1px #ccc solid;
// }
// .submit-dlg .ui-grid-a:last-child{
//     border-bottom: 0;
// }
// .submit-dlg .ui-grid-a .ui-block-a{
//     width:15%;
//     text-align: center;
// }
// .submit-dlg .ui-grid-a .ui-block-b{
//     width:85%;
// }
// .verify-block{
//     padding-top:0.3rem;
//     padding-bottom: 0.3rem;
//     padding-left:0.5rem;
//     border-bottom: 1px #ccc solid;
// }
// .input-txt{
//     width:4.5rem;
//     margin-right:0.2rem;
//     padding-top:0.2rem;
//     font-size:14px;
//     color:#333;
//     vertical-align: middle;
// }
// .btn-vld{
//     display: inline-block;
//     background-color:#fff;
//     float: right;
//     color:#11b9b7 !important;
//     font-weight: normal !important;
//     padding:0.2rem 0.3rem;
//     font-size:14px;
//     border:1px #11b9b7 solid;
//     -webkit-border-radius: 0.125rem;
//     -moz-border-radius: 0.125rem;
//     border-radius: 0.125rem;
//     text-decoration: none;
// }
// .btn-vld:active{
//     background-color:#f7f7f7;
// }
// .person-icon {
//     display: inline-block;
//     width: 0.85rem;
//     height: 0.975rem;
//     background: url(../images/telicon.png) no-repeat;
//     -webkit-background-size: 100%;
//     background-size: 100%;
//     vertical-align: middle;
// }
// .lock-icon {
//     display: inline-block;
//     width: 0.85rem;
//     height: 0.95rem;
//     background: url(../images/passwordicon.png) no-repeat;
//     -webkit-background-size: 100%;
//     background-size: 100%;
//     vertical-align: middle;
// }
// .dlg-foot{
//     margin-top: 0.8rem;
//     text-align: center;
// }
// .submit-dlg-confirm{
//     width:8rem;
//     height:1.8rem;
//     text-align: center;
//     font-size: 14px;
//     line-height: 1.8rem;
//     color:#fff !important;
//     display: inline-block;
//     font-weight: normal !important;
//     text-decoration: none;
//     -webkit-border-radius: 0.0125rem;
//     -moz-border-radius: 0.0125rem;
//     border-radius: 0.125rem;
//     background-color:#ffa200;
// }
// .submit-dlg-confirm:active{
//     background-color:#dc8e06;
// }
.regist-dlg-common{
    width:5.5rem;
    height:1.8rem;
    text-align: center;
    font-size:12px;
    line-height: 1.8rem;
    color:#fff !important;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal !important;
    text-decoration: none;
    -webkit-border-radius: 0.0125rem;
    -moz-border-radius: 0.0125rem;
    border-radius: 0.125rem;
}
.regist-dlg-confirm{
    background-color:#ffa200;
}
.regist-dlg-confirm:active{
    background-color:#dc8e06;
}
.regist-dlg-back{
    background-color:#11B9B7;
}
.regist-dlg-back:active{
    background-color:#0c9c9a;
}
.commonModule {
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.375rem;
    font-size:10px;
}
.borderBottomE2e2e2, .commonModule, .commonModule .commonTitleH2 {
    border-bottom: 1px solid #e2e2e2;
}
.borderTopE2e2e2, .commonModule, .commonBottomStyle .commonBottomTitle {
    border-top: 1px solid #e2e2e2;
}
.commonModule .commonTitleH2 {
    font-size:14px;
    padding: 0.25rem 0 0.5rem;
}
.color111, .commonModule .titleH2, .commonModule .commonTitleH2, .commonBottomStyle .commonBottomTitle, .dayNumber .days, .timePlaceContent .timeFonts {
    color: #111;
}
 .haveIcon .planeIcon, .order-row .hotelIcon ,.needsIcon{
    width: 0.75rem;
    height: 0.75rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-right: 0.25rem;
}
.haveIcon .planeIcon {
    background-position: 0 0;
}
.airInfoContent {
    margin: 0.5rem 0.625rem 0.875rem 1.125rem;
    position: relative;
}
 .haveIcon .planeIcon, .order-row .hotelIcon,.needsIcon, .airInfoContent .commonLabelStyle,
.airInfoContent .blueBg, .airInfoContent .orangeBg, .totalTimeContent .dottedIcon, .totalTimeContent .dashLine {
    display: inline-block;
}
.airInfoContent .commonLabelStyle, .airInfoContent .blueBg, .airInfoContent .orangeBg {
    font-size:10px;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    width: 0.75rem;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -1.125rem;
    top: 0;
}
.order-lab03,.order-lab04{
    font-size:0.45rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    width: 0.75rem;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    color: #fff;
    display: inline-block;
}
.airInfoContent .blueBg ,.order-lab03{
    background-color: #11b9b7;
}
.dayNumber {
    margin-bottom: 0.375rem;
}
.dayNumber .days {
    font-size:13px;
}
.airInfoContent .airPFonts {
    font-size:10px;
    line-height:0.8rem;
    margin: 0.375rem 0;
}
.timePlaceContent {
    position: relative;
}
.timePlaceLeft {
    float: left;
    width: 40%;
}
.color11b9b7, .lightSpotList .blueTitles, .timePlaceContent .placeBlueFonts {
    font-size:12px;
    color: #11b9b7;
}
.timePlaceContent .timeFonts {
    font-size:17px;
    margin: 0.25rem 0;
    position: relative;
}
.totalTimeContent {
    margin-left: -3rem;
    position: absolute;
    left: 50%;
    top: 30%;
}
.totalTimeContent .dottedIcon {
    width: 0.3rem;
    height: 0.3rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -196px 0;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-top: 0.075rem;
}
.totalTimeContent .dottedIcon.leftDotted {
    margin-right: -0.25rem;
}
.totalTimeContent .dashLine {
    width: 1.5rem;
    height: 1px;
    border-top: 1px dashed #bbbbbb;
}
.totalTimeContent .totalTimeFonts {
    margin: 0 0.175rem;
    color:#a1a1a1;
    font-size:10px;
}
.totalTimeContent .dottedIcon.rightDotted {
    margin-left: -0.25rem;
}
.timePlaceRight {
    float: right;
    width: 40%;
    text-align: right;
}
.airInfoContent .orangeBg ,.order-lab04{
    background-color: #ff9416;
}
.timePlaceContent .timeFonts .addDayName {
    font-size:8px;
    color: #ff9416;
    position: absolute;
    top: 0;
    right: -1.2rem;
   /* transform: scale(0.8);*/
}
.order-row .hotelIcon{
    background-position:-20px 0;
    margin-top:-2px;
}
.needsIcon{
    background-position: -115px 0;
}
.travelerIcon,.contactIcon,.counponIcon{
    width:0.75rem;
    height:0.75rem;
    display:inline-block;
    background:url("../../mstatic/images/telicon.png") no-repeat center center;
    background-size:0.7rem 0.7rem;
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-top:-3px;
}
.contactIcon{
    background:url("../../mstatic/images/contactIcon.png") no-repeat center center;
    background-size:0.7rem 0.7rem;
}
.counponIcon{
    background:url("../../mstatic/images/counpon.png") no-repeat center center;
    background-size:0.7rem 0.7rem;
}
.marginb1rem{
    margin-bottom:1rem;
}
.airFonts{
    color:#565656;
}
.bordertop{
    border-top: 1px #dcdcdc solid;
}
.borderB{
    padding:0.6rem 0;
    border-bottom:1px solid #dcdcdc ;
    overflow:hidden;
}
.startTime{
    font-size:14px;
    color:#565656;
    display:inline-block;
    line-height:1.2rem;
}
.startTime span{
    color:#000;
    font-weight:bold;
}
.peopleNum{
    float:right;
    line-height:1.2rem;
}
.peopleNum em{
    color:#000;
    font-weight:bold;
    display: inline-block;
    margin:0 0.25rem 0 0.6rem;
    font-size:14px;
}
.noborderTop{
    border-top:0;
}
.travelTime{
    float:right;
    font-size:13px;
    color:#11b9b7;
}
.duringStop{
    margin:0.25rem 0;
    color:#11b9b7;
}
/** end **/