@charset "utf-8";

/** 在线支付 -start **/
.viewport{
    max-width: 16rem;
    background-color:#e6e5e3;
}
.headerBar {
    height: 2.25rem;
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 2.25rem;
    line-height:2.25rem;
    text-align: center;
    border-bottom:1px solid #3fc0ae;
    background: #fff;
}
.header .back{
    width: 1.625rem;
    display: inline-block;
    float: left;
}
.header .back:active {
    background-color: #f0f0f0;
    height: 99.9%;
}
.header .back-arrow {
    width:0.375rem;
    height:0.625rem;
    background:url(../images/arrowL.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.25rem;
}
.header .back-border {
    display: inline-block;
    height: 0.875rem;
    border-right:1px solid #3fc0ae;
    float: right;
    margin-top: 0.675rem;
}
.header .title {
    display: inline-block;
    position: absolute;
    left: 2rem;
    right: 2rem;
    color:#3fc0ae;
    font-size:0.75rem;
}
.header .acut-menu{
    margin-right:0.5rem;
    display: inline-block;
    float: right;
}
.acut-box{
    margin-right:1rem;
}
.acut-img{
    width:1.075rem;
    height:1.075rem;
    vertical-align: middle;
}
.menu-img{
    width:1.1rem;
    height:0.825rem;
}
.progressBar{
    background-color:#fff;
    padding:0.6rem 0;
    margin:0 auto;
    font-size: 0.6rem;
    color:#999;
    border-bottom:1px #dcdcdc solid;
}
.prgbar-img{
    text-align: center;
}
.prgbar-txt{
    margin-top:0.6rem;
}
.prgtxt-box{
    padding-left:1.25rem;
    color:#3fc0ae;
    display: inline-block;
}
.prgtxt-box01{
    padding-left:1.25rem;
    color:#999;
    display: inline-block;
}
.prgbar{
    width:1.25rem;
    height:1.25rem;
    vertical-align: middle;
}
.prgline01{
    width:2.6rem;
    height:0.05rem;
    background: url("../images/prgline-after.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prgline02{
    width:2.55rem;
    height:0.05rem;
    background: url("../images/prgline-before.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}
.prgtips{
    background-color:#fafafa;
    padding:0.4rem 0;
    border-bottom:1px #dcdcdc solid;
}
.prg-price{
    font-size: 0.95rem;
    color:#ffa200;
    text-align: center;
}
.prg-val{
    color:#999;
    font-size: 0.6rem;
    text-align: center;
    margin-top:0.2rem;
}
.prg-space, .prg-space01{
    height:0.45rem;
    background-color:#e6e5e3;
    border-bottom: 1px #dcdcdc solid;
}
.prg-space01{
    height:0.7rem;
}
.prg-order{
    padding:0.75rem 0.5rem;
    font-size: 0.6rem;
    color:#666;
    background-color:#fff;
    border-bottom: 1px #dcdcdc solid;
}
.prg-left{
    float: left;
    display: inline-block;
}
.prg-right{
    float:right;
    display : inline-block;
}
.prg-til{
    font-size: 0.75rem;
    color:#333;
    background-color:#fff;
    padding:0.6rem 0.5rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-grid{
    background-color:#fff;
    font-size: 0.6rem;
    padding:0 0.5rem;
    text-align: center;
    border-bottom: 1px #dcdcdc solid;
}
.prgblock-a{
    padding:0.65rem 0;
    color:#999;
    border-right:1px #dcdcdc solid;
}
.prgblock-b{
    padding:0.45rem 0;
}
.rmb{
    font-size: 0.5rem;
    padding-left:0.375rem;
    color:#ff4359;
}
.prg-cash{
    color:#ff4359;
    font-size: 0.9rem;
}
.prg-pay{
    background-color:#fff;
}
.prg-paytil{
    font-size: 0.75rem;
    padding:0.65rem 0.5rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-payType{
    padding:0 0.5rem;
}
.prg-payOp{
    padding:0.7rem 0.3rem;
    border-bottom: 1px #dcdcdc solid;
}
.prg-payOp:last-child{
    border-bottom: none;
}
.prg-payOp > label{
    margin-top:0.325rem;
    float: right;
    display: inline-block;
}
.prg-payImg{
    width:1.75rem;
    height:1.75rem;
    vertical-align: middle;
}
.prg-payName{
    padding-left:1rem;
    font-size: 0.75rem;
}
.pay-check{
    width:1.1rem;
    height:1.1rem;
    background:url("../images/circle.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
input[type="radio"]:checked + .pay-check{
    width:1.1rem;
    height:1.1rem;
    background:url("../images/circled.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
}
.goPay{
    padding:0.8rem 0;
    text-align: center;
    background-color: #ffa200;
}
.pay-link{
    color:#fff !important;
    font-size: 0.85rem;
}
/** end **/