body {
  font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif !important; }

html, body {
  width: 100%;
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a:focus {
  outline: none; }

.fontSize, body {
  font-size: 12px; }

.colorA1a1a1, .totalTimeContent .totalTimeFonts, .starsContent .checkInFonts, .hotelClassify .a1a1a1Fonts, .facilityList .facilityFonts, .bottomFixed .leftPrice .lineTrough {
  color: #a1a1a1; }

.color565656, body, ul, li, .timePlaceContent .airFonts, .hotelTitleH3, .hotelDetails p {
  color: #565656; }

.color111, .commonModule .titleH2, .commonModule .commonTitleH2, .commonBottomStyle .commonBottomTitle, .dayNumber .days, .timePlaceContent .timeFonts, .hotelBottomPackUp, .costDetails .costTitle, .packUpFold strong, .judge-top .pop-name {
  color: #111; }

.color11b9b7, .lightSpotList .blueTitles, .timePlaceContent .placeBlueFonts {
  color: #11b9b7; }

.borderTopE2e2e2, .commonModule, .commonBottomStyle .commonBottomTitle, .hotelClassify, .hotelBottomPackUp, .packUpFold, .bottomFixed {
  border-top: 1px solid #e2e2e2; }

.borderBottomE2e2e2, .commonModule, .commonModule .commonTitleH2, .dottedHotelList {
  border-bottom: 1px solid #e2e2e2; }

.displayInlineBlock, .labelNames .commonStyle, .labelNames .lightBlueBg, .labelNames .purpleBg, .labelNames .orangeBg, .labelNames .deepBlueBg, .lightSpotList .commonIconStyle, .lightSpotList .planeIcon, .lightSpotList .hotelIcon, .lightSpotList .experienceIcon, .lightSpotList .serveIcon, .commonBottomStyle .journeyIcon, .haveIcon .commonIconStyle, .haveIcon .planeIcon, .haveIcon .hotelIcon, .haveIcon .costIcon, .haveIcon .noticeIcon, .haveIcon .evaluateIcon, .airInfoContent .commonLabelStyle, .airInfoContent .blueBg, .airInfoContent .orangeBg, .totalTimeContent .dottedIcon, .totalTimeContent .dashLine, .yellow-star, .arrowCommonStyle, .rightArrow, .bottomArrow, .upRightArrow, .hotelBottomPackUp .upArrow, .packUpFold .commonIconStyle, .packUpFold .downArrow, .packUpFold .upArrow {
  display: inline-block; }

/*  product  Start  */
.main {
  margin-bottom: 2.375rem; }

.commonModule {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0.375rem; }
  .commonModule.noBorderTop {
    border-top: none; }
  .commonModule .titleH2 {
    font-size: 14px;
    line-height: 0.95rem; }
  .commonModule .commonTitleH2 {
    font-size: 14px;
    padding: 0.25rem 0 0.5rem; }

.productBanner img {
  width: 100%;
  height: 8.5rem; }

.labelNames {
  margin: 0.375rem 0 0.5rem; }
  .labelNames .commonStyle, .labelNames .lightBlueBg, .labelNames .purpleBg, .labelNames .orangeBg, .labelNames .deepBlueBg {
    font-size: 9px;
    padding: 0.2rem 0.25rem;
    min-width: 1.375rem;
    color: #fff;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    text-align: center; }
  .labelNames .lightBlueBg {
    background-color: #44bcda; }
  .labelNames .purpleBg {
    background-color: #df7eb0; }
  .labelNames .orangeBg {
    background-color: #ea9e26; }
  .labelNames .deepBlueBg {
    background-color: #11b9b7; }

.lightSpotList {
  margin: 0.375rem 0; }
  .lightSpotList li {
    position: relative;
    padding-left: 1.125rem;
    margin-bottom: 0.375rem; }
    .lightSpotList li p {
      line-height: 0.85rem; }
  .lightSpotList .blueTitles {
    font-size: 13px;
    margin: 0.5rem 0 0.375rem; }
  .lightSpotList .commonIconStyle, .lightSpotList .planeIcon, .lightSpotList .hotelIcon, .lightSpotList .experienceIcon, .lightSpotList .serveIcon, .lightSpotList .haveIcon .costIcon, .haveIcon .lightSpotList .costIcon, .lightSpotList .haveIcon .noticeIcon, .haveIcon .lightSpotList .noticeIcon, .lightSpotList .haveIcon .evaluateIcon, .haveIcon .lightSpotList .evaluateIcon, .lightSpotList .packUpFold .downArrow, .packUpFold .lightSpotList .downArrow, .lightSpotList .packUpFold .upArrow, .packUpFold .lightSpotList .upArrow {
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    position: absolute;
    left: 0.2rem;
    top: 0; }
  .lightSpotList .planeIcon {
    width: 0.75rem;
    height: 0.75rem;
    background-position: 0 0; }
  .lightSpotList .hotelIcon {
    width: 0.75rem;
    height: 0.75rem;
    background-position: -20px 0; }
  .lightSpotList .experienceIcon {
    width: 0.75rem;
    height: 0.85rem;
    background-position: -40px 0; }
  .lightSpotList .serveIcon {
    width: 0.75rem;
    height: 0.8rem;
    background-position: -60px 0; }

.commonBottomStyle {
  position: relative; }
  .commonBottomStyle .journeyIcon {
    width: 0.6rem;
    height: 0.675rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -80px 0;
    background-size: 320px 170px;
    position: absolute;
    left: 0;
    top: 0.625rem; }
  .commonBottomStyle .commonBottomTitle {
    font-size: 13px;
    padding: 0.625rem 0 0.25rem 1.625rem;
    margin: 0 -0.75rem; }

.haveIcon .commonIconStyle, .haveIcon .lightSpotList .experienceIcon, .lightSpotList .haveIcon .experienceIcon, .haveIcon .lightSpotList .serveIcon, .lightSpotList .haveIcon .serveIcon, .haveIcon .planeIcon, .haveIcon .hotelIcon, .haveIcon .costIcon, .haveIcon .noticeIcon, .haveIcon .evaluateIcon, .haveIcon .packUpFold .downArrow, .packUpFold .haveIcon .downArrow, .haveIcon .packUpFold .upArrow, .packUpFold .haveIcon .upArrow {
  width: 0.75rem;
  height: 0.75rem;
  background: url("../../mstatic/images/smallIcon.png") no-repeat;
  background-size: 320px 170px;
  vertical-align: middle;
  margin-right: 0.25rem; }
.haveIcon .planeIcon {
  background-position: 0 0; }
.haveIcon .hotelIcon {
  background-position: -20px 0; }
.haveIcon .costIcon {
  width: 0.7rem;
  height: 0.7rem;
  background-position: -96px 0; }
.haveIcon .noticeIcon {
  width: 0.575rem;
  height: 0.7rem;
  background-position: -115px 0; }
.haveIcon .evaluateIcon {
  width: 0.725rem;
  height: 0.7rem;
  background-position: -132px 0; }

.airInfoContent {
  margin: 0.5rem 0.625rem 0.875rem 1.125rem;
  position: relative; }
  .airInfoContent .commonLabelStyle, .airInfoContent .blueBg, .airInfoContent .orangeBg {
    font-size: 9px;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    width: 0.75rem;
    height: 0.75rem;
    line-height: 0.85rem;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -1.125rem;
    top: 0; }
  .airInfoContent .blueBg {
    background-color: #11b9b7; }
  .airInfoContent .orangeBg {
    background-color: #ff9416; }
  .airInfoContent .airPFonts {
    font-size: 10px;
    line-height: 17px;
    margin: 0.375rem 0; }

.dayNumber {
  margin-bottom: 0.375rem; }
  .dayNumber .days {
    font-size: 13px; }

.timePlaceContent {
  position: relative; }
  .timePlaceContent .timeFonts {
    font-size: 17px;
    margin: 0.25rem 0;
    position: relative; }
    .timePlaceContent .timeFonts .addDayName {
      font-size: 9px;
      -webkit-transform: scale(0.9);
      color: #ff9416;
      position: absolute;
      top: -0.075rem;
      right: -1.125rem; }

.timePlaceLeft {
  float: left;
  width: 40%; }

.timePlaceRight {
  float: right;
  width: 40%;
  text-align: right; }

.totalTimeContent {
  margin-left: -3rem;
  position: absolute;
  left: 50%;
  top: 30%; }
  .totalTimeContent .dottedIcon {
    width: 0.3rem;
    height: 0.3rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -196px 0;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-top: 0.075rem; }
    .totalTimeContent .dottedIcon.leftDotted {
      margin-right: -0.25rem; }
    .totalTimeContent .dottedIcon.rightDotted {
      margin-left: -0.25rem; }
  .totalTimeContent .dashLine {
    width: 1.5rem;
    height: 1px;
    border-top: 1px dashed #bbbbbb; }
  .totalTimeContent .totalTimeFonts {
    margin: 0 0.175rem; }

.hotelTitleH3 {
  margin: 0.5rem 0 0.25rem; }

.starsContent {
  margin: 0.25rem 0 0.5rem; }
  .starsContent .checkInFonts {
    font-size: 10px;
    margin-left: 0.5rem; }

.yellow-star {
  width: 10px;
  height: 10px;
  background: url("../../mstatic/images/smallIcon.png") no-repeat -208px 0;
  -webkit-background-size: 320px 170px;
  background-size: 320px 170px;
  margin-right: 0.25rem;
  vertical-align: middle; }

.hotelProductImg img {
  width: 100%;
  height: 7.925rem; }

.hotelDetails {
  margin: 0.375rem 0; }
  .hotelDetails p {
    line-height: 0.85rem; }

.hotelClassify {
  margin: 0.375rem 0;
  padding-top: 0.5rem; }
  .hotelClassify li {
    margin-bottom: 0.25rem;
    line-height: 0.85rem; }
  .hotelClassify .a1a1a1Fonts {
    float: left; }
  .hotelClassify .classifyContent {
    float: left;
    width: 80%; }

.hotelNotice .commonBottomTitle {
  padding: 0.625rem 0 0.25rem 0.75rem; }

.arrowCommonStyle, .rightArrow, .bottomArrow, .upRightArrow, .hotelBottomPackUp .upArrow {
  background: url("../../mstatic/images/smallIcon.png") no-repeat;
  background-size: 320px 170px;
  position: absolute; }

.rightArrow {
  width: 0.3rem;
  height: 0.525rem;
  background-position: -152px 0;
  right: 0.25rem;
  top: 0.75rem; }

.bottomArrow {
  width: 0.55rem;
  height: 0.3rem;
  background-position: -164px 0;
  right: 0.25rem;
  top: 0.75rem; }

.upRightArrow {
  width: 0.55rem;
  height: 0.3rem;
  background-position: -180px 0;
  right: 0.25rem;
  top: 0.75rem; }

.dottedHotelList {
  margin: 0.375rem 0;
  padding-bottom: 0.375rem; }
  .dottedHotelList li {
    line-height: 0.85rem;
    margin: 0 0 0.125rem 0.625rem;
    list-style-type: disc; }

.facilityList {
  margin-bottom: 0.5rem; }
  .facilityList li {
    line-height: 0.85rem;
    margin-bottom: 0.2rem; }

.hotelBottomPackUp {
  font-size: 13px;
  text-align: center;
  padding: 0.5rem 0;
  position: relative; }
  .hotelBottomPackUp .upArrow {
    width: 0.55rem;
    height: 0.3rem;
    background-position: -180px 0;
    left: 40%;
    top: 0.7rem; }

.seeDefault {
  display: none; }

.costDetails {
  margin: 0.5rem 0; }
  .costDetails .costTitle {
    font-size: 13px;
    margin-bottom: 0.375rem; }
  .costDetails .costList li {
    margin: 0.125rem 0 0.125rem 0.75rem;
    line-height: 0.85rem;
    list-style-type: decimal; }
  .costDetails .costList.maxHeight {
    height: 145px;
    overflow: hidden; }

.packUpFold {
  text-align: center;
  padding: 0.75rem 0 0.5rem;
  margin: 0.75rem -0.75rem 0; }
  .packUpFold strong {
    font-size: 13px; }
  .packUpFold .commonIconStyle, .packUpFold .lightSpotList .planeIcon, .lightSpotList .packUpFold .planeIcon, .packUpFold .lightSpotList .hotelIcon, .lightSpotList .packUpFold .hotelIcon, .packUpFold .lightSpotList .experienceIcon, .lightSpotList .packUpFold .experienceIcon, .packUpFold .lightSpotList .serveIcon, .lightSpotList .packUpFold .serveIcon, .packUpFold .haveIcon .planeIcon, .haveIcon .packUpFold .planeIcon, .packUpFold .haveIcon .hotelIcon, .haveIcon .packUpFold .hotelIcon, .packUpFold .haveIcon .costIcon, .haveIcon .packUpFold .costIcon, .packUpFold .haveIcon .noticeIcon, .haveIcon .packUpFold .noticeIcon, .packUpFold .haveIcon .evaluateIcon, .haveIcon .packUpFold .evaluateIcon, .packUpFold .downArrow, .packUpFold .upArrow {
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-right: 0.25rem; }
  .packUpFold .downArrow {
    width: 0.55rem;
    height: 0.3rem;
    background-position: -164px 0; }
  .packUpFold .upArrow {
    width: 0.55rem;
    height: 0.3rem;
    background-position: -180px 0; }

.judge-cnt {
  margin: 0.75rem 0 0.75rem 2rem;
  font-size: 11px;
  line-height: 1rem;
  color: #616161;
  word-wrap: break-word;
  word-break: break-all; }

.judge-top {
  position: relative; }
  .judge-top .pop-img {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: -2rem;
    top: 0; }
  .judge-top .judge-date {
    color: #9f9f9f; }

.evaluateDetail {
  height: 270px;
  overflow: hidden; }

.bottomFixed {
  font-size: 13px;
  height: 2rem;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff; }
  .bottomFixed .bottomCommonFixed, .bottomFixed .leftPrice, .bottomFixed .rightBtn {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center; }
  .bottomFixed .leftPrice strong {
    font-weight: bold;
    color: #e46c14; }
  .bottomFixed .leftPrice .priceFonts {
    margin: 0.3rem 0 0.2rem; }
  .bottomFixed .leftPrice .lineTrough {
    font-size: 11px;
    text-decoration: line-through; }
  .bottomFixed .rightBtn {
    line-height: 2rem;
    background-color: #3fc0ae;
    color: #fff; }
    .bottomFixed .rightBtn:focus {
      color: #fff; }

.ui-mobile a:active, .ui-mobile a:visited, .ui-mobile a:hover {
  color: #fff; }

.present-list ol,
.wuge-txt,
.travel-one .ui-block-b p,
.tips-content .tips-detail,
.nav-content pre,
.hotel-room .room-txt,
.inst-til p,
.navWrap-val,
.navWrap-val p,
.navWrap-val ol li span,
.judge-txt {
  font-family: Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei !important;
  font-size: 12px !important;
  line-height: 1.1rem !important; }

/*  product  End  */

/*# sourceMappingURL=product.css.map */
