body {
  font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif !important; }

html, body {
  width: 100%;
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a:focus {
  outline: none; }

.fontSize, body {
  font-size: 12px; }

.colorA1a1a1 {
  color: #a1a1a1; }

.color565656, body {
  color: #565656; }

.color111, .commonModule .titleH2, .commonModule .commonTitleH2, .commonBottomStyle .commonBottomTitle {
  color: #111; }

.color11b9b7, .lightSpotList .blueTitles {
  color: #11b9b7; }

.borderTopE2e2e2, .commonModule, .commonBottomStyle .commonBottomTitle {
  border-top: 1px solid #e2e2e2; }

.borderBottomE2e2e2, .commonModule, .commonModule .commonTitleH2 {
  border-bottom: 1px solid #e2e2e2; }

.displayInlineBlock, .labelNames .commonStyle, .labelNames .lightBlueBg, .labelNames .purpleBg, .labelNames .orangeBg, .labelNames .deepBlueBg, .lightSpotList .commonIconStyle, .lightSpotList .planeIcon, .lightSpotList .hotelIcon, .lightSpotList .experienceIcon, .lightSpotList .serveIcon, .commonBottomStyle .journeyIcon, .commonBottomStyle .rightArrow {
  display: inline-block; }

/*  jenny  Start  */
.commonModule {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0.375rem; }
  .commonModule.noBorderTop {
    border-top: none; }
  .commonModule .titleH2 {
    font-size: 14px;
    line-height: 0.95rem; }
  .commonModule .commonTitleH2 {
    font-size: 14px;
    padding: 0.25rem 0 0.5rem; }

.productBanner img {
  width: 100%;
  height: 8.5rem; }

.labelNames {
  margin: 0.375rem 0 0.5rem; }
  .labelNames .commonStyle, .labelNames .lightBlueBg, .labelNames .purpleBg, .labelNames .orangeBg, .labelNames .deepBlueBg {
    font-size: 9px;
    padding: 0.2rem 0.25rem;
    min-width: 1.375rem;
    color: #fff;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    text-align: center; }
  .labelNames .lightBlueBg {
    background-color: #44bcda; }
  .labelNames .purpleBg {
    background-color: #df7eb0; }
  .labelNames .orangeBg {
    background-color: #ea9e26; }
  .labelNames .deepBlueBg {
    background-color: #11b9b7; }

.lightSpotList {
  margin: 0.375rem 0; }
  .lightSpotList li {
    position: relative;
    padding-left: 1.125rem;
    margin-bottom: 0.375rem; }
    .lightSpotList li p {
      line-height: 0.75rem; }
  .lightSpotList .blueTitles {
    font-size: 13px;
    margin: 0.5rem 0 0.375rem; }
  .lightSpotList .commonIconStyle, .lightSpotList .planeIcon, .lightSpotList .hotelIcon, .lightSpotList .experienceIcon, .lightSpotList .serveIcon {
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    position: absolute;
    left: 0.2rem;
    top: 0; }
  .lightSpotList .planeIcon {
    width: 0.75rem;
    height: 0.75rem;
    background-position: 0 0; }
  .lightSpotList .hotelIcon {
    width: 0.75rem;
    height: 0.75rem;
    background-position: -20px 0; }
  .lightSpotList .experienceIcon {
    width: 0.75rem;
    height: 0.85rem;
    background-position: -40px 0; }
  .lightSpotList .serveIcon {
    width: 0.75rem;
    height: 0.8rem;
    background-position: -60px 0; }

.commonBottomStyle {
  position: relative; }
  .commonBottomStyle .journeyIcon {
    width: 0.6rem;
    height: 0.675rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -80px 0;
    background-size: 320px 170px;
    position: absolute;
    left: 0;
    top: 0.625rem; }
  .commonBottomStyle .commonBottomTitle {
    font-size: 13px;
    padding: 0.625rem 0 0.25rem 1.625rem;
    margin: 0 -0.75rem; }
  .commonBottomStyle .rightArrow {
    width: 0.3rem;
    height: 0.525rem;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -152px 0;
    background-size: 320px 170px;
    position: absolute;
    right: 0.25rem;
    top: 0.75rem; }

/*  jenny  End  */

/*# sourceMappingURL=product.css.map */
