@charset "utf-8";

/*  登录注册页面  */

.headerBar {
	height: 2.25rem;
}
.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 2.25rem;
	line-height:2.25rem;	
	text-align: center;
	border-bottom:1px solid #3fc0ae;
	background: #fff;
}
.header .back{
	width: 1.625rem;
	display: inline-block;
	float: left;
}
.header .back:active {
	background-color: #f0f0f0;
	height: 99.9%;
}
.header .back-arrow {
	width:0.375rem;
	height:0.625rem;
	background:url(../images/arrowL.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.25rem;
}
.header .back-border {
	display: inline-block;
	height: 0.875rem;
	border-right:1px solid #3fc0ae;
	float: right;
	margin-top: 0.675rem;
}
.header .title {
	display: inline-block;
	position: absolute;
	left: 2rem;
	right: 2rem;
	color:#3fc0ae;
	font-size:0.75rem;
}
.header .til{
	display: inline-block;
	position: absolute;
	left:2rem;
	right:2rem;
	color:#3fc0ae;
	font-size: 0.6rem;
}
.footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.04rem;
	line-height: 2.04rem;
	color:#fff;
	background: #ffa200;
	padding: 0;
	text-shadow: none;
	text-align: center;
	font-size:0.625rem;
}
.wrapper {
	z-index: 1;
	width: 100%;
	background: #f0f0f0;
	overflow: initial;
	margin-bottom: 0;
}
.mloginTab{
	width:100%;
	padding: 0.6rem 0.5rem;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0;
}
.mloginTab span {
	display: inline-block;
	width: 50%;
	float:left;
	margin:0;
	padding:0;
	height: 1.75rem;
	line-height: 1.75rem;
	text-align: center;
	font-size: 0.8rem;
	color: #3fc0ae;
}
.mloginTab .mregisterBtn {
	border-top: 1px solid #3fc0ae;
	border-bottom: 1px solid #3fc0ae;
	border-left: 1px solid #3fc0ae;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.mloginTab .mloginBtn {
	border-top: 1px solid #3fc0ae;
	border-bottom: 1px solid #3fc0ae;
	border-right: 1px solid #3fc0ae;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.mloginTab .mloginBtn.current,
.mloginTab .mregisterBtn.current{
	background: #3fc0ae;
	color:#fff;	
}
.registerFrame{
	display:block;
	position: relative;
	height: 100%;
}
.person-icon {
	display: inline-block;
	width: 0.85rem;
	height: 0.975rem;
	background: url(../images/telicon.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	vertical-align: middle;
}
.safe-icon {
	display: inline-block;
	width: 0.875rem;
	height: 1.1rem;
	background: url(../images/checkicon.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	vertical-align: middle;
}
.lock-icon {
	display: inline-block;
	width: 0.85rem;
	height: 0.95rem;
	background: url(../images/passwordicon.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	vertical-align: middle;
}
.cont-block li {
	padding: 0.5rem 0;
	border-bottom: 1px solid #dcdcdc;
	background-color: #fafafa;
}
.cont-block li.placeholder {
	height: 0.7rem;
	background-color: #f0f0f0;
}
.cont-block .bottom-btn {
	width: 100%;
	height: 2.45rem;
	line-height: 2.45rem;
	background-color: #ffa200;
	color: #fff;
	text-align: center;
	font-size: 0.85rem;
	padding: 0;
	border: none;
	position: absolute;
	bottom: 0;
	left: 0;
}
.cont-block .bottom-btn:active{
	background-color:#dc8e06;
}
.cont-block .person-icon {
	margin-top: 0.25rem;
	margin-left: 0.5rem;
}
.cont-block .safe-icon {
	margin-top: 0.2rem;
	margin-left: 0.5rem;
}
.cont-block .lock-icon {
	margin-top: 0.22rem;
	margin-left: 0.5rem;
}
.cont-block .input-box {
	position: relative;
}
.cont-block input[type="text"]{
	background: transparent;
	font-size: 0.75rem;
	padding-left: 0.7rem;
	width: 8rem;
}
.cont-block input[type="tel"],
.cont-block input[type="password"] {
	background: transparent;
	font-size: 0.75rem;
	padding-left: 0.7rem;
	width: 13rem;
}
.checkCodeBtn{
	width:6rem;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: center;
	padding:0 0.3rem;
	height:1.375rem;
	line-height: 1.375rem;
	border:1px solid #3fc0ae;
	border-radius:0.19rem;
	font-size:0.75rem;
	color:#3fc0ae;
	position:absolute;
	right:0.45rem;
}
.checkCodeBtn:active {
	background-color: #fff;
}
.loginFrame{
	display:none;
	height: 100%;
}
.loginFrame li.last {
	border-bottom: none;
	background-color: #f0f0f0;
	padding-top: 0.75rem;;
}
.remindPwd {
	font-size: 0.6rem!important;
	color: #666;
}
.remindPwd input {
	margin: 0 0.4rem;
}
.remindPwd input:focus{
	border: none;
	outline: none !important;
}
.remindPwd .cus_checkbox {	
	margin: -0.25rem 0.375rem 0 0.5rem!important;
}
.findPwd{
	margin-right: 0.875rem;
	font-size: 0.6rem!important;
}

/** 完善信息 -start **/
.pop-head{
    padding:1.45rem 0;
    text-align: center;
}
.pop-img{
    width:4.6rem;
    height:4.6rem;
	background:#eeeeee url("../../mstatic/images/acut-img.png") no-repeat center;
	font-size: 0.6rem;
	line-height:4rem;
	color:#999;
	text-align: center;
	border:1px #e1e1e1 solid;
	-webkit-border-radius: 2.3rem;
	-moz-border-radius: 2.3rem;
	border-radius: 2.3rem;
	display: inline-block;
}
.wrap-row{
    padding:0 0.8rem;
    margin-bottom: 1.2rem;
}
.row-img{
    width:0.85rem;
    height:0.975rem;
    display: inline-block;
    vertical-align: middle;
}
.row-box{
    width:12rem;
    margin-left:0.7rem;
    padding:0.2rem 0;
    border-bottom: 1px #ccc solid;
    font-size: 0.75rem;
    color:#333;
    display: inline-block;
}
.row-box input{
	width:10rem;
    color:#333;
	overflow: hidden;
    display: inline-block;
    background-color:#f0f0f0;
}
.row-box input :-moz-placeholder,
.row-box input ::-webkit-input-placeholder{
    color: #ccc;
}
.row-box input:focus{
    outline: none;
}
.row-icon{
    width:0.775rem;
    height:0.975rem;
    padding-top:0.2rem;
    display: none;
    float: right;
}
.row-mail{
    width:0.875rem;
    height:0.675rem;
    display: inline-block;
    vertical-align: middle;
}
.row-cnt{
    width:1rem;
    height:0.975rem;
    display: inline-block;
    vertical-align: middle;
}
.wrap-look{
    text-align: center;
    font-size: 0.6rem;
}
.wrap-look a{
    color:#3fc0ae !important;
    vertical-align: middle;
}
.icon-qus{
    width:0.6rem;
    margin-right:0.125rem;
    vertical-align: middle;
}
.wrap-link{
    padding:0 0.5rem;
    margin-bottom: 1.5rem;
}
.link-fin{
    font-weight: normal !important;
    font-size: 0.85rem;
    text-align: center;
    color:#fff !important;
    background-color:#3fc0ae;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
    display: block;
    margin-top:0.85rem;
    padding:0.575rem 0;
}
.link-fin:active{
	background-color: #1a9d9c;
}
.link-ign{
    font-size: 0.85rem;
    font-weight:normal !important;
    text-align: center;
    color:#3fc0ae !important;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    border:1px #3fc0ae solid;
    text-decoration: none;
    display: block;
    margin-top:0.85rem;
    padding:0.575rem 0;
}
.link-ign:active{
	background-color:#f7f7f7;
}
/** end **/

/** 找回密码 -start **/
.wrap-box{
    padding-top:1.85rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.type-one{
    border:3px #11b9b7 solid;
    background-color:#fff;
}
.img-box{
    width:2.2rem;
    height:2.1rem;
    padding-top:0.3rem;
    display: inline-block;
    text-align: center;
    border-right:1px #11b9b7 solid;
}
.type-img{
    width:0.65rem;
    height:0.95rem;

}
.type-txt{
    padding-left:2.4rem;
    font-size: 0.75rem;
    color:#11b9b7 !important;
}
.type-two{
    height:2.25rem;
    margin-top:0.7rem;
    border:3px #ccc solid;
    background-color:#fff;
}
.type-one:active, .type-two:active{
	background-color:#f7f7f7;
}
.mail-box{
    width:2.2rem;
    height:2.1rem;
    padding-top:0.25rem;
    display: inline-block;
    text-align: center;
    border-right:1px #ccc solid;
}
.type-mail{
    width:0.875rem;
    height:0.625rem;
}
/** end **/

/** 手机找回密码 -start **/
.wrap-space{
    margin-top:0.7rem;
    border-bottom:1px #dcdcdc solid;
}
.main-row{
    padding:0.8rem 0.5rem;
    border-bottom: 1px #f0f0f0 solid;
    background-color:#fff;
}
.row-til{
    width:4rem;
    font-size: 0.8rem;
    color:#333;
    display: inline-block;
    vertical-align: middle;
}
.row-val{
    width:9.25rem;
    font-size: 0.75rem;
    color:#666;
    display: inline-block;
}
.row-close{
    width:0.775rem;
    height:0.775rem;
    display: inline-block;
}
.main-row01{
    padding:0.525rem 0.5rem;
    border-bottom: 1px #f0f0f0 solid;
    background-color:#fff;
}
.row-input{
    width:4rem;
	font-size: 0.75rem;
	color:#666;
}
.row-val:focus, .row-input:focus, .reset-val:focus{
    outline: none;
}
.row-vld{
	width:6rem;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-align: center;
    font-size: 0.75rem;
    color:#11b9b7 !important;
    font-weight: normal !important;
    padding:0.35rem;
    border:1px #11b9b7 solid;
    display: inline-block;
    float: right;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    text-decoration: none;
}
.row-vld:active{
	background-color:#f7f7f7;
}
.main-next{
    padding:0 0.5rem;
    margin-top:1.55rem;
}

/** 重置密码 -start **/
.reset-row{
	padding:0.8rem 0.5rem;
	border-bottom: 1px #dcdcdc solid;
	background-color:#fff;
}
.reset-val{
	width:13.25rem;
	font-size: 0.6rem;
	color:#666;
	display: inline-block;
}
.reset-val :-moz-placeholder,
.reset-val ::-webkit-input-placeholder{
	color: #ccc;
}
.type01{
	width:1.275rem;
	height:1.275rem;
	background-color: #2ad847;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.275rem;
	font-size: 0.55rem;
	color:#fff;
	-webkit-border-radius: 0.075rem;
	-moz-border-radius: 0.075rem;
	border-radius: 0.075rem;
}
.type02{
	width:1.275rem;
	height:1.275rem;
	background-color: #ff6c00;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.275rem;
	font-size: 0.55rem;
	color:#fff;
	-webkit-border-radius: 0.075rem;
	-moz-border-radius: 0.075rem;
	border-radius: 0.075rem;
}
.type03{
	width:1.275rem;
	height:1.275rem;
	background-color: #ffa200;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.275rem;
	font-size: 0.55rem;
	color:#fff;
	-webkit-border-radius: 0.075rem;
	-moz-border-radius: 0.075rem;
	border-radius: 0.075rem;
}
/** end **/