@charset "utf-8";
body {
	height: 100%;
	font-size:20px;
}
html,body,img,span{
	margin:0;
	padding:0;
}
.swiper-container{
	width:100%;
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.slide1{
	background:url(../images/wave.png) left bottom repeat-x #7dc7db;
	background-size:6rem 0.65rem;
	position:relative;
}
.slide1-container1{
	position:relative;
}
.hot-balloon{
	width:100%;
}
@-webkit-keyframes airplanemove {
	0%{-webkit-transform:translate3d(-0.1rem,0,0);}
	100%{-webkit-transform:translate3d(0.1rem,0,0);}
}
@-khtml-keyframes airplanemove {
	0%{-khtml-transform:translate3d(-0.1rem,0,0);}
	100%{-khtml-transform:translate3d(0.1rem,0,0);}
}
@-o-keyframes airplanemove{
	0%{-o-transform:translate3d(-0.1rem,0,0);}
	100%{-o-transform:translate3d(0.1rem,0,0);}
}
@-moz-keyframes airplanemove {
	0%{-moz-transform:translate3d(-0.1rem,0,0);}
	100%{-moz-transform:translate3d(0.1rem,0,0);}
}
@keyframes airplanemove{
	0%{transform:translate3d(-0.1rem,0,0);}
	100%{transform:translate3d(0.1rem,0,0);}
}
.airplaneBox{
	width:5.325rem;
	height:1.125rem;
	position:absolute;
	right:1.875%;
	bottom:9.124%;
	overflow:hidden;
	-webkit-animation:airplanemove 1s linear 0s infinite alternate;
	   -moz-animation:airplanemove 1s linear 0s infinite alternate;
	    -ms-animation:airplanemove 1s linear 0s infinite alternate;
	     -o-animation:airplanemove 1s linear 0s infinite alternate;
	 -khtml-animation:airplanemove 1s linear 0s infinite alternate;
	        animation:airplanemove 1s linear 0s infinite alternate;
}
.airplane{
	width:5.325rem;
	height:1.125rem;
	position:absolute;
}
@-webkit-keyframes cloudmove {
	0%{-webkit-transform:translate3d(0,-0.1rem,0);}
	100%{-webkit-transform:translate3d(0,0.1rem,0);}
}
@-khtml-keyframes airplanemove {
	0%{-khtml-transform:translate3d(0,-0.1rem,0);}
	100%{-khtml-transform:translate3d(0,0.1rem,0);}
}
@-o-keyframes cloudmove{
	0%{-o-transform:translate3d(0,-0.1rem,0);}
	100%{-o-transform:translate3d(0,0.1rem,0);}
}
@-moz-keyframes cloudmove {
	0%{-moz-transform:translate3d(0,-0.1rem,0);}
	100%{-moz-transform:translate3d(0,0.1rem,0);}
}
@keyframes cloudmove{
	0%{transform:translate3d(0,-0.1rem,0);}
	100%{transform:translate3d(0,0.1rem,0);}
}
.cloudRT{
	width:1.925rem;
	height:1.125rem;
	position: absolute;
	right:9.375%;
	bottom:27%;
	-webkit-animation:cloudmove 1.2s ease 0s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0s infinite alternate;
	        animation:cloudmove 1.2s ease 0s infinite alternate;  
}
.cloudB{
	width:2.925rem;
	height:1.725rem;
	position: absolute;
	bottom:-1.5rem;
	right:30%;
	-webkit-animation:cloudmove 1.2s ease 0s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0s infinite alternate;
	        animation:cloudmove 1.2s ease 0s infinite alternate;  
}
.cloudLC{
	width:2.55rem;
	height:1.475rem;
	position: absolute;
	bottom:2.55%;
	left:7.8%;
	-webkit-animation:cloudmove 1.2s ease 1s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 1s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 1s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 1s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 1s infinite alternate;
	        animation:cloudmove 1.2s ease 1s infinite alternate;  
}
.slide1-container2{
	width:13.55rem;
	height:7.8rem;
	margin:0 auto;
	position:absolute;
	left:50%;
	margin-left:-6.775rem;
	/* bottom:12%; */
	top: 65%;
}
.slide1dialog{
	width:13.1rem;
	height:2.375rem;
	position:absolute;
	top:0;
}
.slide1dialog2{
	width:13.55rem;
	height:1.95rem;
	position: absolute;
	bottom:2rem;
}
.slide1dialog3{
	width:13.55rem;
	height:1.925rem;
	position: absolute;
	bottom: 0.5rem
}
.dolphin{
	width:2.3rem;
	height:1.1rem;
	position: absolute;
	bottom:3%;
	left:50%;
	margin-left:-1.15rem
}
.slide2{
	background:url(../images/globle.png) center center no-repeat #c6e8f3;
	background-size:100%;
}
.slide2-container1,.slide3-container1,.slide4-container1,.slide5-container1,.slide6-container1{
	position:absolute;
	width:14rem;
	height:1.2rem;
	font-size:1.2rem;
	text-align:center;
	font-family:"Microsoft YaHei";
	line-height:1.2rem;
	color:#fff;
	top:12%;
	left:50%;
	margin-left:-7rem;
}
.title2{
	width:100%;
	height:100%;
}
.slide2-container2{
	width:15rem;
	height:16rem;
	position:absolute;
	top:29%;
	left:50%;
	margin-left:-7.5rem;
}
.slide2dialog1{
	width:4.75rem;
	height:2.925rem;
	position:absolute;
	top:0;
	left:0.375rem;
}
.slide2dialog2{
	width:7.375rem;
	height:2.875rem;
	position:absolute;
	top:0;
	right:0.25rem;
}
.person-net{
	width:12.65rem;
	height:6.05rem;
	position:absolute;
	top:29%;
	/* top:30.94%; */
	left:8.6%;
}
.person-net1{
	width:1.875rem;
	height:6.05rem;
	position:absolute;
	left:0;
	top:0;
}
.person-net2{
	width:10.75rem;
	height:6.05rem;
	position:absolute;
	right:0;
	top:0;
}
.pig-box{
	width:4.1rem;
	height:7.2rem;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-2.05rem;
}
.pig{
	width:3.1rem;
	height:2.4rem;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-1.55rem;
	z-index:2;
}
.purse1{
	width:1.375rem;
	height:1.8rem;
	position:absolute;
	left:50%;
	margin-left:-0.686rem;
	bottom:47.57%;
	z-index:2;
}
.purse2{
	width:1.175rem;
	height:1.5rem;
	position:absolute;
	left:15.24%;
	bottom:56.94%;
}
.purse3{
	width:1.375rem;
	height:1.8rem;
	position:absolute;
	right:10%;
	bottom:53.47%;
}
.money1{
	width:1.45rem;
	height:1.275rem;
	position: absolute;
	left:0;
	bottom:38.9%;
}
.money2{
	width:1.7rem;
	height:1.4rem;
	position:absolute;
	left:50%;
	margin-left:-0.85rem;
	bottom:25.7%;
}
.money3{
	width:1.025rem;
	height:1.025rem;
	position:absolute;
	right:0;
	bottom:41.67%;
}
.star{
	width:1.8rem;
	height:1.375rem;
	position:absolute;
	left:50%;
	margin-left:-0.9rem;
	top:0;
	z-index:2;
}
.slide3{
	background: #6bc5c2;
}
.slide3-container2{
	width:9.5rem;
	height:6.45rem;
	position:absolute;
	left:7.8%;
	top:24.07%;
}
.slide3dialog1{
	width:9.5rem;
	height:2.375rem;
	position: absolute;
	top:0;
	left:0;
}
.slide3person1{
	width:3.65rem;
	height:3.65rem;
	position: absolute;
	bottom:0;
	left:20%;
}
.slide3-container3{
	width:10.95rem;
	height:7.45rem;
	position: absolute;
	left:20.3125%;
	top:50%;
}
.slide3-pc{
	width:7.9rem;
	height:5.675rem;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
}
.slide3-lineBox{
	width:0.65rem;
	height:0.65rem;
	position:absolute;
	left:5.375rem;
	bottom:2rem;
	overflow:hidden;
}
@-webkit-keyframes lineBoxchange {
	0%{width:0.65rem;height:0.65rem;}
	50%{width:3.5rem;height:0.65rem;}
	100%{width:3.5rem;height:4.5rem;}
}
@-khtml-keyframes lineBoxchange {
	0%{width:0.65rem;height:0.65rem;}
	50%{width:3.5rem;height:0.65rem;}
	100%{width:3.5rem;height:4.5rem;}
}
@-o-keyframes lineBoxchange{
	0%{width:0.65rem;height:0.65rem;}
	50%{width:3.5rem;height:0.65rem;}
	100%{width:3.5rem;height:4.5rem;}
}
@-moz-keyframes lineBoxchange {
	0%{width:0.65rem;height:0.65rem;}
	50%{width:3.5rem;height:0.65rem;}
	100%{width:3.5rem;height:4.5rem;}
}
@keyframes lineBoxchange{
	0%{width:0.65rem;height:0.65rem;}
	50%{width:3.5rem;height:0.65rem;}
	100%{width:3.5rem;height:4.5rem;}
}
.slide3-lineBox.active{
	-webkit-animation:lineBoxchange 1s ease 0s;
	   -moz-animation:lineBoxchange 1s ease 0s;
	    -ms-animation:lineBoxchange 1s ease 0s;
	     -o-animation:lineBoxchange 1s ease 0s;
	 -khtml-animation:lineBoxchange 1s ease 0s;
	        animation:lineBoxchange 1s ease 0s;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	    -ms-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	 -khtml-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.slide3-line{
	width:3.5rem;
	height:4.5rem;
	position:absolute;
	left:0;
	bottom:0;
}
.slide3dialog2{
	width:12.5rem;
	height:0.825rem;
	position: absolute;
	right: -1rem;
	top:0;
	font-size:0.6rem;
	color:#fff;
	font-family:"Microsoft YaHei";
}
.slide3-lamp{
	width:0.875rem;
	height:0.825rem;
	margin-right:0.25rem;
}
.slide3-container4{
	width:9.25rem;
	height:3.875rem;
	position: absolute;
	right:21.4%;
	bottom:3%;
}
.slide3dialog3{
	width:3.3rem;
	height:1.55rem;
	position: absolute;
	top:0;
	left:2rem;
}
.slide3person2{
	width:3.65rem;
	height:3.65rem;
	position: absolute;
	top: 0.225rem;
	right:0;
}
.slide4{
	background:#1762a0;
}
.slide4title2{
	width:13.25rem;
	height:0.75rem;
	margin-top:0.65rem;
}
.slide4-container2{
	width:12.5rem;
	height:9.45rem;
	position:absolute;
	/* top:28.11%; */
	top:30%;
	right:4.68%;
}
.slide4person1{
	/* width:11.05rem; */
	width:10.75rem;
	height:8.9rem;
	position: absolute;
	right:0.6rem;
	top:0;
}
.slide4-coupon{
	width:1.35rem;
	height:0.925rem;
	position: absolute;
	right:0.3rem;
	top:1.55rem;
}
.slide4-cloud1{
	width:2.675rem;
	height:1.2rem;
	position:absolute;
	left:0;
	bottom:0;
	-webkit-animation:cloudmove 1.2s ease 0s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0s infinite alternate;
	        animation:cloudmove 1.2s ease 0s infinite alternate;  
}
.slide4-cloud2{
	width:2.05rem;
	height:1.1rem;
	position: absolute;
	bottom:0;
	left:40%;
	-webkit-animation:cloudmove 1.2s ease 1s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 1s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 1s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 1s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 1s infinite alternate;
	        animation:cloudmove 1.2s ease 1s infinite alternate;  
}
.slide4-cloud3{
	width:1.375rem;
	height:0.75rem;
	position:absolute;
	right:0;
	bottom:2rem;
	-webkit-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	        animation:cloudmove 1.2s ease 0.5s infinite alternate;  
}
.slide4-container3{
	width:6.8rem;
	height:7.375rem;
	position:absolute;
	left:21.56%;
	bottom:12%;
}
.slide4-globle{
	width:6.8rem;
	height:7.375rem;
	position:absolute;
	left:0;
	top:0;
}
@-webkit-keyframes twitle {
	0%{opacity:1;}
	100%{opacity:0;}
}
@-khtml-keyframes twitle {
	0%{opacity:1;}
	100%{opacity:0;}
}
}
@-o-keyframes twitle {
	0%{opacity:1;}
	100%{opacity:0;}
}
@-moz-keyframes twitle {
	0%{opacity:1;}
	100%{opacity:0;}
}
@keyframes twitle {
	0%{opacity:1;}
	100%{opacity:0;}
}
.slide4-star1{
	width:8rem;
	height:7.65rem;
	position:absolute;
	left:-3.125rem;
	top:-2.675rem;
	-webkit-animation: twitle 0.5s linear 1.5s infinite alternate;
	   -moz-animation: twitle 0.5s linear 1.5s infinite alternate;
	    -ms-animation: twitle 0.5s linear 1.5s infinite alternate;
	     -o-animation: twitle 0.5s linear 1.5s infinite alternate;
	 -khtml-animation: twitle 0.5s linear 1.5s infinite alternate;
	        animation: twitle 0.5s linear 1.5s infinite alternate;
}
.slide4-star2{
	width:5.8rem;
	height:5.375rem;
	position:absolute;
	right:-5.6rem;
	top:0.85rem;
	-webkit-animation: twitle 0.5s linear 1s infinite alternate;
	   -moz-animation: twitle 0.5s linear 1s infinite alternate;
	    -ms-animation: twitle 0.5s linear 1s infinite alternate;
	     -o-animation: twitle 0.5s linear 1s infinite alternate;
	 -khtml-animation: twitle 0.5s linear 1s infinite alternate;
	        animation: twitle 0.5s linear 1s infinite alternate;
}
.slide4-star3{
	width:7.075rem;
	height:6.175rem;
	position:absolute;
	left:-1.35rem;
	bottom:-1.45rem;
	-webkit-animation: twitle 0.5s linear 0.5s infinite alternate;
	   -moz-animation: twitle 0.5s linear 0.5s infinite alternate;
	    -ms-animation: twitle 0.5s linear 0.5s infinite alternate;
	     -o-animation: twitle 0.5s linear 0.5s infinite alternate;
	 -khtml-animation: twitle 0.5s linear 0.5s infinite alternate;
	        animation: twitle 0.5s linear 0.5s infinite alternate;
}
.slide5{
	background:#e2b369;
}
.slide5title2{
	width:12.5rem;
	height:0.75rem;
	margin-top:0.65rem;
	margin-left:-0.1rem;
}
.slide5-container2{
	width:14.6rem;
	height:20.2rem;
	position:absolute;
	left: 50%;
  	margin-left: -7.3rem;
	/* top:30%; */
	top:28%;
}
.slide5-person1{
	width:8.5rem;
	height:12.35rem;
	position: absolute;
	left:2.35rem;
	bottom:0;
}
.slide5money1{
	width:0.8rem;
	height:0.625rem;
	position:absolute;
	left:4rem;
	bottom:11.5rem;
}
.slide5money2{
	width:1.575rem;
	height:1.625rem;
	position:absolute;
	left:1.9rem;
	bottom:9.05rem;
}
.slide5money3{
	width:1.7rem;
	height:2.1rem;
	position:absolute;
	left:2.35rem;
	bottom:3.65rem;
}
.slide5money4{
	width:2.15rem;
	height:1.825rem;
	position:absolute;
	right:2.875rem;
	bottom:4.95rem;
}
.slide5money5{
	width:0.8rem;
	height:0.625rem;
	position:absolute;
	right: 3.5rem;
	bottom:8.925rem;
}
.slide5goldcoin1{
	width:1.425rem;
	height:1.8rem;
	position:absolute;
	left:3rem;
	bottom:0.5rem;
}
.slide5goldcoin2{
	width:2.2rem;
	height:1.5rem;
	position:absolute;
	right:3.9rem;
	bottom:0;
}
.slide5goldcoin3{
	width:1.6rem;
	height:1.45rem;
	position:absolute;
	right:4.35rem;
	bottom:3.2rem;
}
.slide5-bubble{
	width:1.4rem;
	height:1.875rem;
	position:absolute;
	left:8.25rem;
	top:6.35rem;
}
.slide5-thinkimg{
	width:6.7rem;
	height:6.7rem;
	position: absolute;
	right:0;
	top:0;
}
.slide5-cloud1{
	width:3.65rem;
	height:1.125rem;
	position: absolute;
	left:1.9rem;
	top:0.375rem;
}
.slide5-cloud1.active{
	-webkit-animation:cloudmove 1.2s ease 1s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 1s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 1s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 1s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 1s infinite alternate;
	        animation:cloudmove 1.2s ease 1s infinite alternate;  
}
.slide5-cloud2{
	width:2.75rem;
	height:0.85rem;
	position: absolute;
	left:0;
	top:5rem;
}
.slide5-cloud2.active{
	-webkit-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	        animation:cloudmove 1.2s ease 0.5s infinite alternate;
}
.slide5-cloud3{
	width:2.575rem;
	height:0.8rem;
	position: absolute;
	left:5.875rem;
	top:3.8rem;
}
.slide5-cloud3.active{
	-webkit-animation:cloudmove 1.2s ease 0s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0s infinite alternate;
	        animation:cloudmove 1.2s ease 0s infinite alternate; 
}
.slide6{
	background:url(../images/slide6bg.png) no-repeat;
	background-size:100% 100%;
	font-family:"Microsoft YaHei";
}
.slide6-container1{
	color:#1b99cc;
}
.slide6-container2{
	width:13.9rem;
	height:14.5rem;
	position: absolute;
	/* top:10.5%; */
	top:12.5%;
	/* left:5.625%; */
	left: 50%;
  	margin-left: -6.95rem;
}
.slide6-container2 span{
	display:inline-block;
	font-size:0.7rem;
	text-align:center;
	line-height:1.2rem;
	width: 12.5rem;
	color:#37add5;
	position: absolute;
	top:6.125rem;
	left:50%;
	margin-left:-6rem;
}
.slide6-cloud1{
	width:2.15rem;
	height:0.675rem;
	position: absolute;
	left:0;
	top:5.35rem;
	-webkit-animation:cloudmove 1.2s ease 1s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 1s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 1s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 1s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 1s infinite alternate;
	        animation:cloudmove 1.2s ease 1s infinite alternate;  
}
.slide6-cloud2{
	width:2.675rem;
	height:0.875rem;
	position: absolute;
	right:3.5rem;
	top:4.15rem;
	-webkit-animation:cloudmove 1.2s ease 1.5s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 1.5s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 1.5s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 1.5s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 1.5s infinite alternate;
	        animation:cloudmove 1.2s ease 1.5s infinite alternate;  
}
.slide6-cloud3{
	width:1.45rem;
	height:0.5rem;
	position: absolute;
	right:0;
	top:6.7rem;
	-webkit-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	   -moz-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	    -ms-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	     -o-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	 -khtml-animation:cloudmove 1.2s ease 0.5s infinite alternate;
	        animation:cloudmove 1.2s ease 0.5s infinite alternate;  
}
@-webkit-keyframes wildgoose {
	from {-webkit-transform: scale(0.3,0.3);}
	to {-webkit-transform: scale(1,1);}
}
@-khtml-keyframes wildgoose {
	from {-khtml-transform: scale(0.3,0.3);}
	to {-khtml-transform: scale(1,1);}
}
@-o-keyframes wildgoose {
	from {-o-transform: scale(0.3,0.3);}
	to {-o-transform: scale(1,1);}
}
@-moz-keyframes wildgoose {
	from {-moz-transform: scale(0.3,0.3);}
	to {-moz-transform: scale(1,1);}
}
@keyframes wildgoose {
	from {transform: scale(0.3,0.3);}
	to {transform: scale(1,1);}
}
.slide6-wildgoose1{
	width:1.95rem;
	height:0.85rem;
	position: absolute;
	right:2.75rem;
	top:2.75rem;
	-webkit-transform:scale(0.3,0.3);
	-khtml-transform:scale(0.3,0.3);
	-o-transform:scale(0.3,0.3);
	-moz-transform:scale(0.3,0.3);
			transform:scale(0.3,0.3);
}
.slide6-wildgoose1.active{
	-webkit-animation: wildgoose 2s linear 0s;
	   -moz-animation: wildgoose 2s linear 0s;
	    -ms-animation: wildgoose 2s linear 0s;
	     -o-animation: wildgoose 2s linear 0s;
	 -khtml-animation: wildgoose 2s linear 0s;
	        animation: wildgoose 2s linear 0s;
	        -webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	    -ms-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	 -khtml-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.slide6-wildgoose2{
	width:1.275rem;
	height:0.325rem;
	position: absolute;
	right:0.25rem;
	top:0;
	-webkit-transform: scale(0.3,0.3);
	-khtml-transform: scale(0.3,0.3);
	-o-transform: scale(0.3,0.3);
	-moz-transform: scale(0.3,0.3);
			transform: scale(0.3,0.3);
}
.slide6-wildgoose2.active{
	-webkit-animation: wildgoose 2s linear 0.5s;
	   -moz-animation: wildgoose 2s linear 0.5s;
	    -ms-animation: wildgoose 2s linear 0.5s;
	     -o-animation: wildgoose 2s linear 0.5s;
	 -khtml-animation: wildgoose 2s linear 0.5s;
	        animation: wildgoose 2s linear 0.5s;
	        -webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	    -ms-animation-fill-mode:forwards;
	     -o-animation-fill-mode:forwards;
	 -khtml-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
}
.register{
	width:7.35rem;
	height:2rem;
	display:inline-block;
	background:#37add5;
	color:#fff;
	font-size:0.85rem;
	text-align:center;
	line-height:2rem;
	border-radius:0.25rem;
	position: absolute;
	left:50%;
	margin-left:-3.675rem;
	bottom:0;
	text-decoration:none;
}
.register:focus{
	outline:none;
	border:0;
}
