<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <link rel="stylesheet" type="text/css" href="../../mstatic/css/jqm/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="../../mstatic/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../../mstatic/css/jqm.reset.css">
    <link rel="stylesheet" type="text/css" href="../../mstatic/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../mstatic/css/book.css">
    <script type="text/javascript" src="../../mstatic/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="../../mstatic/js/jqm/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="../../mstatic/js/vendor/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="../../mstatic/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="../../mstatic/js/vendor/hammer.min.js"></script>
    <script type="text/javascript" src="../../mstatic/js/iscroll/iscroll.js"></script>
    <script type="text/javascript" src="../../mstatic/js/common.js"></script>
    <script type="text/javascript" src="../../mstatic/js/vendor/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../../mstatic/js/base/fastclick.js"></script>
    <title>选择日期及出行人数选择</title>

    <script type="text/javascript">
        $(function(){

            var root;
            var _w;
            var w;

            screenchange();

            window.addEventListener('orientationchange', function(event){
                /*旋转至竖屏*/
                if ( (window.orientation == 180 || window.orientation==0)&&(sessionStorage.s_fontsize==undefined)) {/*初始横屏加载切换至竖屏*/
                    _w = window.innerWidth <= window.screen.width ? window.innerWidth : window.screen.width;
                    w = _w >= 640 ? 640 : _w;

                    root.style.fontSize = (w / 320) * 20 + "px";
                    sessionStorage.s_fontsize = root.style.fontSize;
                }

                root.style.minHeight = window.innerHeight + "px";
            });

            function screenchange(){
                root = document.getElementsByTagName("html")[0];

                if(window.orientation==undefined){
                    _w = window.innerWidth <= window.screen.width ? window.innerWidth : window.screen.width;
                    w = _w >= 640 ? 640 : _w;

                    root.style.fontSize = (w / 320) * 20 + "px";
                }else{
                    if ( window.orientation == 180 || window.orientation==0 ) {  /*竖屏加载*/
                        _w = window.innerWidth <= window.screen.width ? window.innerWidth : window.screen.width;
                        w = _w >= 640 ? 640 : _w;

                        root.style.fontSize = (w / 320) * 20 + "px";
                        sessionStorage.s_fontsize = root.style.fontSize;
                    }

                    if( window.orientation == 90 || window.orientation == -90 ) {  /*横屏加载*/
                        if(sessionStorage.s_fontsize==undefined){   /*初始横屏加载*/
                            var w1 = window.innerHeight<= window.screen.height ? window.innerHeight : window.screen.height;
                            var w2 = w1 >= 640 ? 640 : w1;

                            root.style.fontSize = (w2 / 320) * 20 + "px";

                        }else{
                            root.style.fontSize = sessionStorage.s_fontsize;
                        }
                    }
                }
                root.style.minHeight = window.innerHeight + "px";
            }
        });
    </script>
</head>
<body>
    <div class="viewport" data-role="page">
        <div class="headerBar">
            <div class="header">
                <a href="javascript:;" class="back">
                    <i class="back-arrow"></i>
                    <em class="back-border"></em>
                </a>
                <span class="title">选择日期和出行人数</span>
            </div>
        </div>
        <section class="main-container">
            <div class="calendar-wrapper"></div>

            <!--  出行人数及套餐  -->
            <div class="trip-num-wrapper">
                <div class="head clearfix">
                    <div class="title fl">出行人数 <em>(余6)</em></div>
                    <div class="menu-select fr">
                        套餐<label class="switch-checkbox"><i></i></label>
                    </div>
                </div>
                <div class="trip-num-block">
                    <div class="passenger-type adult clearfix">
                        <div class="fl">
                            <span>成人</span><Br>
                            <span class="price">¥4999</span>
                        </div>
                        <div class="fr">
                            <div class="plus-minus-comp clearfix">
                                <span class="minus-mark">-</span>
                                <span class="result">2</span>
                                <span class="plus-mark">+</span>
                            </div>
                        </div>
                    </div>
                    <div class="passenger-type child clearfix">
                        <div class="fl">
                            <span>儿童<i>（2-12周岁）</i></span><Br>
                            <span class="price">¥3999</span>
                        </div>
                        <div class="fr">
                            <div class="plus-minus-comp clearfix">
                                <span class="minus-mark disabled">-</span>
                                <span class="result">0</span>
                                <span class="plus-mark">+</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-block" style="display: none;">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <div class="menu-info clearfix">
                                <label class="fl">
                                    <input type="radio" name="menu-type" value="0" data-role="none">
                                    <span class="menu-name">单身出行</span>
                                </label>
                                <span class="menu-price fr">¥4999</span>
                            </div>
                            <div class="menu-short-desc">适合单身汪的旅游</div>
                        </li>
                        <li class="menu-item">
                            <div class="menu-info clearfix disabled">
                                <label class="fl disabled">
                                    <input type="radio" name="menu-type" value="0" data-role="none">
                                    <span class="menu-name">单身出行</span>
                                </label>
                                <span class="menu-price fr">¥4999</span>
                            </div>
                            <div class="menu-short-desc">适合单身汪的旅游</div>
                        </li>
                        <li class="menu-item">
                            <div class="menu-info clearfix">
                                <label class="fl">
                                    <input type="radio" name="menu-type" value="0" checked data-role="none">
                                    <span class="menu-name">情侣出游，浪漫海景大床</span>
                                </label>
                                <span class="menu-price fr">¥7999</span>
                            </div>
                            <div class="menu-short-desc" style="display: block;">情侣出游情侣出游情侣出游情侣出游</div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--  下一步  -->
            <div class="total-price-block clearfix">
                <span class="total-price fl">
                    总价<em>¥16999</em>
                </span>
                <span class="next fl">下一步</span>
            </div>
        </section>
    </div>

    <!--价格说明弹窗-->
    <div class="inst-dialog" id="inst-dialog" data-role="popup" data-position-to="window" data-theme="a" data-overlay-theme="b" data-history="false">
        <div class="inst-dialog-content">
            <p>1、本起价是按2位成人出行所核算的单人价格。</p>
            <p>2、您最终提交的价格会根据您所选择的出发日期、出行人数以及所选附加服务的不同而有所差别。</p>
        </div>
        <div class="inst-dialog-foot">
            <a class="btn-com btn-close" data-role="none" href="javascript:void(0);" data-rel="back">关 闭</a>
        </div>
    </div>

    <!--  日历模板 -->
    <script id="calendarTemplate" type="text/template">
        <div class="calendar-header">
            <nav class="calendar-nav clearfix">
                <%
                var dateY = data.defaultShowDate[0];
                var dateM = data.defaultShowDate[1];
                var dateD = data.defaultShowDate[2];

                var curDate = new Date([dateY, dateM, 1]);
                var dataList = data.data;
                var hasPrev = false;
                var hasNext = false;

                _.each(_.pluck(dataList, 'date'), function(ele, index){
                    if (new Date(ele) < curDate) {
                        hasPrev = true;
                    } else if (new Date(ele) > curDate) {
                        hasNext = true;
                    }
                });
                %>
                <div class="tab-wrapper">
                    <ul class="tablist clearfix">
                        <% _.each(_.pluck(dataList, 'date'), function(ele, index){ %>
                        <li class="<%= (ele[0] == dateY && ele[1] == dateM) ? 'current' : '' %>"><%= ele[0] %>年<%= (ele[1] < 10) ? ('0'+ele[1]) : ele[1] %>月</li>
                        <% }); %>
                    </ul>
                </div>
                <div class="nav-btn">
                    <span class="prev <%= hasPrev ? '' : 'disabled' %>"></span>
                    <span class="next <%= hasNext ? '' : 'disabled' %>"></span>
                </div>
                <a href="#inst-dialog" data-rel="popup" data-role="none" class="price-tip"><i></i> 价格说明</a>
            </nav>
        </div>
        <div class="calendar">
            <ul class="calendar-title clearfix">
                <li>日</li>
                <li>一</li>
                <li>二</li>
                <li>三</li>
                <li>四</li>
                <li>五</li>
                <li>六</li>
            </ul>
            <ul class="calendar-body clearfix">
            <%_.each(dataList, function(item, index) {%>
                <%
                var monthWrapper = item;
                var month = item.date;
                var curMonthDate = new Date(month[0], month[1]-1, 1); // 当月1号
                var nextMonthDate = new Date(month[0], month[1], 1);    // 下月1号
                var curMonthDays = (nextMonthDate - curMonthDate)/(1000*60*60*24);  // 当月总天数
                var firstWeekDay = curMonthDate.getDay();  // 当前月1号是周几, 范围0-6
                var lastWeekDay = nextMonthDate.getDay() - 1 < 0 ? 6 : nextMonthDate.getDay() - 1;  // 计算当月最后一天是周几，填补日历最后的空格
                %>
                <li class="calendar-item <%= (index == 0) ? 'current' : '' %>">
                    <table class="calTable ct-<%=month[0]%>-<%=month[1]%>">
                        <tbody>
                            <tr>
                            <%
                                for (var i = 0; i < firstWeekDay; i++) {
                            %>
                                <td></td>
                            <% } %>
                            <%
                                var w1 = firstWeekDay == 0 ? 7 : firstWeekDay;
                                for (var currentDay = 1; currentDay <= curMonthDays; currentDay++) {
                                    if (currentDay % 7 == (7 - w1) && currentDay != curMonthDays) {
                            %>
                                <td><%= geneTdCont(item, currentDay) %></td>
                            </tr>
                            <tr>
                            <%
                                } else if (currentDay != curMonthDays) {
                            %>
                                <td><%= geneTdCont(item, currentDay) %></td>
                            <%
                                } else if (currentDay == curMonthDays) {
                            %>
                                <td><%= geneTdCont(item, currentDay) %></td>
                            <%  for (var t = 0; t < 6 - lastWeekDay; t++) { %>
                                <td></td>
                            <%  }}} %>
                            </tr>
                        </tbody>
                    </table>
                </li>
            <%});%>
            </ul>
        </div>
    </script>

    <script>
        var holiday = [{
            date: '2016-04-03',
            holiday: '清明节'
        },{
            date: '2016-05-01',
            holiday: '劳动节'
        }];

        var data = {
            defaultShowDate: [2016,3,3],    // 默认选中哪一天 TODO: 功能待完善，现在默认显示数据的第一个月份
            data: [{
                date: [2016,3], // 有数据的月份： [年，月]
                content: [{ // 当前月份下的数据：日，价格，是否有套餐，是否售罄
                    day: 5,
                    price: 39999,
                    hasMenu: true,
                    isSoldOut: false
                }, {
                    day: 6,
                    price: 4399,
                    hasMenu: false,
                    isSoldOut: true
                }]
            }, {
                date: [2016,4],
                content: [{
                    day: 4,
                    price: 39999,
                    hasMenu: true,
                    isSoldOut: false
                }, {
                    day: 5,
                    price: 43399,
                    hasMenu: false,
                    isSoldOut: false
                }]
            }, {
                date: [2016,7],
                content: [{
                    day: 1,
                    price: 3999,
                    hasMenu: true,
                    isSoldOut: false
                }, {
                    day: 2,
                    price: 4399,
                    hasMenu: false,
                    isSoldOut: false
                }]
            }]
        };
        $(".calendar-wrapper").html(_.template($("#calendarTemplate").html(), data));

        function geneTdCont(item, day) {
            var result = "";
            var dayCont = _.findWhere(item.content, {day: day});
            if (dayCont === undefined) {
                result += "<div class='tdContWrapper disabled'>";
                result += "<p class='day'>" + day + "</p>";
            } else {

                if (dayCont.isSoldOut) {    //  售罄
                    result += "<div class='tdContWrapper disabled'>";
                    result += "<p class='day'>" + dayCont.day + "</p>";
                    result += "<div class='priceWrapper sold-out'>";
                    result += "<p class='sold-out'>售罄</p>"
                } else {
                    result += "<div class='tdContWrapper'>";
                    result += "<p class='day'>" + dayCont.day + "</p>";

                    if (dayCont.hasMenu) {
                        result += "<div class='priceWrapper menu'>";
                        result += "<p class='menu'>套餐</p>"
                    } else {
                        result += "<div class='priceWrapper'>";
                    }
                }
                result += "<p class='price'>¥" + dayCont.price + "起</p>"
            }
            result += "</div></div>";
            return result;
        }
    </script>

    <script>
        $(function(){
            $(".tdContWrapper").not(".disabled").click(function(){
                $(".tdContWrapper").removeClass("current");
                $(this).addClass("current");
            });

            //  日历翻动事件
            $(".calendar-nav .nav-btn span").click(function(){

                if ($(this).hasClass("disabled")) {
                    return;
                } else {

                    var $wrapper = $(this).parents(".calendar-wrapper");

                    var $calList = $wrapper.find(".calendar-body .calendar-item");
                    var $navList = $wrapper.find(".calendar-nav .tablist li");

                    var calCurIndex = $wrapper.find(".calendar-body .calendar-item.current").index();
                    var navCurIndex = $wrapper.find(".calendar-nav .tablist li.current").index();

                    $calList.removeClass("current");
                    $navList.removeClass("current");

                    if ($(this).hasClass("prev")) {
                        $calList.eq(calCurIndex-1).addClass("current");
                        $navList.eq(navCurIndex-1).addClass("current");
                    } else if ($(this).hasClass("next")) {
                        $calList.eq(calCurIndex+1).addClass("current");
                        $navList.eq(navCurIndex+1).addClass("current");
                    }

                    var $calCur = $wrapper.find(".calendar-body .calendar-item.current");

                    var _calCurIndex = $wrapper.find(".calendar-body .calendar-item.current").index();
                    var _navCurIndex = $wrapper.find(".calendar-nav .tablist li.current").index();

                    if ($calCur.prev("li").length == 0) {
                        $(".calendar-nav .nav-btn .prev").addClass("disabled");
                    } else if ($calCur.next("li").length == 0) {
                        $(".calendar-nav .nav-btn .next").addClass("disabled");
                    } else {
                        $(".calendar-nav .nav-btn span").removeClass("disabled");
                    }

                    $wrapper.find(".calendar-body").css({
                        "margin-left": -_calCurIndex * 100 + "%"
                    });

                    $wrapper.find(".calendar-nav .tablist").css({
                        "margin-left": -_navCurIndex * 100 + "%"
                    });
                }
            });

            //  TODO: 日历可以滑动切换
            var hammer = new Hammer($(".calendar-body").get(0), {});
            hammer.on('swiperight', function(ev){
                console.log(1);
                console.log(ev);
            });
            hammer.on('swipeleft', function(ev){
                console.log(2);
                console.log(ev);
            });
            //  END

            $(".switch-checkbox").click(function(){
               $(this).toggleClass("on");

                if ($(this).hasClass("on")) {
                    $(".trip-num-block").hide();
                    $(".menu-block").show();
                } else {
                    $(".trip-num-block").show();
                    $(".menu-block").hide();
                }
            });

            $("body").delegate('.menu-item label', 'click', function() {
                if (!$(this).hasClass('disabled')) {
                    $(this).parents(".menu-list").find(".menu-short-desc").hide();
                    if ($(this).find("input[type='radio']").prop("checked")) {
                        $(this).parents(".menu-item").find(".menu-short-desc").show();
                    }
                } 
            });

            $(".plus-minus-comp span").click(function(){
                var $that = $(this);
                if (!$that.hasClass("disabled")) {
                    if ($that.hasClass("plus-mark")) {
                        var val = parseInt($(this).siblings(".result").html());
                        $(this).siblings(".result").html(val+1);
                    } else if ($that.hasClass("minus-mark")) {
                        var val = parseInt($(this).siblings(".result").html());

                        if (val <= 1) {
                            $(this).addClass("disabled");
                        }
                        $(this).siblings(".result").html(val-1);
                    }
                }
            });
        });
    </script>
</body>
</html>