@charset "utf-8";

body {
	font-size: 16px;
	font-family: "Microsoft Yahei", arial, sans-serif;
}

/*  控件样式  start */

a:focus{outline: none;}
input[type="text"],
input[type="password"]{
    border: 1px solid #dadada;
    height: 40px;
    line-height: 1.2;
    padding-left: 3px;
    text-indent: 3px;
    color: #484848;
}
input[type="text"]:focus,
input[type="password"]:focus{
    border: 1px solid #11b9b7 !important;
    outline: none;
}
.errorBoxContent{
    font-size: 15px;
    color: #fe7800;
    border: 1px solid #ffa200;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #fff3de;
    text-align: left;
}
.errorBoxContent:focus{
    border: 1px solid #ffa200 !important;    
}
.commonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/client/commonIcon.png") no-repeat;
    margin-left: 13px;
    margin-right: 2px;
}
.commonIcon.errorIcon{
    width: 18px;
    height: 18px;
    background-position: 0 0;
}

input[type="text"].verifyBox,
input[type="text"].verifyBox:focus{
    border: 1px solid #ffa200 !important;
    background-color: #fff8eb;
}
.verifyStyle{
    display: inline-block;
    padding: 7px 0;
    color: #fe7800;
}

input[type="text"].errorStyle,
input[type="text"].errorStyle:focus{
    border: 1px solid #ffa200 !important;
    background-color: #fff8eb;
}
.errorBox {
    position: absolute;
    padding: 10px 10px 10px 0;
    color: #fe7800;
    background-color: #fff3de;
    font-size: 14px;
    z-index: 3;
}

.componentInput{
    display: inline-block;
    border: 1px solid #d0d0d0;
    height: 43px !important;
    line-height: 43px;
    font-size: 15px;
    border-radius: 2px;
}
.componentInput.addBorder{
    border: 1px solid #11b9b7 !important;
}
.componentInput .lockIcon{
    width: 16px;
    height: 20px;
    background-position: 0 -24px;
    margin-top: -5px;
}
.componentInput .emailIcon {
    width: 20px;
    height: 16px;
    background-position: 0 -191px;
    margin-top: -3px;
}
.componentInput .avatarIcon {
    width: 18px;
    height: 18px;
    background-position: 0 -212px;
    margin-top: -5px;
}
.personHeaderIcon {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url(../../images/client/person-header-icon.png) no-repeat 0 0;
    margin-top: -5px;
}
.commonIcon.ENIcon {
    width: 15px;
    height: 9px;
    background-position: -149px 0;
    vertical-align: middle;
}
.commonIcon.addRoundnessIcon {
    width: 19px;
    height: 19px;
    background-position: -173px -24px;
    cursor: pointer;
}
.commonIcon.delRoundnessIcon {
    width: 19px;
    height: 19px;
    background-position: -173px 0;
    cursor: pointer;
}
.componentInput input[type="password"],
.componentInput input[type="text"],
.componentInput input[type="password"]:focus,
.componentInput input[type="text"]:focus{
    border: none !important;
    background: #fff;
    margin-top: -5px;
    color: #484848;
    border-radius: 2px;
}
.forgetPW .forgetPWFonts,
.forgetPW .forgetPWFonts:hover{
    color: #11b9b7;
    margin-right: 10px;
}
.verificationCodeIcon{
    width: 18px;
    height: 18px;
    background-position: -24px 0;
    margin-top: -4px;
}
.verificationCode img{
    display: inline-block;
    width: 97px;
    height: 37px;
    margin: -6px 1px 0 0;
}

.componentInput .phoneNumberIcon,
.commonIcon.phoneNumberIcon{
    width: 14px;
    height: 20px;
    background-position: -24px -24px;
    margin-top: -6px;
}
.componentInput input[type="text"]::-moz-placeholder,
.componentInput input[type="password"]::-moz-placeholder {
    color: #c1c1c1;
}
.componentInput input[type="text"]::-webkit-input-placeholder,
.componentInput input[type="password"]::-webkit-input-placeholder {
    color: #c1c1c1;
}
.componentInput input[type="text"]:-ms-input-placeholder,
.componentInput input[type="password"]:-ms-input-placeholder {
    color: #c1c1c1;
}
.componentInput .getVerificationCode{
    display: inline-block;
    background-color: #1be1df;
    color: #fff;
    height: 35px;
    line-height: 38px;
    text-align: center;
    padding: 0 10px;
    margin-right: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}
.componentInput .getVerificationCode.retry{
    background-color: #baf6f5;
    color: #11b9b7;
}
.PWStrong .strength{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 36px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-right: 3px;
}
.PWStrong .strength.strong{
    background-color: #2ad847;
}
.PWStrong .strength.weak{
    background-color: #ff6c00;
}
.PWStrong .strength.centre{
    background-color: #ffa200;
}

.bigOrangeBtn{
    display: inline-block;
    width: 340px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #ffda99;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.bigOrangeBtn:hover,
.commonBtn:hover{
    color: #fff;
}
.bigOrangeBtn.active{
    background-color: #ffa200;
}
.bigOrangeBtn.active:hover{
    background-color: #f19900;
    color: #fff;
}
.bigOrangeBtn:focus,
.bigOrangeBtn.active:focus,
.commonBtn:focus{
    color: #fff;
}
.commonBtn{
    display: inline-block;
    min-width: 108px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.commonBtn.blueBtn{
    background-color: #11b9b7;
}
.commonBtn.blueBtn:hover{
    background-color: #0c9c9a;
}
.commonBtn.grayBtn{
    background-color: #b3b3b3;
}
.commonBtn.grayBtn:hover{
    background-color:#9b9b9b ;
}
.commonBtn.orangeBtn{
    background-color: #ffa200;
}
.commonBtn.orangeBtn:hover{
    background-color: #f19900;
}
.commonBtn.width170{
    width: 170px;
}

.commonIcon.bigEditIcon{
    width: 47px;
    height: 47px;
    background-position: 0 -50px;
    cursor: pointer;
}
.commonIcon.bigEditIcon:hover{
    background-position: 0 -104px;
}
.commonIcon.bigDeleteIcon{
    width: 47px;
    height: 47px;
    background-position: -53px -50px;
    cursor: pointer;
}
.commonIcon.bigDeleteIcon:hover{
    background-position: -53px -104px;
}
.commonIcon.smallEditIcon{
    width: 26px;
    height: 26px;
    background-position: 0 -157px;
    cursor: pointer;
}
.commonIcon.smallEditIcon:hover{
    background-position: -33px -157px;
}
.commonIcon.refreshIcon{
    width: 16px;
    height: 16px;
    background-position: -45px -24px;
    cursor: pointer;
}
.commonIcon.refreshIcon:hover{
    background-position: -66px -24px;
}
.commonIcon.editIcon{
    width: 14px;
    height: 14px;
    background-position: -130px 0;
    cursor: pointer;
}
.commonIcon.userIcon{
    width: 14px;
    height: 18px;
    background-position: -154px -24px;
    cursor: pointer;
}
.changeViewpoints{
    font-size: 18px;
    color: #a3a3a3;
    cursor: pointer;
}
.changeViewpoints .changeIcon{
    width: 17px;
    height: 18px;
    background-position: -87px -24px;
}
.changeViewpoints:hover{
    color: #11b9b7;
}
.changeViewpoints:hover .changeIcon{
    background-position: -110px -24px;
}


.radio{color: #484848;}
.radio,.checkbox{
    display: inline-block;
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;
}
.radio:first-child,.checkbox:first-child{
    margin-left: 0;
}
.commonIcon.radioIcon{
    width: 18px;
    height: 18px;
    background-position: -70px 0;
    margin-right: 5px;
}
.radio.active .radioIcon{
    width: 18px;
    height: 18px;
    background-position: -48px 0;
}
.checkboxContent{
    display: inline-block;
}
.checkboxContent .checkbox{
    color: #11b9b7;
}
.commonIcon.checkboxIcon{
    width: 14px;
    height: 14px;
    background-position: -111px 0;
}
.checkbox.active .checkboxIcon{
    background-position: -93px 0;
}
/*  控件样式  end */


/*  下拉菜单 start   */
.dropdown{ display: inline-block;}
.dropdown .dropdownBtn{
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    position: relative;
}
.dropdown .dropdownBtn:focus{
    border: 1px solid #80d0ee;
}
.dropdown.disabled .dropdownBtn {
    background-color: #dcdbdb;
}
.dropdown.disabled .dropdownBtn:focus{
    border: 1px solid #dadada;
}
.dropdown .dropdownBtn .caret{
    position: absolute;
    right: 7px;
    top: 45%;
}
.dropdown .dropdownBtn .activeFonts{
    display: inline-block;
    text-align: left;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.dropdown .dropdownBtn,
.dropdown .dropdownBtn .activeFonts,
.dropdown .dropdownBtn:hover,
.dropdown .dropdownBtn .activeFonts:hover{
    color: #484848;
}
.dropdown .dropdownBtn .caret,
.dropdown .dropdownBtn .caret:hover{
    color: #11b9b7;
}
.dropdown .dropdown-menu{
    width: 100%;
    min-width: 0;
    border-top: none;
    margin: 0;
    padding: 0;
    max-height: 245px;
    overflow-y: auto;
}
.dropdown .dropdown-menu>li{width: 100%;}
.dropdown .dropdown-menu>li>a{
    padding: 8px 5px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.dropdown .dropdown-menu>.active>a,
.dropdown .dropdown-menu>.active>a:hover{
    color: #333;
    background-color: #f2f2f2;
}
.dropdown .dropdown-menu>li>a:hover{
    color: #666;
    background-color: #f2f2f2;
}
/*  下拉菜单 end   */


/*  头尾 背景 边框线  等公共样式   start  */

header {
    width: 100%;
    background-color: #fff;
}

header .head {
	width: 1130px;
	margin: 0 auto;
	padding: 12px 0 11px 0;
}

.logo {
	display: inline-block;
	width: 133px;
	height: 47px;
    background: url("../../images/client/logo-new.png") no-repeat;
    float: left;
    margin-top: 6px;
}

.logo .logoLink {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main-container {
    background: #0d9193;   /* 一些不支持背景渐变的浏览器 */ 
	background: -webkit-linear-gradient(top, #0b7e96, #0fa68f);  /* chrome, safari  */
	background: -moz-linear-gradient(top, #0b7e96, #0fa68f);  /*  firefox  */
	background: -o-linear-gradient(top, #0b7e96, #0fa68f);  /* opera */
	background: -ms-linear-gradient(top, #0b7e96, #0fa68f);  /* IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0b7e96, endColorstr=#0fa68f);/*IE<9>*/
	-ms-filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0b7e96, endColorstr=#0fa68f);/*IE8+*/
}

.main-wrapper {
	width: 1130px;
	margin: 0 auto;
	background: url(../../images/client/body-bg-img.png) no-repeat center;
	min-height: 562px;
}

/*  页尾样式  start  */
.footer-wrap{
    height:345px;
    background: #1cafad;
}
.main-container .footer-wrap {
    background: transparent;
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid #51c2c0;
    margin-top: 50px;
}
.foot{
    width: 1130px;
    margin:0 auto;
}
.footer-nav{
    height:242px;
    padding: 45px 0  0 24px;
    border-bottom:1px solid #51c2c0;
}
.erweima{
    width:50%;
    float:left;
}
.erweima img{
    margin-right:20px;
    float: left;
    width: 154px;
    height: 154px;
}
.contact-info{
    float:left;
    color:#8efff5;
}
.contact-info span{
    margin-bottom:12px;
    display: inline-block;
}
.contact-info .info-title{
    font-size:16px;
    color:#fff;
}
.contact-info .info-tell{
    margin-bottom: 0;
    font-size:22px;
}
.quick-nav{
    float:right;
}
.quick-nav dl{
    margin-right:112px;
    float:left;
}
.quick-nav dl dt{
    color:#fff;
    margin-bottom:10px;
}
.quick-nav dl dd{
    margin-bottom:4px;
}
.quick-nav dl dd a{
    color:#8efff5;
    font-size: 14px;
}
.quick-nav dl dd a:hover{
    text-decoration:underline;
}
.footer-copyright{
    height:102px;
    padding-top: 30px;
    color:#8efff5;
    font-size:12px;
}
.copyright{
    font-size:12px;
    float:left;
}
.service-tel{
    float:right;
    font-size: 12px;
}
.tellIcon{
    width:12px;
    height:15px;
    display: inline-block;
    margin-right:6px;
    vertical-align: middle;
    background: url(../../images/client/tellIcon.png) center center;
}
.footer-copyright .telnum {
    font-size: 15px;
}
/*  页尾样式  end  */
.main-box {
	background-color: #fff;
	position: relative;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #88b3af;
	margin: 0 auto;
}

.main-box .top-border {
	display: inline-block;
	background: url(../../images/client/repeat-border.jpg) repeat-x;
	width: 100%;
	height: 3px;
	position: absolute;
	top: -3px;
}

.main-box .top-border .clip {
	display: inline-block;
	background: url(../../images/client/spirit.png) no-repeat 0 0;
	width: 24px;
	height: 44px;
	position: absolute;
	left: 20px;
	top: -10px;
}

.main-box .bottom-border {
	width: 98%;
	height: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #c2fff9;
	margin: 0 auto;
	position: absolute;
	bottom: -3px;
	left: 1%;
}

.main-box .box-container {
	
}

.main-box .box-container .top-block {
	text-align: center;
	border-bottom: 1px dashed #bbdde1;
	height: 82px;
	line-height: 82px;
    margin-bottom: 25px;
}

.main-box .box-container .top-block .earch-icon {
	display: inline-block;
	background: url(../../images/client/spirit.png) no-repeat;
	background-position: -27px 0;
	width: 26px;
	height: 26px;
	vertical-align: text-bottom;
	margin-right: 8px;
}

.main-box .box-container .top-block .title {
	font-size: 26px;
	color: #11b9b7;
}

.top-nav .slider {
    background: url(../../images/client/top-nav-slider-bg.png) no-repeat;
    width: 107px;
    height: 53px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    float: left;
}

.top-right-block {
    float: right;
    margin-top: 24px;
    margin-left: 90px;
    padding-right: 2px;
}

.login-entrance {
    position: relative;
}

.login-entrance > a {
    padding: 0 12px;
    color: #7f7f7f;
    font-size: 16px;
    line-height: 24px;
}

.login-entrance .register {
    padding-right: 0px;
}

.login-entrance > a:hover,
.login-entrance > a.active {
    color: #11b9b7;
}

.login-entrance em {
    color: #e4e4e4;
}

.login-entrance .login-box {
    position: absolute;
    top: 40px;
    padding: 25px 0;
    width: 310px;
    z-index: 4;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 10px 1px #666;
    display: none;
}

.login-box .errorBoxContent,
.login-box .componentInput {
    margin-bottom: 15px;
}

.login-attach .checkbox {
    font-size: 13px;
    color: #11b9b7;
    font-weight: normal;
    margin-left: -128px;
}

.login-attach .checkboxIcon {
    margin-top: -5px;
}

.login-attach .register-link {
    font-size: 13px;
    color: #11b9b7;
    float: right;
    margin-top: 10px;
    margin-right: 23px;
}

.login-attach .register-link:hover {
    cursor: pointer;
}

.login-entrance .login-box .arrow {
    position: absolute;
    top: -6px;
    left: 22px;
    display: inline-block;
    width: 11px;
    height: 6px;
    background: url(../../images/client/white-border-arrow.png) no-repeat 0 -25px;
}

.after-login {
    position: relative;
}

.after-login .userName {    
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle;
}

.after-login .userName .commonIcon {
    margin-right: 3px;
    margin-top: -2px;
}

.after-login .userName em {
    color: #7f7f7f;
    font-size: 14px;
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.userInfo-box {
    width: 250px;
    z-index: 4;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 10px 1px #666;
    position: absolute;
    top: 40px;
    display: none;
}

.userInfo-box .arrow {
    position: absolute;
    top: -6px;
    left: 25px;
    display: inline-block;
    width: 11px;
    height: 6px;
    background: url(../../images/client/white-border-arrow.png) no-repeat 0 -25px;
}

.userInfo-box .user-avatar {
    padding: 30px 0 25px 0;
    text-align: center;
}

.userInfo-box .user-avatar .user-name {
    color: #7f7f7f;
    margin-top: 10px;
    font-size: 15px;
}

.userInfo-box .oper-btn {    
    border-top: 1px solid #e0e0e0;
}

.userInfo-box .oper-btn a {
    display: inline-block;
    color: #7f7f7f;
    height: 50px;
    line-height: 50px;
    width: 120px;
    text-align: center;
    font-size: 15px;
}

.userInfo-box .oper-btn a:hover {
    color: #11b9b7;
}

.userInfo-box .oper-btn a:first-child {
    border-right: 1px solid #e0e0e0;
}

/*  头尾 背景 边框线  等公共样式   end   */


/*  翻页样式 start */
.pagination{
    display: block;
    font-size: 14px;
    padding: 13px 15px 0;
    margin: 15px 0 0;
    border-top: 1px solid #dfe9e8;
    text-align: right;
}
.pagination .countNumber{
    margin: 0 15px;
}
.countNumber .blueFonts{
    color: #11b9b7;
    margin: 0 5px;
}
.pagination .pageSize{
    margin-right: 20px;
}
.pagination .pageSize a{
    display: inline-block;
    min-width: 25px;
    padding: 3px 5px;
    margin: 0 3px;
    text-align: center;
    color: #676767;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.pagination .pageSize a:hover,
.pagination .pageSize a.active{
    background-color: #11b9b7;
    color: #fff;
}
/*  翻页样式 end */


/*  分页  复用后台分页样式  */
/*  翻页 start  */
.pagination{
    float: right;
    font-size: 14px;
    text-align: right;
    color: #808080;
}
.pagination .pageNum{
    color: #464646;
    cursor: pointer;
    position: relative;
}
.pageNum .paginationNum{
    display: inline-block;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.paginationNum li{
    width: 73px;
    padding: 7px 20px;
}
.paginationNum li a{
    display: inline-block;
    text-align: left;
    min-width: 25px;
    color: #000000;
}
.paginationNum li a:hover{
    color: #000000;
}
.paginationNum li a:focus{
    outline: none;
}
.paginationNum li.active,
.paginationNum li:hover{
    background-color: #f5f5f5;
}
.pageNum .pageNumIcon{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../../images/commonIcon.png") no-repeat -24px -8px;
    vertical-align: middle;
    margin-left: 3px;
}
.pagination .pageSize{
    color: #a6a6a6;
    margin: 0 10px;
}
.pagination .pageArrow{
    margin-right: 10px;
}
.pagination .pageArrow a{
    display: inline-block;
    vertical-align: middle;
    padding: 3px 7px;
    outline: none;
}
.pagination .pageArrow a:hover{
    background-color: #f0f0f0;
}
.pagination .pageArrow a.disabled:hover{
    background: none;
    cursor: default;
}
.pagination .pageArrow a{
    cursor: pointer;
}
.pagination .pageArrow a:focus,
.pagination .pageTo:focus{
    outline: none;
}
.pageArrow a i{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/commonIcon.png") no-repeat;
}
.pagination .firstPage i,
.pagination .lastPage i{
    width: 14px;
    height: 17px;
}
.pagination .firstPage i{
    background-position: 0 -104px;
}
.pagination .firstPage.disabled i{
    background-position: 0 -85px;
}
.pagination .lastPage i{
    background-position: -18px -85px;
}
.pagination .lastPage.disabled i{
    background-position: -18px -104px;
}
.pagination .prevPage i,
.pagination .nextPage i{
    width: 11px;
    height: 17px;
}
.pagination .prevPage i{
    background-position: -36px -104px;
}
.pagination .prevPage.disabled i{
    background-position: -36px -85px;
}
.pagination .nextPage i{
    background-position: -50px -85px;
}
.pagination .nextPage.disabled i{
    background-position: -50px -104px;
}
.pagination .pageToNum{
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0 3px;
}
.pagination .pageTo{
    display: inline-block;
    border: 1px solid #dadada;
    width: 27px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}
.pagination .pageTo i{
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 12px;
    background: url("../../images/commonIcon.png") no-repeat -64px -85px;
}
/*  翻页 end  */


/*  重置 bootstrap datepicker 样式（单日历） start  */

input.datepicker {
    width: 110px;
    font-size: 14px;
    border-radius: 0;
}

div.datepicker {
    padding: 15px;
    background-color: #fff;
}

div.datepicker td,
div.datepicker th {
    width: 35px;
    height: 35px;
    border-radius: 0;
    color: #666;
    font-size: 12px;
    border-radius: 3px;
}

div.datepicker table tr td.day:hover,
div.datepicker table tr td.day.focused {
    background-color: #11b9b7;
    cursor: pointer;
    color: #fff;
}

div.datepicker table tr td.today {
    background: #46dcba;
    color: #fff;
}

div.datepicker table tr td.today:hover {
    background: #11b9b7!important;
    color: #fff!important;
}

div.datepicker table tr td.active,
div.datepicker table tr td.active:hover,
div.datepicker table tr td.active.disabled,
div.datepicker table tr td.active.disabled:hover {
    background: #11b9b7!important;
    color: #fff;
}

div.datepicker table tr td.old,
div.datepicker table tr td.new {
    color: #ccc;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    color: #ccc;
    background-color: #11b9b7!important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: #ccc;
    background-color: #11b9b7!important;
}

div.datepicker table thead .dow {
    font-size: 16px;
}

div.datepicker table thead .prev:after {
    content: '';
    background: url(../../images/client/datepicker-change-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle; 
    width: 26px;
    height: 26px;
}

div.datepicker table thead .prev:hover {
    background: transparent!important;
}

div.datepicker table thead .prev:after:hover {
    background: url(../../images/client/datepicker-change-icon.png) no-repeat 0 0;
}

div.datepicker table thead .prev.disabled:after {
    background: url(../../images/datepicker-change-icon.png) no-repeat 0 -27px;
}

div.datepicker table thead .next:after {
    content: '';
    background: url(../../images/client/datepicker-change-icon.png) no-repeat -28px 0;
    display: inline-block;
    vertical-align: middle; 
    width: 26px;
    height: 26px;
    cursor: pointer;
}

div.datepicker table thead .next:hover {
    background: transparent!important;
}

div.datepicker table thead .next:after:hover {
    background: url(../../images/client/datepicker-change-icon.png) no-repeat -28px 0!important;
}

div.datepicker table thead .next.disabled:after {
    background: url(../../images/datepicker-change-icon.png) no-repeat -27px -27px;
}

div.datepicker .datepicker-switch {
    font-size: 16px;
}

div.datepicker .datepicker-switch:hover {
    background: #11b9b7!important;
    color: #fff;
}

div.datepicker table tr td span {
    border-radius: 3px;
}

div.datepicker table tr td span.old,
div.datepicker table tr td span.new {
    color: #ccc;
}

div.datepicker table tr td span:hover {
    background-color: #11b9b7;
    color: #fff;
}

div.datepicker table tr td span.active {
    background: #11b9b7!important;
    color: #fff;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
    /*border-bottom-color: #ccc!important;*/
}

.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-bottom:after {
    /*border-top-color: #ccc!important;*/
}

/*  重置 bootstrap datepicker 样式（单日历） end  */

input[type='text'].datepicker.hasIcon {
    display: inline-block;
    background: url("../../images/datepicker.png") no-repeat 97% center;
    vertical-align: middle;
}

/** 业务报错 -start **/
.workError-bg{
    background-color:#ccecf0;
}
.workError-tips{
    position: absolute;
    bottom:48%;
    width:100%;
    text-align: center;
    min-height:177px;
    background:url("../../images/client/workError.png") no-repeat center;
}
.workError-txt{
    font-size: 20px;
    line-height:24px;
    color:#9e9ea0;
    position: relative;
    top:217px;
}
.workError-btm{
    position: absolute;
    bottom: 0;
    width:100%;
    min-height:96px;
    background:url("../../images/client/workError-btm.png") no-repeat center;
}
/** end **/

/** 系统维护 -start  **/
.maintain-img{
    width:100%;
    position:absolute;
    text-align: center;
    top: 25%;
    min-height:297px;
    background: url("../../images/client/maintain.png") no-repeat center;
}
.maintain-tips{
    width:100%;
    height:150px;
    position: relative;
    top:310px;
}
.maintain-txt01{
    color:#26b29a;
    font-size: 22px;
    margin-bottom: 14px;
}
.maintain-txt02{
    color:#58c1b1;
    font-size: 14px;
}
/** end **/

/** 404 -start **/
.undefine-contain{
    width:100%;
    min-height:775px;
    background-color:#ccecf0;
    position: relative;
}
.undefine-box{
    width:100%;
    min-height:117px;
    text-align: center;
    background: url("../../images/client/404.png") no-repeat center;
    position: absolute;
    top:25%;
}
.undefine-txt{
    width:100%;
    height:110px;
    position: relative;
    top:150px;
    font-size: 18px;
    line-height:24px;
    color:#28bbdd;
}
.backHomeBtn{
    position: relative;
    top:235px;
}
.backBtn{
    width:100%;
    margin-top:28px;
    text-align:center;
}
.backlink{
    width:128px;
    padding:7px 10px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px #28bbdd solid;
    color:#28bbdd;
}
.backlink:hover, .backlink:visited{
    text-decoration: none;
    color:#28bbdd;
}
.undefine-btm{
    width:100%;
    height:272px;
    background:url("../../images/client/cloud.png") no-repeat center;
    position:absolute;
    bottom: 0;

}
.foot-layout{
    width:100%;
}
/** end **/

.lazyload-img {
    background: url(../../images/client/default-img.png) no-repeat scroll 50% 50% #f5f5f5;
}