@charset "utf-8";
.main-wrapper{
    width:1060px;
}
.cont-block{
    position: relative;
}
.cont-block .modelLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #bbdde1;
    position: absolute;
    left: 220px;
    top: 0;
}
.leftMenuContent{
    width: 220px;
    float: left;
    margin-top: 50px;
}
.leftMenuContent ul{
    margin: 10px 30px;
}
.leftMenuContent ul a{
    font-size: 18px;
    display: block;
    min-width: 135px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #11b9b7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.leftMenuContent li.active a{
    color: #fff;
    background-color: #11b9b7;
}
.rightContent{
    padding: 20px 0 80px ;
    float: left;
    width: 78.3%;
}

.sec-tab {
    padding: 10px 0 15px 20px;
    border-bottom: 1px solid #dfe9e8;
    position:relative;
}
.sec-tab span {
    font-size: 18px;
    color: #858585;
    padding: 15px 0;
    border-radius: 2px;
    cursor: pointer;
    margin-right:0;
}

.sec-tab .slidline{
    width:94px;
    height:3px;
    background-color: #11B9B7;
    position:absolute;
    top:49px;
    left:28px;
}

.sec-tab span.favorList-title{
    padding-left:10px;
    color: #11B9B7;
}
.sec-tab span.favorListNum{
    color:#ffa200;
    font-size:16px;
    padding:0;
}
.product-images{
    position:relative;
    overflow:hidden;
}
.product-images img{
    width:380px;
    height:238px;
}
.product-images .imagecover{
    position:absolute;
    left:0;
    bottom:0;
    width:380px;
    height:88px;
    background:url(../../images/client/images-cover.png) no-repeat;
}
.product-images .traveledMark{
    position:absolute;
    left:-28px;
    top:-28px;
    width:105px;
    height:105px;
    background:url(../../images/client/traveledMark.png) no-repeat;
}
.favorNum{
    position:absolute;
    right:18px;
    bottom:6px;
    z-index:1;
    color:#fff;
}
.favorNum:before{
    content:"";
    width:15px;
    height:13px;
    display:inline-block;
    margin-right:4px;
    background:url(../../images/client/favorNum.png) no-repeat;
}
.travelpro{
}
.travelpro .travelpro-list{
    overflow:hidden;
}
.travelpro li{
    float:left;
    width:380px;
    border:2px solid #e0e0e0;
    margin:28px 0 0 26px;
    position:relative;
}
.travelpro .protitle{
    padding:0 18px 0 12px;
    border-bottom:1px solid #eee;
    overflow:hidden;
}
.travelpro li h4{
    width:350px;
    height:42px;
    line-height:42px;
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0;
}
.travelpro li h4 a{
    color:#333;
}
.travelpro li h4 a:hover{
    color:#11B9B7;
}
.travelpro .expired{
    line-height:40px;
    font-size:80%;
    color:#11B9B7;
    float:left;
}
.partner{
    padding:0 18px 0 15px;
    position:relative;
}
.partner span{
    line-height:44px;
    font-size:80%;
    color:#999;
}
.partner .partner-avatar{
    padding-bottom:16px;
    overflow: hidden;
    background:url(../../images/client/dashedline.jpg) repeat-x left bottom;
}
.partner li{
    color:#999;
    width:35px;
    height:35px;
    border:0;
    border-radius:35px;
    float:left;
    margin:0 22px 0 0;
}
.partner li img{
    width:100%;
    height:100%;
    border-radius: 100%;
}
.partner .private-letter{
    position:absolute;
    left:0 ;
    top:0;
}

.partner .private-letter li{
    position:absolute;
    left:1px;
    top:-68px;
    width:174px;
    height:112px;
    display:none;
    z-index:3;
    margin:0;
}
.private-letter-box{
    width:174px;
    height:100px;
    background:#fff;
    border:2px solid #11B9B7;
    border-radius:4px;
    padding:10px 3px 0 8px;
    font-size:14px;
    text-align:center;
}
.partner .private-letter li:before{
    content:"";
    width:15px;
    height:7px;
    background:url(../../images/client/private-letter-bg.png);
    position:absolute;
    left:50%;
    margin-left:-7px;
    bottom:7px;
}

.partner .private-letter li.private-bg-left:before{
    left:30px;
}
.partner .private-letter li.private-bg-right:before{
    left:110px;
}

.partner .private-letter li .avatar{
    width:38px;
    height:38px;
    margin-right:4px;
    display:inline-block;
    float:left;
}
.partner .private-letter li .avatar img{
    width:100%;
    height:100%;
    border-radius: 100%;
}
.partner .private-letter .username{
    width:114px;
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.partner .private-letter li a{
    width:60px;
    height:22px;
    color:#fff;
    font-size:14px;
    border:0;
    outline:none;
    background:#ffa200;
    border-radius:4px;
    display:inline-block;
}
.related{
    height:40px;
    line-height:40px;
    padding: 0 18px 0 15px;
    text-align:right;
}
.related .deletebtn{
    width:16px;
    height:16px;
    display:inline-block;
    text-align:right;
    background:url(../../images/client/deletebtn.png) no-repeat;
    cursor:pointer;
}
.isdelete{
    width:380px;
    height:101%;
    background:rgba(255,255,255,0.9);
    border:2px solid #11B9B7;
    position:absolute;
    left:-2px;
    top:-2px;
    text-align:center;
    padding-top:140px;
    z-index:4;
    display:none;
}
.isdelete .prompt{
    display:block;
    color:#11B9B7;
}
.isdelete button{
    width:82px;
    height:36px;
    line-height:36px;
    outline:none;
    border:0;
    background:#11b9b7;
    color:#fff;
    border-radius:4px;
}
.isdelete .confirm{
    background:#ffa200;
    margin:20px 28px 0 0;
}

.cursorDefault {
    cursor: default;
}