@charset "utf-8";

.top-nav {
    float: right;
    position: relative;
    top: 11px;
}

.top-nav-list {
    margin-bottom: 0;
}

.top-nav-item {
    font-size: 18px;
    color: #7f7f7f;
    width: 107px;
    text-align: center;
    line-height: 53px;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.top-nav-item a {
	color: #7f7f7f;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.top-nav-item.current {
    color: #fff;
    background: url(../../images/client/top-nav-slider-bg.png) no-repeat;
    width: 107px;
    height: 53px;
    display: inline-block;
    z-index: 1;
}

.top-nav-item.current a {
	color: #fff;
}

.top-nav-item:hover a,
.top-nav-item a:hover {
    color: #11b9b7;
}

.top-nav-item.current:hover a,
.top-nav-item.current a:hover {
    color: #fff;
}
