@charset "utf-8";

/* foot S*/
.foot{
    background-color: #2b8a82;
}
.foot .footContent{
    width: 1130px;
    padding: 30px 0;
    color: #fff;
    margin: 0 auto;
}
/* foot E*/

/*   产品详情 S   */
.productDetailModel{
    position: relative;
    border-bottom: 3px solid #585481;
}
.productDetailBanner {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}
.productDetailBanner .pro-detail-cont {
    float: right;
    z-index: 2;
    width: 1920px;
    right: 47%;
    position: relative;
    top: 35px;
}
.productDetailBanner .pro-detail-cont img {
    position: relative;
    top: -35px;
    right: -50%;
}
.productDetailBanner .pro-detail-img {
    height: 580px;
    width: 1920px;
    float: right;
    position: relative;
    right: 50%;
    top: -340px;
}
.productDetailBanner .pro-detail-img img {
    position: relative;
    top: -600px;
    right: -50%;
}
.productDetailModel .themeContent{    
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: 370px;
}
.productDetailModel .themeContent img{
    width: 175px;
    height: 145px;
}
.productDetailModel .bannerSynopsisFonts{
    font-family: "细黑";
    color: #fff;
    width: 370px;
    position: absolute;
    left: 40%;
    top: 20%;
}
.bannerSynopsisFonts .synopsisFonts{
    font-size: 50px;
    line-height: 60px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
.bannerSynopsisFonts .timePlaceFonts{
    font-size: 40px;
}
.bannerSynopsisFonts .timePlaceFonts .dotFonts{
    font-size: 12px;
    margin: 0 10px;
    vertical-align: middle;
}
.bannerSynopsisFonts .priceFontsContent{
    position: relative;
    text-align: center;
}
.priceFontsContent .fontsLeftLine,
.priceFontsContent .fontsRightLine{
    display: inline-block;
    vertical-align: top;
    height: 1px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 50%;
}
.priceFontsContent .fontsLeftLine{
    width: 23%;
    left: 0;    
}
.priceFontsContent .fontsRightLine{
    width: 23%;
    right: 0;
}
.priceFontsContent .priceFonts{
    display: inline-block;
    font-size: 70px;
    vertical-align: top;
}
.priceFontsContent .riseFonts{
    display: inline-block;
    font-size: 28px;
    vertical-align: top;
    margin-top: 20px;
}
.productDetailModel .bannerBottomList{
    width: 1150px;
    height: 114px;
    position: absolute;
    bottom: -51px;
    left: 50%;
    margin-left: -575px;

}
.bannerBottomList .leftIcon,
.bannerBottomList .rightIcon{
    display: inline-block;
    width: 55px;
    height: 97px;
    background: url("../../images/client/productInfoIcon.png") no-repeat;
    vertical-align: top;
}
.bannerBottomList .leftIcon{
    background-position: 0 -107px;
}
.bannerBottomList .rightIcon{
    background-position: -61px -107px;
}
.bannerBottomList .middleListContent{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 -5px;
    background-color: #585481;
    border-radius: 114px;
    padding: 0 40px;
}
.bannerBottomList .bannerBottomHint{
    font-size: 14px;
    color: #fff;
    margin-top: 12px;
}
.product-sell-dot {
    position: relative;
    z-index: 3;
    float: right;
    right: 50%;
    top: -120px;
}
.product-sell-dot ul {
    position: relative;
    right: -50%;
}
.sell-dot-list li {
    float: left;
    margin-right: 27px;
}
.sell-dot-list li:last-child {
    margin-right: 0;
}
.sell-dot-num-1 {
    background: url(../../images/client/sell-dot-1.png) no-repeat 0 0;
    width: 168px;
    height: 185px;
    position: relative;
}
.sell-dot-num-2 {
    background: url(../../images/client/sell-dot-2.png) no-repeat 0 0;
    width: 168px;
    height: 185px;
    position: relative;
}
.sell-dot-num-3 {
    background: url(../../images/client/sell-dot-3.png) no-repeat 0 0;
    width: 168px;
    height: 185px;
    position: relative;
}
.sell-dot-num-4 {
    background: url(../../images/client/sell-dot-4.png) no-repeat 0 0;
    width: 168px;
    height: 185px;
    position: relative;
}
.sell-dot-content {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 41px;
    font-size: 16px;
    width: 135px;
    left: 15px;
    height: 60px;
}
.bannerBottomHint li{
    display: inline-block;
    float: left;
    padding: 10px 12px;
    border-left: 1px solid #79769a;
    border-left-color: rgba(255, 255, 255, .2);
}
.bannerBottomHint li:first-child{
    padding-left: 0;
    border-left: none;
}
.bannerBottomHint .leftHintIcon{
    display: inline-block;
    background: url("../../images/client/pro-hint-icon.png") no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
}
.bannerBottomHint .leftHintIcon.icon-1 {
    width: 38px;
    height: 38px;
    background-position: 0 0;
}
.bannerBottomHint .leftHintIcon.icon-2 {
    width: 38px;
    height: 36px;
    background-position: -41px 0;
}
.bannerBottomHint .leftHintIcon.icon-3 {
    width: 35px;
    height: 39px;
    background-position: -82px 0;
}
.bannerBottomHint .leftHintIcon.icon-4 {
    width: 38px;
    height: 40px;
    background-position: -120px 0;
}

.bannerBottomHint .hintContent{
    float: left;
    width: 195px;
}

.bannerBottomHint .hintContent .title {
    font-size: 22px;
    color: #fff;
    margin: 0;
}

.bannerBottomHint .hintContent .cont {
    font-size: 15px;
    color: #fff;
    opacity: 0.65;
    filter: Alpha(opacity=65);
    margin: 0;
    height: 42px;
    overflow: hidden;
}

.mainContent{
    background-color: #fff;
}
.mainContent .mainWrapper{
    width: 1130px;
    margin: 0 auto;
}
.mainWrapper .productFixedContent{
    margin-bottom: 100px;
    position: relative;
}
.productFixedContent .fixedList{
    width: 1130px;    
    background-color: #f9f9f9;
    z-index: 3;
    top: 0;
}
.fixedList-container {
    height: 60px;
    margin: 25px 0 35px;
}
.fixedList li{
    float: left;
}
.fixedList li a{
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 17px;
    color: #616161;
    border-left: 1px solid #d6efef;
    padding: 0;
}
.fixedList li:first-child a{
    border-left: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.fixedList li.active a,
.fixedList li:hover a{
    color: #fff;
    background-color: #11b9b7;
}
.productFixedContent .fixedList.affix li.last {
    display: inline-block;
}
.fixedList li.last{
    float: right;
    line-height: 1;
    display: none;
}
.fixedList .last .bookBtn{
    width: 160px;
    background-color: #ffa200;
    color: #fff;
    line-height: 1;
}
.fixedList .last .bookBtn:hover{
    background-color: #f29901;
    color: #fff;
}
.last .bookBtn .priceFonts{
    margin: 7px 0 5px;
    font-size: 24px;
}
.last .bookBtn .bookFonts{
    font-size: 15px;
}
.productFixedContent .commonModel{
    margin-bottom: 80px;
    font-size: 15px;
    color: #616161;
}
.commonModel .anchor {
    position: relative;
    top: -75px;
}
.commonModel .commonTitle{
    font-size: 20px;
    color: #11b9b7;
    padding: 10px 5px 15px;
    border-bottom: 1px solid #dcf5f4;
}
.commonModel .commonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/client/productInfoIcon.png") no-repeat;
    margin-right: 10px;
}
.commonTitle .costIcon{
    width: 25px;
    height: 25px;
    background-position: -32px -43px;
}
.commonModel .titleFonts{
    font-size: 18px;
    color: #11b9b7;
    margin: 20px 0 15px;
}
.commonModel .wrapperList{
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cff1f1;
}
.wrapperList .row{
    float: left;
    margin: 0;
    padding-bottom: 20px;
}
.wrapperList .twoRow{
    width: 49%;
    /*border-left: 1px solid #cff1f1;*/
    padding-right: 10px;
    padding-left: 50px;
}
.wrapperList .twoRow:first-child{
    border-left: none;
    padding-left: 0;
    border-right: 1px solid #cff1f1;
}
.wrapperList .oneRow{
    width: 90%;
}
.listDetails {
    line-height: 28px;
}
.listDetails li{
    color: #616161;
    font-size: 15px;
    line-height: 28px;
    list-style-type: decimal;
    margin-left: 22px;
}
.listDetails li * {
    font-size: 15px!important;
    line-height: 28px!important;
}
.commonModel .listDetails a{
    color: #11b9b7;
}
.commonModel .listDetails a:hover{
    color: #11b9b7;
    text-decoration: underline;
}
.commonTitle .journeyIcon{
    width: 20px;
    height: 22px;
    background-position: -64px -43px;
}
.journeyRecommendModel{
    position: relative;
}
.asideContContainer {
    padding-top: 22px;
}
.journeyRecommendModel .asideFixed{
    float: left;
    margin-left: -75px;
    top: 60px;
}
.affix {
    position: fixed!important;
}
.journeyRecommendModel .journeyRecommendList {
    /*float: right;*/
}
.asideFixed li a{
    display: inline-block;
    font-size: 14px;
    width: 60px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: #e7f8f8;
    color: #11b9b7;
    margin-bottom: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0;
}
.asideFixed li:hover a,
.asideFixed li.active a{
    background-color: #11b9b7;
    color: #fff;
}
.journeyRecommendModel .journeyRecommendList{
    margin-left: 40px;
}
.journeyRecommendList > li{
    padding-bottom: 40px;
    position: relative;
}
.journeyRecommendList > li{
    /*opacity: 0.4;
    filter:alpha(opacity=40);*/
    opacity: 1;
    filter:alpha(opacity=100);    
}
.journeyRecommendList > li .link {
    position: relative;
    top: -75px;
}
.journeyRecommendList .wrapperList{
    margin: 30px 0;
}
.wrapperList.overviewBlock {
    border-bottom: none;
}
.wrapperList .twoRow.overviewLeft{
    float: none;
    width: 100%;
    padding: 0 0 25px 0;
    border-right: none;
    border-bottom: 1px solid #cff1f1;
}
.overviewLeft .listTitle {
    margin-bottom: 25px!important;
}
.wrapperList .twoRow.overviewRight{
    font-size: 14px;
    width: 100%;
    float: none;
    padding: 25px 0 0 0;
}
.overviewRight .rightIcon{
    margin-bottom: 10px;
}
.rightIcon .carIcon{
    width: 27px;
    height: 21px;
    background-position: -93px -43px;
    margin-top: 5px;
}
.rightIcon .weatherIcon{
    width: 29px;
    height: 26px;
    background-position: -128px -43px;
}
.rightIcon .clothesIcon{
    width: 30px;
    height: 23px;
    background-position: -162px -43px;
    margin-top: 3px;
}
.journeyRecommendList .leftDot{
    width: 21px;
    height: 21px;
    background-position: -222px -43px;
    position: absolute;
    left: -40px;
    top: 1px;
    z-index: 2;
}
.journeyRecommendList li:first-child .leftDot {
    top: 16px;
}
.journeyRecommendList li.active{
    opacity: 1;
    filter:alpha(opacity=100);
}
.journeyRecommendList li.active .leftDot{
    background-position: -196px -43px;
}
.journeyRecommendList .leftLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 3px solid #cff1f1;
    position: absolute;
    left: -26px;
    top: 20px;
    z-index: 1;
}
.journeyRecommendList li.last{
    border-bottom: 1px solid #cff1f1;
}
.journeyRecommendList li.last .lastDot{
    width: 21px;
    height: 21px;
    background-position: -222px -43px;
    position: absolute;
    left: -40px;
    bottom: -20px;
    z-index: 2;
}
.journeyRecommendList .listTitle{
    font-size: 20px;
    color: #11b9b7;
    margin: 15px 0;
}
.commonModel .fontSize12{
    font-size: 12px;
    margin: 0 5px;
    vertical-align: middle;
}
.journeyRecommendList .daysImg{
    margin: 10px 0;
}
.daysImgDescCont {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 28px;
}
.journeyRecommendList .daysImg img{
    display: inline-block;
    width: 534px;
    height: 303px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.journeyRecommendList .daysImg img:first-child{
    margin-right: 10px;
}
.daysInfo {
    margin-bottom: 15px;
}
.daysInfo li{
    padding-bottom: 10px;
    line-height: 25px;
    font-size: 16px;
}
.daysInfo .daysInfoLeft{
    float: left;
    width: 45px;
}
.daysInfo .daysFontsDetails{
    float: left;
    width: 1040px;
    font-size: 15px;
    line-height: 28px;
}
.commonModel .marginRight10{
    margin-right: 10px;
}
.commonModel .hotelIcon{
    width: 26px;
    height: 22px;
    background-position: 0 -43px;
}
.commonModel .breakfastIcon{
    width: 25px;
    height: 27px;
    background-position: -248px -43px;
}
.commonModel .shoesIcon{
    width: 21px;
    height: 19px;
    background-position: -56px -77px;
    margin-left: 9px;
}
.commonModel .bookingIcon{
    width: 19px;
    height: 24px;
    background-position: 0 -77px;
}
.wrapperList.noBlueBorder{
    border-bottom: none;
}
.wrapperList.noBlueBorder .row{
    padding-bottom: 5px;    
}
.wrapperList.noBlueBorder .titleFonts{
    font-size: 15px;
    font-weight: bold;
    color: #616161;
    margin: 20px 0 10px;
}
.commonModel .userEvaluationIcon{
    width: 25px;
    height: 24px;
    background-position: -25px -77px;
}
.commonModel .commonTitle .fonts14{
    font-size: 14px;
    color: #9f9f9f;
}
.commonModel .commonTitle .fonts14 .blueFonts,
.commonModel .blueFonts{
    color: #11b9b7;
}
.commonModel .color9f9f9fFonts{
    color: #9f9f9f;
}
.userEvaluationList li{
    padding: 25px;
    border-bottom: 1px solid #cff1f1;
}
.userEvaluationList .userEvaluationLeft{
    font-size: 12px;
    float: left;
    width: 10%;
    text-align: center;
}
.userEvaluationList .userEvaluationLeft img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.userEvaluationList .userEvaluationRight{
    font-size: 14px;
    float: left;
    width: 88%;
    margin-left: 20px;
}
.userEvaluationList .userEvaluationRight p{
    line-height: 25px;
    margin-top: 5px;
}
.commonStarLevelIcon{
    display: inline-block;
    width: 138px;
    height: 13px;
    vertical-align: middle;
    line-height: 1;
    background: url("../../images/client/starLevelIcon.png") no-repeat;
}
.starLevelIcon{
    background-position: 0 -18px;
}
.starLevelIcon span{
    margin-top: -7px;
    background-position: 0 0;
}
.commonStarLevelIcon.starLevel-1.noLeftStar {
    width: 13px;
}
.commonStarLevelIcon.starLevel-2.noLeftStar {
    width: 34px;
}
.commonStarLevelIcon.starLevel-3.noLeftStar {
    width: 54px;
}
.commonStarLevelIcon.starLevel-4.noLeftStar {
    width: 75px;
}
.commonStarLevelIcon.starLevel-5.noLeftStar {
    width: 96px;
}
.commonStarLevelIcon.starLevel-6.noLeftStar {
    width: 117px;
}
.commonStarLevelIcon.starLevel-7.noLeftStar {
    width: 138px;
}
.commonStarLevelIcon.starLevel-0-5.noLeftStar {
    width: 7px;
}
.commonStarLevelIcon.starLevel-1-5.noLeftStar {
    width: 28px;
}
.commonStarLevelIcon.starLevel-2-5.noLeftStar {
    width: 48px;
}
.commonStarLevelIcon.starLevel-3-5.noLeftStar {
    width: 69px;
}
.commonStarLevelIcon.starLevel-4-5.noLeftStar {
    width: 90px;
}
.commonStarLevelIcon.starLevel-5-5.noLeftStar {
    width: 111px;
}
.commonStarLevelIcon.starLevel-6-5.noLeftStar {
    width: 132px;
}
.commonStarLevelIcon.allStar5 {
    width: 96px;
}
.commonStarLevelIcon.starLevel-1 span{
    width: 13px;
}
.commonStarLevelIcon.starLevel-2 span{
    width: 34px;
}
.commonStarLevelIcon.starLevel-3 span{
    width: 54px;
}
.commonStarLevelIcon.starLevel-4 span{
    width: 75px;
}
.commonStarLevelIcon.starLevel-5 span{
    width: 96px;
}
.commonStarLevelIcon.starLevel-6 span{
    width: 117px;
}
.commonStarLevelIcon.starLevel-7 span{
    width: 138px;
}
.commonStarLevelIcon.starLevel-0-5 span{
    width: 7px;
}
.commonStarLevelIcon.starLevel-1-5 span{
    width: 28px;
}
.commonStarLevelIcon.starLevel-2-5 span{
    width: 48px;
}
.commonStarLevelIcon.starLevel-3-5 span{
    width: 69px;
}
.commonStarLevelIcon.starLevel-4-5 span{
    width: 90px;
}
.commonStarLevelIcon.starLevel-5-5 span{
    width: 111px;
}
.commonStarLevelIcon.starLevel-6-5 span{
    width: 132px;
}
.commonModel .airInfoIcon{
    width: 25px;
    height: 24px;
    background-position: -220px 0;
}
.commonModel .airInfoList{
    margin: 8px 0;
    position: relative;
    border-bottom: 1px solid #dcf5f4;
}
.commonModel .airInfoList li{
    display: inline-block;
    padding: 20px 0;
}
.airInfoList .dashedLine{
    display: inline-block;
    width: 1px;
    height: 93%;
    border-left: 1px dashed #c3eded;
    position: absolute;
    top: 0;
}
.airInfoList .dashedLine.firstLine{
    left: 165px;
}
.airInfoList .dashedLine.secondLine{
    left: 775px;
}
.airInfoList li.leftGoBack{
    width: 160px;
    text-align: center;
    line-height: 25px;
}
.airInfoList .lightBlue18Fonts,
.airInfoList .lightBlue16Fonts{
    color: #11b9b7;
    margin-bottom: 7px;
}
.airInfoList .lightBlue18Fonts{
    font-size: 18px;
}
.airInfoList .lightBlue16Fonts{
    font-size: 16px;
}
.leftGoBack .goBackCommonStyle{
    display: inline-block;
    font-size: 13px;
    min-width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 0 6px;
}
.leftGoBack .goBackCommonStyle.greenBg{
    background-color: #1adc87;
}
.leftGoBack .goBackCommonStyle.blueBg{
    background-color: #11b9b7;
}
.airInfoList li.timePlaceAirport{
    width: 580px;
    margin: 0 30px;
}
.timePlaceAirport .timePlaceInfo{
    display: inline-block;
    width: 255px;
    text-align: center;
    margin-right: 30px;
}
.timePlaceAirport .timePlaceFonts{
    font-size: 24px;
    margin-bottom: 5px;
}
.timePlaceFonts .placeFonts{
    font-weight: normal;
    color: #11b9b7;
}
.timePlaceFonts .timeFonts{
    color: #484848;
}
.timePlaceAirport .airportFonts{
    font-size: 16px;
    color: #9f9f9f;
}
.timePlaceAirport .flyToIcon{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url("../../images/client/productInfoIcon.png") no-repeat -248px 0;
    position: absolute;
    left: 40%;
    top: 30%;
}
.airInfoList .shippingSpaceInfo{
    width: 310px;
    text-align: center;
}
.airLogo .verticalAlignMiddle{
    vertical-align: middle;
}
.commonTitle.noBorder{
    border: none;
}
.commonModel .hotelInfoModel{
    margin-bottom: 30px;
}
.hotelInfoModel .leftHotelImg{
    float: left;
    width: 760px;
}
.leftHotelImg .hotelTitleModel{
    position: relative;
    border-top: 1px solid #dcf5f4;
    color: #616161;
}
.leftHotelImg .hotelTittle{
    width: 80%;
    font-size: 20px;
    padding: 10px 0 0;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hotelTitleModel .nightsContent{
    font-size: 15px;
    padding: 5px 0 5px 10px;
    border-left: 1px solid #e5e5e5;
    position: absolute;
    top: 15px;
    right: 2%;
}
.nightsContent .fontSize5{
    display: inline-block;
    font-size: 5px;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
         -o-transform: scale(0.3);
            transform: scale(0.3);
    margin: 0 3px;
    vertical-align: middle;
}
.nightsContent .moonIcon{
    width: 16px;
    height: 16px;
    background-position: -82px -77px;
    margin: 0 5px;
    margin-top: -1px;
}
.leftHotelImg .hotelBigImg img{
    width: 758px;
    height: 474px;
}
.leftHotelImg .hotelSmallImg{
    margin-top: 15px;
}
.leftHotelImg .hotelSmallImg li{
    float: left;
    width: 138px;
    margin-left: 17px;
}
.leftHotelImg .hotelSmallImg li:first-child{
    margin-left: 0;
}
.hotelSmallImg li img{
    width: 138px;
    height: 86px;
    opacity: 0.4;
    filter:alpha(opacity=40);
}
.hotelSmallImg li.active img{
    opacity: 1;
    filter:alpha(opacity=100);
}
.hotelInfoModel .rightHotelTabs{
    float: right;
    width: 360px;
}
.rightHotelTabs .hotel-info-tab{
    margin: 0;
    border-bottom: 1px solid #d4efee;
}
.rightHotelTabs .placeholder-bar {
    width: 100%;
    height: 5px;
    background-color: #f9f9f9;
}
.rightHotelTabs .tab-cont-block {
    background-color: #f9f9f9;
    position: relative;   
}
.rightHotelTabs .tab-cont-block .scroll-cover-bar {
    width: 345px;
    height: 25px;
    position: absolute;
    top: -5px;
    background-color: #f9f9f9;
    opacity: 0.7;
}
.hotel-info-tab li{
    float: left;
    width: 120px;
    text-align: center;
    height: 57px;
    line-height: 57px;
    color: #616161;
    background-color: #edf5f5;
    border-left: 1px solid #d4efee;
    cursor: pointer;
}
.hotel-info-tab li:first-child{
    border-left: none;
    border-top-left-radius: 3px;
}
.hotel-info-tab li:last-child{
    border-top-right-radius: 3px;
}
.hotel-info-tab li.current{
    color: #fff;
    background-color: #11b9b7;
}
.rightHotelTabs .tab-cont {
    background-color: #f9f9f9;
    display: none;
}
.rightHotelTabs .tab-cont::-webkit-scrollbar-track {
    border-radius: 10px;
}
.rightHotelTabs .tab-cont::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.rightHotelTabs .tab-cont::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    border-radius: 10px;
}
.rightHotelTabs .listInfo,
.rightHotelTabs .tab-cont {
    height: 565px;
    padding: 10px 15px;
    overflow: auto;
    background-color: #f9f9f9;
}
.rightHotelTabs .hotel-notes {
    padding-top: 15px;
}
.commonModel .blueFonts14{
    font-size: 14px;
    color: #11b9b7;
    margin: 0 5px;
}
.listInfo .hotelTabList{
    margin: 3px 5px;
    border-bottom: 1px solid #d4efee;
}
.listInfo .hotelTabList th{
    color: #ababab;
    padding: 5px 2px 5px 0;
    text-align: left;
}
.listInfo .hotelTabList td{
    color: #616161;
}
.listInfo .hotelTabList .last td,
.listInfo .hotelTabList .last th{
    padding-top: 7px;
    padding-bottom: 12px;
}
.listInfo .hotelTabList .verticalAlignTop{
    vertical-align: top;
    padding-top: 0;
}
.listInfo .fontsModelDetail{
    margin: 10px 0;
}
.listInfo .fontsModelDetail .titleFonts{
    font-size: 14px;
    color: #11b9b7;
    margin: 10px 0 5px;
}
.fontsModelDetail .fontsModelList{
    font-size: 14px;
    line-height: 23px;
}
.rightHotelTabs .hotel-facilities .titleFonts {
    font-size: 14px;
    margin: 0;
    padding: 20px 0 15px;
}

.rightHotelTabs .tab-cont pre {
    background-color: #f9f9f9;
    font-size: 15px;
    line-height: 28px;
}

.hotel-notes .hotelTabList{
    margin: 3px 5px;
}
.hotel-notes .hotelTabList th{
    color: #ababab;
    padding: 8px 2px 8px 0;
    text-align: left;
}
.hotel-notes .hotelTabList td{
    color: #616161;
    padding: 8px 2px 8px 0;
}
.hotel-notes .hotelTabList .verticalAlignTop{
    vertical-align: top;
    padding-top: 0;
}

.proHeadNavBlock {
    margin-top: 15px;
}

.proHeadNavBlock .commonIcon {
    background: url(../../images/client/pro-head-nav.png) no-repeat;
    display: inline-block;
}

.proHeadNavBlock .headLeftArrowIcon {
    width: 25px;
    height: 26px;
    background-position: 0 0;
}

.proHeadNavBlock .headLeftArrowIcon:hover {
    background-position: 0 -32px;
}

.proHeadNavBlock .headHomeIcon {
    width: 29px;
    height: 26px;
    background-position: -27px 0;
}

.proHeadNavBlock .headHomeIcon:hover {
    background-position: -27px -32px;
}

.proHeadNavBlock .headListIcon {
    width: 27px;
    height: 23px;
    background-position: -59px 0;
}

.proHeadNavBlock .headListIcon:hover {
    background-position: -60px -33px;
}

.proHeadNavBlock .headRightArrowIcon {
    width: 25px;
    height: 26px;
    background-position: -89px 0;
}

.proHeadNavBlock .headRightArrowIcon:hover {
    background-position: -90px -32px;
}

/*  tab 切换样式 S */
.common-tab-bar {
}
.common-tab-bar .tab-top {
    width: 100%;
    height: 15px;
    background-color: #11b9b7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: 5px;
}
ul.common-tab {
    color: #fff;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    position: relative;
}
ul.common-tab > li {
    float: left;
    padding: 15px 23px;
    background-color: #11b9b7;
}
ul.common-tab > li:hover {
    cursor: pointer;
}
ul.common-tab > li.current {
    background-color: #f9f9f9;
    color: #11b9b7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}
ul.common-tab > li.placement {
    height: 50px;
    width: 9px;
    padding: 0;
}
ul.common-tab > li.placement.left-active {
    border-bottom-right-radius: 5px;
}
ul.common-tab > li.placement.right-active {
    border-bottom-left-radius: 5px;
}
ul.common-tab > li.rest {
    cursor: default;
    padding: 0;
}
/*  tab 切换样式 E */

.price-order-block {
    margin: 115px 0 40px 0;
}

.left-price-info {
    float: left;
}

.left-price-info ul.common-tab > li.current {
    background-color: #fbfbfb;
}

.right-order-info {
    float: right;
    width: 355px;
    background-color: #f9f9f9;
    padding: 18px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    margin-top: 5px;
}

.custom-price-calendar-container {
    position: relative;
}

.custom-price-calendar-container .wrap-cover-bg {
    background: url(../../images/client/calendar-cover-bg.png) repeat-y center;
    width: 100%;
    height: 99%;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
    display: none;
}

.calendarTables {
    background-color: #fbfbfb;
    color: #999;
    font-size: 15px;
    border: 2px solid #11b9b7;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.week-day-title {
    margin: 0;
}

.week-day-title li {
    float: left;
    height: 38px;
    line-height: 38px;
    width: 106px;
    background-color: #fbfbfb;
    color: #999;
    text-align: center;
}

.week-day-title.top {
    background-color: #11b9b7;
    padding: 0 2px;
    border-radius: 4px;
    position: absolute;
    top: -42px;
    width: 100%;
    display: none;
}

.week-day-title.top li {
    color: #fff;
    background-color: #11b9b7;
    height: 48px;
    line-height: 48px;
}

.calTable {
}

.calTable td {
    border-right: 1px solid #cceeed;
    border-bottom: 1px solid #cceeed;
}

.calTable tr:first-child td {
    border-top: 1px solid #cceeed;
}

.calTable tr:last-child td {
    border-bottom: none;
}

.calTable td:last-child {
    border-right: none;
}

.calTable .tdCont {
    width: 106px;
    height: 75px;
    position: relative;
}

.calTable .tdCont .priceCover {
    position: relative;
    padding: 10px 8px 0 10px;
    height: 100%;
}

.calTable .tdCont .priceCover.current {
    background-color: #defcfc;
}

.calTable .tdCont .priceCover .dateDay {
    float: left;
}

.calTable .tdCont .priceCover .right-block {
    float: right;
    text-align: right;
}

.calTable .tdCont .onsale .leftNum {
    color: #e46c14;
    line-height: 20px;
}

.calTable .tdCont .onsale .price {
    color: #e46c14;
    line-height: 20px;
}

.calTable .tdCont .soldout .leftNum {
    color: #cacaca;
    line-height: 20px;
}

.calTable .tdCont .soldout .price {
    color: #cacaca;
    line-height: 20px;
}

.calTable .tdCont .onsale:hover,
.calTable .tdCont .soldout:hover {
    cursor: pointer;
}

.calTable .tdCont .tripCover {
    position: absolute;
    top: 0; 
    left: 0;
    width: 99.5%;
    height: 100%;
    z-index: 2;
    background-color: #defcfc;
    color: #11b9b7;
    border-radius: 4px;
    padding: 10px 8px 0 10px;
}

.calTable .tdCont .tripCover:hover {
    cursor: pointer;
}

.calTable .tdCont .tripCover.current {
    background-color: #fff;
}

.calTable .tdCont .tripCover .dateDay {
    float: left;
}

.calTable .tdCont .tripCover .right-block {
    float: right;
    text-align: right;
}

.calTable .tdCont .tripCover .right-block .icon {
    margin-top: 17px;
}

.calTable .tdCont .tripCover .right-block .flight-icon {
    background: url(../../images/client/trip-icon.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
}

.calTable .tdCont .tripCover .right-block .hotel-icon {
    background: url(../../images/client/trip-icon.png) no-repeat 0 -20px;
    width: 21px;
    height: 17px;
    display: inline-block;
}

.popover-trip-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 7px;
    color: #616161;
    font-size: 12px;
    position: absolute;
    z-index: 3;
    width: 335px;
    display: none;
}

.popover-trip-container .top-block {
    border-bottom: 1px solid #cff1f1;
}

.popover-trip-container .top-block .left-block,
.popover-trip-container .top-block .right-block {
    padding-top: 3px;
}

.popover-trip-container .bottom-block .left-block,
.popover-trip-container .bottom-block .right-block {
    padding-top: 5px;
}

.popover-trip-container .left-block {
    float: left;
    width: 32px;
    text-align: center;
}

.popover-trip-container .right-block {
    float: left;
    border-left: 1px solid #cff1f1;
    padding-left: 10px;
    min-height: 65px;
}

.popover-trip-container .day-icon {
    background: url(../../images/client/day-night-icon.png) no-repeat 0 0;
    width: 19px;
    height: 20px;
    display: inline-block;
}

.popover-trip-container .night-icon {
    background: url(../../images/client/day-night-icon.png) no-repeat 0 -22px;
    width: 13px;
    height: 14px;
    display: inline-block;
}

.popover-trip-container .flight-info td {
    padding: 3px 0 3px 10px;
    border: none!important;
}

.popover-trip-container .flight-info td:first-child {
    padding-left: 0;
    color: #11b9b7;
    width: 132px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.popover-trip-container .flight-info td:last-child {
    color: #11b9b7;
}

.popover-trip-container .flight-info .city {
    width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.popover-trip-container .right-block .freetime {
    left: 45%;
    display: inline-block;
    position: absolute;
    top: 24px;
    font-size: 14px;
}

.popover-trip-container .hotel-name {
    line-height: 18px;  
}

.popover-trip-container .hotel-name .ch-name,
.popover-trip-container .hotel-name .en-name {
    width: 242px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.popover-trip-container .star-rating {
}

.tag-block {
    border-bottom: 1px solid #d4efee;
    padding-bottom: 12px;
}

.tag-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -40px 0;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin-right: 5px;
    float: left;
}

.trip-tag-list {
    float: left;
    width: 292px;
    max-height: 62px;
    overflow: hidden;
}

.trip-tag {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    border-radius: 3px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-bg-1 {
    background-color: #44bcda;
}

.tag-bg-2 {
    background-color: #df7eb0;
}

.tag-bg-3 {
    background-color: #ea9e26;
}

.tag-bg-4 {
    background-color: #11b9b7;
}

.tag-bg-5 {
    background-color: #aa87ae;
}

.date-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -67px 0;
    width: 21px;
    height: 21px;
    vertical-align: middle;
}

.departure-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -93px 0;
    width: 21px;
    height: 21px;
    vertical-align: middle;
}

.destination-icon {
    display: inline-block;
    background: url(../../images/client/dest-icon.png) no-repeat 0 0;
    width: 21px;
    height: 23px;
    vertical-align: middle;
}

.person-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -144px 0;
    width: 19px;
    height: 22px;
    vertical-align: middle;
    margin-left: 2px;
}

.trip-info-block {
    padding: 20px 0;
    border-bottom: 1px solid #d4efee;
}

.trip-info-table th,
.trip-info-table td {
    padding: 9px 0;
}

.trip-info-table th {
    color: #ababab;
    padding-left: 10px;
}

.trip-info-table tr:last-child th,
.trip-info-table tr:last-child td {
    padding-top: 0;
    padding-bottom: 0;
}

.trip-info-table td:last-child {
    padding-left: 6px;
}

.buy-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -169px 0;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 6px;
}

.share-icon {
    display: inline-block;
    background: url(../../images/client/productInfoIcon.png) no-repeat -195px 0;
    width: 19px;
    height: 23px;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 6px;
}

.order-block {
   
}

.order-block .title {
    color: #ababab;
}

.cur-price .price-text {
    font-size: 42px;
    color: #e46c14;
}

.cur-price .price-text em {
    font-size: 14px;
}

.cur-price .price-tooltip {
    color: #11b9b7;
    cursor: default;
    margin-left: 5px;
}
.cur-price .green-border-tooltip .tooltip-inner{
    max-width:314px;
    text-align:left;
}
.discard-price {
    color: #ababab;
    padding-left: 78px;
}

.discard-price .price-text {
    text-decoration: line-through;
    font-size: 24px;
}

.discard-price .price-text em {
    font-size: 14px;
}

.order-block .order-btn {
    background-color: #ffa200;
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 3px;
    margin: 15px 0;
}

.order-block .order-btn:hover {
    background-color: #f29901;
    cursor: pointer;
}
.fixed-order-btn {
    background-color: #ffa200;
    text-align: center;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    width: 160px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.fixed-order-btn:hover {
    background-color: #f29901;
    cursor: pointer;
}

.qrCode-icon {
    background: url(../../images/client/qrCode-hover-icon.png) no-repeat;
    background-size:100% 100%;
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    position: relative;
    margin-top: -3px;
}
.qrCode-icon:hover {
    background: url(../../images/client/qrCode-hover-icon.png) no-repeat;
}

.qrCode-icon:hover .qrCode-image-container {
    display: block;
}

.qrCode-image-container {
    position: absolute;
    z-index: 5;
    left: 24px;
    display: none;
}

.share-info .share-icon,.share-info .title,.share-info .qrCode-icon{
    float:left;
}

.share-info .title{
    margin:0 4px 0 4px;
}

.share-info .green-border-tooltip .tooltip-inner{
    padding:1px;
}

.wishlist{
    background: url("../../images/client/confirm_normal_s.png") no-repeat 0 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    float:right;
    cursor: pointer;
    margin-top: -5px;
}

.wishlist.actived,
.wishlist:hover{
    background: url("../../images/client/confirm_pressed_s.png") no-repeat 0 0;
}

.commonModel pre {
    font-size: 15px;
    line-height: 28px;
    color: #616161;
}

.timePlaceAirport .stoppingPoint {
    background: url("../../images/client/order-spirit.png") no-repeat -33px 0;
    display: inline-block;
    width: 92px;
    height: 25px;
    color: #11b9b7;
    font-size: 12px;
    cursor: default;
    position: absolute;
    left: 37%;
    top: 30%;
    text-align: center;
    line-height: 25px;
}

.overviewImg {
    width: 100%;
}

.tipsTopBlock  {
    margin-bottom: 18px;
}

.tipsTopBlock .title {
    float: left;
    font-size: 20px;
    color: #11b9b7;
}

.tipsContentBlock {
    font-size: 15px;
    line-height: 28px;
}

.tipsTopBlock .tripTipsIconList {
    float: left;
    margin-left: 20px;
}

.tripTipsIconList > li {
    float: left;
    margin-right: 15px;
    padding-bottom: 0;
}

.tripTipsIcon {
    display: inline-block;
    background: url(../../images/client/trip-tips-icon.png) no-repeat;
    vertical-align: middle;
}

.tripTipsIcon.weatherIcon {
    background-position: 0 0;
    width: 29px;
    height: 26px;
    cursor: pointer;
}

.tripTipsIcon.weatherIcon:hover,
.tripTipsIcon.weatherIcon.current {
    background-position: 0 -34px;
}

.tripTipsIcon.shoppingIcon {
    background-position: -31px 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tripTipsIcon.shoppingIcon:hover,
.tripTipsIcon.shoppingIcon.current {
    background-position: -31px -35px;
}

.tripTipsIcon.communicationIcon {
    background-position: -58px 0;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.tripTipsIcon.communicationIcon:hover,
.tripTipsIcon.communicationIcon.current {
    background-position: -58px -35px;
}

.tripTipsIcon.customIcon {
    background-position: -80px 0;
    width: 22px;
    height: 25px;
    cursor: pointer;
}

.tripTipsIcon.customIcon:hover,
.tripTipsIcon.customIcon.current {
    background-position: -80px -35px;
}

.tripTipsIcon.otherIcon {
    background-position: -104px 0;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.tripTipsIcon.otherIcon:hover,
.tripTipsIcon.otherIcon.current {
    background-position: -104px -35px;
}

.askForBtn {
    text-align: right;
}

.askForBtn a {
    height: 35px;
    line-height: 35px;
    width: 80px;
    min-width: inherit;
}
/*   产品详情 E   */

/*   产品列表  start   */
.product-container{
}
.product-wrapper{
}
.product-row{
    width: 1130px;
    margin: 0 auto;
    padding:30px 0px;
    min-height: 160px;
}
.product-clomu {
    width: 360px;
    float: left;
}
.product-clomu p{
    padding:10px 0px;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color:#fff;
}
.product-clomu-txt{
    font-size: 13px;
    line-height: 18px;
    padding-right:35px;
    color:#8efff5;
}
.product-clomu-space{
    margin-left:25px;
}
.content-above-image {
    width: 1130px;
    margin: 0 auto;
}
.product-one-text{
    float: left;
    color:#ffffff;
    margin-left: 150px;
    margin-top: 175px;
}
.product-one-text p{
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}
.product-list-flag{
    float: right;
    margin-top: 30px;
}
.lovetips{
    width:174px;
    height:144px;
    display: inline-block;
    vertical-align: middle;
    background:url("../../images/client/lovetips.png") no-repeat 0 0;
}
.product-one-txt{
    font-size: 33px;
    line-height: 40px;
    font-weight: 300;
}
.product-num{
    font-size: 40px;
    font-weight: bold;;
    line-height: 40px;
}
.product-up{
    position:relative;
    top:-18px;
    left:5px;
    font-size: 20px;
    line-height: 20px;
}
.start-trip{
    /*padding: 9px 52px;*/
    padding: 9px 0;
    border: 2px solid #fff;
    border-radius: 6px;
    display: inline-block;
    width: 227px;
    text-align: center;
}
.start-trip i {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../../images/client/white-right-arrow.png) no-repeat;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -10px;
}
.start-trip span {
    font-size: 24px;
    color: #fff;
}
.product-clomu ul{
    list-style: none;
}
.product-clomu ul li{
    float:left;
    min-width: 100px;
    margin-bottom:10px;
}
.product-clomu ul li a{
    font-size: 13px;
    line-height: 18px;
    color:#8efff5;
    padding-bottom: 5px;
    border-bottom: 1px solid #47b9a9;
    text-decoration: none;
}
.product-clomu ul li a:hover{
    text-decoration: none;
    color:#ffffff;
}
.pro-list-box{
    width:100%;
}
.product-aboutus{

}
.pro-list-img{
    width:1130px;
    height:425px;
}
.pro-list-white{
    padding:30px 0px;
    min-height:220px;
    background-color: #ffffff;
    width: 1130px;
    margin: 0 auto;
}
.list-white-left{
	width:270px;
	padding-left:33px;
    padding-top:5px;
	min-height:200px;
	float:left;
}
.list-white-right{
	width:130px;
    padding-top:5px;
	padding-left:30px;
    margin-right:25px;
	min-height:200px;
	float:right;
}
.list-white-center{
	width:703px;
    min-height:227px;
    padding-top:5px;
	padding-left:50px;
    border-left:1px #ebebeb solid;
    border-right:1px #ebebeb solid;
	float:left;	
}
.list-white-title{
    font-size: 20px;
    line-height: 18px;
    color:#bdbdbd;
}
.confirm-flag{
    padding-top:42px;
    padding-bottom:30px;
}
.wishList{
    width:95px;
    height:95px;
    display: inline-block;
    vertical-align: middle;
    background:url("../../images/client/confirm_normal.png") no-repeat 0 0;
    cursor: pointer;
}
.wishList.active{
    background:url("../../images/client/confirm_pressed.png") no-repeat 0 0;
}
.list-white-cnt{
    padding-top:30px;
}
.list-white-cnt ul{
    list-style: none;
}
.list-white-cnt ul li{
    width:220px;
    float:left;
    margin:10px 0px;    
}
.locBox{
	width:285px;
    margin-right:40px;
	margin-bottom:42px;
	float:left;	
}
.locFlag{
    width:34px;
    height:37px;
    float:left;
    margin-right:11px;
    padding:5px 0px;
}
.locTxt{
	width:240px;
    float:left;
    font-size: 16px;
    line-height: 42px;
    color:#565656;
    height: 48px;
}
.locTxt span {
    display: inline-block;
    line-height: 24px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.locImg{
    width:34px;
    height:37px;
    display: inline-block;
    vertical-align: middle;
    background:url("../../images/client/locIcon.png") no-repeat 0 0;
}
.product-container .foot {
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid #47b9a9;
    padding: 22px 0;
    color: #8efff5;
    font-size: 12px;
}
.btn-space{
    margin:5px 0px;
    padding:5px 8px;
}

.product-container .foot .service-tel {
    float: right;
}
.border-radius{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:5px 6px;
    margin-bottom:12px;
    margin-right:6px;
    font-size: 14px;
    line-height: 18px;
    color:#ffffff;
    float: left;
}
.label-color-1{
    background-color: #44bcda;
}
.label-color-2{
    background-color: #df7eb0;
}
.label-color-3{
    background-color: #ea9e26;
}
.label-color-4{
    background-color: #11b9b7;
}
.label-color-5{
    background-color: #aa87ae;
}
.product-container .foot .service-tel .telnum {
    font-size: 15px;
}
.pro-item-box {
    height: 550px;  /*  图片显示出来的高度 */
    overflow: hidden;
    position: relative;
    width: 100%;
}
.pro-item-box .img-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.content-above-image {
    position: relative;
    z-index: 2;
    top: 0;
    width: 1920px;
    margin: 0;
    float: right;
    right: 50%;
}
.content-above-image img {
    position: relative;
    right: -50%;
}
.content-above-image a {
    position: absolute;
    left: 76.5%;
    bottom: 69px;
}
.content-above-image a:hover {
    background-color: rgba(255,255,255,0.2);    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);/*IE-8*/
}
.parallax-image-wrapper {
    z-index: -5;
    position: relative;
    width: 1920px;    /*  可能会改  */
    float: right;
    right: 50%;
    display: inline-block;
}
.parallax-image-wrapper img {
    top: -780px;   /*  默认需要显示出来的图片位置  */
    position: relative;
    right: -50%;
}

/*栏目模块*/
.columnModel{
    height:104px;
    border-bottom:1px solid #e7e7e7;
    padding-top:22px;
}
.columnModel ul{
    overflow: hidden;
    margin:0;
}
.columnModel ul li{
    width:48px;
    float:left;
    margin:0 15px;
    font-size:12px;
    text-align: center;
}
.columnModel ul li span{
    display:inline-block;
    line-height:32px;
    color: #929292;
}
.columnModel ul li span.current{
    color:#1cafad;
}
.orderIcon{
    width:24px;
    height:30px;
    background:url(../../images/client/columnIcon.png) no-repeat 0 0;
}
.favorIcon{
    width:31px;
    height:28px;
    background:url(../../images/client/columnIcon.png) no-repeat -25px 0;
}
.elecWalletIcon{
    width:29px;
    height:29px;
    background:url(../../images/client/columnIcon.png) no-repeat -56px 0;
}
.messageIcon{
    width:29px;
    height:29px;
    background:url(../../images/client/columnIcon.png) no-repeat -86px 0;
}
/*选项卡模块*/
.tipTab{
    height:55px;
}
.message-tip-tab{
    height:55px;
    padding-top: 8px;
    text-align: center;
    border-bottom:1px solid #e7e7e7;
    position:relative;
    overflow: hidden;
}
.message-tip-tab li{
    width:159px;
    float:left;
    font-size: 18px;
    color: #858585;
    border: 1px solid #fff;
    padding: 6px 14px;
    /* border-radius: 2px;*/
    cursor: pointer;
}
.tab-toggle{
    position:relative;
}
.tab-toggle .slidline{
    width: 150px;
    height: 3px;
    background-color: #11B9B7;
    position: absolute;
    top:52px;
    left: 0;
    z-index: 2;
}
.message-tip-tab li{
    position:relative;
}
.message-tip-tab li.current {
    color: #11b9b7;
}

.message-tip-tab li span{
    width:5px;
    height:5px;
    background:#efc524;
    border-radius:100%;
    position:absolute;
    right: 52px;
    top: 8px;
    z-index:9;
}

.tab-cont{
    display:none;
}

/*微信提醒模块*/
.remind-tab-cont ul li{
    padding:10px 18px 8px 30px;
    /*height:76px;*/
    color:#92918b;
    font-size:14px;
    word-wrap:break-all;
    margin-bottom:8px;
    position:relative;
}
.remind-tab-cont ul li a{
    color:#1cafad;
}
.remind-tab-cont ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.remind-tab-cont ul li .remind-conmenicon{
    width:16px;
    height:20px;
    position:absolute;
    left:8px;
    top:12px;
    background: url(../../images/client/remindicon.png) 0 0;
}
.remind-tab-cont ul li .ordericon{
    width:14px;
    background: url(../../images/client/remindicon.png) 0 0;
}

.remind-tab-cont ul li .unread-ordericon{
    width:14px;
    background-position:-15px 0;
}
.remind-tab-cont ul li .vouchericon{
    background: url(../../images/client/remindicon.png) -30px 0;
}

.remind-tab-cont ul li .unread-vouchericon{
    background-position:-47px 0;
}
.remind-tab-cont ul li .balanceicon{
    background: url(../../images/client/remindicon.png) -64px 0;
}

.remind-tab-cont ul li .unread-balanceicon{
    background-position:-81px 0;
}
.remind-tab-cont ul li.unread{
    background:#fffded;
    border:1px solid #eee;
}
.privletter-tab-cont ul li.unread{
    background:#fffded;
    border:1px solid #eee;
}

.remind-tab-cont,.privletter-tab-cont{
    height:480px;
    display:none;
}
.remind-tab-dot,.privletter-tab-dot{
    text-align: center;
}
.remind-tab-dot li,.privletter-tab-dot li{
    display:inline-block;
    border-radius:100%;
    margin:0 5px 0 0;
    width:9px;
    height:9px;
    background:#dbdbdb;
}
.remind-tab-dot li.current,.privletter-tab-dot li.current{
    background:#1cafad;
}
/*私信模块*/
.privletter-tab-cont ul li{
    padding:14px 10px 14px 5px;
    min-height:80px;
}
.privaletter-left{
    width:42px;
    height:42px;
    float:left;
}
.privaletter-left img{
    width: 100%;
    height: 100%;
}
.privaletter-right{
    width:256px;
    float:right;
    font-size:14px;
    word-spacing: -1;
    padding:2px 8px 0 10px;
}
.username{
    color: #616161;
    float:left;
}
.priletter-data{
    color: #d4d4d4;
    float: right;
}
.priletter-top{
    overflow:hidden;
}
.priletter-bottom{
    margin:0;
    height:40px;
}
.priletter-bottom a{
    color: #929292;
}

/*私信结束*/

/*   产品列表  end   */
.grayFont {
    color: #ababab;
}

.hasActiveTip {
    display: none;
    font-size: 14px;
    color: #11b9b7;
    margin-top: 10px;
    text-align: center;
}

.wishedTip {
    font-size: 13px;
    color: #11b9b7;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    display: none;
}

/** 无产品列表页 -start **/
.logoImg{
    display: inline-block;
    width: 121px;
    height: 44px;
    background: url(../../images/client/logo-new.png) no-repeat;
    float: left;
    margin-top: 6px;
}
.withoutOrder-box{
    width:100%;
    height:727px;
    background-color:#d9f9f9;
    border-top:1px #a9c2c2 solid;
    -webkit-box-shadow: inset 0 2px 5px #cbe9e9;
    -moz-box-shadow: inset 0 2px 5px #cbe9e9;
    box-shadow: inset 0 2px 5px #cbe9e9;
}
.withoutOrder-cnt{
    width:382px;
    margin:0 auto;
    text-align: center;
    padding-top:120px;
}
.withoutOrder-img{
    width:174px;
    height:306px;
    background: url("../../images/client/withoutList-img.png") no-repeat;
    display: inline-block;
}
.withoutTips{
    font-size: 22px;
    color:#727272;
    margin-top:35px;
    margin-bottom: 18px;
}
.withoutSpl-color{
    color:#1cafad;
    margin:0 5px;
}
.recDes{
    font-size: 18px;
    line-height:18px;
    color:#a7a7a7;
}
.downArrow{
    width:32px;
    height:32px;
    background:url("../../images/client/productInfoIcon.png") no-repeat 0 -244px;
    display: inline-block;
    margin-top:60px;
}

/**底部导航栏**/
.footer-wrap{
    height:345px;
    background: #1cafad;
}
.footer-wrap .foot{
    width: 1130px;
    margin:0 auto;
    background-color: transparent;
}
.footer-nav{
    height:242px;
    padding: 45px 0  0 24px;
    border-bottom:1px solid #51c2c0;
}
.erweima{
    width:50%;
    float:left;
}
.erweima img{
    margin-right:20px;
    float: left;
}
.contact-info{
    float:left;
    color:#8efff5;
}
.contact-info span{
    margin-bottom:12px;
    display: inline-block;
}
.contact-info .info-title{
    font-size:16px;
    color:#fff;
}
.contact-info .info-tell{
    margin-bottom: 0;
    font-size:22px;
    /*font-weight: bold;*/
}
.quick-nav{
    float:right;
}
.quick-nav dl{
    margin-right:112px;
    float:left;
}
.quick-nav dl dt{
    color:#fff;
    margin-bottom:10px;
}
.quick-nav dl dd{
    margin-bottom:4px;
}
.quick-nav dl dd a{
    color:#8efff5;
    font-size: 14px;
}
.quick-nav dl dd a:hover{
    text-decoration:underline;
}
.footer-copyright{
    height:102px;
    padding-top: 30px;
    color:#8efff5;
    font-size:12px;
}
.copyright{
    font-size:12px;
    float:left;
}
.service-tel{
    float:right;
    font-size: 12px;
}
.tellIcon{
    width:12px;
    height:15px;
    display: inline-block;
    margin-right:6px;
    vertical-align: middle;
    background: url(../../images/client/tellIcon.png) center center;
}
/** end **/