@charset "utf-8";

/*   产品详情 S   */

/* foot S*/
.foot{
    background-color: #2b8a82;
}
.foot .footContent{
    width: 1130px;
    padding: 30px 0;
    color: #fff;
    margin: 0 auto;
}
/* foot E*/

.mainContent{
    background-color: #fff;
}
.mainContent .mainWrapper{
    width: 1130px;
    margin: 0 auto;
}
.mainWrapper .productFixedContent{
    margin-bottom: 100px;
    position: relative;
}
.productFixedContent .fixedList{
    width: 1130px;
    margin: 25px 0 35px;
    background-color: #f9f9f9;
    z-index: 2;
} 
.fixedList li{
    float: left;
}
.fixedList li a{
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 17px;
    color: #11b9b7;
    border-left: 1px solid #d6efef;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.fixedList li:first-child a{
    border-left: none;
}
.fixedList li.active a,
.fixedList li:hover a{
    color: #fff;
    background-color: #11b9b7;
}
.fixedList li.last{
    float: right;
    line-height: 1;
}
.fixedList .last .bookBtn{
    width: 160px;
    background-color: #ffa200;
    color: #fff;
    line-height: 1;
}
.fixedList .last .bookBtn:hover{
    background-color: #f29901;
    color: #fff;
}
.last .bookBtn .priceFonts{
    margin: 7px 0 5px;
    font-size: 24px;
}
.last .bookBtn .bookFonts{
    font-size: 15px;
}
.productFixedContent .commonModel{
    margin-bottom: 80px;
    font-size: 15px;
    color: #616161;
}
.commonModel .commonTitle{
    font-size: 20px;
    color: #11b9b7;
    padding: 10px 5px 15px;
    border-bottom: 1px solid #dcf5f4;
}
.commonModel .commonIcon{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/client/productInfoIcon.png") no-repeat;
    margin-right: 10px;
}
.commonTitle .costIcon{
    width: 25px;
    height: 25px;
    background-position: -32px -43px;
}
.commonModel .titleFonts{
    font-size: 18px;
    color: #11b9b7;
    margin: 20px 0 15px;
}
.commonModel .wrapperList{
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cff1f1;
}
.wrapperList .row{
    float: left;
    margin: 0;
    padding-bottom: 20px;
}
.wrapperList .twoRow{
    width: 49%;
    border-left: 1px solid #cff1f1;
    padding-right: 10px;
    padding-left: 50px;
}
.wrapperList .twoRow:first-child{
    border-left: none;
    padding-left: 0;
}
.wrapperList .oneRow{
    width: 90%;
}
.listDetails li{
    color: #616161;
    line-height: 25px;
    list-style-type: decimal;
    margin-left: 22px;
}
.commonModel .listDetails a{
    color: #11b9b7;
}
.commonModel .listDetails a:hover{
    color: #11b9b7;
    text-decoration: underline;
}
.commonTitle .journeyIcon{
    width: 20px;
    height: 22px;
    background-position: -64px -43px;
}
.journeyRecommendModel{
    position: relative;
}
.journeyRecommendModel .asideFixed{
    position: absolute;
    left: -65px;
    top: 55px;
}
.asideFixed li a{
    display: inline-block;
    font-size: 14px;
    width: 60px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: #e7f8f8;
    color: #11b9b7;
    margin-bottom: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.asideFixed li:hover a,
.asideFixed li.active a{
    background-color: #11b9b7;
    color: #fff;
}
.journeyRecommendModel .journeyRecommendList{
    margin-left: 40px;
}
.journeyRecommendList li{
    padding-bottom: 40px;
    position: relative;
}
.journeyRecommendList .wrapperList{
    margin: 30px 0;
}
.wrapperList .twoRow.overviewLeft{
    width: 57%;
    padding-right: 30px;    
}
.wrapperList .twoRow.overviewRight{
    width: 42%;
    padding-left: 30px;
    color: #ababab;
    font-size: 14px;
}
.overviewRight .rightIcon{
    margin-bottom: 10px;
}
.rightIcon .carIcon{
    width: 27px;
    height: 21px;
    background-position: -93px -43px;
    margin-top: 5px;
}
.rightIcon .weatherIcon{
    width: 29px;
    height: 26px;
    background-position: -128px -43px;
}
.rightIcon .clothesIcon{
    width: 30px;
    height: 23px;
    background-position: -162px -43px;
    margin-top: 3px;
}
.journeyRecommendList .leftDot{
    width: 21px;
    height: 21px;
    background-position: -222px -43px;
    position: absolute;
    left: -40px;
    top: 4px;
    z-index: 2;
}
.journeyRecommendList li.active .leftDot{
    background-position: -196px -43px;
}
.journeyRecommendList .leftLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 3px solid #cff1f1;
    position: absolute;
    left: -26px;
    top: 20px;
    z-index: 1;
}
.journeyRecommendList li.last{
    border-bottom: 1px solid #cff1f1;
}
.journeyRecommendList li.last .lastDot{
    top: inherit;
    bottom: -20px;
}
.journeyRecommendList .listTitle{
    font-size: 20px;
    color: #11b9b7;
    margin: 15px 0;
}
.commonModel .fontSize12{
    font-size: 12px;
    margin: 0 5px;
    vertical-align: middle;
}
.journeyRecommendList .daysImg{
    margin-bottom: 20px;
}
.journeyRecommendList .daysImg img{
    display: inline-block;
    width: 534px;
    height: 303px;
}
.journeyRecommendList .daysImg img:first-child{
    margin-right: 15px;
}
.daysInfo li{
    padding-bottom: 10px;
    line-height: 25px;
    font-size: 16px;
}
.daysInfo .daysInfoLeft{
    float: left;
    width: 45px;
}
.daysInfo .daysFontsDetails{
    float: left;
    width: 1040px;
}
.commonModel .marginRight10{
    margin-right: 10px;
}
.commonModel .hotelIcon{
    width: 26px;
    height: 22px;
    background-position: 0 -43px;
}
.commonModel .breakfastIcon{
    width: 25px;
    height: 27px;
    background-position: -248px -43px;
}
.commonModel .shoesIcon{
    width: 21px;
    height: 19px;
    background-position: -56px -77px;
}
.commonModel .bookingIcon{
    width: 19px;
    height: 24px;
    background-position: 0 -77px;
}
.wrapperList.noBlueBorder{
    border-bottom: none;
}
.wrapperList.noBlueBorder .row{
    padding-bottom: 5px;    
}
.wrapperList.noBlueBorder .titleFonts{
    font-size: 15px;
    font-weight: bold;
    color: #616161;
    margin: 20px 0 10px;
}
.commonModel .userEvaluationIcon{
    width: 25px;
    height: 24px;
    background-position: -25px -77px;
}
.commonModel .commonTitle .fonts14{
    font-size: 14px;
    color: #9f9f9f;
}
.commonModel .commonTitle .fonts14 .blueFonts,
.commonModel .blueFonts{
    color: #11b9b7;
}
.commonModel .color9f9f9fFonts{
    color: #9f9f9f;
}
.userEvaluationList li{
    padding: 25px;
    border-bottom: 1px solid #cff1f1;
}
.userEvaluationList .userEvaluationLeft{
    font-size: 12px;
    float: left;
    width: 10%;
    text-align: center;
}
.userEvaluationList .userEvaluationLeft img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.userEvaluationList .userEvaluationRight{
    font-size: 14px;
    float: left;
    width: 88%;
    margin-left: 20px;
}
.userEvaluationList .userEvaluationRight p{
    line-height: 25px;
    margin-top: 5px;
}
.commonStarLevelIcon{
    display: inline-block;
    width: 138px;
    height: 13px;
    vertical-align: middle;
    line-height: 1;
    background: url("../../images/client/starLevelIcon.png") no-repeat;
}
.starLevelIcon{
    background-position: 0 -18px;
}
.starLevelIcon span{
    margin-top: -7px;
    background-position: 0 0;
}
.commonStarLevelIcon.starLevel-1 span{
    width: 13px;
}
.commonStarLevelIcon.starLevel-2 span{
    width: 34px;
}
.commonStarLevelIcon.starLevel-3 span{
    width: 54px;
}
.commonStarLevelIcon.starLevel-4 span{
    width: 75px;
}
.commonStarLevelIcon.starLevel-5 span{
    width: 96px;
}
.commonStarLevelIcon.starLevel-6 span{
    width: 117px;
}
.commonStarLevelIcon.starLevel-7 span{
    width: 138px;
}
.commonStarLevelIcon.starLevel-0-5 span{
    width: 7px;
}
.commonStarLevelIcon.starLevel-1-5 span{
    width: 28px;
}
.commonStarLevelIcon.starLevel-2-5 span{
    width: 48px;
}
.commonStarLevelIcon.starLevel-3-5 span{
    width: 69px;
}
.commonStarLevelIcon.starLevel-4-5 span{
    width: 90px;
}
.commonStarLevelIcon.starLevel-5-5 span{
    width: 111px;
}
.commonStarLevelIcon.starLevel-6-5 span{
    width: 132px;
}

/*   产品详情 E   */