@charset "utf-8";

/** 推荐人奖励计划 -start  **/
.logoImg{
    display: inline-block;
    width: 121px;
    height: 44px;
    background: url(../../images/client/logo-new.png) no-repeat;
    float: left;
    margin-top: 6px;
}
.main-contain{
    border-top:1px #d9d9d9 solid;
    background:#ffffff;
}
.reward-banner{
    height: 742px;
    margin:0 auto;
    background:url(../../images/client/reward-bannerbig.jpg) #cfebff center center no-repeat;
    overflow: hidden;
}
/* .reward-img{
    width:1420px;
    height:560px;
} */
.reward-contain{
    min-height:560px;
    margin:0 auto;
    background-color:#ffffff;
}
.reward-contain-th{
    text-align: center;
    font-size: 36px;
    color:#333333;
    padding-top:103px;
    padding-bottom: 84px;
}
.reward-detail{
    width:900px;
    margin:0 auto;
    font-size: 18px;
    line-height:24px;
    color:#333333;
}
.reward-detail-left{
    float:left;
    display: inline-block;
}
.reward-detail-left span, .reward-detail-right span{
    width:320px;
    display: inline-block;
}
.reward-detail-left .reward-icon01{
    width:53px;
    height:53px;
    background:url("../../images/client/reward-icon.png") no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right:15px;
}
.reward-detail-right .reward-icon02{
    width:59px;
    height:53px;
    background:url("../../images/client/reward-icon.png") no-repeat -55px 0;
    display: inline-block;
    vertical-align: top;
    margin-right:15px;
}
.reward-detail-right{
    float:right;
}
.reward-box{
    width:1200px;
    margin:0px auto;
    padding-top:107px;
    padding-bottom: 107px;
}
.reward-box-th{
    text-align: center;
    font-size: 38px;
    color:#333333;
    padding-top:78px;
    border-top:1px #afafaf dashed;
}
.reward-box-cnt{
    width:710px;
    margin:63px auto;
    font-size: 18px;
    line-height:31px;
    color:#444444;
    text-align:center;
}
.reward-page{
    font-size: 18px;
    color:#333333;
    text-align: center;
    padding-top:80px;
    padding-bottom:80px;
}
.reward-page1{
    text-align: center;
    margin-top:50px;
    margin-bottom: 34px;
}
.reward-page2{
    font-size: 24px;
    color:#2494c5;
    text-align: center;
}
.reward-page1 span{
    width:193px;
    height:192px;
    background: url("../../images/client/reward-qr.jpg") no-repeat;
    display: inline-block;
}
.reward-box-cnt .left-quo{
    width:33px;
    height:31px;
    float: left;
    background: url("../../images/client/reward-icon.png") no-repeat -116px 0;
    display: inline-block;
    vertical-align: text-top;
}
.reward-box-cnt .right-quo{
    width:33px;
    height:43px;
    margin-top:40px;
    float: right;
    background: url("../../images/client/reward-icon.png") no-repeat -152px 0;
    display: inline-block;
    vertical-align: text-bottom;
}
.reward-box-txt{
    width:630px;
    float:left;
    text-align: center;
    font-size: 18px;
    line-height:31px;
    color:#444444;
}
.reward-name{
    text-align: center;
    font-size: 18px;
    line-height:42px;
    color:#78c5ec;
    padding-bottom: 74px;
    border-bottom:1px #afafaf dashed;
}
.reward-box h1{
    text-align:center;
    font-size: 48px;
    line-height:36px;
    color:#333333;
    padding-top:105px;
    padding-bottom: 105px;
}
.flowsheet{
    font-size: 30px;
    line-height:40px;
    color:#555555;
}
.flowsheet-title{
    /*display: inline-table;*/
}
.flowsheet-icon{
    float:left;
    margin-right:33px;
    display: table-cell;
    vertical-align: middle;
}
.flowsheet-txt{
    float:left;
    display: table-cell;
    text-align: left;
}
.flowsheet-left{
    float:left;
    /*width:600px;*/
}
.flowsheet-right{
    float:right;
    /*width:600px;*/
    padding-left:40px;
}
.num-seq01{
    width:50px;
    height:50px;
    background:url("../../images/client/num-icon.jpg") no-repeat;
    display: inline-block;
}
.num-seq02{
    width:45px;
    height:45px;
    background:url("../../images/client/num-icon.jpg") no-repeat -51px 0;
    display: inline-block;
}
.num-seq03{
    width:45px;
    height:45px;
    background:url("../../images/client/num-icon.jpg") no-repeat -97px 0;
    display: inline-block;
}
.num-seq04{
    width:45px;
    height:45px;
    background:url("../../images/client/num-icon.jpg") no-repeat -143px 0;
    display: inline-block;
}
.flowsheet-img{
    width:458px;
    height:458px;
    display: inline-block;
    vertical-align: middle;
    margin:56px 0;
}
.flowsheet-img01{
    background:url("../../images/client/flowsheet.png") no-repeat;
}
.flowsheet-img02{
    background:url("../../images/client/flowsheet.png") no-repeat -458px 0;
}
.flowsheet-img03{
    background:url("../../images/client/flowsheet.png") no-repeat -918px 0;
}
.flowsheet-img04{
    background:url("../../images/client/flowsheet.png") no-repeat -1376px 0;
}