@charset "utf-8";
/* 注册页面 S */
.registerForm {
    text-align: center;
    position: relative;
}
.registerForm .regRow {
    position: relative;
}
.registerErrorRow {
    width:345px;
    text-align: left;
}
.registerForm .mobileRow {
    margin-bottom: 26px;
}
.registerForm .messageCodeRow {
    margin-bottom: 26px;
}
.registerForm .buttonRow {
   margin-bottom: 84px;
}
.registerForm .errorBoxContent {
    margin-bottom: 15px;
}
.registerErrorBox .errorIcon {
    background: url("../../images/client/registerIconSprite.png") no-repeat 0 -29px;
    width:18px;
    height: 18px;
    display: inline-block;
    margin: 0 7px 0 10px;
    vertical-align: text-bottom;
}

/*  完善个人资料  start   By:shuaigeng.zhao;   */

.title-flight-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../images/client/after-reg.png) no-repeat 0 -73px;
    vertical-align: sub;
    margin-right: 2px;
}

.skip-container {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.skip-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../images/client/after-reg.png) no-repeat 0 0;
    vertical-align: middle;
}

.skip-text {
    font-size: 16px;
    color: #c1c1c1;
}

.refine-info-block {
    margin-top: 35px;
}

.refine-info-block .componentInput {
    margin: 11px 0;
}

.refine-info-block .errorBoxContent {
    margin-bottom: 10px;
}

.cont-block {
    text-align: center;
}

.cont-block .sub-title {
    margin: 25px 0;
    font-size: 18px;
    color: #858585;
}

.avatar-container {
    position: relative;
}

.avatar-container .smallEditIcon {
    position: absolute;
}

.nickname {
    position: relative;
}

.nickname .input-tip-pic {
    position: absolute;
    display: inline-block;
    width: 144px;
    height: 72px;
    background: url(../../images/client/after-reg.png) no-repeat -56px 0;
    right: -150px;
    top: -47px;
}
.nickname .commonIcon {
    margin-left: 8px;
}

.refine-info-block .bigOrangeBtn {
    margin-top: 20px;
    /*margin-bottom: 60px;*/
}

.recommendPerson {
    position: relative;
}

.recommendPerson .commonIcon {
    margin-left: 8px;
    margin-right: 13px;
}

.recommendPerson a {
    position: absolute;
    top: 0;
    right: -115px;
    font-size: 14px;
    color: #7f7f7f;
}

.recommendPerson a:hover {
    color: #11b9b7;
    text-decoration: underline;
}

.rewardPlan {
    color: #999;
    margin: 25px 0 0 0;
    font-size: 12px;
}

.rewardPlan em {
    padding-right: 5px;
    color: #11b9b7;
}

.rewardPlan a {
    color: #11b9b7;
}

.rewardPlan a:hover {
    color: #11b9b7;
    text-decoration: underline;
}

/*  完善个人资料  end  */

/*  完善个人资料--选择头像  start  */

.sec-tab {
    margin-bottom: 40px;
}

.sec-tab span {
    font-size: 18px;
    color: #858585;
    border: 1px solid #fff;
    padding: 6px 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
}

.sec-tab span.current {
    color: #11b9b7;
    border-color: #11b9b7;
}

.default-avatar-item {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border: 2px solid #fff;
    position: relative;
    border-radius: 3px;
    margin-bottom: 5px;
}

.default-avatar-item:hover {
    border-color: #ececec;
    cursor: pointer;
}

.default-avatar-item.current {
    border-color: #11b9b7;
}

.default-avatar-item.current:hover {
    border-color: #11b9b7;
}

.default-avatar-item.current:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../../images/client/after-reg.png) no-repeat 0 -104px;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
}

.pickup-default-avatar .changeViewpoints {
    display: inline-block;
    margin: 30px 0;
}

.bottom-block {
    padding: 25px 0;
    border-top: 1px dashed #bbdde1;
    text-align: center;
}

.bottom-block .commonBtn {
    margin-right: 8px;
}

.upload-avatar .upload-btn input[type='file'] {
    width: 181px;
    height: 181px;
    border-radius: 50%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.upload-avatar .upload-block {
    width: 380px;
    margin: 78px auto;
}

.upload-avatar .upload-btn {
    display: inline-block;
    width: 181px;
    height: 181px;
    background: url(../../images/client/after-reg.png) no-repeat -119px -119px;
    float: left
}

.upload-avatar .line {
    display: inline-block;
    width: 78px;
    height: 10px;
    background: url(../../images/client/after-reg.png) no-repeat -221px -91px;
    margin: 0 10px;
    float: left;
    margin-top: 85px;
}

.upload-avatar .review-avatar {
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.upload-avatar .review-avatar .title {
    font-size: 16px;
    color: #a3a3a3;
}

.upload-avatar .review-avatar img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    vertical-align: top;
}

.upload-avatar .upload-tip-text {
    font-size: 16px;
    color: #a3a3a3;
    margin: 60px 0 56px;
}

.view-pwd {
    display: inline-block;
    width: 22px;
    height: 13px;
    background: url(../../images/client/view-pwd.png) no-repeat 0 0;
    vertical-align: middle;
    position: absolute;
    right: -30px;
    top: 14px;
    cursor: pointer;
}

.view-pwd.active {
    background-position: 0 -15px;
}

/*  完善个人资料--选择头像  end  */

/* 注册页面 E */

/* 找回密码 S */
.top-block .findPsw-icon {
    background: url(../../images/client/registerIconSprite.png) no-repeat 0 -53px;
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: text-bottom;
    margin-right: 8px;
}
.findPswBox {
    text-align: center;
    position: relative;
    margin-top: 55px;
    padding-bottom: 25px;
}
.findPswBox .errorBoxContent {
    margin-bottom: 15px;
}
.findByMobile, .findByEmail {
    border:1px solid #d0d0d0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width:343px;
    height: 66px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}
.findByEmail {
    margin-bottom: 60px;
}
.findByMobile .byMobileIcon, .findByEmail .byEmailIcon {
    background: url(../../images/client/registerIconSprite.png) no-repeat 0 -81px;
    display: inline-block;
    width: 26px;
    height: 38px;
    position: absolute;
    left:21px;
    top:15px;
}
.findByMobile span, .findByEmail span {
    font-size: 18px;
    color: #11b9b7;
    border-left:1px solid #d0d0d0;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    margin-left: 68px;
    padding-left:20px;
    display: inline-block;
}
.findByEmail .byEmailIcon {
    background-position: 0 -121px;
    width:31px;
    height: 23px;
    left:19px;
    top:22px;
}
.findByMobile.current {
     border:2px solid #11b9b7;
}
.findByMobile.current span {
    border-left:1px solid #11b9b7;
}
.findPswBox .mobileRow {
    margin-bottom: 26px;
}
.findPswBox .messageCodeRow {
    margin-bottom: 22px;
}
.bigBlue11b9b7Btn {
    display: inline-block;
    width: 345px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #11b9b7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.bigBlue11b9b7Btn:hover{
    color: #fff;
    background: #0c9c9a;
}
.bigBlue11b9b7Btn:focus {
    color: #fff;
}
.findPswBox .goBackRow {
     margin-top: 50px;
}
.findPswBox .goBackIcon {
    background: url(../../images/client/registerIconSprite.png) no-repeat 0 -146px;
    display: inline-block;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.findPswBox .goBackRow a {
    color: #c1c1c1;
    text-decoration: none;
    font-size: 15px;
    vertical-align: middle;
}
.componentInput .smallEmailIcon {
    background: url(../../images/client/registerIconSprite.png) no-repeat 0 -162px;
    width: 19px;
    height: 15px;
}
.findPswBox .tipsIconRow {
    text-align: center;
}
.findPswBox .bigSuccess {
    background: url(../../images/client/registerIconSprite.png) no-repeat -33px -23px;
    width: 67px;
    height: 67px;
    display: inline-block;
    vertical-align: middle;
}
.findPswBox .tipsFonts {
    margin-top: 20px;
}
.findPswBox .fs18 {
    font-size: 18px;
}
.findPswBox .fs14 {
     font-size: 14px;
}
.findPswBox .fc484848 {
    color: #484848;
}
.findPswBox .fc818181 {
    color: #818181;
}
.fonts-innerInput {
    display: inline-block;
    color: #11b9b7;
    font-size: 15px;
    text-align: right;
    width:70px;
}
/* 找回密码 E */

