@charset "utf-8";

.registerForm {
    text-align: center;
    position: relative;
}
.registerForm .regRow {
    position: relative;
}
.registerErrorRow {
    width:345px;
    text-align: left;
}
.registerForm .mobileRow {
    margin-bottom: 26px;
    margin-top: 15px;
}
.registerForm .messageCodeRow {
    margin-bottom: 26px;
}
.registerForm .buttonRow {
   margin-bottom: 84px;
}
