@charset "utf-8";

/*  tab 切换样式  */

.common-tab-bar {
}

.common-tab-bar .tab-top {
	width: 100%;
	height: 15px;
	background-color: #11b9b7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	top: 5px;
}

ul.common-tab {	
	color: #fff;
	font-size: 14px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0;
	position: relative;
}

ul.common-tab > li {
	float: left;
	padding: 15px 14px;
	background-color: #11b9b7;
}

ul.common-tab > li:hover {
	cursor: pointer;
}

ul.common-tab > li.current {
	background-color: #fff;
	color: #11b9b7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
}

ul.common-tab > li.placement {
	height: 50px;
	width: 9px;
	padding: 0;
}

ul.common-tab > li.placement.left-active {
	border-bottom-right-radius: 5px;
}

ul.common-tab > li.placement.right-active {
	border-bottom-left-radius: 5px;	
}

ul.common-tab > li.rest {
	cursor: default;
}

/*  产品详情页--日历样式  */

.custom-price-calendar-container {
	position: relative;
}

.custom-price-calendar-container .wrap-cover-bg {
	background: url(../../images/client/calendar-cover-bg.png) repeat-y center;
	width: 100%;
	height: 99%;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 1;
	display: none;
}

.calendarTables {
	background-color: #fbfbfb;
	color: #999;
	font-size: 15px;
	border: 2px solid #11b9b7;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.week-day-title {
	margin: 0;
}

.week-day-title li {
	float: left;
	height: 38px;
	line-height: 38px;
	width: 106px;
	background-color: #fbfbfb;
	color: #999;
	text-align: center;
}

.week-day-title.top {
	background-color: #11b9b7;
	padding: 0 2px;
	border-radius: 4px;
	position: absolute;
	top: -42px;
	width: 100%;
	display: none;
}

.week-day-title.top li {
	color: #fff;
	background-color: #11b9b7;
	height: 48px;
	line-height: 48px;
}

.calTable {
}

.calTable td {
	border-right: 1px solid #cceeed;
	border-bottom: 1px solid #cceeed;
}

.calTable tr:first-child td {
	border-top: 1px solid #cceeed;
}

.calTable tr:last-child td {
	border-bottom: none;
}

.calTable td:last-child {
	border-right: none;
}

.calTable .tdCont {
	width: 106px;
	height: 75px;
	position: relative;
}

.calTable .tdCont .priceCover {
	position: relative;
	padding: 10px 8px 0 10px;
	height: 100%;
}

.calTable .tdCont .priceCover .dateDay {
	float: left;
}

.calTable .tdCont .priceCover .right-block {
	float: right;
	text-align: right;
}

.calTable .tdCont .onsale .leftNum {
	color: #e46c14;
	line-height: 20px;
}

.calTable .tdCont .onsale .price {
	color: #e46c14;
	line-height: 20px;
}

.calTable .tdCont .soldout .leftNum {
	color: #cacaca;
	line-height: 20px;
}

.calTable .tdCont .soldout .price {
	color: #cacaca;
	line-height: 20px;
}

.calTable .tdCont .onsale:hover,
.calTable .tdCont .soldout:hover {
	cursor: pointer;
}

.calTable .tdCont .tripCover {
	position: absolute;
	top: 0; 
	left: 0;
	width: 99%;
	height: 100%;
	z-index: 2;
	background-color: #c8fdfd;
	color: #11b9b7;
	border-radius: 4px;
	padding: 10px 8px 0 10px;
}

.calTable .tdCont .tripCover:hover {
	cursor: pointer;
}

.calTable .tdCont .tripCover.current {
	background-color: #fff;
}

.calTable .tdCont .tripCover .dateDay {
	float: left;
}

.calTable .tdCont .tripCover .right-block {
	float: right;
	text-align: right;
}

.calTable .tdCont .tripCover .right-block .icon {
	margin-top: 17px;
}

.calTable .tdCont .tripCover .right-block .flight-icon {
	background: url(../../images/client/trip-icon.png) no-repeat 0 0;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 5px;
}

.calTable .tdCont .tripCover .right-block .hotel-icon {
	background: url(../../images/client/trip-icon.png) no-repeat 0 -20px;
	width: 21px;
	height: 17px;
	display: inline-block;
}

.popover-trip-container {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 7px;
	color: #616161;
	font-size: 12px;
	position: absolute;
	z-index: 3;
	width: 335px;
	display: none;
}

.popover-trip-container .top-block {
	border-bottom: 1px solid #cff1f1;
}

.popover-trip-container .top-block .left-block,
.popover-trip-container .top-block .right-block {
	padding-top: 3px;
}

.popover-trip-container .bottom-block .left-block,
.popover-trip-container .bottom-block .right-block {
	padding-top: 5px;
}

.popover-trip-container .left-block {
	float: left;
	width: 32px;
	text-align: center;
}

.popover-trip-container .right-block {
	float: left;
	border-left: 1px solid #cff1f1;
	padding-left: 10px;
	min-height: 65px;
}

.popover-trip-container .day-icon {
	background: url(../../images/client/day-night-icon.png) no-repeat 0 0;
	width: 19px;
	height: 20px;
	display: inline-block;
}

.popover-trip-container .night-icon {
	background: url(../../images/client/day-night-icon.png) no-repeat 0 -22px;
	width: 13px;
	height: 14px;
	display: inline-block;
}

.popover-trip-container .flight-info td {
	padding: 3px 0 3px 15px;
	border: none!important;
}

.popover-trip-container .flight-info td:first-child {
	padding-left: 0;
	color: #11b9b7;
	width: 132px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.popover-trip-container .flight-info td:last-child {
	color: #11b9b7;
}

.popover-trip-container .flight-info .city {
	width: 145px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

.popover-trip-container .right-block .freetime {
	left: 45%;
	display: inline-block;
	position: absolute;
	top: 24px;
	font-size: 14px;
}

.popover-trip-container .hotel-name {
	line-height: 18px;	
}

.popover-trip-container .hotel-name .ch-name,
.popover-trip-container .hotel-name .en-name {
	width: 242px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.popover-trip-container .star-rating {
}