/*  个人资料、常用旅客信息  */
@charset "utf-8";

/*  个人资料 start  */
.cont-block{
    position: relative;
}
.cont-block .modelLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #bbdde1;
    position: absolute;
    left: 220px;
    top: 0;
}
.leftMenuContent{
    width: 220px;
    float: left;
    margin-top: 50px;
}
.leftMenuContent ul{
    margin: 10px 30px;
}
.leftMenuContent > ul > li {
    margin-bottom: 6px;
}
.leftMenuContent ul a{
    font-size: 18px;
    display: block;
    min-width: 135px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #11b9b7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.leftMenuContent li.active a{
    color: #fff;
    background-color: #11b9b7;
}
.rightContent{
    padding: 20px 0;
    float: left;
    width: 80.3%;
}
.rightContent .dataTab{
    margin: 15px 0;
    width: 100%;
}
.dataTab th{
    padding: 15px 10px;
    text-align: right;
    color: #9f9f9f;
}
.dataTab td{
    color: #484848;
    padding: 15px 10px;
}
.editHeadPortrait{
    min-height: 686px;
    height:auto !important;
    height:686px;
    overflow:visible;
}
.travelerInfoListModel {
    min-height: 686px;
}
.headPortraitImg{
    display: inline-block;
    position: relative;
}
.headPortraitImg img{
    width: 95px;
    height: 95px;
}
.headPortraitImg .editHeadPortraitIcon{
    position: absolute;
    left: 100px;
    top: 10px;
}
.dataTab .sureBtn{
    color: #11b9b7;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    top: 4px;
}
.dataTab .cancelBtn{
    color: #818181;
    cursor: pointer;
    position: relative;
    top: 4px;
}
.editContentSex .sureBtn,
.editContentSex .cancelBtn {
    top: 0;
}
.dataTab .editContent{
    display: none;
}
.dataTab .editModelInfo{
    background-color: #f3fdfc;
}
.dataTab .getVerificationCode{
    /*font-size: 12px;*/
}
.dataTab .editModelInfo .noPadding{
    /*padding: 10px 0;
    border-bottom: 1px solid #dfe9e8;
    border-top: 1px solid #dfe9e8;*/
    padding: 0;
}
.dataTab .editModelTab th,
.dataTab .editModelTab td{
    padding: 10px;
}
.editModelTabContainer {
    padding: 10px 0;
    border-bottom: 1px solid #dfe9e8;
    border-top: 1px solid #dfe9e8;
}
.cancelOper {
    margin-left: 20px;
    color: #818181;
}
.cancelOper:hover,
.cancelOper:focus {
    color: #818181;
}
.bindphone,.bindWechat,.unbindWechat{
    display:inline-block;
    margin-left:20px;
}
.wechatNumberContent td{
    position: relative;
}
.wechatQRIcon{
    width:24px;
    height:24px;
    display:inline-block;
    position:absolute;
    background:url(../../images/client/wechatbindQRIcon.png) no-repeat;
    margin-left:15px;
    top:10px;
}
.green-border-tooltip .tooltip-arrow{
    background-position: 0 -22px;
}
.green-border-tooltip .tooltip-inner{
    padding:1px;
}
/*  个人资料 end  */


/*  常旅客信息 start   */
.titleContent{
    margin-bottom: 10px;
    padding: 0 0 15px 20px;
    border-bottom: 1px solid #dfe9e8;
}
.titleContent .titleFonts{
    color: #11b9b7;
    font-size: 18px;
    font-weight: normal;
    margin-right: 15px;
}
.titleFonts .addIcon{
    width: 17px;
    height: 17px;
    background-position: -132px -24px;
    margin-right: 5px;
    margin-top: -3px;
}
.addTravelerBtn{
    float: right;
    cursor: pointer;
}
.travelInfoContent{
    margin: 10px 25px;
}
.travelInfoContent li{
    float: left;
    width: 265px;
    height: 115px;
    margin: 10px;
    border: 1px solid #d0d0d0;
    padding-top: 20px;
    color: #484848;
    cursor: pointer;
    position: relative;
}
.travelInfoContent li .leftImg,
.travelInfoContent li .rightFonts{
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}
.travelInfoContent .leftImg img{
    width: 72px;
    height: 72px;
    margin: 0 5px 0 13px;
}
.travelInfoContent .rightFonts div{
    margin: 4px 0;
    text-align: left;
}
.travelInfoContent .rightFonts div:first-child{
    margin-top: 0;
}
.travelInfoContent .active{
    border: 2px solid #11b9b7;
}
.travelInfoContent .defaultFonts{
    display: none;
}
.travelInfoContent .active .defaultFonts,
.travelInfoContent .active:hover .hoverContent .defaultFonts{
    display: inline-block;
    color: #fff;
    background-color: #11b9b7;
    min-width: 50px;
    min-height: 23px;
    line-height: 23px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.travelInfoContent li .hoverContent{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8ffffff,endColorstr=#c8ffffff);
    position: absolute;
    left: 0;
    top: 0;
}
.travelInfoContent .hoverContent .hoverBtn{
    display: inline-block;
    margin: 35px 0 0 80px;
}
.travelInfoContent li:hover .hoverContent{
    display: block;
}
.addTravelerInfoModel{
    display: none;
}
.travelerInfoTab{
    margin: 10px 0 20px 0;
    width: 100%;
}
.travelerInfoTab th{
    text-align: right;
    padding: 10px 5px;
    color: #9f9f9f;
}
.travelerInfoTab th em{
    font-size: 16px;
    color: #11b9b7;
    vertical-align: middle;
}
.travelerInfoTab td{
    color: #484848;
    padding: 10px 5px;
}
.addTrContent:last-child{
    display: none;
}
.saveContentModel{
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #dfe9e8;
}
.saveContentModel .blueBtn{
    margin-right: 20px;
}
/*  常旅客信息 end   */


/*  完善个人资料--选择头像  start  */
.sec-tab {
    padding: 10px 0 15px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfe9e8;
    position:relative;
}
.sec-tab span {
    font-size: 18px;
    color: #858585;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
}

.sec-tab .slidline{
    width:94px;
    height:3px;
    background-color: #11B9B7;
    position:absolute;
    top:49px;
    left:25px;
}

.sec-tab span.current {
    color: #11b9b7;
    /*border-bottom: 2px solid #11b9b7;*/
}
.default-avatar-list{
    margin: 30px 50px;
}
.default-avatar-item {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border: 2px solid #fff;
    position: relative;
    border-radius: 3px;
    margin: 10px 8px;
}
.default-avatar-item > img {
    width: 95px;
    height: 95px;
    border-radius: 95px;
}
.default-avatar-item:hover {
    border-color: #ececec;
    cursor: pointer;
}
.default-avatar-item.current {
    border-color: #11b9b7;
}
.default-avatar-item.current:hover {
    border-color: #11b9b7;
}
.default-avatar-item.current:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../../images/client/after-reg.png) no-repeat 0 -104px;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
}
.pickup-default-avatar .changeViewpoints {
    display: inline-block;
    margin: 0 44% 20px;
}
.bottom-block {
    padding: 25px 0 10px;
    border-top: 1px solid #dfe9e8;
    text-align: center;
}
.bottom-block .commonBtn {
    margin-right: 8px;
}
.upload-avatar .upload-btn input[type='file'] {
    width: 181px;
    height: 181px;
    border-radius: 50%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.upload-avatar .upload-block {
    width: 380px;
    margin: 20px auto 80px;
    text-align: center;
}
.upload-avatar .upload-btn {
    display: inline-block;
    width: 181px;
    height: 181px;
    background: url(../../images/client/avatorbg.png) no-repeat;
   /* float: left*/
}

.upload-avatar .upload-btn:hover{
    background: url(../../images/client/review-avatar-hover.png) no-repeat;
}

.upload-btn{
    position:relative;
}
.upload-btn img,.upload-btn .imgcover{
    border-radius:50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 181px;
    height: 181px;
    background: url(../../images/client/avatorbg.png) no-repeat;
}

.upload-btn .imgcover{
    display:none;
    background: url(../../images/client/review-avatar-hover.png) no-repeat;
}

.upload-btn .imgcover.reupload-imgcover{
    display:none;
    background: url(../../images/client/imgcover.png) no-repeat;
}

.upload-avatar .upload-tip-text {
    font-size: 16px;
    color: #a3a3a3;
    margin: 42px 0 80px;
    text-align: center;
}
.addHeadPortrait{display: none;}
/*  完善个人资料--选择头像  end  */