/*  个人资料、常用旅客信息  */
@charset "utf-8";

/*  个人资料 start  */
.cont-block{
    position: relative;
}
.cont-block .modelLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #bbdde1;
    position: absolute;
    left: 220px;
    top: 0;
}
.leftMenuContent{
    width: 220px;
    float: left;
    margin-top: 50px;
}
.leftMenuContent ul{
    margin: 10px 30px;
}
.leftMenuContent ul a{
    font-size: 18px;
    display: block;
    min-width: 135px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #11b9b7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.leftMenuContent li.active a{
    color: #fff;
    background-color: #11b9b7;
}
.rightContent{
    padding: 20px 0;
}
.rightContent .dataTab{
    margin: 15px 0;
    width: 80.3%;
}
.dataTab th{
    padding: 15px 10px;
    text-align: right;
    color: #9f9f9f;
}
.dataTab td{
    color: #484848;
    padding: 15px 10px;
}
.headPortraitImg{
    display: inline-block;
    position: relative;
}
.headPortraitImg img{
    width: 95px;
    height: 95px;
}
.headPortraitImg .editHeadPortrait{
    position: absolute;
    left: 100px;
    top: 10px;
}
.dataTab .sureBtn{
    color: #11b9b7;
    margin: 20px;
    cursor: pointer;
}
.dataTab .cancelBtn{
    color: #818181;
    cursor: pointer;
}
.dataTab .editContent{
    display: none;
}
.dataTab .editModelInfo{
    background-color: #f3fdfc;
}
.dataTab .getVerificationCode{
    font-size: 12px;
}
.dataTab .editModelInfo .noPadding{
    padding: 10px 0;
    border-bottom: 1px solid #dfe9e8;
    border-top: 1px solid #dfe9e8;
}
.dataTab .editModelTab th,
.dataTab .editModelTab td{
    padding: 10px;
}


/*  个人资料 end  */