@charset "utf-8";

/* 填写订单 S */
.orderFlowBar {
    width:100%;
    height: 75px;
    line-height: 75px;
    border-radius: 4px;
    background: #fff;
    -moz-box-shadow: 0 0 5px #085869;
    -webkit-box-shadow: 0 0 5px #085869;
    box-shadow: 0 0 5px #085869;
    position: relative;
    top:30px;
    padding:0 5px;
}
.orderFlowBar li {
    float: left;
    display: inline-block;
    background: url("../../images/client/orderFlow-arrow.png") no-repeat right center;
    width:280px;
    text-align: center;
}
.orderFlowBar li:last-child {
    background: none;
}
.orderFlowBar li i {
    vertical-align: middle;
    position: relative;
    width:30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}
.orderFlowBar li span {
    vertical-align: middle;
}
.orderFlowBar li i.pastTenseIcon {
    background: url("../../images/client/order-spirit.png") no-repeat 0 0;
}
.orderFlowBar li i.nowTenseIcon {
    border-radius: 15px;
    border: 3px solid #11b9b7;
}
.orderFlowBar li i.futureTenseIcon {
    border-radius: 15px;
    border: 3px solid #dfdfdf;
}
.orderFlowBar li i.nowTenseIcon em, .orderFlowBar li i.futureTenseIcon em {
    color: #11b9b7;
    font-weight: bold;
    position: absolute;
    top:-25px;
    left:7px;
    font-size: 18px;
}
.orderFlowBar li i.futureTenseIcon em {
    color: #dedede;
}
.orderFlowBar li span.pastTenseFonts, .orderFlowBar li span.nowTenseFonts {
     color: #11b9b7;
     font-size: 20px;
}
.orderFlowBar li span.futureTenseFonts {
    color: #dedede;
    font-size: 20px;
}


.orderContent {
    position:relative;
    top:28px;
}
.left-orderContent {
    -moz-box-shadow: 0 0 5px #085869;
    -webkit-box-shadow: 0 0 5px #085869;
    box-shadow: 0 0 5px #085869;
    background-color: #fff;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid #88b3af;
    margin: 10px 0 0 0;
    width:825px;
    float: left;
    display: inline-block;
}
.left-orderContent .top-border,
.onLinePayContent .top-border{
    display: inline-block;
    background: url(../../images/client/repeat-border.jpg) repeat-x;
    width: 100%;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
}
.order-titleBlock,
.commonOrderModel{
    border-bottom:1px dashed #c2dadf;
    position: relative;
    padding: 10px 0 10px 70px;
}
.order-titleBlock {
    padding: 2px 0;
}
.order-titleBlock .pro-basic-info {
}
.order-titleBlock .person-count-block {
}
.order-title-table td {
    padding: 10px 0;
}
.order-title-table td.main-cont {
    padding: 10px;
}
.order-title-table h3 {
    line-height: 32px;
}
.order-title-table .rightBorder {
    border-right: 1px solid #c2dadf;
}
.person-count-block .adult-count {
    float: left;
    text-align: center;
}
.person-count-block .child-count {
    float: right;
    text-align: center;
    margin-left: 20px;
}
.person-count-block .count {
    font-size: 24px;
}
.person-count-block .person-type {
    font-size: 15px;
    color: #9f9f9f;
}
.order-titleBlock .back-lineArrow {
    display: block;
    text-align: center;
}
.order-titleBlock .back-lineArrow i {
    background: url("../../images/client/order-spirit.png") no-repeat 0 -112px;
    display: inline-block;
    width: 19px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 5px;
}
.order-titleBlock .back-lineArrow span {
    color: #11b9b7;
    display: block;
}
.order-titleBlock h3 {
    font-size: 22px;
    color: #484848;
    margin:10px 0;
}
.order-titleBlock h3 i {
    background: url("../../images/client/order-spirit.png") no-repeat 0 -112px;
    display: inline-block;
    width:19px;
    height: 16px;
    vertical-align: middle;
    margin-left: 10px;
}
.order-titleBlock .order-titleTable {
    font-size: 15px;
}
.order-titleBlock .order-titleTable th {
    color: #9f9f9f;
}
.order-titleBlock .order-titleTable td span {
    color: #11b9b7;
}
.order-titleTable .dropdown .dropdown-menu {
    width: 100%;
    min-width: 46px;
}
.order-titleBlock .left-semicircle {
    position: absolute;
    bottom:-6px;
    left:0px;
    width:6px;
    height: 12px;
    border-radius:0 6px 6px 0;
    background: #0b7e96;
}
.order-titleBlock .right-semicircle {
    position: absolute;
    bottom:-6px;
    right:0px;
    width:6px;
    height: 12px;
    border-radius:6px 0 0 6px;
    background: #0b7e96;
}
/* 机票 */
.order-conBlock {
    border-bottom:1px dashed #c2dadf;
    padding:3px 0 3px 0;
    position: relative;
}
.order-conBlockTab td {
     font-size: 12px;
     padding:15px 0 15px 15px;
     color: #9f9f9f;
     border-bottom: 1px solid #cee7ea;
}
.order-ticketTable td {
    padding:25px 0 0 15px;
}
.order-conBlockTab tr:last-child td {
    border-bottom: none;
}
.order-conBlockTab .leftTd {
    border-right: 1px solid #cee7ea;
    border-bottom: none;
    text-align: center;
    vertical-align: middle;
    color: #11b9b7;
    font-size: 15px;
    padding:0;
}
.order-conBlockTab .leftTd div {
    height: 35px;
}
.order-conBlockTab .leftTd i {
    background: url("../../images/client/order-spirit.png") no-repeat;
    display: inline-block;
}
.order-conBlockTab .leftTd i.ticket {
    background-position:0 -62px; ;
    width:30px;
    height: 30px;
}
.order-conBlockTab td div {
    text-align: center;
    height: 50px;
}
.order-conBlockTab td .adjustSpace {
    padding-top:10px;
}
.colorBgIcon {
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    min-width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
.order-conBlockTab .bg-green {
    background: #0fd730;
}
.order-conBlockTab .bg-darkGreen {
    background: #0bd582;
}
.order-conBlockTab .bg-blue {
    background: #11b9b7;
}
.order-conBlockTab .bg-orange {
    background: #fe7800;
}
.order-conBlockTab .fc11b9b7 {
    color: #11b9b7;
}
.order-conBlockTab .fc484848 {
    color: #484848;
}
.order-conBlockTab .timeFonts {
    font-size: 30px;
    color: #484848;
}
.order-conBlockTab .planeIcon, .order-conBlockTab .clockIcon, .order-conBlockTab .houseIcon {
    background: url("../../images/client/order-spirit.png") no-repeat 0 -35px;
    display: inline-block;
    width:23px;
    height: 23px;
}
.order-conBlockTab .clockIcon {
    background-position: -174px -62px;
    width:18px;
    height: 18px;
}
.order-conBlockTab .flightsIcon {
    vertical-align: top;
}
.order-conBlockTab .limitFontsWidth {
    width:128px;
    max-width: 128px;
    display: inline-block;
}
.order-conBlockTab .stoppingPoint {
    background: url("../../images/client/order-spirit.png") no-repeat -33px 0;
    display: inline-block;
    width:92px;
    height: 25px;
    color: #11b9b7;
    font-size: 12px;
    padding:4px 0 0 0;
    cursor: default;
}
.order-conBlockTab .markDays {
    position: relative;
}
.order-conBlockTab .markDays i {
    position: absolute;
    color: #fe7800;
    font-size: 12px;
    top:0px;
    right: 12px;
}
/* 酒店 */
.order-conBlockTab .leftTd i.hotel {
    background-position:-33px -62px; ;
    width:29px;
    height: 26px;
}
.order-conBlockTab .dark14Fonts {
    font-size: 14px;
    color: #484848;
}
.order-conBlockTab .dark12Fonts {
    font-size: 12px;
    color: #484848;
}
.order-conBlockTab .houseIcon {
    background-position: -195px -62px;
    width:27px;
    height: 20px;
}
.order-conBlockTab .haveleftBorder, .order-conBlockTab .sub-haveleftBorder {
    position: relative;
}
.order-conBlockTab .haveleftBorder i, .order-conBlockTab .sub-haveleftBorder i {
    position: absolute;
    height: 90px;
    width: 1px;
    background: #cee7ea;
    top: -34px;
    left: -15px;
}
.order-conBlockTab .sub-haveleftBorder i {
    top: -44px;
}
.order-conBlockTab .leftAlignTd div {
    text-align: left;
}
.order-conBlockTab .fs14 {
    font-size: 14px;
}
.order-hotelTable td div {
    height: 40px;
}
.order-hotelTable td {
    margin:10px 0;
}
/* 旅客信息 */
.order-conBlockTitle {
    border-bottom:1px dashed #c2dadf;
    padding:10px 0 10px 20px;
    position: relative;
    font-size: 20px;
    color: #484848;
    margin: 0 0 3px 0;
}
.order-conBlockTitle .guestIcon,
.order-conBlockTitle .linkManIcon,
.order-conBlockTitle .markIcon {
    background: url("../../images/client/order-spirit.png") no-repeat -65px -62px;
    display: inline-block;
    vertical-align: middle;
    width:28px;
    height: 22px;
}
.order-conBlockTitle span {
    margin-left: 28px;
    vertical-align: middle;
}
.order-conBlockTab .adjustpadding {
    padding-top:25px;
}
.order-guestTable td, .order-guestTable th,
.order-linkManTable td, .order-linkManTable th,
.order-demandMarkTable td, .order-demandMarkTable th,
.order-favorableTable td, .order-favorableTable th {
    font-size: 14px;
    border-bottom: none;
    padding:8px 0 8px 15px;
}
.order-guestTable th,
.order-linkManTable th,
.order-demandMarkTable th,
.order-favorableTable th {
    text-align: right;
    color: #9f9f9f;
}
.order-guestTable td:first-child div {
    text-align: center;
}
.order-guestTable td div,
.order-linkManTable td div,
.order-favorableTable td div {
    text-align: left;
    height: 40px;
}
.order-guestTable .checkboxContent .checkbox,
.order-linkManTable .checkboxContent .checkbox,
.order-favorableTable .checkboxContent .checkbox {
    color: #484848;
}
.order-protocol-btn {
    font-size: 14px;
    color: #11b9b7;
    cursor: pointer;
}
#orderProtocol .modal-body {
    height: 320px;
    overflow: auto;
}
.order-guestTable .leftTd div {
    font-size: 36px;
    font-weight: bold;
}
.order-guestTable .guestNameIcon {
    background: url("../../images/client/order-spirit.png") no-repeat -96px -62px;
    display: inline-block;
    vertical-align: middle;
    width:21px;
    height: 21px;
    margin-left: 8px;
    cursor: pointer;
}
.guestInfo-item {
    border-bottom:1px dashed #c2dadf;
    margin:3px 0 3px 0;
    padding:3px 0 3px 0;
    position: relative;
}
/* 联系人信息 */
.order-conBlockTitle .linkManIcon {
    background-position: -118px -62px;
    width:26px;
    height: 26px;
}
.order-conBlockTitle .titleTips {
    font-size: 14px;
    color: #11b9b7;
}
/* 需求备注 */
.order-conBlockTitle .markIcon {
    background-position: -147px -62px;
    width:24px;
    height: 24px;
}
.order-conBlockTab textarea {
    padding:3px;
    border: 1px solid #dadada;
}
.order-conBlockTab textarea:focus {
    border: 1px solid #11b9b7 !important;
    outline: none;
}

.order-conBlockTab .fontsNumTips {
    text-align: right;
    color: #c6c6c6;
    font-size: 12px;
    padding: 0 75px 0 0;
}
.order-conBlockTab .fontsNumTips span {
    color: #11b9b7;
    margin: 0 3px;
}

.deductionFonts {
    font-size: 14px;
    color: #fe7800;
    margin-left: 15px;
}
.order-favorableTable th {
    text-align: left;
    padding-left: 70px;
}
.order-favorableTable td.integralTipsFonts {
    font-size: 12px;
    color: #959595;
}
.integralTipsFonts span {
    color: #fe7800;
    font-weight: bold;
}

.order-conBlock .left-semicircle, 
.order-conBlockTitle .left-semicircle, 
.guestInfo-item .left-semicircle,
.withoutOrderModel .left-semicircle,
.commonOrderModel .left-semicircle{
    position: absolute;
    bottom:-4px;
    left:0px;
    width:4px;
    height: 8px;
    border-radius:0 4px 4px 0;
    background: #0b7e96;
}
.order-conBlock .right-semicircle, 
.order-conBlockTitle .right-semicircle,
.guestInfo-item .right-semicircle,
.withoutOrderModel .right-semicircle,
.commonOrderModel .right-semicircle {
    position: absolute;
    bottom:-4px;
    right:0px;
    width:4px;
    height: 8px;
    border-radius:4px 0 0 4px;
    background: #0b7e96;
}

.order-conBlock .radio, .order-conBlock .checkbox {
    font-size: 14px;
}

.submitOrderBlock {
    padding:20px 0 60px 0;
    text-align: center;
}
.submitOrderBlock .fc484848 {
    color: #484848;
}
.submitOrderBlock .checkbox {
    font-size: 14px;
}
.submitOrderBlock .buttonDiv {
    margin: 20px auto 0 auto;
}


/* 右侧 S */
.right-orderPriceDetail {
    -moz-box-shadow: 0 0 5px #085869;
    -webkit-box-shadow: 0 0 5px #085869;
    box-shadow: 0 0 5px #085869;
    background: #fff;
    width:300px;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin-top: 7px;
    padding:3px;
   /* position:fixed;
    top: 180px;
    right: 76px;
    z-index: 4;*/
}
.orderPriceTitle {
    font-size: 18px;
    color: #fff;
    background: #fe7800;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 10px;
}
.right-orderPriceDetail .orderPriceItem {
     margin-bottom: 15px;
     color: #6e6e6e;
     font-size: 12px;
}
.right-orderPriceDetail .orderPriceItemTit {
    border-bottom: 1px dashed #c3dadd;
    margin-bottom: 10px;
    color: #484848;
    font-size: 14px;
    padding:0 0 8px 10px;
}
.right-orderPriceDetail .colorTd {
    color: #fe7800;
    text-align: right;
    padding-right: 10px;
}
.right-orderPriceDetail table td {
    padding:5px 0 5px 10px;
}
.right-orderPriceDetail .payTotalBlock {
    border-top: 1px dashed #c3dadd;
    padding:15px 0;
}
.right-orderPriceDetail .fs18 {
    font-size: 18px;
}
.right-orderPriceDetail .fs24 {
    font-size: 24px;
}
/* 右侧 E */

.guestContainer {
    position: relative;
}

.guestContainer .guestNameList {
    position: absolute;
    background-color: #fff;
    z-index: 2;    
    max-height: 212px;
    overflow-y: auto;
    border: 1px solid #11b9b7;
    display: none;
}

.guestContainer .guestNameList li {
    height: 42px;
    line-height: 42px;
    padding-left: 5px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.guestContainer .guestNameList li:last-child {
    border-bottom: none;
}

.guestContainer .guestNameList li:hover,
.guestContainer .guestNameList li.current {
    color: #11b9b7;
    background-color: #f2f2f2;
}

/* 填写订单 E */


/*  在线支付 S  */
.onLinePayContent{
    position: relative;
    top: 40px;
    background-color: #fff;
    color: #484848;
}
.commonOrderModel .aboutDivision{
    padding: 25px 40px 25px 15px;
}
.aboutDivision .titleLeft{
    float: left;
}
.titleLeft .orderNumberFonts{
    font-size: 15px;
    font-weight: bold;
    color: #11b9b7;
}
.aboutDivision .titleRight{
    float: right;
    text-align: right;
}
.rental .fonts18{
    font-size: 18px;
    color: #484848;
    vertical-align: middle;
}
.rental .orangeFonts33{
    font-size: 33px;
    color: #fe7800;
    vertical-align: middle;
}
.titleRight .rentalDetail{
    font-size: 12px;
    color: #9f9f9f;
}
.titleRight .rentalDetail label{
    margin-left: 10px;
}
.titleRight .rentalDetail label:first-child{
    margin-left: 0;
}
.orangeFonts{
    color: #fe7800;
}
.commonOrderModel .payHintExplain{
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 35%;
}
.payHintExplain .payHintFonts{
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    color: #11b9b7;
    border: 1px solid #c3dadd;
    border-left: none;
    border-right: none;
    background-color: #fff;    
    vertical-align: top;
}
.payHintExplain .borderRadius{
    display: inline-block;
    width: 16px;
    height: 37px;
    vertical-align: top;
}
.payHintExplain .borderRadius.left{
    background: url("../../images/client/leftBorderRadius.png") no-repeat;
    margin-right: -5px;
}
.payHintExplain .borderRadius.right{
    background: url("../../images/client/rightBorderRadius.png") no-repeat right center;
    margin-left: -5px;
}
.commonOrderModel .titleModel{
    font-size: 18px;
    margin: 15px 0;
}
.titleModel .payTitleIcon{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url("../../images/client/commonIcon.png") no-repeat 0 -234px;
    vertical-align: middle;
    margin-right: 10px;
}
.titleModel.padding30{
    padding: 30px 0;
}
.titleModel.padding20{
    padding: 10px 0;
}
.payWayContent{
    margin-bottom: 60px;
}
.payWayContent .commonPayWayIcon{
    display: inline-block;
    width: 172px;
    height: 51px;
    background: url("../../images/client/payWayIcon.png") no-repeat;
    vertical-align: middle;
}
.commonPayWayIcon.payWayIcon01{
    background-position: 0 0;
}
.commonPayWayIcon.payWayIcon02{
    background-position: -178px 0;
}
.commonPayWayIcon.payWayIcon03{
    background-position: 0 -58px;
}
.payWayContent .radio{
    margin-right: 30px;
}
.btnCenter{
    text-align: center;
    margin: 20px 0 0;
    padding-bottom: 20px;
    font-size: 18px;
}
.onLinePayContent .btnCenter{
    padding: 20px 0 40px;
}
.withoutOrderModel{
    border-bottom:1px dashed #0c8694;
    padding:20px 0px;
    position: relative;
}
.withoutOrderModel01{
    padding:20px 0px;
    position: relative;
}
.chkUser-left{
    width:300px;
    padding-top:20px;
    float: left;
}
.chkUser-right{
    width:250px;
    height:240px;
    padding-top:50px;
    float: right;
}
.chkUser-center{
    width:18px;
    height:239px;
    float: left;
    background-image: url("../../images/client/chkUser_line.jpg");
}
.changeUser{
    width:31px;
    height:46px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/client/changeUser.jpg") no-repeat 0 0;
    cursor: pointer;
}
.noPosition{
    width:129px;
    height:91px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../images/client/snail.jpg");
}
.clickme{
    width:158px;
    height:158px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../images/client/withImg_01.jpg");
    cursor: pointer;
}
.clickme:hover {
    background-image: url("../../images/client/withImg_03.jpg");
}
.weixin{
    width:157px;
    height:157px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../images/client/withImg_02.jpg");
}
.withoutDivision{
    padding:10px;
}
.withoutLeft ul{
    list-style: none;
}
.withoutLeft ul li{
    line-height: 20px;
}
.withoutInfo{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}
.withoutTip{
    font-size: 15px;
    color: #a3a3a3;
}
.withoutLeft {
    padding: 20px 0px;
    width: 555px;
    float: left;
}
.withoutText{
    font-weight: bold;
    font-size: 15px;
    color: #11b9b7;
}
.withoutRight{
    padding: 20px 0px;
    width:555px;
    float: right;
}
/*  在线支付 E  */

.air-terminal {
    cursor: default;
}

#priceChangeTip .total-price {
    font-size: 24px;
    /*font-weight: bold;*/
    color: #fe7800;
}

/*  付款成功 start  */
.paySuccess-box{
    position: relative;
    top: 40px;
    color: #484848;
}
.paySuccess-box .pin{
    width:24px;
    height:44px;
    background: url("../../images/client/spirit.png") no-repeat 0px 0px;
    position: absolute;
    top:-13px;
    left:28px;
    z-index: 10;
}
.paySuccess-box .top-border{
    display: inline-block;
    background: url(../../images/client/repeat-border.jpg) repeat-x;
    width: 100%;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
}
.payBox-panel{
    width:100%;
    border-top:0px;
    background-color: #ffffff;
}
.paybox-up{
    padding-bottom: 30px;
    position: relative;
    border-bottom:1px dashed #c3dadd;
}
.paybox-up .left-semicircle, .paybox-center .left-semicircle{
    position: absolute;
    bottom:-4px;
    left:0px;
    width:4px;
    height: 8px;
    border-radius:0 4px 4px 0;
}
.paybox-up .right-semicircle, .paybox-center .right-semicircle{
    position: absolute;
    bottom:-4px;
    right:0px;
    width:4px;
    height: 8px;
    border-radius:4px 0 0 4px;
}
.paybox-center .line{
    width:1125px;
    height: 1px;
    background: url("../../images/client/line.jpg") repeat-x;
    display: inline-block;
    position: absolute;
    bottom:0px;
    left:5px;
    
}
.paybox-up-cnt{
    text-align: center;
}
.paybox-up-cnt .paybox-up-tip{
    padding-top:29px;
    font-size:24px;
    line-height: 18px;
}
.paybox-up-txt{
    padding-top:34px;
    vertical-align: middle;
}
.paybox-up-txt span{
    font-size: 18px;
    line-height: 18px;
}
.paybox-up-txt .paybox-up-border{
    padding-right:16px;
    border-right:1px #e0e0e0 solid;
}
.paybox-up-right{
    padding-left:16px;
}
.span-color01{
    color:#fe7800;
}
.span-color02{
    color:#11b9b7;
}
.paybox-up-img{
    padding-top:40px;
    position: relative;
}
.payImg{
    width:67px;
    height:67px;
    background:url("../../images/client/registerIconSprite.png") no-repeat -33px -23px;
    display: inline-block;

}
.left-bg01{
    background-color: #0b8295;
}
.left-bg02{
    background-color: #0c8d93;
}
.paybox-center{
    padding:20px 0px 25px;
    position: relative;
    text-align: center;
}
.paybox-center .paybox-center-cnt{
    padding-left:396px;
    font-size: 18px;
    line-height:30px;
}
.paybox-center-right{
    float: left;
    margin-left:51px;
    text-align: left;
}
.paybox-center-right ul{
    padding-top:28px;
    list-style: none;
}
.paybox-center-right ul li{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 8px;

}
.paybox-center-img{
    width:157px;
    height:157px;
    background:url("../../images/client/withImg_02.jpg") no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.paybox-bottom{
    padding-top:44px;
    padding-bottom:44px;
    text-align: center;
}
.btn-back{
    width:150px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding:13px;
    margin-left:25px;
}
.payBtn-color01{
    background-color: #11b9b7;
}
.payBtn-color01:hover, .payBtn-color01:focus{
    background-color: #10adab;
    color: #ffffff;
}
.payBtn-color02{
    background-color: #ffa200;
}
.payBtn-color02:hover, .payBtn-color02:focus{
    background-color: #fe7800;
    color: #ffffff;
}
/*  付款成功 end  */

.unlogin-tip {
    color: #9f9f9f;
    font-size: 14px;
}

.login-oper-link {
    color: #11b9b7;
    padding: 0 5px;
}

.login-oper-link:hover {
    color: #11b9b7;
    text-decoration: underline;
}