@charset "utf-8";

/*  代金券   start */

.cont-block{
    position: relative;
}
.cont-block .modelLine{
    display: inline-block;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #bbdde1;
    position: absolute;
    left: 220px;
    top: 0;
}
.leftMenuContent{
    width: 220px;
    float: left;
    margin-top: 50px;
}
.leftMenuContent ul{
    margin: 10px 30px;
}
.leftMenuContent ul a{
    font-size: 18px;
    display: block;
    min-width: 135px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #11b9b7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.leftMenuContent li.active a{
    color: #fff;
    background-color: #11b9b7;
}
.rightContent{
    padding: 30px 40px 30px 25px;
    float: left;
    width: 80.3%;
    min-height: 640px;
}

.voucher-switch {
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 0;
}

.voucher-switch li {
	float: left;
	font-size: 18px;
	padding: 0 25px;
	color: #7f7f7f;
	cursor: pointer;
	border-right: 1px solid #ececec;
}

.voucher-switch li:last-child {
	border: none;
}

.voucher-switch li:hover,
.voucher-switch li.current {
	color: #11b9b7;
}

.voucherListContainer {
	padding: 40px 0 0 25px;
}

.voucherItem {
	width: 373px;
	height: 185px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-right: 45px;
	margin-bottom: 35px;
	display: inline-block;
	color: #fff;
	position: relative;
	line-height: 18px;
}

.voucherItem.voucher-bg-0 {
	background-color: #1ddd89;
}

.voucherItem.voucher-bg-1 {
	background-color: #2dd3e7;
}

.voucherItem.voucher-bg-2 {
	background-color: #f683ac;
}

.voucherItem.voucher-bg-3 {
	background-color: #f5b75e;
}

.voucherItem.voucher-bg-0 .rightBorder {
	display: inline-block;
	position: absolute;
	right: -2px;
	background: url(../../images/client/voucher-short-border.png) repeat-y 0 0;
	width: 2px;
	height: 100%;
}

.voucherItem .price {
	display: inline-block;
	font-size: 30px;
	text-align:center;
	/*background: url(../../images/client/voucher-denomination.png) no-repeat 0 0;*/
	width: 100px;
	height: 60px;
}

.voucherItem .price-number{
	width: 134px;
	height: 60px;
	font-size:60px;
	text-align: right;
	line-height: 60px;
	font-family:"Arial";
	position: absolute;
	right: 0;
	top: -8px;
	margin-right:8px;
}

.voucherItem.voucher-bg-1 .rightBorder {
	display: inline-block;
	position: absolute;
	right: -2px;
	background: url(../../images/client/voucher-short-border.png) repeat-y -4px 0;
	width: 2px;
	height: 100%;
}

.voucherItem.voucher-bg-2 .rightBorder {
	display: inline-block;
	position: absolute;
	right: -2px;
	background: url(../../images/client/voucher-short-border.png) repeat-y -8px 0;
	width: 2px;
	height: 100%;
}

.voucherItem.voucher-bg-3 .rightBorder {
	display: inline-block;
	position: absolute;
	right: -2px;
	background: url(../../images/client/voucher-short-border.png) repeat-y -12px 0;
	width: 2px;
	height: 100%;
}

.horizontal-white-split-line {
	background: url(../../images/client/white-line-piece.png) repeat-x 0 0;
	height: 1px;
	width: 100%;
}

.voucherItem .top {
	font-size: 15px;
	padding: 9px 18px 9px 22px;
}

.voucherItem .top .title {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.voucherItem .middle {
	position: relative;
	font-size: 13px;
	padding: 13px 18px 13px 22px;
}

.voucherItem .bottom {
	font-size: 14px;
	text-align: right;
	padding: 10px 18px 10px 22px;
}

.voucherItem .bottom a {
	color: #fff;
}

.voucherItem .bottom a:hover {
	color: #fff;
	text-decoration: underline;
}

/*.voucherItem .bottom a:first-child {
	padding-right: 10px;
	border-right: 1px solid #fff;
	border-right-color: rgba(255,255,255,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7fffffff);
}*/

.voucherItem .bottom a:last-child {
	padding-left: 10px;
}

.voucherItem .price {
	position: absolute;
	right: 54px;
	top: 14px;
	font-size: 30px;
}

.voucherItem .price em {
	position: relative;
	top: 18px;
	left: 64px;
}

.voucherItem .privilege {
	width: 110px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;	
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 8px;
}

.voucherItem.voucher-bg-0 .privilege {
	color: #1ddd89; 
}

.voucherItem .validity {
	margin-bottom: 8px;
} 

.voucherItem .applicability {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.voucherItem.voucher-bg-1 .privilege {
	color: #2dd3e7; 
}

.voucherItem.voucher-bg-2 .privilege {
	color: #f683ac; 
}

.voucherItem.voucher-bg-3 .privilege {
	color: #f5b75e; 
}

.voucherList.used .voucherItem div,
.voucherList.used .voucherItem span,
.voucherList.used .voucherItem em,
.voucherList.used .voucherItem a {
	opacity: 0.7;
}

.voucherList.used .flag {
	position: absolute;
	right: -2px;
	top: -1px;
	background: url(../../images/client/used-img.png) no-repeat 0 0;
	width: 168px;
	height: 140px;
	opacity: 1!important;
}

.voucherList.expired .voucherItem div,
.voucherList.expired .voucherItem span,
.voucherList.expired .voucherItem em,
.voucherList.expired .voucherItem a {
	opacity: 0.7;
}

.voucherList.expired .voucherItem {
	background-color: #ccc;
}

.voucherList.expired .voucherItem .rightBorder {
	display: inline-block;
	position: absolute;
	right: -2px;
	background: url(../../images/client/voucher-short-border.png) repeat-y -16px 0;
	width: 2px;
	height: 185px;
}

.voucherList.expired .voucherItem .privilege {
	color: #ccc;
}

.voucherList.expired .flag {
	position: absolute;
	right: -2px;
	top: -1px;
	background: url(../../images/client/expired-img.png) no-repeat 0 0;
	width: 168px;
	height: 140px;
	opacity: 1!important;
}

.voucherList.used .bottom a:hover,
.voucherList.expired .bottom a:hover {
	cursor: default;
	text-decoration: none;
}

.voucherItem.small {
	height: 145px;
	display: block;
	margin: 20px auto 25px!important;
}

.share-person-block {
	padding: 0 10px;
	width: 375px;
	border: 1px solid #d0d0d0;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-radius: 2px;
	margin: 0 auto 25px;
}

.share-person-block .title {
	color: #777;
}

.share-person-block img {
	height: 23px;
	width: 23px;
	border-radius: 23px;
}

.share-person-block input[type='text'] {
	color: #484848;
	border: none;
	height: 35px;
  	line-height: 35px;
  	margin-top: -4px;
}

.share-person-block input[type='text']:focus {
	outline: none;
	border: none!important;
}

.share-person-block .refreshIcon {
	margin: 0;
}

/*  代金券   end */

/*  账户余额  start  */

.accountBalance {

}

.accountBalance .subTitle {
	font-size: 18px;
	color: #7f7f7f;
	padding-bottom: 20px;
	padding-left: 25px;
	border-bottom: 1px solid #ececec;
}
.accountBalance .accountInfo {
	padding: 28px 0 28px 25px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 50px;
}
.accountBalance .accountInfo img {
	border-radius: 67px;
}
.accountBalance .accountInfo .piggyBank {
	display: inline-block;
	background: url(../../images/client/piggy-bank-icon.png) no-repeat 0 0;
	width: 67px;
	height: 67px;
	vertical-align: middle;
	margin-right: 20px;
}

.accountBalance .accountInfo .money {
	font-size: 32px;
	color: #fe7800;
	font-family: Arial;
	vertical-align: middle;
}

.accountBalance .accountInfo .orangeBtn {
	float: right;
	margin-top: 10px;
	margin-right: 25px;
}

.accountBalance .aboutMakeMoney {
	font-size: 16px;
	float: right;
	color: #11b9b7;
	margin-top: 5px;
	margin-right: 20px;
}

.question-mark-icon {
	display: inline-block;
	background: url(../../images/client/question-mark-icon.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -2px;
}

.person-reward-table {
	font-size: 16px;
	width: 100%;
	margin: 25px 0;
}

.person-reward-table th,
.person-reward-table td {
	border: 1px solid #d2efef;
	text-align: center;
}

.person-reward-table th {
	padding: 16px 0;
	background-color: #f3fbfb;
	color: #9f9f9f;
}

.person-reward-table td {
	padding: 18px 0;
	color: #484848;
}

.person-reward-table .money {
	color: #fe7800;
	font-family: Arial;
	font-weight: bold;;
}

.person-reward-table .status {
	color: #11b9b7;
}
.exchange {
	float:right;
}
.balance{
	color:#ffa200;
	margin:0 5px;
}
.tellNum{
	margin-top:30px;
	padding-left: 20px;
}
.exchangeBlance{
	font-size:16px;
	margin-top:30px;
	padding-left: 20px;
}
.tellNum p{
	margin-bottom:15px;
}
.tellNum p.c999{
	color:#999;
}
.tellNum span{
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
}
.tellNum input{
	width:250px;
	height:35px;
}
.modal-body .exchangeSucces{
	text-align:center;
	font-size:16px;
	margin-top:20px;
}
/*  账户余额  end  */