@charset "utf-8";
/*工作台开始*/
.work-platform{
    width:356px;
    background:#fff;
    background: rgba(255,255,255,0.95);
    border:1px solid #bababa;
    position:fixed;
    left:-358px;
    z-index:100;
    top:0;
}

/*工作台登录模块*/
.workpla-login{
    padding: 50px 42px 0px 46px;
}
.logintext{
    margin-bottom:36px;
    display: inline-block;
}
.componentInput{
    margin-bottom:24px;
    height:43px;
}
.workpla-login .componentInput input,.workpla-login .componentInput input:focus{
    background-color:rgba(255,255,255,0);
    margin-top:-6px;
}
.workpla-login .login-attach .checkbox {
    font-size: 13px;
    color: #11b9b7;
    font-weight: normal;
    margin-left: 0;
    margin-top:20px;
}

.workpla-login .login-attach .checkboxIcon {
    margin-top: -5px;
}

.workpla-login .login-attach .register-link {
    font-size: 13px;
    color: #11b9b7;
    float: right;
    margin-top: 20px;
    margin-right:0;
}

.login-attach .register-link:hover {
    cursor: pointer;
}

/*登录后*/
.workpla-afterlogin{
    padding:0px 18px 0 18px;
    display: none;
}
.exit{
    height:28px;
    padding-top:12px;
    cursor:pointer;
}
.exit .exitbtn{
    font-size:15px;
    color:#c7c7c7;
    float:right;
}
.exit .exitbtn .exitIcon{
    width:13px;
    height:13px;
    background:url(../../images/client/exit.png);
    margin:0;

}
.userInfo{
    height:94px;
    border-bottom:1px solid #e7e7e7;
}
.workpla-afterlogin .leftImg{
    width:70px;
    height:70px;
    margin-left:28px;
    float:left;
}
.workpla-afterlogin .leftImg img{
    width:100%;
    height:100%;
    border-radius: 100%;
}
.workpla-afterlogin .rightUserInfo{
    float:left;
    padding:12px 0 0 16px;
    margin-top: 13px;
}

.rightUserInfo .usercenter-text{
    vertical-align: middle;
} 
.rightUserInfo .usercenter-text a{
    color: #23b0ae;
}
.workpla-afterlogin .rightUsername {
    margin-bottom:8px;
    margin-left:4px;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.workpla-afterlogin .rightUsername:hover {
    color: #11b9b7;
    cursor: pointer;
}
/*栏目模块*/
.columnModel{
    height:104px;
    border-bottom:1px solid #e7e7e7;
    padding-top:22px;
}
.columnModel ul{
    overflow: hidden;
    margin:0;
}
.columnModel ul li{
    width:58px;
    float:left;
    margin:0 10px;
    font-size:14px;
    text-align: center;
}
.columnModel ul li span{
    display:inline-block;
    line-height:32px;
    color: #555;
}
.columnModel ul li:hover span{
    color:#1cafad;
}
.orderIcon{
    width:24px;
    height:30px;
    background:url(../../images/client/columnIcon.png) no-repeat 0 -31px;
}
.columnModel ul li:hover .orderIcon{
    background-position: 0 0;
}
.favorIcon{
    width:31px;
    height:28px;
    background:url(../../images/client/columnIcon.png) no-repeat -25px -31px;
}
.columnModel ul li:hover .favorIcon{
    background-position: -25px 0;
}
.elecWalletIcon{
    width:29px;
    height:29px;
    background:url(../../images/client/columnIcon.png) no-repeat -56px -31px;
}
.columnModel ul li:hover .elecWalletIcon{
    background-position:-56px 0;
}
.messageIcon{
    width:29px;
    height:29px;
    background:url(../../images/client/columnIcon.png) no-repeat -86px -31px;
}
.columnModel ul li:hover .messageIcon{
    background-position: -86px 0;
}
/*选项卡模块*/
.message-tip-tab{
    height:55px;
    padding-top: 8px;
    text-align: center;
    border-bottom:1px solid #e7e7e7;
    position:relative;
    overflow: hidden;
}
.message-tip-tab li{
    width:159px;
    float:left;
    font-size: 18px;
    color: #858585;
    padding: 6px 14px;
    cursor: pointer;
}
.message-tip-tab li:last-child {
    padding: 0;
}
.tab-toggle{
}
.slidline{
    width: 150px;
    height: 3px;
    background-color: #11B9B7;
    position: absolute;
    top:5px;
    left: 0;
    z-index: 2;
}
.message-tip-tab li{
    position:relative;
}
.message-tip-tab li.current {
    color: #11b9b7;
} 

.message-tip-tab li span{
    width:5px;
    height:5px;
    background:url(../../images/client/unread-dot.png) no-repeat;
    position:absolute;
    right: 52px;
    top: 8px;
    z-index:9;
}
.work-platform .tab-cont-block{
    position: relative;
}
.work-platform .tab-cont{
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom:30px;
    width: 100%;
    display: none;
}

/*微信提醒模块*/
.remind-tab-cont ul li{
    padding:10px 18px 8px 30px;
    color:#92918b;
    font-size:14px;
    word-wrap:break-word;
    margin-bottom:8px;
    position:relative;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.remind-tab-cont ul li a{
    color:#1cafad;
}
.remind-tab-cont ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.remind-tab-cont ul li .remind-conmenicon{
    width:16px;
    height:20px;
    position:absolute;
    left:8px;
    top:12px;
    background: url(../../images/client/remindicon.png) 0 0;
}
.remind-tab-cont ul li .ordericon{
    width:14px;
    background: url(../../images/client/remindicon.png) 0 0;
}

.remind-tab-cont ul li .unread-ordericon{
    width:14px;
    background-position:-15px 0;
}
.remind-tab-cont ul li .vouchericon{
    background: url(../../images/client/remindicon.png) -30px 0;
}

.remind-tab-cont ul li .unread-vouchericon{
    background-position:-47px 0;
}
.remind-tab-cont ul li .balanceicon{
    background: url(../../images/client/remindicon.png) -64px 0;
}

.remind-tab-cont ul li .unread-balanceicon{
    background-position:-81px 0;
}
.remind-tab-cont ul li.unread{
    background:#fffded;
    border:1px solid #eee;
}
.privletter-tab-cont ul li.unread{
    background:#fffded;
    border:1px solid #eee;
}

.remind-tab-cont,.privletter-tab-cont{
    display:block;
    overflow:hidden;
}
.remind-tab-dot,.privletter-tab-dot{
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -26px;
}
.remind-tab-dot li,.privletter-tab-dot li{
    display:inline-block;
    border-radius:100%;
    margin:0 5px 0 0;
    width:9px;
    height:9px;
    background:#dbdbdb;
}
.remind-tab-dot li.current,.privletter-tab-dot li.current{
    background:#1cafad;
}
.work-platform .tab-cont-height{
    overflow:hidden;
    position:relative;
}
.work-platform .more{
    color:#1CAFAD;
    float:right;
    margin-right:15px;
    display:none;
}
/*私信模块*/
.privletter-tab-cont ul li{
    padding:14px 10px 14px 5px;
    min-height:40px;
    overflow: hidden;
}
.privaletter-left{
    width:42px;
    height:42px;
    float:left;
}
.privaletter-left img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.privaletter-right{
    width:256px;
    float:right;
    font-size:14px;
    word-spacing: -1;
    padding:2px 8px 0 10px;
}
.username{
    color: #616161;
    float:left;
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.priletter-data{
    color: #d4d4d4;
    float: right;
}
.priletter-top{
    overflow:hidden;
}
.priletter-bottom{
    margin:0;
    height:40px;
}
.priletter-bottom a{
    color: #929292;
    word-wrap: break-word;
}
.priletter-bottom,
.priletter-bottom p {
    color: #1cafad;
    word-wrap: break-word;
}
.priletter-bottom:hover,
.priletter-bottom p:hover {
    color: #1cafad;
    cursor: pointer;
    text-decoration: underline;
}

/*/私信结束*/

/*工作台侧边按钮*/
.workplabtn{
    width:50px;
    height:54px;
    background:url(../../images/client/workplatformbtn.png) top right no-repeat;
    position:absolute;
    right:-51px;
    top:137px;
    z-index:10;
    cursor:pointer;
}
.workplabtn:hover{
    background:url(../../images/client/workplatformbtn-hover.png) top right no-repeat;
}

.workplabtn span{
    width:14px;
    height:14px;
    background:url(../../images/client/workplabtn-unread.png) center center no-repeat;
    position:absolute;
    right: -1px;
    top: -1px;
    z-index:8;
    display: block;
}

.privletter-empty-block {
    text-align: center;
    color: #c6c6c6;
    font-size: 16px;
}

.letter-empty-img {
    width: 66px;
    height: 76px;
    background: url(../../images/client/letter-empty.png) no-repeat;
    display: inline-block;
    margin-bottom: 20px;
}