@charset "utf-8";

head,html,body,img,span,div,ul,li,audio,source{
    margin:0;
    padding:0;
}
ul li{list-style-type: none;}
html, body,.wrapper{
    height: 100%;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
}
audio,source{font-size: 0; width: 0; height: 0; display: none;}

button,
button:focus,
img:focus{
    display: inline-block;
    outline: none;
    border: none;
    tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -ms-tap-highlight-color:rgba(0,0,0,0);
}

.logoImg {
    display: inline-block;
    width: 121px;
    height: 44px;
    background: url(/images/client/logo-new.png) no-repeat;
    float: left;
    margin-top: 6px;
}

/*  泰国专题页 S  */
.wrapperSpecial {
    min-width: 1200px;
}
.positionA{
    width:1130px;
    margin:0 auto;    
    z-index: 10;
    position: relative;
    height: 100%;
}
.positionA .leftLink,
.positionA .rightLink{
    display: block;
    position: absolute;
    bottom: 8px;
    width: 530px;
    height: 135px;
}
.positionA .leftLink{
    left: 3%;
}
.positionA .rightLink{
    right: 0;
}
.taiguoBanner{
    background: #116c38 url("../images/webShowSpecial/taiguoBanner.jpg") no-repeat 50% 50%;
    height: 710px;
}
.taiguoModel01{
    background-color: #116c38;
}
.taiguoBlock01{    
    background: url("../images/webShowSpecial/taiguo01.jpg") no-repeat 50% 50%;
    height: 1112px;
}
.taiguoBlock02{    
    background: url("../images/webShowSpecial/taiguo02.jpg") no-repeat 50% 50%;
    height: 835px;
}
.taiguoModel02{
    background-color: #116c38;
}
.taiguoBlock03{    
    background: url("../images/webShowSpecial/taiguo03.jpg") no-repeat 50% 50%;
    height: 965px;
}
.taiguoBlock04{    
    background: url("../images/webShowSpecial/taiguo04.jpg") no-repeat 50% 50%;
    height: 790px;
}
.taiguoBlock05{    
    background: #116c38 url("../images/webShowSpecial/taiguo05.jpg") no-repeat 50% 50%;
    height: 1382px;
}
.taiguoModel03{
    background-color: #116c38;
}
.taiguoBlock06{    
    background: url("../images/webShowSpecial/taiguo06.jpg") no-repeat 50% 50%;
    height: 1050px;
}
.taiguoBlock07{    
    background: url("../images/webShowSpecial/taiguo07.jpg") no-repeat 50% 50%;
    height: 700px;
}
.taiguoModel04{
    background-color: #116c38;
}
.taiguoBlock08{    
    background: url("../images/webShowSpecial/taiguo08.jpg") no-repeat 50% 50%;
    height: 822px;
}
.taiguoBlock09{    
    background: url("../images/webShowSpecial/taiguo09.jpg") no-repeat 50% 50%;
    height: 826px;
}
.marginBottom20px{
    margin-bottom: 20px;
}
.taiguoBottomImg{
    background-color: #106535;
    padding: 20px 0;
    text-align: center;
}
.taiguoContent{
    position: relative;
}
.suspendContent{
    background-color: #46401b;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 5%;
}
.suspendContent li{
    margin-top: 5px;
}
.suspendContent li:first-child{
    margin-top: 0;
}
.suspendContent li a{
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}
.suspendModel01{
    background-color: #8556af;
}
.suspendModel02{
    background-color: #e12e67;
}
.suspendModel03{
    background-color: #ef7115;
}
.suspendModel04{
    background-color: #7ac2e8;
}
.suspendModel05{
    background-color: #56b97d;
}
.suspendModel06{
    background-color: #6dbf04;
}
/*  泰国专题页 E  */

/*  九州专题页 S  */
.jiuzhouBanner{
    background: url("../images/webShowSpecial/jiuzhouBanner.jpg") no-repeat 50% 50%;
    height: 718px;
    position: relative;
}
.jiuzhouBanner .jiuzhouPositionA{
    width: 437px;
    height: 133px;
    background: url("../images/webShowSpecial/jiuzhouEntranceImg.png") no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -219px;
    top: 580px;
}
.jiuzhouBanner .jiuzhouPositionA:hover{
    background: url("../images/webShowSpecial/jiuzhouEntranceImgHover.png") no-repeat;
}
.jiuzhouChange{
    background-color: #ecf2ee;
}
.jiuzhouChangeImg{
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: #ffffff;
    position: relative;
}
.jiuzhouChangeImg .changeLeftImgStyle{
    display: inline-block;
    position: absolute;
    z-index: 3;
}
.jiuzhouChangeImg .changeLeftImg01{
    width: 299px;
    height: 159px;
    background: url("../images/webShowSpecial/jiuzhouLeftImg01.png") no-repeat;
    left: 30px;
    top: 0;
}
.jiuzhouChangeImg .changeLeftImg02{
    opacity: 0;
    width: 279px;
    height: 200px;
    background: url("../images/webShowSpecial/jiuzhouLeftImg02.png") no-repeat;
    left: 50px;
    top: -20px;
}
.jiuzhouChangeImg .changeLeftImg03{
    opacity: 0;
    width: 289px;
    height: 182px;
    background: url("../images/webShowSpecial/jiuzhouLeftImg03.png") no-repeat;
    left: 30px;
    top: -5px;
}
.jiuzhouChangeImg .changeLeftImg04{
    opacity: 0;
    width: 323px;
    height: 288px;
    background: url("../images/webShowSpecial/jiuzhouLeftImg04.png") no-repeat;
    left: 30px;
    top: -120px;
}
.jiuzhouRightPlaces{
    margin-left: 180px;
}
.jiuzhouRightPlaces .placesName{
    margin-left: 200px;
}
.jiuzhouRightPlaces .bottomLines{
    width: 820px;
    margin-top: 40px;
    margin-left: 30px;
    border-bottom: 2px solid #589736;
    position: relative;
}
.bottomLines .lines{
    width: 100%;
    height: 3px;
    background-color: #fef6e3;
}
.bottomLines .commonChangeIcon{
    display: inline-block;
    width: 100px;
    height: 130px;
    background: url("../images/webShowSpecial/smallIcon.png") no-repeat 0 0;
    position: absolute;
    top: -112px;
    z-index: 5;
    cursor: pointer;
}
.commonChangeIcon.changeIcon01{
    right: 510px;
}
.commonChangeIcon.changeIcon02{
    right: 340px;
}
.commonChangeIcon.changeIcon03{
    right: 200px;
}
.commonChangeIcon.changeIcon04{
    right: 45px;
}
.commonChangeIcon.changeIcon01.current,
.commonChangeIcon.changeIcon02.current,
.commonChangeIcon.changeIcon03.current,
.commonChangeIcon.changeIcon04.current{
    background-position: -87px 0;
    z-index: 6;
}
.commonFloater{
    opacity: 0;
    width: 658px;
    height: 298px;
    position: absolute;
    left: 350px;
    top: -185px;
}
.hoverFloater01{
    background: url("../images/webShowSpecial/jiuzhouPositionImg01.png") no-repeat;
}
.hoverFloater02{
    background: url("../images/webShowSpecial/jiuzhouPositionImg02.png") no-repeat;
}
.hoverFloater03{
    background: url("../images/webShowSpecial/jiuzhouPositionImg03.png") no-repeat;
}
.hoverFloater04{
    background: url("../images/webShowSpecial/jiuzhouPositionImg04.png") no-repeat;
}

.jiuzhouBlock01{
    background: url("../images/webShowSpecial/jiuzhou01.jpg") no-repeat 50% 50%;
    height: 252px;
}
.jiuzhouBlock02{
    background: url("../images/webShowSpecial/jiuzhou02.jpg") no-repeat 50% 50%;
    height: 642px;
}
.jiuzhouBlock03{
    background: url("../images/webShowSpecial/jiuzhou03.jpg") no-repeat 50% 50%;
    height: 769px;
}
.jiuzhouBlock04{
    background: url("../images/webShowSpecial/jiuzhou04.jpg") no-repeat 50% 50%;
    height: 1065px;
}
.jiuzhouBlock05{
    background: url("../images/webShowSpecial/jiuzhou05.jpg") no-repeat 50% 50%;
    height: 622px;
}
.jiuzhouBlock06{
    background: url("../images/webShowSpecial/jiuzhou06.jpg") no-repeat 50% 50%;
    height: 757px;
}
.jiuzhouBottomImg{
    background-color: #ecf2ee;
    padding-bottom: 20px;
    text-align: center;
}
.marginTop20px{
    margin-top: 20px;
}
/*  九州专题页 E  */