@charset "utf-8";
html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
ul,li{
  margin:0;
  padding:0;
  list-style:none;
}
a:focus {
  outline: none;
}
*:not(input) {
  -webkit-user-select: none;
}

/*loading页*/
.loading{
  width:100%;
  height:100%;
}
#loadingContainer {
  width:15.825rem;
  height:1.225rem;
  background:#5c2d28;
  border-radius:1.225rem;
  position: relative;
  margin: 0 auto;
}
#loadingInnerBar {
  width: 0;
  height: 100%;
  background-color: #f9ebc6;
  position: absolute;
  left: 0;
  border-radius: 1.225rem;
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -ms-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out;
}
#loadingInnerBar.loaded {
  width: 100%;
}
.loadingpagebg{
  width:100%;
  margin-top:4rem;
}
.lodingtext{
  width:4.55rem;
  height:0.7rem;
  margin-top:0.5rem;
}
#loadingcanvas{
  width:15.825rem;
  height:1.225rem;
  background:#5c2d28;
  border-radius:1.225rem;
}
.loadingprogress{
  margin-top:3.5rem;
}

/*游戏说明页*/
.avater{
  width:3.35rem;
  height:3.35rem;
  display:inline-block;
  margin:1rem auto;
  background:#e6d6bd;
  border-radius:0.25rem;
}
.game_describe{
  width:100%;
  height:25.7rem;
  background:url("../images/activity/game_describe.png") center center no-repeat;
  background-size:16rem 25.7rem;
}
.getprize_list_contain{
  margin-bottom:3.5rem;
  overflow:hidden;
}
.getprize_list{
  height: 26rem;
  margin-top:0.625rem;
  /*overflow: hidden;*/
}
.getprize_list li{
  padding:0 2.8rem 0.875rem 2.8rem;
  text-align: left;
  color:#e6d6bd;
  overflow:hidden;
  font-size:0.8rem;
}
.user_getprize{
  float:left;
}
.avater_user_getprize{
  width:2.825rem;
  height:2.825rem;
  display:inline-block;
  border-radius: 0.25rem;
  background:#e6d6bd;
}
.name_user_getprize {
  width:4rem;
  height:1rem;
  display: inline-block;
  margin-top: 0.3rem;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prize_kinds_calender{
  width:5.3rem;
  height:0.85rem;
  background:url("../images/activity/getcalender.png") no-repeat;
  background-size: 5.3rem 0.825rem;
  margin-top:1.1rem;
  float:right;
}
.prize_kinds_bag{
  width:5.3rem;
  height:0.85rem;
  background:url("../images/activity/getbag.png") no-repeat;
  background-size: 5.3rem 0.825rem;
  margin-top:1.1rem;
  float:right;
}
/*.prize_kinds_voucher{
  width:6.2rem;
  height:0.9rem;
  background:url("../images/activity/getvoucher.png") no-repeat;
  background-size: 6.2rem 0.875rem;
  margin-top:1.1rem;
  float:right;
}*/
.prize_kinds_voucher50{
  width:8.125rem;
  height:0.9rem;
  background:url("../images/activity/getvoucher50.png") no-repeat;
  background-size: 8.125rem 0.875rem;
  margin-top:1.1rem;
  float:right;
}
.prize_kinds_voucher100{
  width:8.625rem;
  height:0.9rem;
  background:url("../images/activity/getvoucher100.png") no-repeat;
  background-size: 8.625rem 0.875rem;
  margin-top:1.1rem;
  float:right;
}
.prize_kinds_voucher800{
  width:8.625rem;
  height:0.9rem;
  background:url("../images/activity/getvoucher800.png") no-repeat;
  background-size: 8.625rem 0.875rem;
  margin-top:1.1rem;
  float:right;
}
.playgame{
  width:100%;
  height:3.5rem;
  background:rgba(0,0,0,0.5);
  position: fixed;
  bottom:-0.1rem;
  left:0;
}
.playgamebtn {
  width: 15.825rem;
  height: 2.225rem;
  border-radius: 0.25rem;
  display:inline-block;
  margin-top:0.625rem;
  background:#e6d6bd url(../images/activity/playgame.png) center center no-repeat;
  background-size: 5.7rem 1.05rem;
}

/*游戏页*/
.game{
  width:100%;
  height:100%;
}
.gamebg{
  width:100%;
  height:100%;
  position:relative;
  background:#e6d6bd url("../images/activity/flowerpot.png") center 103% no-repeat;
  background-size:7.75rem 7.625rem ;
  overflow:hidden;
}
#gamerule{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  z-index:1000;
}
.rule{
  width:15.775rem;
  height:7.375rem;
  margin-top:4.75rem;
}
#count-down-3s {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  z-index:1000;
  text-align: center;
  display: none;
  z-index: 101;
}
#cd-3,
#cd-2,
#cd-1 {
  color: #af3e2f;
  font-size: 6.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  opacity: 0;
  font-family: Arial;
}
@-webkit-keyframes cdStart {
  from { opacity: 1;  }
  to { opacity: 0; -webkit-transform: scale(1.8, 2); }
}
#cd-3.start,
#cd-2.start,
#cd-1.start {
  -webkit-animation: cdStart 1s 1;
}
#water {
  display: inline-block;
  width: 9.1rem;
  height: 9.075rem;
  background: url(../images/activity/water.png) center center no-repeat;
  background-size: 9.1rem 9.075rem;
  position: absolute;
  right: 1rem;
  bottom: 7rem;
  z-index: 100;
  display: none;
}
#startgame{
  width:15.775rem;
  height:2.95rem;
  display:inline-block;
  border-radius:0.25rem;
  background:#af3e2f url(../images/activity/startgame.png) center center no-repeat;
  background-size: 10.25rem 1.1rem;
  margin-top:0.4rem;
}
.startgame:active{
  opacity:0.9;
}
.time{
  width:14.25rem;
  height:12.25rem;
  line-height:12.25rem;
  display:inline-block;
  background:url(../images/activity/timebg.png) center center no-repeat;
  background-size:14.25rem 12.25rem;
  position:absolute;
  top:4.5rem;
  left:50%;
  margin-left:-7.125rem;
  font-size:6rem;
  font-weight:bold;
  text-align:center;
  color:#ffa200;
  z-index:600;
}
.timeprogress{
  width:100%;
  position:absolute;
  left:0;
  bottom:1.625rem;
  text-align:center;
}
#timecanvasContainer{
  width:15.825rem;
  height:1.225rem;
  background:#5c2d28;
  border-radius:1.225rem;
  margin:0 auto;
  position: relative;
}
#timecanvas{
  width:15.825rem;
  height:1.225rem;
  display: inline-block;
  left: 0;
  position: absolute;
  border-radius: 1.225rem;
  background-color: #af3e2f;
}
.timetext{
  width:3.6rem;
  height:0.75rem;
}
.tree {
   width: 4.9rem;
  height:8.675rem;
  display:inline-block;
  background:url(../images/activity/tree.png) no-repeat;
  background-size: 100% 100%;
  position:absolute;
  bottom:5.8rem;
  left:49%;
  margin-left:-2.45rem;
  -webkit-transform-origin:50% 100%;
  -moz-transform-origin:50% 100%;
  -o-transform-origin:50% 100%;
  transform-origin:50% 100%;  
}
.tree.transition {
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

@-webkit-keyframes bodyShake {
  0% { -webkit-transform: translate3d(0, 0, 0); -webkit-transform-origin: 50% 100%; }
  25% { -webkit-transform: translate3d(-6px, -3px, -6px); -webkit-transform-origin: 50% 100%; }
  50% { -webkit-transform: translate3d(0, 6px, 0); -webkit-transform-origin: 50% 100%; }
  75% { -webkit-transform: translate3d(6px, 3px, 6px); -webkit-transform-origin: 50% 100%; }
  100% { -webkit-transform: translate3d(0, 0, 0); -webkit-transform-origin: 50% 100%; }
}
@keyframes bodyShake {
  0% { transform: translate3d(0, 0, 0); transform-origin: 50% 100%; }
  25% { transform: translate3d(-6px, -3px, -6px); transform-origin: 50% 100%; }
  50% { transform: translate3d(0, 6px, 0); transform-origin: 50% 100%; }
  75% { transform: translate3d(6px, 3px, 6px); transform-origin: 50% 100%; }
  100% { transform: translate3d(0, 0, 0); transform-origin: 50% 100%; }
}

body.shake {
  animation: bodyShake 0.1s 3;
  -webkit-animation: bodyShake 0.1s 3;
}

.leaf{
  /*  width:184px;
    height:182px;*/
  width:4.6rem;
  height:4.55rem;
  display:inline-block;
}

$num:10;    //点击次数
$addx:(2.77-1) /$num;
$addy:(2.77-1) /$num;
@for $i from 1 through $num+1 {
  .#{big}#{$i} {
      -webkit-transform: scale(1+$addx*$i,1+$addy*$i);
      -ms-transform: scale(1+$addx*$i,1+$addy*$i);
      -o-transform:  scale(1+$addx*$i,1+$addy*$i);
      transform:  scale(1+$addx*$i,1+$addy*$i);
  }
}

$leafnum:60;    //叶子数量
@for $i from 1 through $leafnum {
  $topvalue:random()*18.5+rem;
  $leftvalue:random()*18.75+rem;

  .#{leaf}#{$i} {
    @if($i%2==0){
      background:url(../images/activity/leaf1.png) no-repeat;
      background-size:cover;
    }@else{
      background:url(../images/activity/leaf2.png) no-repeat;
      background-size:cover;
    }
    position:absolute;
    z-index: 1;
    top:$topvalue;
    left:$leftvalue;

    @if($i==1){
      background:url(../images/activity/leaf1.png) no-repeat;
      background-size:cover;
      top: 15.25+rem;
      left: -0.5+rem;
    }@else if ($i==2){
      top: 6.2+rem;
      left: 14.9+rem;
    }@else if ($i==3){
      top: 1.5+rem;
      left: 6.75+rem;
    }@else if ($i==4){
      top: 6.2+rem;
      left: 8.9+rem;
    }@else if ($i==5){
      top: 19.5+rem;
      left: 1.3+rem;
    }@else if ($i==6){
      top: 1.5+rem;
      left: 0.8+rem;
    }@else if ($i==7){
      top: 13.925+rem;
      left: 8.75+rem;
    }@else if ($i==8){
      top: 10.5+rem;
      left: 2.5+rem;
    }@else if ($i==9){
      top: 10+rem;
      left: 14+rem;
    }@else if ($i==10){
      top: 4.5+rem;
      left: 0.25+rem;
      background:url(../images/activity/leaf2.png) no-repeat;
      background-size:cover;
    }@else if ($i==11){
      top: 6.2+rem;
      left: 3.95+rem;
      background:url(../images/activity/leaf1.png) no-repeat;
      background-size:cover;
    }@else if ($i==12){
      top: 3.875+rem;
      left: 11.2+rem;
      background:url(../images/activity/leaf2.png) no-repeat;
      background-size:cover;
    }@else if ($i==13){
      top: 9.25+rem;
      left: 6.2+rem;
    }@else if ($i==14){
      top: 15.85+rem;
      left: 12.5+rem;
    }
    @else if ($i==15){
      top: 14.5+rem;
      left: 4.2+rem;
    }
  }
}
#success{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2000;
  overflow:hiddden;
  text-align:center;
}
#egg_container {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4rem;
  z-index: 601;
}
#egg{
  width:16.875rem;
  height:16.775rem;
  display:inline-block;
  background:url(../images/activity/egg.png) no-repeat center center;
  background-size:16.875rem 16.775rem;
}
.takeprize{
  width:15.775rem;
  height:4.4rem;
  display:inline-block;
  background:url(../images/activity/takeprizetext.png) center center no-repeat;
  background-size:15.775rem 4.4rem;
  position:absolute;
  left:50%;
  bottom:1.5rem;
  margin-left:-7.8875rem;
}
#success_noprize,#success_takedprize,#fail,#tooManyPeople{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:3000;
  overflow:hidden;
  text-align:center;
}
.noprize_text{
  width:15.775rem;
  height:8.15rem;
  display:inline-block;
  background:url(../images/activity/noprize_text.png) center center no-repeat;
  background-size:15.775rem 8.15rem;
  margin-top:5.75rem;
}
.noprize_qr{
  width:15.775rem;
  height:8.275rem;
  display: inline-block;
  background:url(../images/activity/noprize_qr.png) center center no-repeat;
  background-size:15.775rem 8.275rem;
  position:absolute;
  left:50%;
  bottom:1.5rem;
  margin-left:-7.8875rem;
}
.noprize_qr img{
  width:100%;
  height:100%;
}
.takedprize_text{
  width:15.775rem;
  height:6.925rem;
  display:inline-block;
  background:url(../images/activity/takedprizetext.png) center center no-repeat;
  background-size:15.775rem 6.925rem;
  margin-top:6.25rem;
}
.fail_text{
  width:15.775rem;
  height:9.875rem;
  display:inline-block;
  background:url(../images/activity/failtext.png) center center no-repeat;
  background-size:15.775rem 9.875rem;
  margin-top:5.75rem;
}
.manypeople_text{
  width:15.775rem;
  height:7.7rem;
  display:inline-block;
  background:url(../images/activity/manypeopletext.png) center center no-repeat;
  background-size:15.775rem 7.7rem;
  margin-top:5.75rem;
}
.replay_btn {
  background: #af3e2f url(../images/activity/replay.png) no-repeat center center;
  background-size: 2.175rem 1.075rem;
}
.redbg{
  width:100%;
  height:100%;
  background:#af3e2f;
  text-align:center;
  position:relative;
}
.prize_bag{
  width:16.375rem;
  height:17.8265rem;
  display:inline-block;
  margin-top:1.75rem;
}
.prize_calendar{
  width:17.875rem;
  height:17.7rem;
  display:inline-block;
  margin-top:1.75rem;
}
.getprizeBtn{
  width:100%;
  position:absolute;
  bottom:1.25rem;
  text-align:center;
}
.getprize_btn,.other_getprize_btn,.replay_btn{
  width: 15.825rem;
  height: 2.925rem;
  display: inline-block;
  border-radius: 0.25rem;
}
.getprize_btn {
  background: #e6d6bd url(../images/activity/getprize_text.png) no-repeat center center;
  background-size:5.625rem 1.125rem;
}
.other_getprize_btn{
  background:#ff8417 url(../images/activity/other_getprize_text.png) no-repeat center center ;
  background-size:11.85rem 1.125rem;
  margin-top:0.625rem;
}
.getprize_btn:active,.other_getprize_btn:active{
    opacity:0.9;
}
#getpricePopWindow{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  display:none;
}
.getpricecontent{
  position:absolute;
  left:1.2rem;
  top:1.2rem;
  right:1.2rem;
  bottom:1.2rem;
}
#blackcover{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  top:0;
}
.greybg{
  width:100%;
  height:100%;
  background:#ebebeb url(../images/activity/prize_window.png) center top no-repeat;
  background-size:100%;
  position:relative;
}
.getprize_qr{
  width:100%;
}
.message {
  width: 14.7rem;
  height: 10.5rem;
  /*margin:0 auto;*/
  position: absolute;
  bottom: 0.925rem;
  left: 50%;
  margin-left:-7.35rem;
}
.message_form{
  width:14.7rem;
  height:7.1rem;
  border-radius:0.25rem;
  padding:1rem 0 0 4.2rem;
  background:#ff8417 url(../images/activity/message.png) no-repeat;
  background-size:14.7rem 7.1rem;
  text-align:left;
  box-sizing: border-box;

}
.submitebtn{
  width:14.7rem;
  height:2.925rem;
  display:inline-block;
  margin-top:0.5rem;
  border-radius:0.25rem;
  background:#ff8417 url(../images/activity/submitebtn.png) center center  no-repeat;
  background-size:2.175rem 1.025rem;
}
.submitebtn:active{
  opacity:0.9;
}
.message_form input{
  width:9.675rem;
  height:1.4rem;
  border:0;
  margin-bottom:0.5rem;
  outline:none;
  background:#ebebeb;
  padding:0 0.25rem;
  box-sizing: border-box;
  font-size:1rem;
  line-height:1.4rem;
}


.closebtn,.closebtn:link,.closebtn:visited{
  width:2.25rem;
  height:2.25rem;
  background:url(../images/activity/closebtn.png) right center no-repeat;
  background-size:2.25rem 2.25rem;
  display:inline-block;
  border-bottom-left-radius:100%;
  position:absolute;
  top:0;
  right:0;
}
.closebtn:active {
  opacity:0.5;
}
.voucher_title{
  width:8.85rem;
  height:2.5rem;
  display:inline-block;
  background:url(../images/activity/voucher_text.png) no-repeat;
  background-size:8.85rem 2.5rem;
  margin-top:1.5rem;
  margin-bottom:1.125rem;
}
.voucher{
  width:15.775rem;
  height:7.9rem;
  margin-bottom:0.25rem;
}
.exchange{
  margin-bottom:1.9rem;
}
.exchange_code{
  height:1.5rem;
  line-height:1.5rem;
  padding-left:3.8rem;
  display:inline-block;
  background:url(../images/activity/exchangecode.png) no-repeat 0 center;
  background-size:3.3rem 1.05rem;
  text-align:left;
  color:#e6d6bd;
  font-size:1.2rem;
  font-weight:bold;
}
.exchange_method{
  width:17.65rem;
  height:51.25rem;
  display: inline-block;
  background:url(../images/activity/exchangemethod.png) no-repeat center center;
  background-size:17.65rem 51.25rem;
}
#getPrizeVoucher .other_getprize_btn{
    margin-top:1.5rem;
    margin-bottom:1rem;
}
.clickShare {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff,endColorstr=#C8ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}
.clickShare .shareImg {
  width: 10.2rem;
  height: 4.725rem;
  position: absolute;
  right: 7%;
  top: 1%;
  z-index: 1;
}






