@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}
html,body{
  width:100%;
  height:100%;
}
ul,li{
  margin:0;
  padding:0;
  list-style:none;
}
a:focus {
  outline: none;
}


$fixedValue: 40;
$varFontSizeVal:2;
.fontSize{
  font-size: 24px / $varFontSizeVal;
}
.colorA1a1a1{
  color: #a1a1a1;
}
.color565656{
  color: #565656;
}
.color111{
  color: #111;
}
.color11b9b7{
  color: #11b9b7;
}
.borderTopE2e2e2{
  border-top: 1px solid #e2e2e2;
}
.borderBottomE2e2e2{
  border-bottom: 1px solid #e2e2e2;
}
@mixin border-radius($radius:6rem / $fixedValue){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
.displayInlineBlock{
  display: inline-block;
}


/*  jenny  Start  */
.commonModule{
  @extend .borderTopE2e2e2;
  @extend .borderBottomE2e2e2;
  padding: 0 30rem / $fixedValue;
  &.noBorderTop{
    border-top: none;
  }
  .titleH2{
    font-size: 28px / $varFontSizeVal;
    line-height: 38rem / $fixedValue;
    @extend .color111;
    margin: 20rem / $fixedValue 0;
   }
}
.productBanner{
  img{
    width: 100%;
    height: 340rem / $fixedValue ;
  }
}
.labelNames{
  margin: 30rem / $fixedValue 0;
  .commonStyle{
    font-size: 18px / $varFontSizeVal;
    padding: 8rem / $fixedValue 10rem / $fixedValue;
    min-width: 70rem / $fixedValue;
    color: #fff;
    @include border-radius;
    @extend .displayInlineBlock;
    text-align: center;
  }
  .lightBlueBg{
    @extend .commonStyle;
    background-color: #44bcda;
  }
}





/*  jenny  End  */

