@charset "utf-8";

body{
  font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif!important;
  @extend .fontSize;
  @extend .color565656;
}
html,body{
  width:100%;
  height:100%;
}
ul,li{
  margin:0;
  padding:0;
  list-style:none;
  @extend .color565656;
}
a:focus {
  outline: none;
}


$fixedValue: 40;
$varFontSizeVal:2;
.fontSize{
  font-size: 26px / $varFontSizeVal;
}
.colorA1a1a1{
  color: #a1a1a1;
}
.color565656{
  color: #565656;
}
.color111{
  color: #111;
}
.color11b9b7{
  color: #11b9b7;
}
.borderTopE2e2e2{
  border-top: 1px solid #e2e2e2;
  /*position: relative;
  border: none;
  &:after{
    content: '';    
    position: absolute;   
    top: 0;
    left: 0;
    border-top: 1px solid #e2e2e2;
    -webkit-box-sizing: border-box;    
    box-sizing: border-box;     
    width: 200%;     
    height: 200%;     
    -webkit-transform: scale(0.5);     
    transform: scale(0.5);     
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }*/
}
.borderBottomE2e2e2{
  border-bottom: 1px solid #e2e2e2;
  /*position: relative;
  border: none;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e2e2e2;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }*/
}
@mixin border-radius($radius:6rem / $fixedValue){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
.displayInlineBlock{
  display: inline-block;
}


/*  product  Start  */
.main{
  margin-bottom: 95rem/$fixedValue;
}
.commonModule{
  @extend .borderTopE2e2e2;
  @extend .borderBottomE2e2e2;
  background-color: #fff;
  padding: 15rem / $fixedValue 30rem / $fixedValue;
  margin-bottom: 15rem / $fixedValue;
  &.noBorderTop{
    border-top: none;
  }
  .titleH2{
    font-size: 28px / $varFontSizeVal;
    line-height: 38rem / $fixedValue;
    @extend .color111;
   }
  .commonTitleH2{
    font-size: 28px / $varFontSizeVal;
    @extend .color111;
    padding: 10rem/$fixedValue 0 20rem/$fixedValue;
    @extend .borderBottomE2e2e2;
  }
}
.productBanner{
  img{
    width: 100%;
    height: 340rem / $fixedValue ;
  }
}
.labelNames{
  margin: 15rem/$fixedValue 0 20rem/$fixedValue;
  .commonStyle{
    font-size: 18px / $varFontSizeVal;
    padding: 8rem / $fixedValue 10rem / $fixedValue;
    min-width: 55rem / $fixedValue;
    color: #fff;
    @include border-radius;
    @extend .displayInlineBlock;
    text-align: center;
  }
  .lightBlueBg{
    @extend .commonStyle;
    background-color: #44bcda;
  }
  .purpleBg{
    @extend .commonStyle;
    background-color: #df7eb0;
  }
  .orangeBg{
    @extend .commonStyle;
    background-color: #ea9e26;
  }
  .deepBlueBg{
    @extend .commonStyle;
    background-color: #11b9b7;
  }
}
.lightSpotList{
  margin: 15rem/$fixedValue 0;
  li{
    position: relative;
    padding-left: 45rem/$fixedValue;
    margin-bottom: 15rem/$fixedValue;
    p{
      line-height: 34rem/$fixedValue;
    }
  }
  .blueTitles{
    font-size: 26px/$varFontSizeVal;
    @extend .color11b9b7;
    margin: 20rem/$fixedValue 0 15rem/$fixedValue;
  }
  .commonIconStyle{
    @extend .displayInlineBlock;
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    position: absolute;
    left: 8rem/$fixedValue;
    top: 0;
  }
  .planeIcon{
    @extend .commonIconStyle;
    width: 30rem/$fixedValue;
    height: 30rem/$fixedValue;
    background-position: 0 0;
  }
  .hotelIcon{
    @extend .commonIconStyle;
    width: 30rem/$fixedValue;
    height: 30rem/$fixedValue;
    background-position: -20px 0;
  }
  .experienceIcon{
    @extend .commonIconStyle;
    width: 30rem/$fixedValue;
    height: 34rem/$fixedValue;
    background-position: -40px 0;
  }
  .serveIcon{
    @extend .commonIconStyle;
    width: 30rem/$fixedValue;
    height: 32rem/$fixedValue;
    background-position: -60px 0;
  }
}
.commonBottomStyle{
  position: relative;
  .journeyIcon{
    @extend .displayInlineBlock;
    width: 24rem/$fixedValue;
    height: 27rem/$fixedValue;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -80px 0;
    background-size: 320px 170px;
    position: absolute;
    left: 0;
    top: 25rem/$fixedValue;
  }
  .commonBottomTitle{
    font-size: 26px/$varFontSizeVal;
    @extend .color111;
    padding: 25rem/$fixedValue 0 10rem/$fixedValue 65rem/$fixedValue;
    margin: 0 -30rem/$fixedValue;
    @extend .borderTopE2e2e2;
  }  
}
.haveIcon{  
  .commonIconStyle{
    @extend .displayInlineBlock;
    width: 30rem/$fixedValue;
    height: 30rem/$fixedValue;
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-right: 10rem/$fixedValue;
  }
  .planeIcon{
    @extend .commonIconStyle;
    background-position: 0 0;
  }
  .hotelIcon{
    @extend .commonIconStyle;
    background-position: -20px 0;
  }
  .costIcon{
    width: 28rem/$fixedValue;
    height: 28rem/$fixedValue;
    @extend .commonIconStyle;
    background-position: -96px 0;
  }
  .noticeIcon{
    width: 23rem/$fixedValue;
    height: 28rem/$fixedValue;
    @extend .commonIconStyle;
    background-position: -115px 0;
  }
  .evaluateIcon{
    width: 29rem/$fixedValue;
    height: 28rem/$fixedValue;
    @extend .commonIconStyle;
    background-position: -132px 0;
  }
}
.airInfoContent{
  margin: 20rem/$fixedValue 25rem/$fixedValue 35rem/$fixedValue 45rem/$fixedValue;  
  position: relative;
  .commonLabelStyle{
    font-size: 18px/$varFontSizeVal;
    @extend .displayInlineBlock;
    @include border-radius;
    width: 30rem/$fixedValue;
    height: 30rem/$fixedValue;
    line-height: 34rem/$fixedValue;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -45rem/$fixedValue;
    top: 0;
  }
  .blueBg{
    @extend .commonLabelStyle;
    background-color: #11b9b7;
  }
  .orangeBg{
    @extend .commonLabelStyle;
    background-color: #ff9416;
  }
  .airPFonts{
    font-size: 20px/$varFontSizeVal;
    line-height: 34px/$varFontSizeVal;
    margin: 15rem/$fixedValue 0;
  }
}
.dayNumber{
  margin-bottom: 15rem/$fixedValue;
  .days{
    font-size: 26px/$varFontSizeVal;
    @extend .color111;
  }
}
.timePlaceContent{
  position: relative;
  .placeBlueFonts{
    @extend .color11b9b7;
  }
  .timeFonts{
    font-size: 34px/$varFontSizeVal;
    @extend .color111;
    margin: 10rem/$fixedValue 0;
    position: relative;
    .addDayName{
      font-size: 18px/$varFontSizeVal;
      -webkit-transform: scale(0.9);
      color: #ff9416;
      position: absolute;
      top: -3rem/$fixedValue;
      right: -45rem/$fixedValue;
    }
  }
  .airFonts{
    @extend .color565656;
  }
}
.timePlaceLeft{
  float: left;
  width: 40%;
}
.timePlaceRight{
  float: right;
  width: 40%;
  text-align: right;
}
.totalTimeContent{
  margin-left: -120rem/$fixedValue;
  position: absolute;
  left: 50%;
  top: 30%;
  .dottedIcon{
    @extend .displayInlineBlock;
    width: 12rem/$fixedValue;
    height: 12rem/$fixedValue;
    background: url("../../mstatic/images/smallIcon.png") no-repeat -196px 0;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-top: 3rem/$fixedValue;
    &.leftDotted{
      margin-right: -10rem/$fixedValue;
    }
    &.rightDotted{
      margin-left: -10rem/$fixedValue;
    }
  }
  .dashLine{
    @extend .displayInlineBlock;
    width: 60rem/$fixedValue;
    height: 1px;
    border-top: 1px dashed #bbbbbb;
  }
  .totalTimeFonts{
    font-size: 18px/$varFontSizeVal;
    @extend .colorA1a1a1;
    margin: 0 7rem/$fixedValue;
  }
}
.hotelTitleH3{
  @extend .color565656;
  margin: 20rem/$fixedValue 0 10rem/$fixedValue;
}
.starsContent{
  margin: 10rem/$fixedValue 0 20rem/$fixedValue;
  .checkInFonts{
    font-size: 20px/$varFontSizeVal;
    margin-left: 20rem/$fixedValue;
    @extend .colorA1a1a1;
  }
}
.yellow-star{
  width: 10px;
  height: 10px;
  @extend .displayInlineBlock;
  background: url("../../mstatic/images/smallIcon.png") no-repeat -208px 0;
  -webkit-background-size: 320px 170px;
  background-size: 320px 170px;
  margin-right: 0.25rem;
  vertical-align: middle;
}
.hotelProductImg{
  img{
    width: 100%;
    height: 317rem/$fixedValue;
  }
}
.hotelDetails{
  margin: 15rem/$fixedValue 0;
  p{
    line-height: 34rem/$fixedValue;
    @extend .color565656;
  }
}
.hotelClassify{
  @extend .borderTopE2e2e2;
  margin: 15rem/$fixedValue 0;
  padding-top: 20rem/$fixedValue;
  li{
    margin-bottom: 10rem/$fixedValue;
    line-height: 34rem/$fixedValue;
  }
  .a1a1a1Fonts{
    @extend .colorA1a1a1;
    float: left;
  }
  .classifyContent{
    float: left;
    width: 80%;
  }
}
.hotelNotice{
  .commonBottomTitle{
    padding: 25rem/$fixedValue 0 10rem/$fixedValue 30rem/$fixedValue;
  }
}
.arrowCommonStyle{
  @extend .displayInlineBlock;
  background: url("../../mstatic/images/smallIcon.png") no-repeat;
  background-size: 320px 170px;
  position: absolute;
}
.rightArrow{
  @extend .arrowCommonStyle;
  width: 12rem/$fixedValue;
  height: 21rem/$fixedValue;
  background-position:  -152px 0;
  right: 10rem/$fixedValue;
  top: 30rem/$fixedValue;
}
.bottomArrow{
  @extend .arrowCommonStyle;
  width: 22rem/$fixedValue;
  height: 12rem/$fixedValue;
  background-position: -164px 0;
  right: 10rem/$fixedValue;
  top: 30rem/$fixedValue;
}
.upRightArrow{
  @extend .arrowCommonStyle;
  width: 22rem/$fixedValue;
  height: 12rem/$fixedValue;
  background-position: -180px 0;
  right: 10rem/$fixedValue;
  top: 30rem/$fixedValue;
}

.dottedHotelList{
  margin: 15rem/$fixedValue 0;
  padding-bottom: 15rem/$fixedValue;
  @extend .borderBottomE2e2e2;
  li{
    line-height: 34rem/$fixedValue;
    margin: 0 0 5rem/$fixedValue 25rem/$fixedValue;
    list-style-type: disc;
  }
}
.facilityList{
  margin-bottom: 20rem/$fixedValue;
  li{    
    line-height: 34rem/$fixedValue;
    margin-bottom: 8rem/$fixedValue ;
  }
  .facilityFonts{
    @extend .colorA1a1a1;
  }
}
.hotelBottomPackUp{
  font-size: 26px/$varFontSizeVal;
  @extend .color111;
  @extend .borderTopE2e2e2;
  text-align: center;
  padding: 20rem/$fixedValue 0;
  position: relative;
  .upArrow{
    @extend .arrowCommonStyle;
    width: 22rem/$fixedValue;
    height: 12rem/$fixedValue;
    background-position: -180px 0;
    left: 40%;
    top: 28rem/$fixedValue;
  }
}
.seeDefault{
  display: none;
}
.costDetails{
  margin: 20rem/$fixedValue 0;
  .costTitle{
    font-size: 26px/$varFontSizeVal;
    @extend .color111;
    margin-bottom: 15rem/$fixedValue;
  }
  .costList{
    li{
      margin: 5rem/$fixedValue 0 5rem/$fixedValue 30rem/$fixedValue;
      line-height: 34rem/$fixedValue;
      list-style-type: decimal;
    }
    &.maxHeight{
      height: 145px;
      overflow: hidden;
    }
  }
}
.packUpFold{
  text-align: center;
  padding: 30rem/$fixedValue 0 20rem/$fixedValue;
  margin: 30rem/$fixedValue -30rem/$fixedValue 0;
  @extend .borderTopE2e2e2;
  strong{
    font-size: 26px/$varFontSizeVal;
    @extend .color111;
  }
  .commonIconStyle{
    @extend .displayInlineBlock;
    background: url("../../mstatic/images/smallIcon.png") no-repeat;
    background-size: 320px 170px;
    vertical-align: middle;
    margin-right: 10rem/$fixedValue;
  }
  .downArrow{
    @extend .commonIconStyle;
    width: 22rem/$fixedValue;
    height: 12rem/$fixedValue;
    background-position: -164px 0;
  }
  .upArrow{
    @extend .commonIconStyle;
    width: 22rem/$fixedValue;
    height: 12rem/$fixedValue;
    background-position: -180px 0;
  }
}

.judge-cnt{
  margin: 30rem/$fixedValue 0 30rem/$fixedValue 80rem/$fixedValue;
  font-size: 22px/$varFontSizeVal;
  line-height:1rem;
  color:#616161;
  word-wrap: break-word;
  word-break: break-all;
}
.judge-top{
  position: relative;
  .pop-img{
    width: 1.5rem;
    height: 1.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: -80rem/$fixedValue;
    top: 0;
  }
  .pop-name{
    @extend .color111
  }
  .judge-date{
    color:#9f9f9f;
  }
}
.evaluateDetail{
  height: 270px;
  overflow: hidden;
}
.bottomFixed{
  font-size: 26px/$varFontSizeVal;
  height: 80rem/$fixedValue;
  @extend .borderTopE2e2e2;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#fff;
  .bottomCommonFixed{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
  }
  .leftPrice{
    @extend .bottomCommonFixed;
    strong{
      font-weight: bold;
      color: #e46c14;
    }
    .priceFonts{
      margin: 12rem/$fixedValue 0 8rem/$fixedValue;
    }
    .lineTrough{
      font-size: 22px/$varFontSizeVal;
      text-decoration: line-through;
      @extend .colorA1a1a1;
    }
  }
  .rightBtn{
    line-height: 80rem/$fixedValue;
    @extend .bottomCommonFixed;
    background-color: #3fc0ae;
    color: #fff;
    &:focus{
      color: #fff;
    }
  }
}
.ui-mobile a:active, .ui-mobile a:visited, .ui-mobile a:hover{
  color: #fff;
}


.present-list ol,
.wuge-txt,
.travel-one .ui-block-b p,
.tips-content .tips-detail,
.nav-content pre,
.hotel-room .room-txt,
.inst-til p,
.navWrap-val,
.navWrap-val p,
.navWrap-val ol li span,
.judge-txt {
  font-family: Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei !important;
  font-size: 13px !important;
  line-height: 1.1rem !important;
}
.destinationCont{
  font-size: 22px/$varFontSizeVal;
  margin: 10rem/$fixedValue 0;
}

/*  product  End  */

