/*  真旅行后台管理  公共样式  */
@charset "utf-8";

body {
	font-size: 16px;
	font-family: "Microsoft Yahei", arial, sans-serif;
}

.wrapper {
	min-width: 800px;
	background-color: #e5f6fe;
}

footer {
	height: 64px;
	line-height: 64px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #808080;
}
a:focus{outline: none;}
input[type="text"] {
    border: 1px solid #dadada;
    height: 35px;
    line-height: 35px;
    padding-left: 3px;
}
input[type="text"]:focus {
    border: 1px solid #80d0ee !important;
    outline: none;
}
textarea {
    border: 1px solid #dadada;
    padding: 3px;
}
textarea:focus {
    border: 1px solid #80d0ee !important;
    outline: none; 
}
.radio,
.checkbox{
    color: #666;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.radio:first-child,
.checkbox:first-child{
    margin-left: 0;
}
.radio .radioIcon{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../images/commonIcon.png") no-repeat -23px -42px;
    vertical-align: middle;
    margin-right: 2px;
}
.active .radioIcon{
    background-position: 0 -42px;
}
.radio .labelFonts,
.checkbox .labelFonts{
    font-size: 16px;
    font-weight: normal;
}
.checkbox,
.checkboxContent .checkboxIcon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../images/commonIcon.png") no-repeat -23px -62px;
    margin: 0;
    vertical-align: middle;
}
.checkbox.active,
.checkboxContent .checkboxInfo.active .checkboxIcon{
    background-position: 0 -62px;
}
.hasIcon{
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../../images/datepicker.png") no-repeat 97% center;
    vertical-align: middle;
}
.checkboxContent{
    display: inline-block;
}
.checkboxContent .checkboxInfo{
    display: inline-block;
    color: #666;
    margin-right: 20px;
    cursor: pointer;
}
.checkboxContent .checkboxInfo .checkboxIcon{
    margin-right: 5px;
}

/*  页面头 start */
.navLeft{
    width: 80%;
    float: left;
    margin-top: 12px;
}
.main-header{
    position: relative;
}
.main-header .stairMenuContent{
    background:#1e465f;
}
.wrap .logo{
    float:left;
    display:block;
    width:119px;
    height:32px;
    background:url(../../images/backstageLogo.png) no-repeat;
    margin: 0 30px 0 20px;
}
.wrap .stairMenu{
    float: left;
}
.wrap .stairMenu li{
    float: left;
    min-width: 90px;
    text-align: center;
    margin: 0 5px;
}
.stairMenu li a{
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
}
.stairMenu li a:hover{
    background-color: #295673;
}
.stairMenu li.currentStairMenu a{
    color: #fff;
    background-color: #59aad7;
}
.stairMenu .editFonts{
    display: inline-block;
    color: #fff;
    padding: 8px 12px;
}
.stairMenu .routeTipsFonts {
    display: inline-block;
    color: #7da2ba;
    padding: 11px 5px 0 12px;
    font-size: 14px;
}
.main-header .headSecondLevel{
    background-color: #59aad7;
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: -38px;
}
.headSecondLevel .secondLevelList{
    width: 1100px;
    margin: 0 auto;
}
.second-level-nav {
    background-color: #59aad7;
    position: absolute;
    left: 0;
    z-index: 2;    
    bottom: -38px;
}
.second-level-nav .secondLevelList{
    min-width: 400px;    
    margin: 0 auto;
}
.second-level-nav .secondLevelList a {
    color: #226388 !important;
}
.second-level-nav .secondLevelList a:hover {
    background: none;
}
.second-level-nav .secondLevelList li {
    padding: 7px 0;
}
.secondLevelList li{
    float: left;
    font-size: 16px;
    margin-right: 30px;
    min-width: 90px;
    text-align: center;
}
.secondLevelList li:first-child{
    margin-left: 250px;
}
.secondLevelList li a{
    display: block;
    color: #226388;
    padding: 5px;
}
.secondLevelList li a:hover{
    color: #fff !important;
}
.secondLevelList li.currentSecondLevelMenu a{
    color: #fff !important;
}
.wrap .headRightOperate{
    float: right;
    margin: 20px 10px 0 5px;
    font-size: 14px;
}
.headRightOperate .userContent{
    margin-right: 10px;
    color: #fff;
    font-weight: normal;
}
.headRightOperate .exitFonts:hover{
    color: #b2c9d8;
    text-decoration: none;
}
.headRightOperate .exitFonts{
    color: #7796aa;
}
.headRightOperate .emailContent{
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 20px;
    min-width: 60px;
    text-align: center;
    line-height: 1;
    background-color: #15374c;
    border-radius: 20px;
    -moz-border-radius: 20px;
       cursor: pointer;
}
.emailContent .emailIcon{
    display: inline-block;
    width: 19px;
    height: 12px;
    background: url("../../images/emailIcon.png") no-repeat;
    vertical-align: middle;
}
.emailContent .emailFonts{
    color: #939393;
}
.main-container{
    margin-top: 50px;
}
.main-header .headSecondLevel.headBtn{
    padding: 7px 10px 0;
    background-color: #e5f6fe;
    bottom: -55px;
    height: 55px;
}
.main-container.changeMainContent{
    margin: 115px 10px 0;
}
.middleContent{
    float: left;
    margin-left: 60px;
}
.middleContent li{
    display: inline-block;
    position: relative;
}
.middleContent li a{
    display: inline-block;
    color: #598193;
    min-width: 95px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    background-color: #d4ecf7;
    border: 2px solid #d4ecf7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.middleContent li a:hover{
    color: #598193;
    background-color: #fff;
    border: 2px solid #fff;
}
.middleContent li.active a{
    background-color: #fff;
    border: 2px solid #57bff0;
}
.middleContent li.active .downArrowIcon{
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url("../../images/commonIcon.png") no-repeat -91px 0;
    vertical-align: middle;
    position: absolute;
    bottom: -8px;
    left: 45%;
}
.hoveringModel{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

/* 媒体查询导航条 start */
@media screen and (max-width: 800px),
screen and (min-width:801px) and (max-width:1170px){
    .wrap .logo{
        margin: -5px 10px 0;
    }
    .wrap .stairMenu{
        margin-bottom: -2px;
    }
    .wrap .stairMenu li{
        min-width: 60px;
    }
    .stairMenu li a{
        padding: 5px;;
    }
    .secondLevelList li:first-child{
        margin-left: 215px;
    }
    .main-header .headSecondLevel,.second-level-nav{
        bottom: 0;
    }
    .main-container{
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px),
screen and (min-width:801px) and (max-width:1020px){
    .navLeft {
        float: none;
        width: 100%;
        height: 80px;
        margin-top: 40px;
        white-space: nowrap;
    }
    .wrap .headRightOperate{
        float: none;
        margin: 0;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .main-header .headSecondLevel.headBtn{
        bottom: -20px;
    }
    .main-container.changeMainContent{
        margin-top: 140px;
    }
}

@media screen and (min-width:1021px) and (max-width:1170px){
    .navLeft{
        float: none;
        width: 100%;
        height: 80px;
        margin-top: 15px;
        white-space: nowrap;
    }
    .wrap .headRightOperate{
        float: none;
        margin: 0;
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .main-header .headSecondLevel.headBtn{
        bottom: -20px;
    }
}
/* 媒体查询导航条 end */
/*  页面头 end  */


/*  翻页 start  */
.pagination{
    float: right;
    font-size: 14px;
    text-align: right;
    color: #808080;
}
.pagination .pageNum{
    color: #464646;
    cursor: pointer;
    position: relative;
}
.pageNum .paginationNum{
    display: inline-block;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.paginationNum li{
    width: 73px;
    padding: 7px 20px;
}
.paginationNum li a{
    display: inline-block;
    text-align: left;
    min-width: 25px;
    color: #000000;
}
.paginationNum li a:hover{
    color: #000000;
}
.paginationNum li a:focus{
    outline: none;
}
.paginationNum li.active,
.paginationNum li:hover{
    background-color: #f5f5f5;
}
.pageNum .pageNumIcon{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../../images/commonIcon.png") no-repeat -24px -8px;
    vertical-align: middle;
    margin-left: 3px;
}
.pagination .pageSize{
    color: #a6a6a6;
    margin: 0 10px;
}
.pagination .pageArrow{
    margin-right: 10px;
}
.pagination .pageArrow a{
    display: inline-block;
    vertical-align: middle;
    padding: 3px 7px;
    outline: none;
}
.pagination .pageArrow a:hover{
    background-color: #f0f0f0;
}
.pagination .pageArrow a.disabled:hover{
    background: none;
    cursor: default;
}
.pagination .pageArrow a{
    cursor: pointer;
}
.pagination .pageArrow a:focus,
.pagination .pageTo:focus{
    outline: none;
}
.pageArrow a i{
    display: inline-block;
    vertical-align: middle;
    background: url("../../images/commonIcon.png") no-repeat;
}
.pagination .firstPage i,
.pagination .lastPage i{
    width: 14px;
    height: 17px;
}
.pagination .firstPage i{
    background-position: 0 -104px;
}
.pagination .firstPage.disabled i{
    background-position: 0 -85px;
}
.pagination .lastPage i{
    background-position: -18px -85px;
}
.pagination .lastPage.disabled i{
    background-position: -18px -104px;
}
.pagination .prevPage i,
.pagination .nextPage i{
    width: 11px;
    height: 17px;
}
.pagination .prevPage i{
    background-position: -36px -104px;
}
.pagination .prevPage.disabled i{
    background-position: -36px -85px;
}
.pagination .nextPage i{
    background-position: -50px -85px;
}
.pagination .nextPage.disabled i{
    background-position: -50px -104px;
}
.pagination .pageToNum{
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0 3px;
}
.pagination .pageTo{
    display: inline-block;
    border: 1px solid #dadada;
    width: 27px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}
.pagination .pageTo i{
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 12px;
    background: url("../../images/commonIcon.png") no-repeat -64px -85px;
}
/*  翻页 end  */


/* button S */
.commonButton {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border:none;
    height: 40px;
    width:100px;
    min-width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    color:#fff;
    font-size: 16px;
    /*letter-spacing: 3px;*/
}
.commonButton.disabled {
    background-color: #a9a9a9;
    color: #fff;
}
.commonButton.disabled:hover {
    background-color: #a9a9a9;
    color: #fff;
    cursor: default;
}
.red-fe6869Button {
    background: #fe6869;
}
.red-fe6869Button:hover {
    background: #f65253;
}
.blue-45c8dcButton {
    background: #45c8dc;
}
.blue-45c8dcButton:hover {
    background: #2ebacf;
}
.whiteAddIcon{
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../../images/commonIcon.png") no-repeat -20px -131px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
}
.orange-f79767Btn{
    background-color: #f79767;
}
.orange-f79767Btn:hover{
    background-color: #f68853;
}
.gray-bbbButton {
    background: #bbb;
}
.gray-bbbButton:hover {
    background: #a9a9a9;
}
.haveIconButton i {
    background: url("../../images/haveIconButton.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.haveIconButton i.searchIcon {
    width:20px;
    height: 20px;
    background-position: 0 0;
}
.lightBlue-b6d7e7Btn{
    background-color: #b6d7e7;
}
.lightBlue-b6d7e7Btn:hover{
    background-color: #a5c7d8;
}
.whiteBtn{
    background-color: #fff;
    color: #d0d0d0;
}
.whiteBtn:hover{
    background-color: #45c8dc;
    color: #fff;
}
/* button E */


/*  重置 bootstrap datepicker 样式（单日历） start  */

input.datepicker {
    width: 110px;
    font-size: 14px;
    border-radius: 0;
}

div.datepicker {
    padding: 15px;
    background-color: #3c96ca;
}

div.datepicker td,
div.datepicker th {
    width: 35px;
    height: 35px;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
}

div.datepicker table tr td.day:hover,
div.datepicker table tr td.day.focused {
    background-color: #3685bc;
    cursor: pointer;
}

div.datepicker table tr td.today {
    background: #3685bc;
    color: #fff;
}

div.datepicker table tr td.today:hover {
    background: #3685bc!important;
    color: #fff!important;
}

div.datepicker table tr td.active,
div.datepicker table tr td.active:hover,
div.datepicker table tr td.active.disabled,
div.datepicker table tr td.active.disabled:hover {
    background: #2472a9!important;
    color: #fff;
}

div.datepicker table tr td.old,
div.datepicker table tr td.new {
    color: #7ec0e7;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    color: #7ec0e7;
    background-color: #3c96ca!important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: #7ec0e7;
    background-color: #3c96ca!important;
}

div.datepicker table thead .dow {
    font-size: 16px;
}

div.datepicker table thead .prev:after {
    content: '';
    background: url(../../images/datepicker-change-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle; 
    width: 25px;
    height: 25px;
}

div.datepicker table thead .prev:hover {
    background: transparent!important;
}

div.datepicker table thead .prev:after:hover {
    background: url(../../images/datepicker-change-icon.png) no-repeat 0 0;
}

div.datepicker table thead .prev.disabled:after {
    background: url(../../images/datepicker-change-icon.png) no-repeat 0 -27px;
}

div.datepicker table thead .next:after {
    content: '';
    background: url(../../images/datepicker-change-icon.png) no-repeat -26px 0;
    display: inline-block;
    vertical-align: middle; 
    width: 25px;
    height: 25px;
    cursor: pointer;
}

div.datepicker table thead .next:hover {
    background: transparent!important;
}

div.datepicker table thead .next:after:hover {
    background: url(../../images/datepicker-change-icon.png) no-repeat -26px 0!important;
}

div.datepicker table thead .next.disabled:after {
    background: url(../../images/datepicker-change-icon.png) no-repeat -27px -27px;
}

div.datepicker .datepicker-switch {
    font-size: 16px;
}

div.datepicker .datepicker-switch:hover {
    background: #3685bc!important;
}

div.datepicker table tr td span {
    border-radius: 0;
}

div.datepicker table tr td span.old,
div.datepicker table tr td span.new {
    color: #7ec0e7;
}

div.datepicker table tr td span:hover {
    background-color: #3685bc;
}

div.datepicker table tr td span.active {
    background: #2472a9!important;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
    border-bottom-color: #3c96ca!important;
}

.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-bottom:after {
    border-top-color: #3c96ca!important;
}

/*  重置 bootstrap datepicker 样式（单日历） end  */

/* 弹窗 S */
.popupContainer {
    color: #666;
    font-size: 16px;
    padding-top: 10px;
    position: relative;
}
.popupContainer .warnIcon {
    background: url("../../images/popupIcon.png") no-repeat 0 0;
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-right: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 30px;
    top: 10%;
}
.popupContainer-fonts {
    display: inline-block;
    line-height: 30px;
    margin-left: 92px;
    text-align: left;
}
/* 弹窗 E */

/*  下拉菜单 start   */
.dropdown{ display: inline-block;}
.dropdown .dropdownBtn{
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 6px 5px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    position: relative;
}
.dropdown .dropdownBtn:focus{
    border: 1px solid #80d0ee;
}
.dropdown .dropdownBtn .caret{
    position: absolute;
    right: 7px;
    top: 45%;
}
.dropdown .dropdownBtn .activeFonts{
    display: inline-block;
    text-align: left;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.dropdown .dropdownBtn,
.dropdown .dropdownBtn .activeFonts,
.dropdown .dropdownBtn:hover,
.dropdown .dropdownBtn .activeFonts:hover,
.dropdown .dropdownBtn .caret,
.dropdown .dropdownBtn .caret:hover{
    color: #ababab;
}
.dropdown .dropdown-menu{
    width: 100%;
    min-width: 0;
    border-top: none;
    margin: 0;
    padding: 0;
    max-height: 245px;
    overflow-y: auto;
}
.dropdown .dropdown-menu>li{width: 100%;}
.dropdown .dropdown-menu>li>a{
    padding: 7px 5px;
    color: #666666;
    white-space: inherit;
}
.dropdown .dropdown-menu>.active>a,
.dropdown .dropdown-menu>.active>a:hover{
    color: #333;
    background-color: #f2f2f2;
}
.dropdown .dropdown-menu>li>a:hover{
    color: #666;
    background-color: #f2f2f2;
}
/*  下拉菜单 end   */

/*  校验样式 start  */
input[type="text"].verifyBox,
input[type="text"].verifyBox:focus{
    border: 1px solid #fcb596 !important;
}
.verifyStyle{
    position: absolute;
    background-color: #feefe9;
    padding: 7px 8px 7px 0;
    z-index: 2;
}
.verifyStyle .verifyIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../images/commonIcon.png") no-repeat -43px -42px;
    vertical-align: middle;
    margin: 0 5px 0 8px;
}
.verifyStyle .verifyFonts{
    color: #ff4e00;
    font-size: 14px;
}
/*  校验样式 end  */


/*  头部没有背景条的按钮 start  */
.headBtn .leftBtn{
    float: left;
}
.leftBtn .returnBtn{
    display: inline-block;
    background-color: #fff;
    border: 2px solid #c6e5f3;
    color: #226388;
    padding: 0 10px;
    min-width: 90px;
    text-align: center;
    line-height: 37px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.leftBtn .returnBtn:hover{
    color: #226388;
    border: 2px solid #bbdceb;
}
.headBtn .rightBtn{
    float: right;
}
/*  头部没有背景条的按钮 end  */
