@charset "utf-8";

/*  基础数据 start  */
.leftMenu{
    float: left;
    margin: 0 10px;
    width: 20%;
}
.leftMenu .menuChange{
    background-color: #fff;
    border: 1px solid #e3ecf0;
}
.leftMenu .menuChange li{
    text-align: center;
    position: relative;
}
.menuChange li a{
    color: #666;
    display: block;
    padding: 12px 10px;
}
.menuChange li a:hover{
    color: #59aad7;
}
.menuChange li.current a{
    color: #fff;
    background-color: #59aad7;
}
.menuChange li.firstLi{
    border-bottom: 1px solid #e3ecf0;
}
.menuChange li.firstLi a{
    color: #59aad7;
}
.menuChange li.firstLi a:hover{
    color: #59aad7;
}
.menuChange li.firstLi.current a{
    background-color: #fff;
    color: #59aad7;
}
.commonIcon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.firstLi .returnIcon{
    width: 20px;
    height: 14px;
    background: url("../../images/commonIcon.png") no-repeat 0 0;
}
.menuChange li.current .rightArrow{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 11px;
    height: 18px;
    background: url("../../images/commonIcon.png") no-repeat 0 -20px;
    position: absolute;
    right: 5px;
    top: 30%;
}
.rightModelContent{
    float: left;
    background-color: #fff;
    border: 1px solid #e3ecf0;
    width: 77.5%;
    padding: 20px;
}
.rightModelContent .titleContent{
    font-size: 18px;
    color: #434343;
    margin-bottom: 10px;
}
.rightModelContent .titleFonts18{
    font-size: 18px;
    margin: 0;
}
/*.commonTab{
    width: 100%;
    font-size: 14px;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .grayFontsNoLink{
    cursor: default;
    color: #b0b0b0;
}
.commonTab .grayFontsNoLink:hover{
    color: #b0b0b0;
    text-decoration: none;
}*/
.rightModelContent .selectClassify{
    margin: 15px 0 20px;
}
.selectClassify .leftClassifyBtn{
    float: left;
    width: 110px;
    margin-right: 10px;
}
.leftClassifyBtn div button{
    margin-bottom: 10px;
    font-size: 14px;
}
.leftClassifyBtn .saveCancelBtn{
    display: none;
}
.selectClassify .rightClassifyInfo{
    float: left;
    width: 85%;
}
.rightClassifyInfo .commonTextarea{
    font-size: 14px;
    width: 580px;
    height: 210px;
    resize: none;
    padding: 10px 15px;
    line-height: 25px;
    color: #666666;
}
.commonTextarea.labelText{
    height: 180px;
}
.rightModelContent .uploadData{
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
}
.uploadData button{
    font-size: 15px;
    margin-right: 10px;
}
.uploadData .fileFonts{
    color: #999999;
}
.uploadData input[type='file'] {
    position: absolute;
    top: 0;
    width: 100px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}
.rightModelContent .lightGrayLine {
    margin: 15px 0;
    height: 1px;
    border-bottom: 3px solid #f1f1f1;
}
.leftClassifyBtn .setDefault{
    font-size: 14px;
    color: #2cb9cf;
    display: inline-block;
    min-width: 90px;
    padding: 7px;
    text-align: center;
    border: 1px solid  #45c8dc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.leftClassifyBtn .setDefault:hover{
    color: #fff;
    background-color: #45c8dc;
}
.defaultVal{
    display: none;
}
.defaultVal .placeLabel{
    display: inline-block;
    padding: 1px 7px;
    margin: 10px 0 0 5px;
    background-color: #ebf6fe;
    border: 1px solid #aad5f4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
}
.placeLabel .closeIcon{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../../images/commonIcon.png") no-repeat -41px -132px;
    cursor: pointer;
}
.placeLabel .fontsWidth{
    font-size: 14px;
    display: inline-block;
    min-width: 55px;
    text-align: left;
    color: #666666;
}
.placeInfoContent{
    width: 573px;
    color: #666666;
    border: 1px solid #dadada;
    border-left: none;
}
.placeInfoContent .grayTitleFonts{
    margin-bottom: 0;
}
.grayTitleFonts li{
    font-size: 16px;
    float: left;
    width: 190px;
    padding: 5px 15px;
    background-color: #f5f5f5;
}
.grayTitleFonts li:first-child{
    width: 191px;
    border-left: 1px solid #dadada;
}
.placeInfoContent .placeList{
    font-size: 14px;
    max-height: 262px;
    overflow-y: auto;
}
.placeList .placeTab th,
.placeList .placeTab td{
    padding: 5px 15px;
    border: 1px solid #dadada;
    border-bottom: none;
    border-right: none;
}
.placeList .placeTab th:hover{
    background-color: #eefaff;
}
.placeList .placeTab th.current{
    background-color: #45c8dc;
    color: #ffffff;
}

.upload-image-list {
    margin-top: 20px;
}

.upload-image-list > li {
    float: left;
    margin: 20px;
    text-align: center;
}

.upload-image-item a {
    display: block;
}

.upload-image-list > li img {
    margin-bottom: 10px;
    width: 95px;
    height: 95px;
}

.upload-image-list > li .image-name {
    display: block;
}

/*  基础数据 end  */

/*  网站活动  start  */

.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"]{
    width: 200px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}
.operationBtn{
    margin-bottom: 10px;
}
.operationBtn a{
    font-size: 14px;
    margin-right: 10px;
    color: #3287d6;
    display: inline-block;
    min-width: 50px;
    padding: 4px;
    text-align: center;
}
.operationBtn a:hover,
.operationBtn a.active{
    background-color: #e5f6fe;
    outline: none;
}
.operationBtn a:focus{
    outline: none;
}
.commonTab{
    width: 100%;
}
.commonTab .sortArrow{
    display: inline-block;
    width: 9px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url("../../images/commonIcon.png") no-repeat;
}
.sortArrow.upGray{
    background-position: -38px 0;
}
.sortArrow.downGray{
    background-position: -52px 0;
}
.sortArrow.allGray{
    background-position: -65px 0;
}
.sortArrow.allOrange{
    background-position: -78px 0;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .grayFontsNoLink{
    cursor: default;
    color: #b0b0b0;
}
.commonTab .grayFontsNoLink:hover{
    color: #b0b0b0;
    text-decoration: none;
}
.commonTab .orangefa7f1f{
    color: #fa7f1f;
}
.commonTab .blueFontsLink {
    color: #3895cf;
}
.commonTab .blueFontsLink:hover {
    color: #3895cf;
    text-decoration: underline;
}
.commonTab .blueFontsLink.disabled {
    color: #808080;
    cursor: default;
}
.commonTab .blueFontsLink.disabled:hover {
    color: #808080;
    text-decoration: none;
}

/*   网站活动   end  

/*  代金券使用明细  start */

.voucherBlock {
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}

.voucherItem {
    width: 373px;
    height: 145px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 45px;
    margin-bottom: 35px;
    display: inline-block;
    color: #fff;
    position: relative;
    line-height: 18px;
}

.voucherItem.voucher-bg-0 {
    background-color: #1ddd89;
}

.voucherItem.voucher-bg-1 {
    background-color: #2dd3e7;
}

.voucherItem.voucher-bg-2 {
    background-color: #f683ac;
}

.voucherItem.voucher-bg-3 {
    background-color: #f5b75e;
}

.voucherItem.voucher-bg-0 .rightBorder {
    display: inline-block;
    position: absolute;
    right: -2px;
    background: url(../../images/client/voucher-short-border.png) repeat-y 0 0;
    width: 2px;
    height: 100%;
}

.voucherItem.voucher-bg-1 .rightBorder {
    display: inline-block;
    position: absolute;
    right: -2px;
    background: url(../../images/client/voucher-short-border.png) repeat-y -4px 0;
    width: 2px;
    height: 100%;
}

.voucherItem.voucher-bg-2 .rightBorder {
    display: inline-block;
    position: absolute;
    right: -2px;
    background: url(../../images/client/voucher-short-border.png) repeat-y -8px 0;
    width: 2px;
    height: 100%;
}

.voucherItem.voucher-bg-3 .rightBorder {
    display: inline-block;
    position: absolute;
    right: -2px;
    background: url(../../images/client/voucher-short-border.png) repeat-y -12px 0;
    width: 2px;
    height: 100%;
}

.horizontal-white-split-line {
    background: url(../../images/client/white-line-piece.png) repeat-x 0 0;
    height: 1px;
    width: 100%;
}

.voucherItem .top {
    font-size: 15px;
    padding: 9px 18px 9px 22px;
}

.voucherItem .top .title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
}

.voucherItem .middle {
    position: relative;
    font-size: 13px;
    padding: 13px 18px 13px 22px;
}

.voucherItem .price {
    position: absolute;
    right:14px;
    top: 14px;
    font-size: 30px;
    background: none;
}

.voucherItem .price {
    display: inline-block;
    font-size: 30px;
    text-align:right;
    width: 140px;
    height: 60px;
}

.voucherItem .price-number{
    width: 134px;
    height: 60px;
    font-size:60px;
    text-align: right;
    line-height: 60px;
    font-family:"Arial";
    position: absolute;
    right: 0;
    top: -8px;
    margin-right:8px;
}

.voucherItem.voucher-bg-0 .price em {
    position: relative;
    top: 20px;
}

.voucherItem .privilege {
    width: 110px;
    height: 30px;
    line-height: 30px;
    background-color: #fff; 
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 8px;
}

.voucherItem.voucher-bg-0 .privilege {
    color: #1ddd89; 
}

.voucherItem .validity {
    margin-bottom: 8px;
} 

.voucherItem .applicability {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.voucherItem.voucher-bg-1 .privilege {
    color: #2dd3e7; 
}

.voucherItem.voucher-bg-2 .privilege {
    color: #f683ac; 
}

.voucherItem.voucher-bg-3 .privilege {
    color: #f5b75e; 
}

.voucherItem.voucher-bg-1 .price em {
    position: relative;
    top: 20px;
    left: 80px;
}

.voucherItem.voucher-bg-2 .price em {
    position: relative;
    top: 20px;
    left: 80px;
}

.voucherItem.voucher-bg-3 .price em {
    position: relative;
    top: 20px;
    left: 105px;
}

.voucherBlock {
    margin-top: 20px;
}

.voucherContainer {
    float: left;
    margin-left: 20px;
}

.voucherNumCondition {
    text-align: center;
    padding: 38px 130px;
    background-color: #fafafa;
    float: left;
}

.voucherNumCondition .left {
    float: left;
    padding-right: 35px;
    border-right: 1px dashed #ddd;
}

.voucherNumCondition .left .title,
.voucherNumCondition .right .title {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.voucherNumCondition .left .num {
    font-size: 30px;
    color: #31c03e;
    font-family: Arial;
}

.voucherNumCondition .right {
    float: left;
    margin-left: 35px;
}

.voucherNumCondition .right .num {
    font-size: 30px;
    color: #f3532e;
    font-family: Arial;
}

/*  代金券使用明细  start */

/*  新增送券活动  start  */

.activityTable {

}

.activityTable th {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.activityTable .verticalAlign {
    vertical-align: top;
}

.activityTable td {
    padding: 10px 0;
}

textarea.activity-description {
    width: 860px;
    height: 150px;
}

.activity-effect {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
    color: #24b48f;
    background-color: #dcf8f1;
    text-align: center;
}

.activity-termination {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
    color: #f65253;
    background-color: #fff3f3;
    text-align: center;
}

.activity-draft {
    display: inline-block;
    width: 85px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
    color: #00bedc;
    background-color: #e4fbff;
    text-align: center;
}

textarea {
    resize: none;
}

.redStar {
    color: red;
}

.selectUserBlock label.radio {
    display: block;
    margin-left: 0;
}

.activityTable label.radio {
    margin-top: 0;
}

textarea.inputUserTextarea {
    width: 670px;
    height: 150px;
}

.activityTable input[readonly='readonly'],
.activityTable textarea[readonly='readonly'] {
    background-color: #e1e1e1;
    border: 1px solid #dadada!important;
}

.inputUserBlock .saveBtn,
.inputUserBlock .cancelBtn {
    display: block;
    margin-bottom: 5px;
}

.operInputUser {
    display: inline-block;
    vertical-align: top;
}

.voucherInfoTable {
    width: 955px;
    margin-top: 20px;
}

.blueFontsNum {
    font-family: Arial;
    color: #3895cf;
}

.blueFonts {
    color: #3895cf;
}

.voucherPerNum {
    width: 40px;
    height: 34px!important;
    line-height: 34px!important;
}

.voucherPerNum[readonly='readonly'] {
    border: none;
    background-color: transparent;
    width: 25px;
}

.voucherPerNum[readonly='readonly']:focus {
    border: none!important;
}

.grayFonts {
    color: #999;
}

.newVoucherTable .grayFonts {
    font-size: 14px;
    padding-left: 15px;
}

.newVoucherTable th {
    text-align: right;
    padding: 8px 10px 8px 0;
}

.newVoucherTable .verticalAlign {
    vertical-align: top;
}

.newVoucherTable td {
    padding: 8px 0;
    word-wrap: break-word;
    word-break: break-all;
}

.newVoucherTable label.radio {
    margin-top: 0;
}

.newVoucherTable .productRange {
    width: 425px;
    height: 105px;
    display: none;
}

.newVoucherTable .productRange[readonly='readonly'] {
    background-color: #e1e1e1;
    display: none;
}

/*  新增送券活动  end */

/*  新增领券活动  start */

.voucherTotalNum {
    width: 80px;
    height: 34px!important;
    line-height: 34px!important;
}

.voucherTotalNum[readonly='readonly'] {
    border: none;
    background-color: transparent;
    width: 70px;
}

.voucherTotalNum[readonly='readonly']:focus {
    border: none!important;
}

/*  新增领券活动  end */


/*  广告位管理 start  */
.btnDiv{
    margin: 10px 20px 20px;
}
.btnDiv .leftBtn{
    float: left;
}
.commonButton.changeBtn{
    width: auto;
    padding: 0 10px;
}
.btnDiv .rightBtn{
    float: right;
}
.material-table-container{
    color: #444444;
    margin: 20px;
}
.tabTitle{
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-left: none;
}
.tabTitle .title01,
.tabTitle .title02,
.tabTitle .title03,
.tabTitle .title04,
.tabTitle .title05,
.tabTitle .title06{
    float: left;
    padding: 17px;
    border-left: 1px solid #eaeaea;
}
.tabTitle .title01,
.material-info-item .number{
    text-align: center;
    width: 8%;
}
.tabTitle .title02,
.material-info-item .row02{
    width: 37%;
}
.tabTitle .title03,
.material-info-item .row03{
    width: 25%;
}
.tabTitle .title04,
.material-info-item .row04{
    width: 20%;
}
.tabTitle .title05,
.material-info-item .row05{
    width: 10%;
    text-align: center;
}
.material-info-item {
    border: 1px solid #eaeaea;
    border-left: none;
    border-top: none;
}
.material-info-item:hover{
    background-color: #eefaff;
    cursor: url(../../images/cursor-crosshair.png), default;
}
.material-info-item a{
    color: #3db99a;
}
.material-info-item a:hover{
    color: #3db99a;
    text-decoration: underline;
}
.material-info-item .commonStyle{
    float: left;
    padding: 17px;
    line-height: 75px;
    border-left: 1px solid #eaeaea;
}
.material-info-item .row03{
    font-size: 14px;
}
.commonStyle.row04,
.upLoadProductImg,
.instantUpload{
    position: relative;
}
.commonStyle.row04 .uploadImg{
    width: 222px;
    height: 74px;
}
.instantUploadStyle{
    display: block;
    background-color: #f5f5f5;
    text-align: center;
    width: 222px;
    height: 75px;
    cursor: pointer;
}
.instantUploadStyle:hover{
    background: #f1f1f1;
}
.instantUploadStyle .instantUploadIcon{
    display: inline-block;
    width: 36px;
    height: 30px;
    background: url("../../images/commonIcon.png") no-repeat -111px 0;
    vertical-align: middle;
    margin-right: 10px;
}
form .showUpload{
    display: none;
}
.instantUpload .instantUploadFile,
.againUpload{
    font-size: 0;
    width: 222px;
    height: 74px;
    opacity: 0;
    position: absolute;
    left: 17px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
.againUploadFonts{
    display: block;
    width: 222px;
    height: 74px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
    position: absolute;
    left: 17px;
    top: 20px;
    z-index: 1;
}
.commonStyle.row04:hover .showUpload,
.upLoadProductImg:hover .showUpload{
    display: block;
}
.lineBetween{
    height: 1px;
    border-top: 2px solid #f1f1f1;
    margin: 20px 0;
}
.redHintFonts{
    color: #ff6666;    
}
.tabHintContent .hintList{
    margin: 10px 0;
}
.hintList li{
    list-style-type: none;
    line-height: 25px;
    margin-bottom: 5px;
}
#deleteWindow .popupContainer .warnIcon{
    left: 75px;
    top: 25%;
}
#deleteWindow .popupContainer-fonts{
    margin-left: 120px;
}
/*  广告位管理 end  */

/*  推荐产品管理 start   */
.tabTitle.changeWidth .title02,
.material-info-item.changeWidth .row02{
    width: 32%;
}
.tabTitle.changeWidth .title03,
.material-info-item.changeWidth .row03{
    width: 24%;
}
.tabTitle.changeWidth .title04,
.material-info-item.changeWidth .row04{
    width: 14%;
}
.tabTitle.changeWidth .title05,
.material-info-item.changeWidth .row05{
    width: 14%;
    text-align: left;
}
.tabTitle.changeWidth .title06,
.material-info-item.changeWidth .row06{
    width: 8%;
    text-align: center;
}
.groupTitle{
    padding: 17px;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
}
.groupList{
    border-top: 1px solid #eaeaea;
}
.groupTitle .leftTitle{
    width: 92%;
    float: left;
}
.groupTitle .rightBtn{
    width: 8%;
    text-align: right;
    float: left;
    color: #fe6869;
}
.groupTitle .rightBtn:hover{
    color: #fe6869;
    text-decoration: underline;
}
.instantUploadStyle.changeImgWidth,
.commonStyle.row04.changeWidth .uploadImg,
.groupList .uploadImg,
.groupList .againUpload,
.groupList .againUploadFonts,
.instantUpload .instantUploadFile.changeWidth{
    width: 130px;
    height: 104px;
}
.instantUploadStyle.changeImgWidth{
    position: relative;
}
.instantUploadStyle.changeImgWidth span{
    display: block;
}
.instantUploadStyle.changeImgWidth .instantUploadIcon{
    position: absolute;
    left: 40%;
    top: 20%;
}
.material-info-item.changeWidth .commonStyle{
    line-height: 104px;
}
.material-info-item.changeWidth{
    margin-top: 20px;
    background-color: #ffffff;
}
.material-info-item.changeWidth:hover{
    background: none;
}
.material-info-item.changeWidth .groupList:hover{
    background-color: #eefaff;
}
 
/*  推荐产品管理 end   */

/* 代金券明细 */
.ticketStatusItem .searchTab {

}

.ticketStatusItem .searchTab th {
    text-align: right;
}

.ticketStatusItem .searchTab th,
.ticketStatusItem .searchTab td {
    padding: 5px 3px;
}

.ticketStatusTab {
    margin: 30px;
}

.ticketStatusTab ul {
    border-bottom: 1px solid #59aad7;
    border-left: 1px solid #59aad7;
}

.ticketStatusTab li {
    float: left;
    padding: 10px 25px;    
    border-top: 1px solid #59aad7;
    border-right: 1px solid #59aad7;
}

.ticketStatusTab li:hover {
    color: #59aad7;
    cursor: pointer;
}

.ticketStatusTab li.current {
    color: #fff;
    background-color: #59aad7;
}