/*  真旅行后台管理  会员管理样式  */
@charset "utf-8";

/*  自由行-订单列表 start  */
.main-header .headSecondLevel.headBtn{
    padding: 10px 10px 0;
}
.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"]{
    width: 200px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}
.operationBtn{
    margin-bottom: 10px;
}
.operationBtn a{
    font-size: 14px;
    margin-right: 10px;
    color: #3287d6;
    display: inline-block;
    min-width: 50px;
    padding: 4px;
    text-align: center;
}
.operationBtn a:hover,
.operationBtn a.active{
    background-color: #e5f6fe;
    outline: none;
}
.operationBtn a:focus{
    outline: none;
}
.commonTab{
    width: 100%;
    margin-top: 10px;
}
.commonTab .sortArrow{
    display: inline-block;
    width: 9px;
    height: 13px;
    vertical-align: middle;
    margin-left: 5px;
    background: url("../../images/commonIcon.png") no-repeat;
}
.sortArrow.upGray{
    background-position: -38px 0;
}
.sortArrow.downGray{
    background-position: -52px 0;
}
.sortArrow.allGray{
    background-position: -65px 0;
}
.sortArrow.allOrange{
    background-position: -78px 0;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
    color: #3db99a;
}
.commonTab tbody a:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .orangefa7f1f{
    color: #fa7f1f;
}
.commonTab .product-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 550px;
    word-wrap: break-word;
    word-break: break-all;
}
/*  自由行-订单列表 end  */

/*  自由行-订单详情 S  */
.topFlow{
    float: right;
    margin: 0;
}
.topFlow li{
    float: left;
    min-width: 105px;
    font-size: 16px;
    text-align: center;
    color: #2e7ba5;
    line-height: 40px;
    margin-left: -10px;
}
.topFlow li label{
    display: inline-block;
    background: url("../../images/flowIcon.png") no-repeat;
    width: 226px;
    height: 41px;
}
.topFlow li .first{
    width: 106px;
    margin-right: 5px;
    background-position: 0 0;
}
.topFlow li .middle{
    background-position: -116px -45px
}
.topFlow li .last{
    width: 106px;
    background-position: -351px 0;
}
.topFlow li .first em{
    margin-right: 10px;
}
.topFlow li .last em{
    margin-left: 10px;
}
.topFlow .current{
    color: #b65d13;
}
.topFlow .current .first{
    background-position: 0 -45px;
}
.topFlow .current .middle{
    background-position: -116px 0;
}
.topFlow .current .last{
    background-position: -351px -45px;
}

.moduleContent{
    margin: 20px 10px 0;
    font-size: 16px;
}
.moduleContent .titleContent{
    margin-bottom: 10px;
}
.titleContent .titleFonts{
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin: 0;
    color: #555555;
}
.titleContent .titleRight{
    float: right;
    margin-right: 10px;
}
.titleRight .flexible{
    font-size: 16px;
    color: #3895cf;
    cursor: pointer;
}
.moduleContent .grayThead{
    margin-top: 10px;
    width: 100%;
}
.grayThead thead th{
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    padding: 12px 10px;
}
.grayThead tbody td{
    border: 1px solid #eaeaea;
    padding: 10px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.grayThead tbody tr:hover{
    background-color: #eefaff;
}
.grayThead tbody a{
    font-size: 16px;
    display: inline-block;
    color: #3895cf;
}
.grayThead tbody a:hover{
    color: #3895cf;
    text-decoration: underline;
}
.flexibleContent,
.packUp,
.giftBoxNotesTd,
.travelToInformTd{
    display: none;
}
.moduleContent .noBorderTabStyle{
    width: 100%;
}
.noBorderTabStyle thead{
    background-color: #fafafa;
    border-top: 2px solid #f1f1f1;
    border-bottom: 1px dashed #888888;
}
.noBorderTabStyle thead th{
    padding: 12px 10px;
    font-size: 16px;
}
.noBorderTabStyle tbody td{
    padding: 5px 10px;
    color: #666666;
    font-size: 14px;
}
.noBorderTabStyle tbody{
    border-bottom: 2px solid #f1f1f1;
}
.noBorderTabStyle .first td{
    padding-top: 15px;
}
.noBorderTabStyle .last td{
    padding-bottom: 15px;
}
.noBorderTabStyle label{
    margin: 0;
}
.noBorderTabStyle .orderFonts{
    font-size: 20px;
    color: #555555;
}
.noBorderTabStyle .orderFonts .orderNumFonts{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.noBorderTabStyle .textAlignRight{
    text-align: right;
}
.noBorderTabStyle .statusFonts{
    font-size: 16px;
    color: #666666;
}
.noBorderTabStyle .statusFonts .orangeFonts{
    font-size: 18px;
    color: #ed6003;
}
.noBorderTabStyle .cancelOrder{
    font-size: 14px;
    color: #3895cf;
    margin-right: 10px;
}
.noBorderTabStyle .trTitle {
    text-align: right;
}
.orderSpan .orderInput{
    width: 400px;
    margin: 0 10px;
}
.titleContent .titleFonts.blue2fb0c4{
    color: #2fb0c4;
}
.noBorderTabStyle td.fontSize16,
.grayThead tbody td.fontSize16{
    font-size: 16px;
}
.grayThead tbody .orangeff6600{
    color: #ff6600;
}
.titleRight .grayBgFonts{
    font-size: 16px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #a5a5a5;
    padding: 5px 10px;
    margin-bottom: -5px;
    cursor: pointer;
}
.titleRight .grayBgFonts.current{
    background-color: #45c8dc;
    color: #fff;
}
.moduleContent .costDetails{
    margin: 15px 0;
}
.moduleContent .costDetails .contText {
    font-size: 14px;
    color: #666666;
    width: 940px;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    line-height: 24px;
}
.costDetails .titleFonts{
    font-size: 14px;
    color: #777777;
    margin-bottom: 5px;
}
.costDetails .textareaText{
    font-size: 14px;
    color: #666666;
    width: 920px;
    height: 80px;
    padding: 10px;
    resize: none;
}
.leftGrayTh{
    margin: 10px 0;
}
.leftGrayTh tbody th{
    font-size: 16px;
    background-color: #f5f5f5;
    color: #444444;
    border: 1px solid #eaeaea;
    padding: 7px 10px;
    text-align: center;
}
.leftGrayTh tbody td{
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid #eaeaea;
    color: #666666;
}
.leftGrayTh td .orangeFonts,
.leftGrayTh td.orangeFonts{
    color: #ff6600;
}
.leftGrayTh tbody .textAlignRight{
    text-align: right;
}
.leftGrayTh tbody .fontsWeight16{
    font-weight: bold;
    font-size: 16px;
}
.saveRemark{
    margin-top: 7px;
}
/*  自由行-订单详情 E  */

/* 渠道订单详情 S */
.channel_textareaText{
    width:100%;
    font-size: 14px;
    color: #666666;
    height: 100px;
    padding: 10px;
    resize: none;
}
.popupContainer .warnIcon {
    top:22%;
    left:15%;
}
/* 渠道订单详情 E */

/* 兑换订单 */
.exchangeTable {
    margin-top:30px;
}
.exchangeTable .orangefa7f1f{
    color:#fa7f1f;
}
.exchangeTable th{
    text-align:right;
    font-weight:bold;
    font-size:15px;
    padding-right:10px;
}
.exchangeTime{
    margin-top:30px;
    margin-bottom:35px;
}


/*  渠道信息录入 S  */
.channelTitle{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}
.thRight{
    font-size: 14px;
}
.thRight tbody th{
    text-align: right;
    padding: 8px 5px;
}
.thRight tbody td{
    padding: 8px 5px;
}
.moduleContent.borderBottom{
    border-bottom: 3px solid #f1f1f1;
    padding-bottom: 20px;
}
.marginLeft30{
    margin-left: 30px;
}
.moduleContent .noBorderInput{
    border: none;
}
.moduleContent .delBtn{
    color: #59aad7;
    font-size: 16px;
    margin-left: 50px;
}
.moduleContent .delBtn:hover{
    text-decoration: underline;
}
.secondLevelTitle{
    margin: 20px 10px 20px 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}
.secondLevelTitle .titleLeft{
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.moduleContent .borderTop{
    margin: 20px 10px 20px 0;
    padding-top: 15px;
    border-top: 1px solid #f1f1f1;
}
.borderTop .fontsWeight{
    font-weight: bold;
}
.moduleContent .thRight{
    font-size: 16px;
}
.popupContainer .passIcon{
    left: 55px;
    top: 22%;
}
/*  渠道信息录入 E  */

/* 渠道信息 日期录入 */

.price-order-block {
    width: 1130px;
    overflow:hidden;
    margin: 5px 0 40px 120px;
}
.custom-price-calendar-container {
  position: relative;
}
.left-price-info {
  float: left;
}
.week-day-title.top {
  background-color: #11b9b7;
  padding: 0 2px;
  border-radius: 4px;
  position: absolute;
  top: -42px;
  width: 100%;
  display: none;
}
.week-day-title {
  margin: 0;
}
.week-day-title.top li {
  color: #fff;
  background-color: #11b9b7;
  height: 48px;
  line-height: 48px;
}
.week-day-title li {
  float: left;
  height: 38px;
  line-height: 38px;
  width: 106px;
  background-color: #fbfbfb;
  color: #999;
  text-align: center;
}
.cal-mon-tab-container.limit-width {
  width: 630px;
  position: relative;
}
.cal-mon-tab-container {
  width: 752px;
  overflow: hidden;
}
.calendar-month-tab {
  height: 50px;
  overflow: hidden;
}
.left-price-info ul.common-tab > li.current {
  background-color: #fbfbfb;
}
.mon-nav-btns {
  background-color: #11b9b7;
  width: 125px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  top: 15px;
  display: none;
}
.pre-mon-btn {
  background: url(../../images/client/cal-nav-icons.png) no-repeat 0 0;
  width: 15px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next-mon-btn {
  background: url(../../images/client/cal-nav-icons.png) no-repeat -17px 0;
  width: 15px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pre-mon-btn.disabled, .next-mon-btn.disabled {
  opacity: 0.4;
  filter: Alpha(opacity=40);
  cursor: default;
}
.calendarTables {
  background-color: #fbfbfb;
  color: #999;
  font-size: 15px;
  border: 2px solid #11b9b7;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.week-day-title {
  margin: 0;
}
.week-day-title li {
  float: left;
  height: 38px;
  line-height: 38px;
  width: 106px;
  background-color: #fbfbfb;
  color: #999;
  text-align: center;
}
.calTable {
}
.calTable tr:first-child td {
  border-top: 1px solid #cceeed;
}
.calTable td {
  border-right: 1px solid #cceeed;
  border-bottom: 1px solid #cceeed;
}
.calTable .tdCont {
  width: 106px;
  height: 75px;
  position: relative;
}
.calTable .tdCont .priceCover {
  position: relative;
  padding: 10px 8px 0 10px;
  height: 100%;
}
.calTable .tdCont .priceCover .dateDay {
  float: left;
}
.calTable .tdCont .priceCover .right-block {
  float: right;
  text-align: right;
}
.calTable .tdCont .onsale .leftNum {
  color: #e46c14;
  line-height: 20px;
}
.calTable .tdCont .onsale .price {
  color: #e46c14;
  line-height: 20px;
}
.right-order-info {
  float: right;
  width: 355px;
  background-color: #f9f9f9;
  padding: 18px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}
.dropdown {
  display: inline-block;
}
.dropdown .dropdownBtn, .dropdown .dropdownBtn .activeFonts, .dropdown .dropdownBtn:hover, .dropdown .dropdownBtn .activeFonts:hover {
  color: #484848;
}
.dropdown .dropdownBtn .activeFonts {
  display: inline-block;
  text-align: left;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.dropdown .dropdownBtn .caret, .dropdown .dropdownBtn .caret:hover {
  color: #11b9b7;
}
.dropdown .dropdownBtn .caret {
  position: absolute;
  right: 7px;
  top: 45%;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown .dropdown-menu {
  width: 100%;
  min-width: 0;
  border-top: none;
  margin: 0;
  padding: 0;
  max-height: 245px;
  overflow-y: auto;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown .dropdown-menu>li {
  width: 100%;
}
.dropdown .dropdown-menu>.active>a, .dropdown .dropdown-menu>.active>a:hover {
  color: #333;
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu>li>a {
  padding: 8px 5px;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.calTable .tdCont .onsale:hover, .calTable .tdCont .soldout:hover, .calTable .tdCont .canntorder:hover {
  cursor: pointer;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
a:link, a:visited, ins {
  text-decoration: none;
}
.rightdate{
    padding:10px;
    line-height:40px;
    color:#ababab;
}
.rightdate.datecolor{
    color:#333;
}
.common-tab-bar .tab-top {
    width: 100%;
    height: 15px;
    background-color: #11b9b7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: 5px;
}
ul.common-tab {
  color: #fff;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
}
ul.common-tab > li {
    float: left;
    width: 116px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #11b9b7;
}
ul.common-tab > li.current {
  background-color: #f9f9f9;
  color: #11b9b7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
ul.common-tab > li.placement {
  height: 50px;
  width: 8px;
  padding: 0;
}
ul.common-tab > li:hover {
    cursor: pointer;
}
ul.common-tab > li.placement.left-active {
    border-bottom-right-radius: 5px;
}
ul.common-tab > li.placement.right-active {
    border-bottom-left-radius: 5px;
}
ul.common-tab > li.rest {
    cursor: default;
    padding: 0;
}
.right-cont-block {
  float: left;
  margin-left: 10px;
}
.set-price-container {
  border: 1px solid #9bc9e7;
  background-color: #fff;
  font-size: 14px;
  padding-left: 10px;
  min-width: 320px;
}
.set-price-container .sub-title {
  height: 28px;
  line-height: 28px;
  background-color: #eaeaea;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  margin: 3px 0 3px -10px;
  padding-left: 10px;
}
.rightdate {
  padding: 10px;
  line-height: 40px;
  color: #ababab;
}
.set-price-container table th, .set-price-container table td {
  height: 30px;
  line-height: 30px;
  color: #666;
}
/* 渠道订单日期录入end */