/*  真旅行后台管理  产品管理样式  */
@charset "utf-8";

/* 产品列表 S */
.headSecondLevel .operationDiv {
    float: right;
    display: inline;
    margin:7px 10px 0 0;
    padding: 0 15px;
    height: 35px;
    line-height: 33px;
    background: #f1f1f1;
    border: 1px solid #337da6;
    color: #1ea483;
    font-size: 16px;
    text-align: center;
}
.headSecondLevel .operationDiv:hover {
    background: #fff;
    cursor: pointer;
}
.headSecondLevel .plusIcon {
    background: url("../../images/commonIcon.png") no-repeat 0 -131px;
    width:14px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"]{
    width: 200px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}

.searchList .searchTab .fitToTr td, .searchList .searchTab .fitToTr th {
    padding-top:0px;
}
.productTab th {
    color: #444;
}
.productTab td {
    color: #666;
}
.commonTab {
    width:100%;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .fcf78c68 {
    color: #f78c68;
}
.commonTab .fcaaa {
    color: #aaa;
}
.commonTab .fs14 {
    font-size: 14px;
}
/* 产品列表 E */

/* 新增产品 推荐行程 S */
.routeBg {
    overflow: hidden;
}
.routeLeftSideNav {
    float: left;
    display: inline-block;
    /*width:226px;*/
    width:20%;
}
.routeLeftSideNav ul {
    margin:10px 0;
}
.routeLeftSideNav li {
    margin-bottom: 10px;
    padding:5px;
}
.routeLeftSideNav li:hover, .routeLeftSideNav li.active {
    background: #e4f7f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.routeLeftSideNav li span {
    font-size: 14px;
    color: #666;
    display: inline-block;
    /*width:156px;
    min-width: 156px; */ 
    width:71%;
    vertical-align: middle;
}
.routeLeftSideNav i {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width:50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
.routeLeftSideNav i.overview {
    background: #c7c6e5;
    color: #fff;
    font-size: 16px;
    padding-top: 14px;
}
.routeLeftSideNav i.overview:hover {
    background: #b0afd7;
}
.routeLeftSideNav i.routeDay {
    background: #fff;
    border: 2px solid #62c39e;
    color: #53b791;
    font-size: 18px;
    padding-top: 11px;
}
.routeLeftSideNav i.routeDay:hover, .routeLeftSideNav i.addDay:hover {
    background: #62c39e;
    color: #fff;
}
.routeLeftSideNav i.addDay {
    background: #fff;
    border: 2px dashed #62c39e;
    color: #62c39e;
    font-size: 31px;
}
.routeRightContent {
    display: inline-block;
    float: left;
    /*min-width: 765px;
    width:765px;*/
    width:78%;
    min-height: 400px;
}
.routeRightContent .routeRightTit {
    font-size: 20px;
    color: #666;
    border-bottom:1px solid #eaeaea;
    padding: 10px 0 5px 0; 
    margin-bottom: 15px;
    margin-left: 10px;
}
.noBorderCommonTab td .marginLR {
    margin:0 8px 0 12px;
}
.overviewTab {
    color: #666;
}
.overviewTab th {
    color: #7e7cc7!important;
    text-align: left!important;
    font-size: 20px;
}
.overviewTab .fs16 {
    font-size: 16px;
}
.overviewTab .fs14 {
    font-size: 14px;
}
.overviewTab td p {
    margin-bottom: 5px;
}
/* 新增产品 推荐行程 E */

/*  添加酒店资源 start  */
.noBorderCommonTab th{
    padding: 10px 5px;
    text-align: right;
    color: #666666;
}
.noBorderCommonTab td{
    padding: 10px 5px;
    color: #666;
}
.noBorderCommonTab .horizontalLine{
    display: inline-block;
    margin: 10px 5px 0;
    vertical-align: middle;
}
.noBorderCommonTab .mapLook{
    margin-left: 20px;
    color: #3896d0;
}
.noBorderCommonTab .replaceTh{
    color: #666666;
    display: inline-block;
    width: 105px;
    text-align: right;
    margin-right: 5px;
}
.noBorderCommonTab th.verticalTop{
    vertical-align: top;
    padding-top: 20px;
}
.noBorderCommonTab th.verticalTop.paddingTop10{
    padding-top: 10px;
}
.noBorderCommonTab td textarea{
    padding: 10px;
    resize: none;
    border: 1px solid #dadada;
    color: #666666;
}
.noBorderCommonTab input{
    color: #666666;
}
.noBorderCommonTab .hotelDescribe{
    width: 717px;
    height: 140px;
}
.noBorderCommonTab .hotelImgList{
    margin: 10px 0 -10px;
}
.noBorderCommonTab .hotelImgList{
    max-width: 1100px;
}
.hotelImgList li{
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    margin: 0 10px 10px 0;
    position: relative;
}
.hotelImgList li img{
    width: 210px;
    height: 140px;
}
.hotelImgList .hoverDelete{
    display: none;
    color: #9c9c9c;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -3px;
}
.hotelImgList li:hover .hoverDelete{
    display: block;
}
.hoverDelete .delIcon{
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("../../images/commonIcon.png") no-repeat -85px -18px;
    vertical-align: middle;
    margin-right: 10px;
}
.hotelImgList li .upLoading{
    font-size: 0;
    text-indent: -99999px;
    width: 210px;
    height: 140px;
    background: #f5f5f5 url("../../images/uploadIcon.png") no-repeat 50%;
    cursor: pointer;
    outline: none;
}
.hotelImgList li .upLoading:hover{
    background-color: #f1f1f1;
}
.hotelImgList li .upLoading:focus{
    outline: none;
}
.hotelImgList .addImg{
    display: inline-block;
    width: 210px;
    height: 140px;
    background: #f9f9f9 url("../../images/bigAddIcon.png") no-repeat 50%;
    cursor: pointer;
}
.hotelImgList .addImg:hover{
    background: #f9f9f9 url("../../images/bigAddIconHover.png") no-repeat 50%;
}
.facilityContent textarea{
    width: 870px;
    height: 165px;
}
.noBorderCommonTab .facilityList{
    margin: 0;
}
.facilityList li{
    display: inline-block;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dadada;
    border-left: none;
    border-bottom: none;
    background-color: #f1f1f1;
    color: #666666;
    cursor: pointer;
}
.facilityList li:first-child{
    border-left: 1px solid #dadada;
}
.facilityList li:hover{
    color: #666;
    background-color: #fafafa;
}
.facilityList li.active{
    color: #fff;
    background-color: #428eb8;
    border-top: 1px solid #428eb8;
}
.noBorderCommonTab .noticeTextarea{
    width: 870px;
    height: 100px;
}
/*  添加酒店资源 end  */

/*  新增产品-基本信息 start  */
div.tagsinput{
    overflow-y: inherit;
}
div.tagsinput span.tag{
    padding: 3px 5px;
    text-indent: 5px;
    margin: -2px 5px 7px 0;
}
#form_tags_input_addTag{
    margin-top: -3px;
}
input[type="text"].tagInput {
    width: 700px;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.hotLabel{
    margin-top: -10px;
}
.catalog{
    width: 75px;
    height: 25px;
    font-size: 14px;
    float: left;
    margin-right: 4px;
    line-height: 25px;
}
.hotTag{
    float: left;
    width: 590px;
    margin: 0 0 -10px;
    overflow: hidden;
}
.hotTag li{
    display: inline-block;
    font-size: 14px;
    min-width: 73px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 5px 10px 0;
    cursor: pointer;
}
.hotTag li.lightBlueTag{
    background-color: #d3effc;
}
.hotTag li.lightGreenTag{
    background-color: #bfefc3;
}
.hotTag li.lightPinkTag{
    background-color: #f7e5ef;
}
.hotTag li.lightOrangeTag{
    background-color: #fcebd3;
}
.hotTag li:hover{
    background-color: #3b86ad;
    color: #fff;
}
.hotTagSlideShow{
     width: 25px;
     height: 25px;
     float: left;
 }
.hotTagSlideBtn{
    background: url("../../images/commonIcon.png") no-repeat 0 -152px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.hotTagSlideBtn:hover{
    background-position: -27px -152px;
}
.hotTagSlideUp{
    background: url("../../images/commonIcon.png") no-repeat -55px -152px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.hotTagSlideUp:hover{
    background-position: -80px -152px;
}
.smallTagModel{
    float: left;
    width: 365px;
    margin: 7px 0 0 20px;
}
.smallTagModel .smallTagStyle{
    margin: 0 8px 10px 0;
    font-size: 14px;
    display: inline-block;
    background-color: #ebf6fe;
    border: 1px solid #aad5f4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 5px;
    min-width: 80px;
    position: relative;
}
.smallTagStyle .closeFonts{
    color: #666;
    display: inline-block;
    min-width: 60px;
    text-align: left;
}
.smallTagStyle .closeIcon{
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url("../../images/commonIcon.png") no-repeat -40px -132px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 32%;
}
/*  新增产品-基本信息 end  */


