.tab-item.current/*  真旅行后台管理  产品管理样式  */
@charset "utf-8";

/* 产品列表 S */
.headSecondLevel .operationDiv {
    float: right;
    display: inline;
    margin:7px 10px 0 0;
    padding: 0 15px;
    height: 35px;
    line-height: 33px;
    background: #f1f1f1;
    border: 1px solid #337da6;
    color: #1ea483;
    font-size: 16px;
    text-align: center;
}
.headSecondLevel .operationDiv:hover {
    background: #fff;
    cursor: pointer;
}
.headSecondLevel .operationDiv a {
    color: #3db99a;
}
.headSecondLevel .operationDiv a:hover {
    color: #3db99a;
    text-decoration: none;
}
.headSecondLevel .plusIcon {
    background: url("../../images/commonIcon.png") no-repeat 0 -131px;
    width:14px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.whiteBg{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}
.whiteBg .searchList{
    padding-bottom: 10px;
    border-bottom: 3px solid #f1f1f1;
}
.searchList li{
    float: left;
}
.searchList .searchTab{
    color: #666666;
}
.searchList .searchTab th{
    text-align: right;
    padding: 5px 3px;
    font-weight: normal;
}
.searchList .searchTab td{
    padding: 5px 3px;
}
.searchList .searchTab input[type="text"]{
    width: 200px;
}
.searchTab .lightBlueBtn{
    background-color: #45c8dc;
    display: inline-block;
    min-width: 80px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
}
.searchTab .lightBlueBtn:hover{
    background-color: #2ebad0;
    color: #fff;
}
.searchTab .searchIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../images/commonIcon.png") no-repeat -15px -19px;
    margin-right: 10px;
    vertical-align: middle;
}

.searchList .searchTab .fitToTr td, .searchList .searchTab .fitToTr th {
    padding-top:0px;
}
.productTab th {
    color: #444;
}
.productTab td {
    color: #666;
}
.commonTab {
    width:100%;
}
.commonTab td,
.commonTab th{
    border: 1px solid #eaeaea;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.commonTab thead{
    background-color: #f5f5f5;
}
.commonTab tbody tr:hover{
    background-color: #eefaff;
}
.commonTab tbody a{
    margin-right: 5px;
}
.commonTab .greenFontsLink{
    color: #3db99a;
}
.commonTab .greenFontsLink:hover{
    color: #3db99a;
    text-decoration: underline;
}
.commonTab .grayFontsLink{
    color: #666666;
}
.commonTab .grayFontsLink:hover{
    color: #666666;
    text-decoration: underline;
}
.commonTab .fcf78c68 {
    color: #f78c68;
}
.commonTab .fcaaa {
    color: #aaa;
}
.commonTab .fs14 {
    font-size: 14px;
}
/* 产品列表 E */

/* 新增产品 附加信息 S */
.additionInfoDiv {
    margin: 20px 30px;
}
.additionInfoDiv .editorCommonModel {
    margin:20px 0;
}
.additionInfoDiv .editorModelTitle {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}
.additionInfoDiv .editorText{
    border:1px solid #dadada;
    width:776px;
    height:150px;
    display: block;
    padding:5px;
    color: #666666;
}
/* 新增产品 附加信息 E */

/* 新增产品 推荐行程 S */
.topMenuFonts {
    padding-bottom:5px;
    position: relative;
}
.haveTopFonts {
    position: absolute;
    left:160px;
    width:650px;
    min-width: 650px;
}
.routeBg {
    position: relative;
    min-height: 400px;
}
.routeLeftSideNav {
    display: inline-block;
    width:226px;
    min-width: 226px;
    height: 100%;
    position: absolute;
    left:10px;
    top:0px;    
}
.routeLeftSideNav ul {
    margin:10px 0;
}
.routeLeftSideNav li {
    margin-bottom: 10px;
    padding:5px;
}
.routeLeftSideNav li:hover, .routeLeftSideNav li.active {
    background: #e4f7f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.routeLeftSideNav li span {
    font-size: 14px;
    color: #666;
    display: inline-block;
    width:156px;
    min-width: 156px;  
    /*width:71%;*/
    vertical-align: middle;
}
.routeLeftSideNav i {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width:50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
.routeLeftSideNav i.overview {
    background: #c7c6e5;
    color: #fff;
    font-size: 16px;
    padding-top: 14px;
}
.routeLeftSideNav i.overview:hover {
    background: #b0afd7;
}
.routeLeftSideNav i.routeDay {
    background: #fff;
    border: 2px solid #62c39e;
    color: #53b791;
    font-size: 18px;
    padding-top: 11px;
}
.routeLeftSideNav i.routeDay:hover, .routeLeftSideNav i.addDay:hover {
    background: #62c39e;
    color: #fff;
}
.routeLeftSideNav i.addDay {
    background: #fff;
    border: 2px dashed #62c39e;
    color: #62c39e;
    font-size: 31px;
}
.routeRightContent {
    display: inline-block;
    /*min-width: 765px;
    width:765px;*/
    /*width:78%;*/
    height: 100%;
    margin-left: 226px;
}
.routeRightContent .routeRightTit {
    font-size: 20px;
    color: #666;
    border-bottom:1px solid #eaeaea;
    padding: 10px 0 5px 0; 
    margin-bottom: 15px;
    margin-left: 10px;
}
.noBorderCommonTab td .marginLR {
    margin:0 8px 0 12px;
}
.overviewTab {
    color: #666;
}
.overviewTab th {
    color: #7e7cc7!important;
    text-align: left!important;
    font-size: 20px;
}
.overviewTab .fs16 {
    font-size: 16px;
}
.overviewTab .fs14 {
    font-size: 14px;
}
.overviewTab td p {
    margin-bottom: 5px;
}
.overviewTextarea {
    width: 660px;
    height: 300px;
    resize: none;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
}
.imagesDescCont {
    width: 685px;
    height: 150px;
}
/* 新增产品 推荐行程 E */

/*  添加酒店资源 start  */
.noBorderCommonTab th{
    padding: 10px 5px;
    text-align: right;
    color: #666666;
}
.noBorderCommonTab td{
    padding: 10px 5px;
    color: #666;
}
.noBorderCommonTab .horizontalLine{
    display: inline-block;
    margin: 10px 5px 0;
    vertical-align: middle;
}
.noBorderCommonTab .mapLook{
    margin-left: 20px;
    color: #3896d0;
}
.noBorderCommonTab .replaceTh{
    color: #666666;
    display: inline-block;
    width: 105px;
    text-align: right;
    margin-right: 5px;
}
.noBorderCommonTab th.verticalTop{
    vertical-align: top;
    padding-top: 20px;
}
.noBorderCommonTab th.verticalTop.paddingTop10{
    padding-top: 10px;
}
.noBorderCommonTab td textarea{
    padding: 10px;
    resize: none;
    border: 1px solid #dadada;
    color: #666666;
}
.noBorderCommonTab input{
    color: #666666;
}
.noBorderCommonTab .hotelDescribe{
    width: 717px;
    height: 140px;
}
.noBorderCommonTab .hotelImgList{
    margin: 10px 0 -10px;
}
.noBorderCommonTab .hotelImgList{
    max-width: 1100px;
}
.hotelImgList li{
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    margin: 0 10px 10px 0;
    position: relative;
}
.hotelImgList li img{
    width: 210px;
    height: 140px;
}
.hotelImgList .hoverDelete{
    display: none;
    color: #9c9c9c;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -3px;
}
.hotelImgList li:hover .hoverDelete{
    display: block;
}
.hoverDelete .delIcon{
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url("../../images/commonIcon.png") no-repeat -85px -18px;
    vertical-align: middle;
    margin-right: 10px;
}
.hotelImgList .moveLeft {
    position: absolute;
    left: 0;
    color: #9c9c9c;
    font-size: 14px;
    cursor: pointer;
    bottom: -3px;
    display: none;
}
.hotelImgList .moveRight {
    position: absolute;
    left: 45px;
    color: #9c9c9c;
    font-size: 14px;
    cursor: pointer;
    bottom: -3px;
    display: none;
}
.hotelImgList li:hover .moveLeft,
.hotelImgList li:hover .moveRight {
    display: block;
}
.hotelImgList li .upLoading{
    font-size: 0;
    text-indent: -99999px;
    width: 210px;
    height: 140px;
    background: #f5f5f5 url("../../images/uploadIcon.png") no-repeat 50%;
    cursor: pointer;
    outline: none;
}
.hotelImgList li .upLoading:hover{
    background-color: #f1f1f1;
}
.hotelImgList li .upLoading:focus{
    outline: none;
}
.hotelImgList .addImg{
    display: inline-block;
    width: 210px;
    height: 140px;
    background: #f9f9f9 url("../../images/bigAddIcon.png") no-repeat 50%;
    cursor: pointer;
}
.hotelImgList .addImg:hover{
    background: #f9f9f9 url("../../images/bigAddIconHover.png") no-repeat 50%;
}
.hotelImgList .addImg input[type='file'] {
    width: 210px;
    height: 140px;
    opacity: 0;
}
.facilityContent textarea{
    width: 870px;
    height: 165px;
}
.noBorderCommonTab .facilityList{
    margin: 0;
}
.facilityList li{
    display: inline-block;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dadada;
    border-left: none;
    border-bottom: none;
    background-color: #f1f1f1;
    color: #666666;
    cursor: pointer;
}
.facilityList li:first-child{
    border-left: 1px solid #dadada;
}
.facilityList li:hover{
    color: #666;
    background-color: #fafafa;
}
.facilityList li.active{
    color: #fff;
    background-color: #428eb8;
    border-top: 1px solid #428eb8;
}
.noBorderCommonTab .noticeTextarea{
    width: 870px;
    height: 100px;
}
/*  添加酒店资源 end  */

/*  新增产品-基本信息 start  */
div.tagsinput{
    overflow-y: inherit;
}
div.tagsinput span.tag{
    padding: 3px 5px;
    text-indent: 5px;
    margin: -2px 5px 7px 0;
}
#form_tags_input_addTag{
    margin-top: -3px;
}
input[type="text"].tagInput {
    width: 700px;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.hotLabel{
    margin-top: -10px;
}
.catalog{
    width: 75px;
    height: 25px;
    font-size: 14px;
    float: left;
    margin-right: 4px;
    line-height: 25px;
}
.hotTag{
    float: left;
    width: 590px;
    margin: 0 0 -10px;
    overflow: hidden;
}
.hotTag li{
    display: inline-block;
    font-size: 14px;
    min-width: 73px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 5px 10px 0;
    cursor: pointer;
}
.hotTag li.lightTag-0{
    background-color: #d3effc;
}
.hotTag li.lightTag-1{
    background-color: #bfefc3;
}
.hotTag li.lightTag-2{
    background-color: #f7e5ef;
}
.hotTag li.lightTag-3{
    background-color: #fcebd3;
}
.hotTag li:hover{
    background-color: #3b86ad;
    color: #fff;
}
.hotTagSlideShow{
     width: 25px;
     height: 25px;
     float: left;
 }
.hotTagSlideBtn{
    background: url("../../images/commonIcon.png") no-repeat 0 -152px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.hotTagSlideBtn:hover{
    background-position: -27px -152px;
}
.hotTagSlideUp{
    background: url("../../images/commonIcon.png") no-repeat -55px -152px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.hotTagSlideUp:hover{
    background-position: -80px -152px;
}
.smallTagModel{
    float: left;
    width: 365px;
    margin: 7px 0 0 20px;
}
.smallTagModel .smallTagStyle{
    margin: 0 8px 10px 0;
    font-size: 14px;
    display: inline-block;
    background-color: #ebf6fe;
    border: 1px solid #aad5f4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 5px;
    min-width: 80px;
    position: relative;
}
.smallTagStyle .closeFonts{
    color: #666;
    display: inline-block;
    min-width: 60px;
    text-align: left;
}
.smallTagStyle .closeIcon{
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url("../../images/commonIcon.png") no-repeat -40px -132px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 32%;
}
.noBorderCommonTab .marginBottom10 input{
    margin-bottom: 10px;
}
.bigImgList li img{
    width: auto;
    max-width: 703px;
    height: auto;
}
/*  新增产品-基本信息 end  */


/*  价格日历   start  */

.price-calendar-container {
    background-color: #ebf7ff;
}

.left-cal-block {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.batch-set-btn {
    float: right;
}

.default-tip {
    margin-top: 120px;
}

.default-tip i.left-arrow {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url(../../images/left-arrow.png) no-repeat;
    position: relative;
    top: 15px;
    margin: 0 5px;
}

.default-tip span {
    font-size: 30px;
    color: #c3dcec;
    display: inline-block;
    vertical-align: text-top;
}

.right-cont-block {
    float: left;
    margin-left: 10px;
}

.red-star {
    color: red;
}

.set-price-container {
    border: 1px solid #9bc9e7;
    background-color: #fff;
    font-size: 14px;
    padding-left: 10px;
    min-width: 320px;
}

.set-price-container .sub-title {
    height: 28px;
    line-height: 28px;
    background-color: #eaeaea;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 3px -10px;
    padding-left: 10px;
}

.set-price-container table th {
    font-weight: bold;
}

.set-price-container table th,
.set-price-container table td {
    height: 30px;
    line-height: 30px;
    color: #666;
}

.set-price-container .pro-type-title {
    color: #666;
    font-weight: bold;
}

.set-price-container .pro-type-radio span {
    font-size: 14px;
}

.set-price-container .stock-table td {
    height: 40px;
    padding-left: 10px;
}

.set-price-container .stock-table td:first-child {
    text-align: right;
    padding-left: 0;
}

.set-price-container .stock-table input[type='text'] {
    height: 30px;
    line-height: 30px;
}

.set-price-container .stock-table .checkboxInfo {
    margin: 0;
}

.set-price-container .stock-table .gray-font {
    color: #999999;
}

.set-price-container .order-condition {
    margin: 10px 0 10px 30px;
}

.set-price-container .order-condition input[type='text'] {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.set-price-container .oper-btn {
    margin: 10px 0;
    text-align: center;
}

.set-price-container .oper-btn .save {
    background-color: #f8864e;
}

.set-price-container .oper-btn .cancel {
    background-color: #bbb;
}

.set-price-container input[readonly='readonly'],
.set-price-container input[readonly='readonly']:focus,
.set-price-container input[readonly='readonly']:hover {
    border: none!important;
}

.set-price-container .show-date {
    color: #666;
    font-size: 18px;
    padding: 18px 0;
    text-align: center;
}

.set-price-container .date-range {
    padding-top: 10px;
}

.set-price-container .date-range .input-date-range {
    margin: 5px 0;
}

.set-price-container .date-range .checkboxInfo {
    margin-right: 0;
}

/*  价格日历   end  */

/* 价格双日历--日历样式 start */

.double-price-calendar {
    margin: 10px 0;
}

.double-price-calendar .left-calendar {
    float: left;
}

.double-price-calendar .right-calendar {
    float: left;
}

.double-price-calendar .datepicker-inline {
    padding: 0;
    background-color: #fff;
    width: auto;
}

.double-price-calendar .datepicker-inline thead tr:first-child {
    display: none;
}

.double-price-calendar .datepicker-inline thead .dow:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline thead .dow {
    color: #666;
    background-color: #e5f3fb;
    font-size: 14px;
    height: 40px;
    border-top: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0!important;
}

.double-price-calendar .datepicker-inline td:hover {
    background-color: #fff!important;
}

.double-price-calendar .datepicker-inline tr:last-child td {
    border-bottom: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:first-child {
    border-left: 1px solid #1986c5;
}

.double-price-calendar .datepicker-inline td:last-child {
    border-right: 1px solid #1986c5;
}

.double-price-calendar .right-calendar .datepicker-inline td:first-child {
    border-left: none;
}

.double-price-calendar .right-calendar .datepicker-inline thead .dow:first-child {
    border-left: none;
}

.double-price-calendar .datepicker-inline td .tdCont {
    width: 64px;
    height: 49px;
    position: relative;
    border: 1px solid #fff; 
}

.double-price-calendar .datepicker-inline td .tdCont.active,
.double-price-calendar .datepicker-inline td .tdCont:hover {
    background-color: #f7f8ff;
    border-color: #6867ad;
}

.double-price-calendar .datepicker-inline td .tdCont.disabled:hover {
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}

.double-price-calendar .datepicker-inline td .tdCont .date {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #434343;
}

.double-price-calendar .datepicker-inline td .tdCont .price {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-family: Arial;
    text-align: right;
    line-height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .adultPrice,
.double-price-calendar .datepicker-inline td .tdCont .hotelPrice {
    color: #ff4200;
    height: 14px;
}

.double-price-calendar .datepicker-inline td .tdCont .childPrice {
    color: #008736;
    height: 14px;
}

.double-price-calendar .calendar-title {
    margin: 10px 0;
    padding: 0 5px;
}

.double-price-calendar .calendar-title .cal-month {
    width: 395px;
    color: #666;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.double-price-calendar .calendar-title .right-calendar-title {
    margin-left: 50px;
}

.double-price-calendar .calendar-title .prev {
    background: url(../../images/datepicker-change-icon.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.double-price-calendar .calendar-title .next {
    background: url(../../images/datepicker-change-icon.png) no-repeat -26px 0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* 价格双日历--日历样式 end */

/*  新增产品-底价维护   start  */

.add-product-oper {

}

.add-product-oper .add-btn {
    display: inline-block;
    width: 190px;
    height: 38px;
    border: 1px dashed #4cc3a5;
    text-align: center;
    line-height: 38px;
    color: #4cc3a5;
    margin-right: 8px;
    font-size: 14px;
}

.add-product-oper .add-btn .add-icon {
    display: inline-block;
    background: url(../../images/cir-add-icon.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -3px;
}

.add-product-oper .add-btn:hover {
    background-color: #35c39f;
    color: #fff;
    cursor: pointer;
}

.add-product-oper .add-btn:hover .add-icon{
    background-position: 0 -18px;
}

.pm-info-module {
    margin-top: 25px;
    width: 975px;
}

.pm-info-module .sub-title {
    font-size: 16px;
    color: #484848;
    margin-bottom: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.table-top-block .table-tab,
.table-top-block .table-tab-switch {
    float: left;
    background-color: #fff;
    margin: 0;
}

.table-top-block .table-tab li,
.table-top-block .table-tab-switch li {
    float: left;
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #dadada;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #666;
    font-size: 16px;
    background-color: #f8f8f8;
}

.table-top-block .table-tab li span,
.table-top-block .table-tab-switch li span {
    line-height: 20px;
    display: inline-block;
    padding: 0 3px;
}

.table-top-block .oper-link {
    float: right;
    margin-top: 5px;
}

.table-top-block .oper-link a {
    color: #666;
    margin-right: 25px;
}

.table-top-block .oper-link a:last-child {
    margin-right: 0;
}

.table-top-block .oper-link a:hover {
    color: #3895cf;
}

.flight-info-table {
    color: #555;
    font-size: 14px;
    width: 100%;
}

.flight-info-table th {
    height: 50px;
    line-height: 50px;
    border: 1px solid #dadada;
}

.flight-info-table th {
    background-color: #f4f4f4;
    text-align: center;
}

.flight-info-table td {
    text-align: left;
    padding-left: 7px;
    border: 1px solid #dadada;
}

.flight-info-table th.boldTh {
    font-weight: bold;
}

.flight-info-table td.go-air-range {
    background-color: #01bee8;
    color: #fff;
    padding-left: 0;
    text-align: center;
    line-height: 20px;
}

.flight-info-table td .go-flight-icon {
    display: inline-block;
    background: url(../../images/air-range-icon.png) no-repeat 0 0;
    width: 24px;
    height: 11px;    
}

.flight-info-table td.back-air-range {
    background-color: #42c175;
    color: #fff;
    padding-left: 0;
    text-align: center;
    line-height: 20px;
}

.flight-info-table td .back-flight-icon {
    display: inline-block;
    background: url(../../images/air-range-icon.png) no-repeat 0 -31px;
    width: 24px;
    height: 11px;    
}

.table-tab-switch li {
    margin-right: 1px;
}

.table-tab-switch li:hover {
    background-color: #f1f1fa;
    cursor: pointer;
}

.table-tab-switch li.current {
    background-color: #7b7abc;
    color: #fff;
}

.hotel-info-table {
    font-size: 14px;
    color: #555;
    width: 100%;
}

.hotel-info-table th,
.hotel-info-table td{
    border: 1px solid #dadada;
}

.hotel-info-table th {
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #f4f4f4;
}

.hotel-info-table th.normal {
    font-weight: normal;
}

.hotel-info-table td {
    text-align: left;
    padding-left: 7px;
}

.price-info-module {
    font-size: 14px;
    color: #555;
}

.pack-price-block,
.vendor-info-block,
.other-info-block {
    padding: 25px 0;
}

.pack-price-block {
    border-bottom: 1px dashed #dadada;
}

.vendor-info-block th {
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.vendor-info-block td {
    padding-left: 10px;
}

.vendor-info-block input[type='text'] {
    width: 390px;
}

.other-info-block th {
    text-align: right;
}

.other-info-block td {
    padding-left: 10px;
}

.price-maint-block .checkboxContent {
    margin: 0 30px;
}

.price-maint-block .checkboxInfo {
    margin-right: 5px;
}

.price-maint-block .oper-price-btn {
    float: right;
    margin-top: -6px;
}

.price-maint-block .price-line {
    margin-left: 60px;
    margin-top: 15px;
}

.price-maint-block .price-line .adult-price-text {
    color: #ff4200;
}

.price-maint-block .price-line .child-price-text {
    color: #008736;
    margin-left: 20px;
}

/* 弹窗样式 */
.section-cont-wrapper {
    width: 990px;
    font-size: 14px;
}

.flight-form-module .pm-info-module,
.hotel-form-module .pm-info-module {
    width: auto;
}

.flight-form-module ul.table-tab {
    border-bottom: 1px solid #dadada;
    width: 100%;
}

.flight-form-module .title-flag {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.flight-form-module .go-flight {
    background-color: #01bee8;
}

.flight-form-module .go-flight-icon {
    display: inline-block;
    background: url(../../images/air-range-icon.png) no-repeat 0 0;
    width: 24px;
    height: 11px; 
}

.flight-form-module .middle-flight {
    background-color: #44c9bf;
}

.flight-form-module .middle-flight-icon {
    display: inline-block;
    background: url(../../images/air-range-icon.png) no-repeat 0 -13px;
    width: 20px;
    height: 16px; 
    vertical-align: middle;
    margin-top: -3px;
}

.flight-form-module .back-flight {
    background-color: #42c173;
}

.flight-form-module .back-flight-icon {
    display: inline-block;
    background: url(../../images/air-range-icon.png) no-repeat 0 -31px;
    width: 24px;
    height: 11px; 
}

.flight-form-module .add-oper {
    display: inline-block;
    color: #3895cf;
    font-size: 16px;
    cursor: pointer;
    margin-left: 18px;
}

.flight-form-module .plus-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../images/plus-del-icon.png) no-repeat -17px 0;
    vertical-align: middle;
    margin-top: -3px;
}

.flight-form-module .table-top-title {
    /*margin: 12px 0;*/
    padding: 0;
}

.flight-form-table th,
.flight-form-table td {
    padding: 5px 0;
}

.flight-form-table th {
    text-align: right;
}

.flight-form-table td {
    padding-left: 5px;
}

.flight-form-module .long-split-line {
    border-bottom: 1px dashed #dadada;
    margin: 15px 0;
}

.flight-form-module .short-split-line {
    border-bottom: 1px dashed #dadada;
    width: 915px;
    margin: 10px 0 10px 70px;
}

.flight-form-module .del-oper {
    color: #3895cf;
    font-size: 16px;
    float: right;
    margin: 15px 0 5px;
    cursor: pointer;
}

.flight-form-module .del-icon {
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../../images/plus-del-icon.png) no-repeat 0 0;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}

.flight-form-module .remark-info {
    margin-bottom: 10px;
}

.flight-form-module .remark-info .title {
    font-weight: bold;
    vertical-align: top;
    margin-right: 15px;
    padding-left: 5px;
}

.flight-form-module .remark-info .text-tip {
    color: #999999;
    margin-bottom: 8px;
}

.flight-form-module .remark-info .cont {
    display: inline-block;
}

.flight-form-module .remark-info textarea {
    resize: none;
    width: 895px;
    height: 60px;
}

.flight-form-module .table-top-block {
    margin-bottom: 12px;
}

.flight-form-module .pack-price-block {
    padding: 0;
}

#hotel-list-popup .hotel-list-table {
    font-size: 16px;
    color: #666;
}

#hotel-list-popup .hotel-list-table th:last-child,
#hotel-list-popup .hotel-list-table td:last-child {
    text-align: center;
}

#hotel-list-popup .hotel-list-table th {
    color: #444;
    padding: 15px;
}

#hotel-list-popup .hotel-list-table td {
    padding: 13px;
}

#hotel-list-popup .search-block {
    margin: 16px 0;
}

#hotel-list-popup .search-block input {
    margin: 0 10px;
}

.hotel-form-module .hotel-form-table {

}

.hotel-form-module .table-tab-switch {
    width: 100%;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
    margin-bottom: 10px;
}

.hotel-form-module .hotel-form-table th {
    color: #666;
    font-weight: bold;
}

.hotel-form-module .hotel-form-table th,
.hotel-form-module .hotel-form-table td {
    padding: 6px 0;
}

.hotel-form-module .hotel-form-table textarea {
    width: 893px;
    resize: none;
}

.hotel-form-module .hotel-form-table .pick-up-night {
    padding-left: 10px;
}

.hotel-form-module .hotel-form-table .day-item {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin-right: 6px;
}

.hotel-form-module .hotel-form-table .day-item:hover {
    background-color: #fff;
    border-color: #45c8dc;
    cursor: pointer;
}

.hotel-form-module .hotel-form-table .day-item.active {
    background-color: #45c8dc;
    border-color: #45c8dc;
    color: #fff;
}

.hotel-form-module .hotel-form-table .day-item.disable {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}

.hotel-form-module .hotel-form-table .pick-all {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 58px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin-left: 30px;
}

.hotel-form-module .hotel-form-table .pick-all:hover {
    background-color: #fff;
    border-color: #45c8dc;
    cursor: pointer;
}

.hotel-form-module .hotel-form-table .pick-all.active {
    background-color: #45c8dc;
    border-color: #45c8dc;
    color: #fff;
}

.hotel-form-module .hotel-form-table .view-hotel-detail {
    display: inline-block;
    color: #9ccae6;
    border: 1px solid #9ccae6;
    background-color: #fbfbfb;
    padding: 3px 14px;
    margin-bottom: 10px;
}

.hotel-form-module .pack-price-block {
    border-bottom: none;
    padding: 0;
}

.hotel-form-module .price-info-module {
    border-top: 1px dashed #dadada;
}

.hotel-form-module .price-line {
    margin-left: 0;
}

.hotel-form-module .price-line .tip-text {
    color: #666;
}

.hotel-form-module .price-line .tip-text em {
    font-weight: bold;
}

.priceOperType {
    margin-left: 60px;
    margin-bottom: 10px;
}

.priceOperType .labelFonts {
    font-size: 14px;
}

.single-oper-block .adult-price-text {
    color: #ff4200;
}

.single-oper-block .child-price-text {
    color: #008736;
    margin-left: 20px;
}

/*  新增产品-底价维护   end  */

.addi-info-block {
    border-bottom: 1px solid #dadada;
}

.addi-info-block .top {
    margin-top: 15px;
}

.addi-info-block .sub-title {
    float: left;
}

.addi-info-block .oper-block {
    float: right;
}

.addi-info-block .form-module input[readonly='readonly'] {
    background-color: #dadada;
    border: 1px solid #dadada;
}

.addi-info-block .form-module input[readonly='readonly']:focus {
    border: 1px solid #dadada!important;
}

.form-module {
    margin-left: 10px;
    margin-bottom: 25px;
}

.form-module .costs {

}

.form-module .timeline {
    margin-bottom: 10px;
}

.form-module .provider {
    margin-left: 20px;
}

.dropdown.disabled .dropdownBtn {
    background-color: #dadada;
    cursor: default;
}

.dropdown.disabled .dropdownBtn:focus {
    border: 1px solid #dadada;
}
